Repository owncloud/core, pull requests merged in 2018-09, with the labels that each got.

#32539 EmailHelper refactor
  tests/TestHelpers/AppConfigHelper.php
  tests/TestHelpers/EmailHelper.php
  tests/TestHelpers/LoggingHelper.php
  tests/TestHelpers/SetupHelper.php
  tests/acceptance/features/bootstrap/WebUIAdminSharingSettingsContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32541 [stable10] EmailHelper refactor
  tests/TestHelpers/AppConfigHelper.php
  tests/TestHelpers/EmailHelper.php
  tests/TestHelpers/LoggingHelper.php
  tests/TestHelpers/SetupHelper.php
  tests/acceptance/features/bootstrap/WebUIAdminSharingSettingsContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32549 User logs in steps
  tests/acceptance/features/bootstrap/WebUILoginContext.php
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#32544 [stable10] Update changelog post sprint 7
  CHANGELOG.md
Labels: 3 - To Review

#32542 [stable10] Backport of Share notification recipients should be added …
  core/ajax/share.php
  core/js/sharedialogmailview.js
  core/js/tests/specs/sharedialogmailviewSpec.js
  lib/private/Share/MailNotifications.php
  tests/lib/Share/MailNotificationsTest.php
Labels: 4 - To release, blue-ticket, bug, p3-medium, regression

#32506 Share notification recipients should be added to list
  core/ajax/share.php
  core/js/sharedialogmailview.js
  core/js/tests/specs/sharedialogmailviewSpec.js
  lib/private/Share/MailNotifications.php
  tests/lib/Share/MailNotificationsTest.php
Labels: 4 - To release, blue-ticket, bug, p3-medium, regression

#32387 Splitting config.sample.php into two files for core and app
  config/config.apps.sample.php
  config/config.sample.php
Labels: 3 - To Review, backport-request, enhancement

#32554 [stable10] Splitting config.sample.php into two files for core and app
  config/config.apps.sample.php
  config/config.sample.php
Labels: 4 - To release

#32556 use sabreclient factory in acceptance tests
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#32561 [stable10] acceptance tests - stop uploading when receiving an error
  tests/TestHelpers/UploadHelper.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32225 preLogin hook should use string UID not IUser
  lib/private/User/Session.php
  tests/lib/User/SessionTest.php
Labels: 3 - To Review, backport-request

#32550 run api acceptance tests with SSL
  .drone.yml
  tests/TestHelpers/WebDavHelper.php
  tests/acceptance/run.sh
Labels: 3 - To Review, Acceptance tests, QA-team, backport-request, dev:acceptance-tests

#32570 [stable10] run api acceptance tests with SSL
  .drone.yml
  tests/TestHelpers/WebDavHelper.php
  tests/acceptance/run.sh
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32562 [stable10] Trigger missing migrations in files_sharing
  apps/files_sharing/appinfo/info.xml
Labels: 3 - To Review

#32531 Provision to conditionally hash public link password
  lib/private/Share20/Manager.php
  lib/private/Share20/Share.php
  lib/public/Share/IShare.php
  tests/lib/Share20/ManagerTest.php
  tests/lib/Share20/ShareTest.php
Labels: 2 - Developing, Effort: 1d, enhancement

#32569 Expand occ user reset password email validation
  composer.json
  composer.lock
  core/Command/User/ResetPassword.php
  tests/Core/Command/User/ResetPasswordTest.php
Labels: 3 - To Review, backport-request

#32572 [stable10] Backport of Provision to conditionally hash public link pa…
  lib/private/Share20/Manager.php
  lib/private/Share20/Share.php
  lib/public/Share/IShare.php
  tests/lib/Share20/ManagerTest.php
  tests/lib/Share20/ShareTest.php
Labels: 3 - To Review, Effort: 1d, enhancement

#32574 Pass environment vars to testing app
  tests/TestHelpers/SetupHelper.php
  tests/acceptance/features/bootstrap/CommandLine.php
  tests/acceptance/features/bootstrap/OccContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32575 [stable10] Pass environment vars to testing app
  tests/TestHelpers/SetupHelper.php
  tests/acceptance/features/bootstrap/CommandLine.php
  tests/acceptance/features/bootstrap/OccContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32573 [Stable10] Fix update cases from 9.0.9 and below
  core/Migrations/Version20170213215145.php
  lib/private/Repair/Apps.php
Labels: 4 - To release, p2-high

#32585 [stable10] skip log-check test on upload on 10.0.9
  tests/acceptance/features/apiWebdavOperations/uploadFileUsingNewChunking.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32581 [stable10] Throw an exception when attempting to set an empty password
  lib/private/User/Database.php
  lib/private/User/User.php
  lib/public/Util.php
  tests/lib/TestCase.php
  tests/lib/User/DatabaseTest.php
  tests/lib/User/UserTest.php
Labels: 3 - To Review

#32458 su-exec www-data is not needed for acceptance tests
  .drone.yml
  tests/TestHelpers/SetupHelper.php
  tests/acceptance/features/apiMain/appmanagement.feature
  tests/acceptance/features/bootstrap/AppManagementContext.php
  tests/drone/test-acceptance.sh
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#32586 [stable10] su-exec www-data is not needed for acceptance tests
  .drone.yml
  tests/TestHelpers/SetupHelper.php
  tests/acceptance/features/apiMain/appmanagement.feature
  tests/acceptance/features/bootstrap/AppManagementContext.php
  tests/drone/test-acceptance.sh
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32577 Fix update cases from 9.0.9 and below
  core/Migrations/Version20170213215145.php
  lib/private/Repair/Apps.php
Labels: 4 - To release

#32596 report illegal extension in error message
  lib/private/Files/View.php
  tests/acceptance/features/apiWebdavOperations/uploadFile.feature
  tests/acceptance/features/apiWebdavProperties/copyFile.feature
  tests/acceptance/features/apiWebdavProperties/createFolder.feature
  tests/acceptance/features/apiWebdavProperties/moveFile.feature
  tests/acceptance/features/bootstrap/CalDavContext.php
  tests/acceptance/features/bootstrap/CardDavContext.php
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 3 - To Review, bug-solved

#31951 use samaccountname from session for wnd login
  lib/private/Files/External/Auth/Password/SessionCredentials.php
  lib/private/Files/External/ConfigAdapter.php
  lib/private/Files/External/LegacyUtil.php
  lib/private/Server.php
  lib/private/User/RemoteUser.php
  lib/private/User/SyncService.php
  lib/private/User/User.php
  lib/public/IUser.php
  lib/public/User/IProvidesUserNameBackend.php
  tests/lib/Files/External/Auth/Password/SessionCredentialsTest.php
  tests/lib/Files/External/ConfigAdapterTest.php
  tests/lib/User/SyncServiceTest.php
  tests/lib/User/UserTest.php
Labels: 4 - To release

#32587 [stable10] use samaccountname from session for wnd login (resend)
  lib/private/Files/External/Auth/Password/SessionCredentials.php
  lib/private/Files/External/ConfigAdapter.php
  lib/private/Files/External/LegacyUtil.php
  lib/private/Server.php
  lib/private/User/RemoteUser.php
  lib/private/User/SyncService.php
  lib/private/User/User.php
  lib/public/IUser.php
  lib/public/User/IProvidesUserNameBackend.php
  tests/lib/Files/External/Auth/Password/SessionCredentialsTest.php
  tests/lib/Files/External/ConfigAdapterTest.php
  tests/lib/User/SyncServiceTest.php
  tests/lib/User/UserTest.php
Labels: 4 - To release

#32582 [stable10] Changelog for 10.0.10 RC1
  CHANGELOG.md
Labels: 3 - To Review

#32261 Prevent passwords being set with empty strings
  lib/private/User/Database.php
  lib/private/User/User.php
  lib/public/Util.php
  tests/lib/TestCase.php
  tests/lib/User/DatabaseTest.php
  tests/lib/User/UserTest.php
Labels: 4 - To release, WIP, bug, enhancement, p3-medium, security

#32603 [stable10] does not have zsync
  apps/dav/lib/Capabilities.php
Labels: 3 - To Review

#32601 Encapsulate extracting the XML from a response with getResponseXml()
  tests/TestHelpers/AppConfigHelper.php
  tests/TestHelpers/HttpRequestHelper.php
  tests/TestHelpers/LoggingHelper.php
  tests/TestHelpers/OcsApiHelper.php
  tests/TestHelpers/UserHelper.php
  tests/acceptance/features/bootstrap/AppConfiguration.php
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/FederationContext.php
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/bootstrap/ShareesContext.php
  tests/acceptance/features/bootstrap/Sharing.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32610 Acceptance test step for occ user:resetpassword
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32605 [stable10] Encapsulate extracting the XML from a response with getResponseXml()
  tests/TestHelpers/AppConfigHelper.php
  tests/TestHelpers/HttpRequestHelper.php
  tests/TestHelpers/LoggingHelper.php
  tests/TestHelpers/OcsApiHelper.php
  tests/TestHelpers/UserHelper.php
  tests/acceptance/features/bootstrap/AppConfiguration.php
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/FederationContext.php
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/bootstrap/ShareesContext.php
  tests/acceptance/features/bootstrap/Sharing.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32611 [stable10] Acceptance test step for occ user:resetpassword
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32608 Do not check testing app with php-cs-fixer
  .php_cs.dist
Labels: 3 - To Review, QA-team

#32613 [stable10] Refactor another getResponseXml
  tests/TestHelpers/SetupHelper.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32615 [stable10] allow to test capabilities with empty path in acceptance tests
  tests/acceptance/features/bootstrap/AppConfiguration.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32635 [master] Include new config sample for apps in dist build
  Makefile
Labels: 3 - To Review

#32634 [stable10] Include new config sample for apps in dist build
  Makefile
Labels: bug, p2-high

#32632 Concat all email addresses that had sending problems
  core/ajax/share.php
Labels: 3 - To Review, QA, QA-team

#32630 move getPageTitle() to pageObject
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
  tests/acceptance/features/lib/OwncloudPage.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32631 [stable10] move getPageTitle() to pageObject
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
  tests/acceptance/features/lib/OwncloudPage.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32625 AfterScenario BeforeScenario does not need to be static
  tests/acceptance/features/bootstrap/BasicStructure.php
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#32645 Create local_storage dir via testing app
  .drone.yml
  tests/acceptance/run.sh
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#32646 [stable10] Create local_storage dir via testing app
  .drone.yml
  tests/acceptance/run.sh
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32644 [stable10] AfterScenario BeforeScenario does not need to be static
  tests/acceptance/features/bootstrap/BasicStructure.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32636 [stable10] Backport of Replace add-password with set_password
  settings/templates/users/main.php
Labels: 4 - To release

#32648 [stable10] Backport of Fix the redirection url when oC run in localhost
  settings/js/setpassword.js
Labels: 3 - To Review

#32650 handle LibXMLException in parseResponseIntoXml acceptance test code
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32658 minimum desktop client version is 2.3.3
  apps/dav/lib/Connector/Sabre/BlockLegacyClientPlugin.php
  apps/dav/tests/unit/Connector/Sabre/BlockLegacyClientPluginTest.php
  config/config.sample.php
Labels: 3 - To Review

#32657 [stable10] minimum desktop client version is 2.3.3
  apps/dav/lib/Connector/Sabre/BlockLegacyClientPlugin.php
  apps/dav/tests/unit/Connector/Sabre/BlockLegacyClientPluginTest.php
  config/config.sample.php
Labels: 3 - To Review

#32665 [stable10] handle LibXMLException in parseResponseIntoXml acceptance test code
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32656 [stable10] fix sharedByHasTheFollowingTags
  tests/acceptance/features/apiMetadataApps/tags.feature
  tests/acceptance/features/bootstrap/Tags.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32633 [stable10] Concat all email addresses that had sending problems
  core/ajax/share.php
Labels: 3 - To Review, QA, QA-team

#32638 [stable10] tests to create users by supplying and email address an no password
  .drone.yml
  tests/TestHelpers/EmailHelper.php
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
  tests/acceptance/features/bootstrap/WebUILoginContext.php
  tests/acceptance/features/bootstrap/WebUIUsersContext.php
  tests/acceptance/features/lib/DisabledUserPage.php
  tests/acceptance/features/lib/GeneralErrorPage.php
  tests/acceptance/features/lib/UsersPage.php
  tests/acceptance/features/webUIManageUsersGroups/addUsers.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32618 Add default option 'no' to --continue for command decryptall
  core/Command/Encryption/DecryptAll.php
Labels: 3 - To Review

#32667 tests to create users by supplying and email address an no password - test infrastructure
  tests/TestHelpers/EmailHelper.php
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
  tests/acceptance/features/bootstrap/WebUILoginContext.php
  tests/acceptance/features/lib/DisabledUserPage.php
  tests/acceptance/features/lib/GeneralErrorPage.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32677 [stable10] Backport of Add default option 'no' to --continue for comm…
  core/Command/Encryption/DecryptAll.php
Labels: 3 - To Review

#32672 [stable10] Backport of Do not delete token if token mismatch happens
  settings/Controller/UsersController.php
  tests/Settings/Controller/UsersControllerTest.php
Labels: 3 - To Review

#32679 [stable10] Changelog update for 10.0.10 RC2
  CHANGELOG.md
Labels: 3 - To Review

#32675 Add test for PROPPATCH with complex values
  tests/acceptance/features/apiWebdavProperties/setFileProperties.feature
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, backport-request

#32668 [stable10] @encryption tag in acceptance tests
  tests/acceptance/features/apiEncryption/recreatemasterkey.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32594 [stable10] tests async operations
  tests/TestHelpers/HttpRequestHelper.php
  tests/TestHelpers/WebDavHelper.php
  tests/acceptance/features/apiCapabilities/capabilities.feature
  tests/acceptance/features/apiMain/checksums.feature
  tests/acceptance/features/apiWebdavOperations/uploadFileAsyncUsingNewChunking.feature
  tests/acceptance/features/apiWebdavProperties/moveFileAsync.feature
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#32681 [stable10] unskip tests that were fixed by #32672
  tests/acceptance/features/webUIManageUsersGroups/addUsers.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32682 allow omitting leading slash before file name for makeSabrePath
  tests/acceptance/features/bootstrap/Tags.php
  tests/acceptance/features/bootstrap/WebDav.php
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#32680 [stable10] Add test for PROPPATCH with complex values
  tests/acceptance/features/apiWebdavProperties/setFileProperties.feature
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 3 - To Review

#32683 [stable10] allow omitting leading slash before file name for makeSabrePath
  tests/acceptance/features/bootstrap/Tags.php
  tests/acceptance/features/bootstrap/WebDav.php
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32686 Update ca bundle - 2018-06-20
  resources/config/ca-bundle.crt
Labels: 3 - To Review, backport-request

#32688 [stable10] Update ca bundle - 2018-06-20
  resources/config/ca-bundle.crt
Labels: 3 - To Review

#32687 [stable10] Backport of languages from master
  core/l10n/lt_LT.js
  core/l10n/lt_LT.json
Labels: 3 - To Review

#32607 Add make test-php-style-fix
  Makefile
Labels: 3 - To Review, QA-team, backport-request

#32695 Support more licenses: gpl and ocl
  build/license.php
Labels: 3 - To Review

#32694 [stable10] Changelog update for 10.0.10 RC3
  CHANGELOG.md
Labels: 3 - To Review

#32699 Add test steps to create a public share with an expiry date
  tests/TestHelpers/SharingHelper.php
  tests/acceptance/features/bootstrap/Sharing.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32701 [stable10] Add test steps to create a public share with an expiry date
  tests/TestHelpers/SharingHelper.php
  tests/acceptance/features/bootstrap/Sharing.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32704 [stable10] do not use stream to check file downloads
  tests/acceptance/features/bootstrap/Sharing.php
Labels: QA-team, dev:acceptance-tests

#32703 do not use stream to check file downloads
  tests/acceptance/features/bootstrap/Sharing.php
Labels: QA-team, dev:acceptance-tests

#32708 Acceptance test steps for status messages and reason phrases
  tests/acceptance/features/bootstrap/BasicStructure.php
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#32706 Reorder sharing section
  apps/federatedfilesharing/lib/AdminPanel.php
  apps/federation/lib/Panels/Admin.php
  apps/files_sharing/lib/Panels/Admin/SettingsPanel.php
  apps/files_sharing/templates/settings.php
  apps/files_sharing/tests/Panels/Admin/SettingsPanelTest.php
Labels: 4 - To release, backport-request

#32707 [stable10] Reorder sharing section
  apps/federatedfilesharing/lib/AdminPanel.php
  apps/federation/lib/Panels/Admin.php
  apps/files_sharing/lib/Panels/Admin/SettingsPanel.php
  apps/files_sharing/templates/settings.php
  apps/files_sharing/tests/Panels/Admin/SettingsPanelTest.php
Labels: 3 - To Review

#32710 Add missing require_once bootstrap.php to acceptance test contexts
  tests/acceptance/features/bootstrap/WebUIAdminAppsSettingsContext.php
  tests/acceptance/features/bootstrap/WebUIAdminSharingSettingsContext.php
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#32711 [stable10] Add missing require_once bootstrap.php to acceptance test contexts
  tests/acceptance/features/bootstrap/WebUIAdminAppsSettingsContext.php
  tests/acceptance/features/bootstrap/WebUIAdminSharingSettingsContext.php
Labels: 3 - To Review, Acceptance tests, QA-team

#32689 [stable10] Add make test-php-style-fix
  Makefile
Labels: 3 - To Review

#32673 Register areCredentialsValid as a sensitive logging method
  lib/private/Log.php
Labels: 3 - To Review, backport-request, enhancement, security

#32723 check file existence after upload with wrong checksums
  tests/acceptance/features/apiMain/checksums.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32725 [stable10] check file existence after upload with wrong checksums
  tests/acceptance/features/apiMain/checksums.feature
Labels: QA-team, dev:acceptance-tests

#32727 skip know-to-fail tests on ceph
  tests/acceptance/features/apiMain/checksums.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32734 Acceptance test steps for public link share
  tests/acceptance/features/apiMain/external-storage.feature
  tests/acceptance/features/apiMain/transfer-ownership.feature
  tests/acceptance/features/apiShareManagement/createShare.feature
  tests/acceptance/features/apiShareManagement/disableSharing.feature
  tests/acceptance/features/apiShareManagement/multilinksharing.feature
  tests/acceptance/features/apiShareManagement/reShare.feature
  tests/acceptance/features/apiShareManagement/updateShare.feature
  tests/acceptance/features/apiShareOperations/downloadFromShare.feature
  tests/acceptance/features/apiShareOperations/uploadToShare.feature
  tests/acceptance/features/apiWebdavOperations/downloadFile.feature
  tests/acceptance/features/apiWebdavProperties/getFileProperties.feature
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/bootstrap/WebUIAdminSharingSettingsContext.php
  tests/acceptance/features/lib/AdminSharingSettingsPage.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialog.php
  tests/acceptance/features/lib/PublicLinkFilesPage.php
  tests/acceptance/features/webUIAdminSettings/adminSharingSettings.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32726 UI test for public share with password
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/PublicLinkFilesPage.php
  tests/acceptance/features/webUISharingExternal/shareByPublicLink.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32742 Add test for federation sharing with long file names
  tests/acceptance/features/webUISharingExternal/federationSharing.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32744 acceptance tests for uploads with checksum overwriting other files
  tests/acceptance/features/apiMain/checksums.feature
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#32741 [stable10] UI test for public share with password
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/PublicLinkFilesPage.php
  tests/acceptance/features/webUISharingExternal/shareByPublicLink.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32740 [stable10] Acceptance test steps for public link share
  tests/acceptance/features/apiMain/external-storage.feature
  tests/acceptance/features/apiMain/transfer-ownership.feature
  tests/acceptance/features/apiShareManagement/createShare.feature
  tests/acceptance/features/apiShareManagement/disableSharing.feature
  tests/acceptance/features/apiShareManagement/multilinksharing.feature
  tests/acceptance/features/apiShareManagement/reShare.feature
  tests/acceptance/features/apiShareManagement/updateShare.feature
  tests/acceptance/features/apiShareOperations/downloadFromShare.feature
  tests/acceptance/features/apiShareOperations/uploadToShare.feature
  tests/acceptance/features/apiWebdavOperations/downloadFile.feature
  tests/acceptance/features/apiWebdavProperties/getFileProperties.feature
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/bootstrap/WebUIAdminSharingSettingsContext.php
  tests/acceptance/features/lib/AdminSharingSettingsPage.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialog.php
  tests/acceptance/features/lib/PublicLinkFilesPage.php
  tests/acceptance/features/webUIAdminSettings/adminSharingSettings.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32745 [stable10] Add test for federation sharing with long file names
  tests/acceptance/features/webUISharingExternal/federationSharing.feature
Labels: 3 - To Review, dev:acceptance-tests

#32749 Acceptance tests for resetting user passwords with the provisioning API
  tests/acceptance/features/apiProvisioning-v1/resetUserPassword.feature
  tests/acceptance/features/apiProvisioning-v2/resetUserPassword.feature
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32750 [stable10] Acceptance tests for resetting user passwords with the provisioning API
  tests/acceptance/features/apiProvisioning-v1/resetUserPassword.feature
  tests/acceptance/features/apiProvisioning-v2/resetUserPassword.feature
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32747 [stable10] acceptance tests for uploads with checksum overwriting other files
  tests/acceptance/features/apiMain/checksums.feature
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32757 [stable10] refactor-webUISharingContext to support password_policy
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/FilesPageElement/FileRow.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialogElement/PublicLinkTab.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32758 [stable10] Acceptance test steps that specify the password to be used
  tests/acceptance/features/apiProvisioning-v1/resetUserPassword.feature
  tests/acceptance/features/apiProvisioning-v2/resetUserPassword.feature
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32718 When allowing pretty urls json files can also be loaded directly
  lib/private/Setup.php
Labels: 3 - To Review, backport-request

#32761 Test public link sharing with longer names
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/FilesPageElement/FileRow.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialogElement/PublicLinkTab.php
  tests/acceptance/features/webUISharingExternal/shareByPublicLink.feature
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#32748 refactor-webUISharingContext to support password_policy
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/FilesPageElement/FileRow.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialogElement/PublicLinkTab.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32764 Improve acceptance tests status fail messages
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/CommandLine.php
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#32765 [stable10] Add test for public link sharing with longer folder names
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/webUISharingExternal/shareByPublicLink.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32766 [stable10] Improve acceptance tests status fail messages
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/CommandLine.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32768 Implement getConfigs for its use in password_policy app
  tests/TestHelpers/AppConfigHelper.php
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#32771 [stable10] after scenario password policy helper
  tests/TestHelpers/AppConfigHelper.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32770 Check that user cannot create public link without entering password w…
  tests/acceptance/features/webUISharingExternal/shareByPublicLink.feature
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#32772 webUI search tests
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/bootstrap/WebUISearchContext.php
  tests/acceptance/features/lib/FavoritesPage.php
  tests/acceptance/features/lib/FilesPage.php
  tests/acceptance/features/lib/FilesPageBasic.php
  tests/acceptance/features/lib/FilesPageElement/FileRow.php
  tests/acceptance/features/lib/OwncloudPage.php
  tests/acceptance/features/lib/PublicLinkFilesPage.php
  tests/acceptance/features/lib/SearchResultInOtherFoldersPage.php
  tests/acceptance/features/lib/SharedWithYouPage.php
  tests/acceptance/features/lib/TrashbinPage.php
  tests/acceptance/features/webUIFiles/search.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32776 [stable10] webUI search tests
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/bootstrap/WebUISearchContext.php
  tests/acceptance/features/lib/FavoritesPage.php
  tests/acceptance/features/lib/FilesPage.php
  tests/acceptance/features/lib/FilesPageBasic.php
  tests/acceptance/features/lib/FilesPageElement/FileRow.php
  tests/acceptance/features/lib/OwncloudPage.php
  tests/acceptance/features/lib/PublicLinkFilesPage.php
  tests/acceptance/features/lib/SearchResultInOtherFoldersPage.php
  tests/acceptance/features/lib/SharedWithYouPage.php
  tests/acceptance/features/lib/TrashbinPage.php
  tests/acceptance/features/webUIFiles/search.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32775 Fixup relative paths to work/localstorage
  .travis.yml
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/Checksums.php
  tests/acceptance/features/bootstrap/WebDav.php
  tests/acceptance/run.sh
  tests/drone/test-acceptance.sh
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32777 Acceptance test style 20180920
  tests/acceptance/features/bootstrap/WebDav.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32778 [stable10] Acceptance test style 20180920
  tests/acceptance/features/bootstrap/WebDav.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32780 [stable10] Fixup relative paths to work/localstorage
  .travis.yml
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/Checksums.php
  tests/acceptance/features/bootstrap/WebDav.php
  tests/acceptance/run.sh
  tests/drone/test-acceptance.sh
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32781 Create local_storage files on the server
  tests/acceptance/features/apiMain/checksums.feature
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/WebDav.php
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/bootstrap/bootstrap.php
  tests/acceptance/features/lib/AdminAppsSettingsPage.php
  tests/acceptance/features/lib/AdminSharingSettingsPage.php
  tests/acceptance/features/lib/FilesPage.php
  tests/acceptance/features/lib/FilesPageBasic.php
  tests/acceptance/features/lib/FilesPageElement/DetailsDialog.php
  tests/acceptance/features/lib/FilesPageElement/FileActionsMenu.php
  tests/acceptance/features/lib/FilesPageElement/FileRow.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialog.php
  tests/acceptance/features/lib/GeneralErrorPage.php
  tests/acceptance/features/lib/LoginPage.php
  tests/acceptance/features/lib/Notification.php
  tests/acceptance/features/lib/NotificationsEnabledOwncloudPage.php
  tests/acceptance/features/lib/OwncloudPage.php
  tests/acceptance/features/lib/PersonalGeneralSettingsPage.php
  tests/acceptance/features/lib/PersonalSecuritySettingsPage.php
  tests/acceptance/features/lib/PublicLinkFilesPage.php
  tests/acceptance/features/lib/SharedWithYouPage.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32784 [stable10] Create local_storage files on the server
  tests/acceptance/features/apiMain/checksums.feature
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/WebDav.php
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/bootstrap/bootstrap.php
  tests/acceptance/features/lib/AdminAppsSettingsPage.php
  tests/acceptance/features/lib/AdminSharingSettingsPage.php
  tests/acceptance/features/lib/FilesPage.php
  tests/acceptance/features/lib/FilesPageBasic.php
  tests/acceptance/features/lib/FilesPageElement/DetailsDialog.php
  tests/acceptance/features/lib/FilesPageElement/FileActionsMenu.php
  tests/acceptance/features/lib/FilesPageElement/FileRow.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialog.php
  tests/acceptance/features/lib/GeneralErrorPage.php
  tests/acceptance/features/lib/LoginPage.php
  tests/acceptance/features/lib/Notification.php
  tests/acceptance/features/lib/NotificationsEnabledOwncloudPage.php
  tests/acceptance/features/lib/OwncloudPage.php
  tests/acceptance/features/lib/PersonalGeneralSettingsPage.php
  tests/acceptance/features/lib/PersonalSecuritySettingsPage.php
  tests/acceptance/features/lib/PublicLinkFilesPage.php
  tests/acceptance/features/lib/SharedWithYouPage.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32773 Test for accessing single file shared through public link
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/PublicLinkFilesPage.php
  tests/acceptance/features/webUISharingExternal/shareByPublicLink.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#32788 [stable10] ui test share by public link enforce password
  tests/acceptance/features/webUISharingExternal/shareByPublicLink.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32789 Fixed variable name for timeout_msec
  tests/acceptance/features/lib/PublicLinkFilesPage.php
Labels: QA-team, dev:acceptance-tests

#32791 [stable10] Always prepend a slash to SetupHelper ocPath
  tests/TestHelpers/SetupHelper.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32790 Always prepend a slash to SetupHelper ocPath
  tests/TestHelpers/SetupHelper.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32792 [stable10] Test for accessing single file shared through public link
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/PublicLinkFilesPage.php
  tests/acceptance/features/webUISharingExternal/shareByPublicLink.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32787 Test for sharing public link via email
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialogElement/EditPublicLinkPopup.php
  tests/acceptance/features/webUISharingExternal/shareByPublicLink.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32793 [stable10] Test for sharing public link via email
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialogElement/EditPublicLinkPopup.php
  tests/acceptance/features/webUISharingExternal/shareByPublicLink.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32796 [stable10] UI-tests - get element of highlighted content in search
  tests/acceptance/features/lib/FilesPageElement/FileRow.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32794 Test public link share using email with email to self checked
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialogElement/EditPublicLinkPopup.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialogElement/PublicLinkTab.php
  tests/acceptance/features/webUISharingExternal/shareByPublicLink.feature
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#32795 UI-tests - get element of highlighted content in search
  tests/acceptance/features/lib/FilesPageElement/FileRow.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32802 Fix external-storage.feature local_storage tag
  tests/acceptance/features/apiMain/external-storage.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32803 [stable10] Fix external-storage.feature local_storage tag
  tests/acceptance/features/apiMain/external-storage.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32671 Simplify body of Scanner::getData
  lib/private/Files/Cache/Scanner.php
Labels: 3 - To Review, enhancement

#32812 fix PHPdoc
  tests/acceptance/features/bootstrap/WebUISearchContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32815 getAppConfigs() to get values of an configkey of an app
  tests/TestHelpers/AppConfigHelper.php
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#32811 [stable10] Test for sharing public link with multiple email addresses
  tests/acceptance/features/lib/FilesPageElement/SharingDialogElement/PublicLinkTab.php
  tests/acceptance/features/webUISharingExternal/shareByPublicLink.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32797 Test for sharing public link with multiple email addresses
  tests/acceptance/features/lib/FilesPageElement/SharingDialogElement/PublicLinkTab.php
  tests/acceptance/features/webUISharingExternal/shareByPublicLink.feature
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#32813 [stable10] fix PHPdoc
  tests/acceptance/features/bootstrap/WebUISearchContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32820 [stable10] Allow REGULAR_USER_PASSWORD env var
  tests/acceptance/features/bootstrap/BasicStructure.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32818 [stable10] API acceptance tests for WebDAV search
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiWebdavOperations/search.feature
  tests/acceptance/features/bootstrap/SearchContext.php
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32816 API acceptance tests for WebDAV search
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiWebdavOperations/search.feature
  tests/acceptance/features/bootstrap/SearchContext.php
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32819 Allow REGULAR_USER_PASSWORD env var
  tests/acceptance/features/bootstrap/BasicStructure.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32828 [stable10] get app configs
  tests/TestHelpers/AppConfigHelper.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32829 Time delay tests when using emails
  tests/TestHelpers/EmailHelper.php
  tests/acceptance/features/bootstrap/bootstrap.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32830 [stable10] Time delay tests for public link sharing using emails
  tests/TestHelpers/EmailHelper.php
  tests/acceptance/features/bootstrap/bootstrap.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32833 Fix search properties permissions
  tests/acceptance/features/apiWebdavOperations/search.feature
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#32834 [stable10] Fix search properties permissions
  tests/acceptance/features/apiWebdavOperations/search.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32832 Test for files with same filename with different path in trashbin
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/lib/FilesPageBasic.php
  tests/acceptance/features/lib/FilesPageElement/FileRow.php
  tests/acceptance/features/lib/FilesPageElement/TrashBinFileRow.php
  tests/acceptance/features/lib/TrashbinPage.php
  tests/acceptance/features/webUITrashbin/trashbinFilesFolders.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32837 [stable10] Add test for sharing personal message in public link through email
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialogElement/EditPublicLinkPopup.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialogElement/PublicLinkTab.php
  tests/acceptance/features/webUISharingExternal/shareByPublicLink.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32814 Add test for sharing personal message in public link through email
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialogElement/EditPublicLinkPopup.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialogElement/PublicLinkTab.php
  tests/acceptance/features/webUISharingExternal/shareByPublicLink.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32839 Allow variable length etag in acceptance tests
  tests/acceptance/features/apiWebdavOperations/search.feature
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#32713 [stable10] Register areCredentialsValid as a sensitive logging method
  lib/private/Log.php
Labels: 3 - To Review
