Repository owncloud/core, pull requests merged in 2018-03, with the labels that each got.

#30650 [stable10] [phpunit] Fail on warnings
  apps/dav/tests/unit/phpunit.xml
  apps/encryption/tests/Crypto/EncryptAllTest.php
  tests/phpunit-autotest-external.xml
  tests/phpunit-autotest.xml
Labels: 3 - To Review

#30540 Add user:modify command to core
  core/Command/User/Modify.php
  core/register_command.php
  tests/Core/Command/User/ModifyTest.php
Labels: 4 - To release

#30652 [stable10] Add user:modify command to core
  core/Command/User/Modify.php
  core/register_command.php
  tests/Core/Command/User/ModifyTest.php
Labels: 3 - To Review

#30649 [stable10] Allow regular users to change their CORS domains
  settings/Controller/CorsController.php
Labels: 3 - To Review

#30492 Always remember all original capability settings for integration test scenarios
  tests/TestHelpers/AppConfigHelper.php
  tests/acceptance/capabilities_features/capabilities.feature
  tests/acceptance/features/bootstrap/AppConfiguration.php
Labels: 3 - To Review, backport-request, dev:integration-tests

#30654 UI-test - extra behat step to initialize users
  tests/ui/features/bootstrap/BasicStructure.php
Labels: 3 - To Review, dev:acceptance-tests

#30655 [stable10] UI-test - extra behat step to initialize users
  tests/ui/features/bootstrap/BasicStructure.php
Labels: 3 - To Review, dev:acceptance-tests

#30656 [stable10] Always remember all original capability settings for integration test…
  tests/TestHelpers/AppConfigHelper.php
  tests/acceptance/capabilities_features/capabilities.feature
  tests/acceptance/features/bootstrap/AppConfiguration.php
Labels: 3 - To Review, dev:integration-tests

#30658 Adding Cross-Origin Resource Sharing to CORS
  settings/css/settings.css
  settings/templates/panels/personal/cors.php
Labels: 4 - To release

#30660 behat step to check displayname in WebUI
  tests/ui/features/bootstrap/WebUIUserContext.php
Labels: 3 - To Review, dev:acceptance-tests

#30662 [stable10] behat step to check displayname in WebUI
  tests/ui/features/bootstrap/WebUIUserContext.php
Labels: 3 - To Review, dev:acceptance-tests

#30664 Make PropagatorTest more deterministic in batch case (codecov random failure)
  tests/lib/Files/Cache/PropagatorTest.php
Labels: 3 - To Review

#30651 Importing calendar/events in calendar app don't send emails anymore
  apps/dav/appinfo/v1/caldav.php
  apps/dav/lib/CalDAV/Schedule/IMipPlugin.php
  apps/dav/lib/Server.php
  apps/dav/tests/unit/CalDAV/Schedule/IMipPluginTest.php
Labels: 3 - To Review

#30663 [stable10] Adding Cross-Origin Resource Sharing to CORS
  settings/css/settings.css
  settings/templates/panels/personal/cors.php
Labels: 4 - To release

#30661 Swift primary storage will continue to live in ...
  Jenkinsfile
  build/autotest.sh
  config/config.sample.php
  lib/private/Files/ObjectStore/Swift.php
  tests/lib/Files/ObjectStore/SwiftTest.php
  tests/objectstore/start-swift-ceph.sh
  tests/objectstore/stop-swift-ceph.sh
  tests/objectstore/wait-for-connection
Labels: 3 - To Review

#30665 [stable10] Make PropagatorTest more deterministic in batch case
  tests/lib/Files/Cache/PropagatorTest.php
Labels: 4 - To release

#30666 [stable10] Importing calendar/events in calendar app don't send emails anymore
  apps/dav/appinfo/v1/caldav.php
  apps/dav/lib/CalDAV/Schedule/IMipPlugin.php
  apps/dav/lib/Server.php
  apps/dav/tests/unit/CalDAV/Schedule/IMipPluginTest.php
Labels: 3 - To Review

#30668 [stable10] UI tests doc blocks
  phpcs.xml
  tests/ui/features/bootstrap/BasicStructure.php
  tests/ui/features/bootstrap/FeatureContext.php
  tests/ui/features/bootstrap/FilesContext.php
  tests/ui/features/bootstrap/Ip.php
  tests/ui/features/bootstrap/Logging.php
  tests/ui/features/bootstrap/LoginContext.php
  tests/ui/features/bootstrap/PersonalGeneralSettingsContext.php
  tests/ui/features/bootstrap/PersonalSecuritySettingsContext.php
  tests/ui/features/bootstrap/SharingContext.php
  tests/ui/features/bootstrap/UsersContext.php
  tests/ui/features/bootstrap/WebUIUserContext.php
  tests/ui/features/lib/FilesPage.php
  tests/ui/features/lib/FilesPageBasic.php
  tests/ui/features/lib/FilesPageElement/ConflictDialog.php
  tests/ui/features/lib/FilesPageElement/FileActionsMenu.php
  tests/ui/features/lib/FilesPageElement/FileRow.php
  tests/ui/features/lib/FilesPageElement/SharingDialog.php
  tests/ui/features/lib/FilesPageElement/SharingDialogElement/EditPublicLinkPopup.php
  tests/ui/features/lib/FilesPageElement/SharingDialogElement/PublicLinkTab.php
  tests/ui/features/lib/LoginPage.php
  tests/ui/features/lib/OwncloudPage.php
  tests/ui/features/lib/OwncloudPageElement/OCDialog.php
  tests/ui/features/lib/PersonalGeneralSettingsPage.php
  tests/ui/features/lib/PersonalSecuritySettingsPage.php
  tests/ui/features/lib/PublicLinkFilesPage.php
  tests/ui/features/lib/TrashbinPage.php
  tests/ui/features/lib/UserPageElement/GroupList.php
  tests/ui/features/lib/UsersPage.php
Labels: 3 - To Review, dev:acceptance-tests

#30671 UI tests - steps to check if avatar/displayname is visible
  tests/ui/features/bootstrap/PersonalSecuritySettingsContext.php
  tests/ui/features/bootstrap/WebUIUserContext.php
  tests/ui/features/lib/OwncloudPage.php
  tests/ui/filesForUpload/testavatar.jpg
  tests/ui/filesForUpload/testavatar.png
Labels: 3 - To Review, backport-request, dev:acceptance-tests

#30412 Ensure backend is verified on sync.
  apps/testing/lib/Application.php
  lib/private/User/SyncService.php
  tests/acceptance/run.sh
  tests/lib/User/SyncServiceTest.php
Labels: 3 - To Review, backport-request

#30659 Move acceptance test feature files to different folder structure
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiCapabilities/capabilities.feature
  tests/acceptance/features/apiFederation/federated.feature
  tests/acceptance/features/apiMain/appmanagement.feature
  tests/acceptance/features/apiMain/auth.feature
  tests/acceptance/features/apiMain/caldav.feature
  tests/acceptance/features/apiMain/carddav.feature
  tests/acceptance/features/apiMain/checksums.feature
  tests/acceptance/features/apiMain/comments.feature
  tests/acceptance/features/apiMain/dav-versions.feature
  tests/acceptance/features/apiMain/external-storage.feature
  tests/acceptance/features/apiMain/favorites.feature
  tests/acceptance/features/apiMain/multilinksharing.feature
  tests/acceptance/features/apiMain/provisioning-v1.feature
  tests/acceptance/features/apiMain/provisioning-v2.feature
  tests/acceptance/features/apiMain/quota.feature
  tests/acceptance/features/apiMain/recreatemasterkey.feature
  tests/acceptance/features/apiMain/sharing-v1.feature
  tests/acceptance/features/apiMain/status.feature
  tests/acceptance/features/apiMain/tags.feature
  tests/acceptance/features/apiMain/transfer-ownership.feature
  tests/acceptance/features/apiMain/trashbin-new-endpoint.feature
  tests/acceptance/features/apiMain/trashbin-old-endpoint.feature
  tests/acceptance/features/apiMain/webdav-related-new-endpoint.feature
  tests/acceptance/features/apiMain/webdav-related-old-endpoint.feature
  tests/acceptance/features/apiSharees/sharees.feature
  tests/acceptance/features/apiSharees/sharees_provisioningapiv2.feature
Labels: 3 - To Review, backport-request, dev:acceptance-tests

#30676 API tests code to phpcs-defined standard
  phpcs.xml
  tests/acceptance/features/bootstrap/AppConfiguration.php
  tests/acceptance/features/bootstrap/AppManagementContext.php
  tests/acceptance/features/bootstrap/Auth.php
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/CalDavContext.php
  tests/acceptance/features/bootstrap/CapabilitiesContext.php
  tests/acceptance/features/bootstrap/CardDavContext.php
  tests/acceptance/features/bootstrap/Checksums.php
  tests/acceptance/features/bootstrap/CommandLine.php
  tests/acceptance/features/bootstrap/Comments.php
  tests/acceptance/features/bootstrap/Federation.php
  tests/acceptance/features/bootstrap/FederationContext.php
  tests/acceptance/features/bootstrap/MailTool.php
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/bootstrap/ShareesContext.php
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/bootstrap/Tags.php
  tests/acceptance/features/bootstrap/Trashbin.php
  tests/acceptance/features/bootstrap/WebDav.php
  tests/acceptance/features/bootstrap/bootstrap.php
Labels: 3 - To Review, backport-request, dev:acceptance-tests, dev:integration-tests

#30677 [stable10] steps to check if avatar/displayname is visible
  tests/ui/features/bootstrap/PersonalSecuritySettingsContext.php
  tests/ui/features/bootstrap/WebUIUserContext.php
  tests/ui/features/lib/OwncloudPage.php
  tests/ui/filesForUpload/testavatar.jpg
  tests/ui/filesForUpload/testavatar.png
Labels: 3 - To Review, dev:acceptance-tests

#30679 Tidy error messages in acceptance tests run.sh
  tests/acceptance/run.sh
Labels: 3 - To Review, dev:integration-tests

#30680 [stable10] Move acceptance test feature files to different folder structure
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiCapabilities/capabilities.feature
  tests/acceptance/features/apiFederation/federated.feature
  tests/acceptance/features/apiMain/appmanagement.feature
  tests/acceptance/features/apiMain/auth.feature
  tests/acceptance/features/apiMain/caldav.feature
  tests/acceptance/features/apiMain/carddav.feature
  tests/acceptance/features/apiMain/checksums.feature
  tests/acceptance/features/apiMain/comments.feature
  tests/acceptance/features/apiMain/external-storage.feature
  tests/acceptance/features/apiMain/favorites.feature
  tests/acceptance/features/apiMain/multilinksharing.feature
  tests/acceptance/features/apiMain/provisioning-v1.feature
  tests/acceptance/features/apiMain/provisioning-v2.feature
  tests/acceptance/features/apiMain/quota.feature
  tests/acceptance/features/apiMain/recreatemasterkey.feature
  tests/acceptance/features/apiMain/sharing-v1.feature
  tests/acceptance/features/apiMain/status.feature
  tests/acceptance/features/apiMain/tags.feature
  tests/acceptance/features/apiMain/transfer-ownership.feature
  tests/acceptance/features/apiMain/trashbin-new-endpoint.feature
  tests/acceptance/features/apiMain/trashbin-old-endpoint.feature
  tests/acceptance/features/apiMain/webdav-related-new-endpoint.feature
  tests/acceptance/features/apiMain/webdav-related-old-endpoint.feature
  tests/acceptance/features/apiSharees/sharees.feature
  tests/acceptance/features/apiSharees/sharees_provisioningapiv2.feature
Labels: 3 - To Review, dev:integration-tests

#30681 Rename UI test suites
  .drone.yml
  .travis.yml
  tests/ui/config/behat.yml
  tests/ui/features/webUIFavorites/favoritesFile.feature
  tests/ui/features/webUIFavorites/unfavoriteFile.feature
  tests/ui/features/webUIFiles/createFolders.feature
  tests/ui/features/webUIFiles/createFoldersEdgeCases.feature
  tests/ui/features/webUIFiles/deleteFilesFolders.feature
  tests/ui/features/webUIFiles/scrollMenuIntoView.feature
  tests/ui/features/webUIManageQuota/manageUserQuota.feature
  tests/ui/features/webUIManageUsersGroups/addGroup.feature
  tests/ui/features/webUIManageUsersGroups/login.feature
  tests/ui/features/webUIManageUsersGroups/manageGroups.feature
  tests/ui/features/webUIManageUsersGroups/manageUsers.feature
  tests/ui/features/webUIMoveFilesFolders/moveFiles.feature
  tests/ui/features/webUIMoveFilesFolders/moveFolders.feature
  tests/ui/features/webUIPersonalSettings/changePasswordFromSetting.feature
  tests/ui/features/webUIPersonalSettings/personalGeneralSettings.feature
  tests/ui/features/webUIPersonalSettings/personalSecuritySettings.feature
  tests/ui/features/webUIRenameFiles/renameFiles.feature
  tests/ui/features/webUIRenameFiles/renameFilesInsideProblematicFolderName.feature
  tests/ui/features/webUIRenameFolders/renameFolders.feature
  tests/ui/features/webUIRestrictSharing/disableSharing.feature
  tests/ui/features/webUIRestrictSharing/restrictReSharing.feature
  tests/ui/features/webUIRestrictSharing/restrictSharing.feature
  tests/ui/features/webUISharingExternal/federationSharing.feature
  tests/ui/features/webUISharingExternal/shareByPublicLink.feature
  tests/ui/features/webUISharingInternalGroups/shareWithGroups.feature
  tests/ui/features/webUISharingInternalGroups/shareWithGroupsEdgeCases.feature
  tests/ui/features/webUISharingInternalUsers/shareAutocompletion.feature
  tests/ui/features/webUISharingInternalUsers/shareWithUsers.feature
  tests/ui/features/webUITrashbin/restore.feature
  tests/ui/features/webUITrashbin/trashbinDelete.feature
  tests/ui/features/webUITrashbin/trashbinFilesFolders.feature
  tests/ui/features/webUIUpload/upload.feature
  tests/ui/features/webUIUpload/uploadEdgecases.feature
  tests/ui/features/webUIUpload/uploadFileGreaterThanQuotaSize.feature
Labels: 3 - To Review, dev:acceptance-tests

#30682 [stable10] Make error origin distinguishable
  apps/files_versions/lib/Storage.php
  lib/private/Files/Filesystem.php
  lib/private/Files/Node/Root.php
  lib/private/Share/Share.php
Labels: 3 - To Review

#30683 [stable10] Integration test run.sh must fail on error
  tests/acceptance/run.sh
Labels: 3 - To Review, dev:integration-tests

#30685 [stable10] Rename UI test suites
  .drone.yml
  .travis.yml
  tests/ui/config/behat.yml
  tests/ui/features/webUIFavorites/favoritesFile.feature
  tests/ui/features/webUIFavorites/unfavoriteFile.feature
  tests/ui/features/webUIFiles/createFolders.feature
  tests/ui/features/webUIFiles/createFoldersEdgeCases.feature
  tests/ui/features/webUIFiles/deleteFilesFolders.feature
  tests/ui/features/webUIFiles/scrollMenuIntoView.feature
  tests/ui/features/webUIManageQuota/manageUserQuota.feature
  tests/ui/features/webUIManageUsersGroups/addGroup.feature
  tests/ui/features/webUIManageUsersGroups/login.feature
  tests/ui/features/webUIManageUsersGroups/manageGroups.feature
  tests/ui/features/webUIManageUsersGroups/manageUsers.feature
  tests/ui/features/webUIMoveFilesFolders/moveFiles.feature
  tests/ui/features/webUIMoveFilesFolders/moveFolders.feature
  tests/ui/features/webUIPersonalSettings/changePasswordFromSetting.feature
  tests/ui/features/webUIPersonalSettings/personalGeneralSettings.feature
  tests/ui/features/webUIPersonalSettings/personalSecuritySettings.feature
  tests/ui/features/webUIRenameFiles/renameFiles.feature
  tests/ui/features/webUIRenameFiles/renameFilesInsideProblematicFolderName.feature
  tests/ui/features/webUIRenameFolders/renameFolders.feature
  tests/ui/features/webUIRestrictSharing/disableSharing.feature
  tests/ui/features/webUIRestrictSharing/restrictReSharing.feature
  tests/ui/features/webUIRestrictSharing/restrictSharing.feature
  tests/ui/features/webUISharingExternal/federationSharing.feature
  tests/ui/features/webUISharingExternal/shareByPublicLink.feature
  tests/ui/features/webUISharingInternalGroups/shareWithGroups.feature
  tests/ui/features/webUISharingInternalGroups/shareWithGroupsEdgeCases.feature
  tests/ui/features/webUISharingInternalUsers/shareAutocompletion.feature
  tests/ui/features/webUISharingInternalUsers/shareWithUsers.feature
  tests/ui/features/webUITrashbin/restore.feature
  tests/ui/features/webUITrashbin/trashbinDelete.feature
  tests/ui/features/webUITrashbin/trashbinFilesFolders.feature
  tests/ui/features/webUIUpload/upload.feature
  tests/ui/features/webUIUpload/uploadEdgecases.feature
  tests/ui/features/webUIUpload/uploadFileGreaterThanQuotaSize.feature
Labels: 3 - To Review, dev:acceptance-tests

#30684 [stable10] API tests code to phpcs-defined standard
  phpcs.xml
  tests/acceptance/features/bootstrap/AppConfiguration.php
  tests/acceptance/features/bootstrap/AppManagementContext.php
  tests/acceptance/features/bootstrap/Auth.php
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/CalDavContext.php
  tests/acceptance/features/bootstrap/CapabilitiesContext.php
  tests/acceptance/features/bootstrap/CardDavContext.php
  tests/acceptance/features/bootstrap/Checksums.php
  tests/acceptance/features/bootstrap/CommandLine.php
  tests/acceptance/features/bootstrap/Comments.php
  tests/acceptance/features/bootstrap/Federation.php
  tests/acceptance/features/bootstrap/FederationContext.php
  tests/acceptance/features/bootstrap/MailTool.php
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/bootstrap/ShareesContext.php
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/bootstrap/Tags.php
  tests/acceptance/features/bootstrap/Trashbin.php
  tests/acceptance/features/bootstrap/WebDav.php
  tests/acceptance/features/bootstrap/bootstrap.php
Labels: 3 - To Review, dev:integration-tests

#30686 TestHelpers code to phpcs-defined standard
  tests/TestHelpers/AppConfigHelper.php
  tests/TestHelpers/DeleteHelper.php
  tests/TestHelpers/DownloadHelper.php
  tests/TestHelpers/IpHelper.php
  tests/TestHelpers/LoggingHelper.php
  tests/TestHelpers/MoveCopyHelper.php
  tests/TestHelpers/OcsApiHelper.php
  tests/TestHelpers/SetupHelper.php
  tests/TestHelpers/SharingHelper.php
  tests/TestHelpers/TagsHelper.php
  tests/TestHelpers/UploadHelper.php
  tests/TestHelpers/UserHelper.php
  tests/TestHelpers/WebDavHelper.php
Labels: 3 - To Review, dev:acceptance-tests

#30687 [stable10] TestHelpers code to phpcs-defined standard
  tests/TestHelpers/AppConfigHelper.php
  tests/TestHelpers/DeleteHelper.php
  tests/TestHelpers/DownloadHelper.php
  tests/TestHelpers/IpHelper.php
  tests/TestHelpers/LoggingHelper.php
  tests/TestHelpers/MoveCopyHelper.php
  tests/TestHelpers/OcsApiHelper.php
  tests/TestHelpers/SetupHelper.php
  tests/TestHelpers/SharingHelper.php
  tests/TestHelpers/TagsHelper.php
  tests/TestHelpers/UploadHelper.php
  tests/TestHelpers/UserHelper.php
  tests/TestHelpers/WebDavHelper.php
Labels: 3 - To Review, dev:acceptance-tests

#30695 [stable10] Adding repair step for sub share
  lib/private/Repair.php
  lib/private/Repair/RepairSubShares.php
  tests/lib/Repair/RepairSubSharesTest.php
Labels: 4 - To release

#30698 Fix the emittingCall by adding return
  lib/private/Server.php
  lib/private/User/Session.php
  tests/lib/User/SessionTest.php
Labels: 3 - To Review

#30710 Remove usage of create_function - refs https://travis-ci.org/owncloud…
  lib/private/legacy/app.php
  tests/lib/legacy/AppTest.php
Labels: 3 - To Review, backport-request

#30709 Set quota via provisioning API in UI upload test
  tests/ui/features/bootstrap/UsersContext.php
  tests/ui/features/webUIUpload/uploadFileGreaterThanQuotaSize.feature
Labels: 3 - To Review, backport-request, dev:acceptance-tests

#30713 [stable10] Set quota via provisioning API in UI upload test
  tests/ui/features/bootstrap/UsersContext.php
  tests/ui/features/webUIUpload/uploadFileGreaterThanQuotaSize.feature
Labels: 3 - To Review, dev:acceptance-tests

#30718 Run API tests by suite
  Makefile
  tests/acceptance/Makefile
  tests/acceptance/features/bootstrap/CapabilitiesContext.php
  tests/acceptance/features/bootstrap/ShareesContext.php
  tests/acceptance/run.sh
Labels: 3 - To Review, dev:acceptance-tests, dev:integration-tests

#30720 [stable10] Run API tests by suite
  Makefile
  tests/acceptance/Makefile
  tests/acceptance/features/bootstrap/CapabilitiesContext.php
  tests/acceptance/features/bootstrap/ShareesContext.php
  tests/acceptance/run.sh
Labels: 3 - To Review, dev:acceptance-tests, dev:integration-tests

#30721 Revert "[stable9.1] Fix working with LDAP replica server"
  apps/user_ldap/lib/Connection.php
Labels: 4 - To release, QA-blocker, bug, regression, sev1-critical

#30578 Refactoring and cleanup of drone
  .drone.yml
  .gitignore
  tests/drone/configs/config.files_external.webdav-apache.php
  tests/drone/install-server.sh
  tests/drone/test-coverage.sh
  tests/drone/test-files-external.sh
  tests/drone/test-phpunit.sh
Labels: 3 - To Review, Drone, backport-request

#30594 UI tests for showing hidden files
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/lib/FilesPageBasic.php
  tests/acceptance/features/lib/FilesPageElement/FileRow.php
  tests/acceptance/features/webUIFiles/hiddenFile.feature
Labels: 3 - To Review, backport-request, dev:acceptance-tests

#30734 [stable10] UI tests for showing hidden files
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/lib/FilesPageBasic.php
  tests/acceptance/features/lib/FilesPageElement/FileRow.php
  tests/acceptance/features/webUIFiles/hiddenFile.feature
Labels: 3 - To Review, dev:acceptance-tests

#30736 Tag before and after scenario with api or webUI
  tests/acceptance/features/bootstrap/AppConfiguration.php
  tests/acceptance/features/bootstrap/AppManagementContext.php
  tests/acceptance/features/bootstrap/Auth.php
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/CalDavContext.php
  tests/acceptance/features/bootstrap/CardDavContext.php
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/bootstrap/Tags.php
  tests/acceptance/features/bootstrap/WebUIBasicStructure.php
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
  tests/acceptance/features/bootstrap/WebUILoginContext.php
  tests/acceptance/features/bootstrap/WebUIPersonalGeneralSettingsContext.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/bootstrap/WebUIUsersContext.php
Labels: 3 - To Review, dev:acceptance-tests

#30737 [stable10] Tag before and after scenario with api or webUI
  tests/acceptance/features/bootstrap/AppConfiguration.php
  tests/acceptance/features/bootstrap/AppManagementContext.php
  tests/acceptance/features/bootstrap/Auth.php
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/CalDavContext.php
  tests/acceptance/features/bootstrap/CardDavContext.php
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/bootstrap/Tags.php
  tests/acceptance/features/bootstrap/WebUIBasicStructure.php
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
  tests/acceptance/features/bootstrap/WebUILoginContext.php
  tests/acceptance/features/bootstrap/WebUIPersonalGeneralSettingsContext.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/bootstrap/WebUIUsersContext.php
Labels: 3 - To Review, dev:acceptance-tests

#30743 Tag API test BeforeSuite method
  tests/acceptance/features/bootstrap/BasicStructure.php
Labels: 3 - To Review, dev:acceptance-tests

#30744 [stable10] Tag API test BeforeSuite method
  tests/acceptance/features/bootstrap/BasicStructure.php
Labels: 3 - To Review, dev:acceptance-tests

#30730 collect javascript code coverage
  .drone.yml
  tests/karma.config.js
Labels: 3 - To Review, Drone

#29404 Implementation of delta-sync support on server-side.
  apps/dav/lib/Capabilities.php
  apps/dav/lib/Connector/Sabre/Directory.php
  apps/dav/lib/Files/ZsyncPlugin.php
  apps/dav/lib/HookManager.php
  apps/dav/lib/Server.php
  apps/dav/lib/Upload/AssemblyStream.php
  apps/dav/lib/Upload/AssemblyStreamZsync.php
  apps/dav/lib/Upload/ChunkingPluginZsync.php
  apps/dav/lib/Upload/FutureFile.php
  apps/dav/lib/Upload/FutureFileZsync.php
  apps/dav/lib/Upload/UploadFolder.php
  apps/dav/tests/unit/DAV/HookManagerZsyncTest.php
  apps/dav/tests/unit/DAV/ZsyncPluginTest.php
  apps/dav/tests/unit/Upload/AssemblyStreamZsyncTest.php
  apps/dav/tests/unit/Upload/ChunkingPluginZsyncTest.php
  apps/dav/tests/unit/Upload/FutureFileZsyncTest.php
Labels: enhancement

#30747 move linting from travis to drone
  .drone.yml
  .travis.yml
Labels: 3 - To Review, Drone

#30748 [stable10] move linting from travis to drone
  .drone.yml
  .travis.yml
Labels: 3 - To Review, Drone

#30715 Unbrand Personal security sessions message
  settings/templates/panels/personal/tokens.php
Labels: 3 - To Review, backport-request, bug

#30688 Bump symfony to 3.4.5
  composer.lock
Labels: 3 - To Review, dependencies

#30689 [stable10] Bump symfony to 3.4.5
  composer.lock
Labels: 3 - To Review, dependencies

#30740 Run litmus test inside drone
  .drone.yml
Labels: 3 - To Review, Drone

#30755 fixes #19811 - only use existing key words 'default' and 'none' as ma…
  apps/provisioning_api/lib/Users.php
  apps/provisioning_api/tests/UsersTest.php
Labels: 3 - To Review, app:provisioning_api, bug

#30728 [Stable10] cleanup drone
  .drone.yml
  .gitignore
  lib/private/Files/Storage/Common.php
  lib/private/Lock/MemcacheLockingProvider.php
  tests/drone/configs/config.files_external.webdav-apache.php
  tests/drone/install-server.sh
  tests/drone/test-coverage.sh
  tests/drone/test-phpunit.sh
  tests/lib/Files/Node/IntegrationTest.php
  tests/lib/Files/ViewTest.php
Labels: 3 - To Review, Drone

#30760 [stable10] Run javascript code coverage, Run litmus in drone
  .drone.yml
  tests/karma.config.js
Labels: 3 - To Review, Drone

#30723 polish totp middleware a little
  core/Middleware/TwoFactorMiddleware.php
  lib/private/AppFramework/DependencyInjection/DIContainer.php
  tests/Core/Middleware/TwoFactorMiddlewareTest.php
Labels: technical debt

#30735 Reword UI test steps
  tests/acceptance/features/bootstrap/Logging.php
  tests/acceptance/features/bootstrap/WebUIBasicStructure.php
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
  tests/acceptance/features/bootstrap/WebUILoginContext.php
  tests/acceptance/features/bootstrap/WebUIPersonalGeneralSettingsContext.php
  tests/acceptance/features/bootstrap/WebUIPersonalSecuritySettingsContext.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/bootstrap/WebUIUserContext.php
  tests/acceptance/features/bootstrap/WebUIUsersContext.php
  tests/acceptance/features/webUIFavorites/favoritesFile.feature
  tests/acceptance/features/webUIFavorites/unfavoriteFile.feature
  tests/acceptance/features/webUIFiles/createFolders.feature
  tests/acceptance/features/webUIFiles/createFoldersEdgeCases.feature
  tests/acceptance/features/webUIFiles/deleteFilesFolders.feature
  tests/acceptance/features/webUIFiles/hiddenFile.feature
  tests/acceptance/features/webUIFiles/scrollMenuIntoView.feature
  tests/acceptance/features/webUIManageQuota/manageUserQuota.feature
  tests/acceptance/features/webUIManageUsersGroups/addGroup.feature
  tests/acceptance/features/webUIManageUsersGroups/login.feature
  tests/acceptance/features/webUIManageUsersGroups/manageGroups.feature
  tests/acceptance/features/webUIManageUsersGroups/manageUsers.feature
  tests/acceptance/features/webUIMoveFilesFolders/moveFiles.feature
  tests/acceptance/features/webUIMoveFilesFolders/moveFolders.feature
  tests/acceptance/features/webUIPersonalSettings/changePasswordFromSetting.feature
  tests/acceptance/features/webUIPersonalSettings/personalGeneralSettings.feature
  tests/acceptance/features/webUIPersonalSettings/personalSecuritySettings.feature
  tests/acceptance/features/webUIRenameFiles/renameFiles.feature
  tests/acceptance/features/webUIRenameFiles/renameFilesInsideProblematicFolderName.feature
  tests/acceptance/features/webUIRenameFolders/renameFolders.feature
  tests/acceptance/features/webUIRestrictSharing/disableSharing.feature
  tests/acceptance/features/webUIRestrictSharing/restrictReSharing.feature
  tests/acceptance/features/webUIRestrictSharing/restrictSharing.feature
  tests/acceptance/features/webUISharingExternal/federationSharing.feature
  tests/acceptance/features/webUISharingExternal/shareByPublicLink.feature
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroups.feature
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroupsEdgeCases.feature
  tests/acceptance/features/webUISharingInternalUsers/shareAutocompletion.feature
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
  tests/acceptance/features/webUITrashbin/restore.feature
  tests/acceptance/features/webUITrashbin/trashbinDelete.feature
  tests/acceptance/features/webUITrashbin/trashbinFilesFolders.feature
  tests/acceptance/features/webUIUpload/upload.feature
  tests/acceptance/features/webUIUpload/uploadEdgecases.feature
  tests/acceptance/features/webUIUpload/uploadFileGreaterThanQuotaSize.feature
Labels: 3 - To Review, dev:acceptance-tests

#30765 [stable10] Reword UI test steps
  tests/acceptance/features/bootstrap/Logging.php
  tests/acceptance/features/bootstrap/WebUIBasicStructure.php
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
  tests/acceptance/features/bootstrap/WebUILoginContext.php
  tests/acceptance/features/bootstrap/WebUIPersonalGeneralSettingsContext.php
  tests/acceptance/features/bootstrap/WebUIPersonalSecuritySettingsContext.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/bootstrap/WebUIUserContext.php
  tests/acceptance/features/bootstrap/WebUIUsersContext.php
  tests/acceptance/features/webUIFavorites/favoritesFile.feature
  tests/acceptance/features/webUIFavorites/unfavoriteFile.feature
  tests/acceptance/features/webUIFiles/createFolders.feature
  tests/acceptance/features/webUIFiles/createFoldersEdgeCases.feature
  tests/acceptance/features/webUIFiles/deleteFilesFolders.feature
  tests/acceptance/features/webUIFiles/hiddenFile.feature
  tests/acceptance/features/webUIFiles/scrollMenuIntoView.feature
  tests/acceptance/features/webUIManageQuota/manageUserQuota.feature
  tests/acceptance/features/webUIManageUsersGroups/addGroup.feature
  tests/acceptance/features/webUIManageUsersGroups/login.feature
  tests/acceptance/features/webUIManageUsersGroups/manageGroups.feature
  tests/acceptance/features/webUIManageUsersGroups/manageUsers.feature
  tests/acceptance/features/webUIMoveFilesFolders/moveFiles.feature
  tests/acceptance/features/webUIMoveFilesFolders/moveFolders.feature
  tests/acceptance/features/webUIPersonalSettings/changePasswordFromSetting.feature
  tests/acceptance/features/webUIPersonalSettings/personalGeneralSettings.feature
  tests/acceptance/features/webUIPersonalSettings/personalSecuritySettings.feature
  tests/acceptance/features/webUIRenameFiles/renameFiles.feature
  tests/acceptance/features/webUIRenameFiles/renameFilesInsideProblematicFolderName.feature
  tests/acceptance/features/webUIRenameFolders/renameFolders.feature
  tests/acceptance/features/webUIRestrictSharing/disableSharing.feature
  tests/acceptance/features/webUIRestrictSharing/restrictReSharing.feature
  tests/acceptance/features/webUIRestrictSharing/restrictSharing.feature
  tests/acceptance/features/webUISharingExternal/federationSharing.feature
  tests/acceptance/features/webUISharingExternal/shareByPublicLink.feature
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroups.feature
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroupsEdgeCases.feature
  tests/acceptance/features/webUISharingInternalUsers/shareAutocompletion.feature
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
  tests/acceptance/features/webUITrashbin/restore.feature
  tests/acceptance/features/webUITrashbin/trashbinDelete.feature
  tests/acceptance/features/webUITrashbin/trashbinFilesFolders.feature
  tests/acceptance/features/webUIUpload/upload.feature
  tests/acceptance/features/webUIUpload/uploadEdgecases.feature
  tests/acceptance/features/webUIUpload/uploadFileGreaterThanQuotaSize.feature
Labels: 3 - To Review, dev:acceptance-tests

#30773 Wording change
  settings/templates/panels/admin/filesharing.php
Labels: 3 - To Review, feature:sharing

#30775 [stable10] run files external tests in drone
  .drone.yml
  tests/drone/configs/config.files_external.smb-samba.php
  tests/drone/configs/config.files_external.smb-windows.php
  tests/drone/configs/config.files_external.swift.php
  tests/drone/test-phpunit.sh
Labels: 3 - To Review, Drone

#30731 migrate files_external to drone
  .drone.yml
  tests/drone/configs/config.files_external.smb-samba.php
  tests/drone/configs/config.files_external.smb-windows.php
  tests/drone/configs/config.files_external.swift.php
  tests/drone/test-phpunit.sh
Labels: 3 - To Review, Drone

#30700 Properly use error exit code when php version or platform is not supp…
  console.php
Labels: 3 - To Review, backport-request

#30774 [stable10] Wording change
  settings/templates/panels/admin/filesharing.php
Labels: 3 - To Review, feature:sharing

#30777 Adding symfony events for config and appconfig
  lib/private/AppConfig.php
  lib/private/Config.php
  tests/lib/AppConfigTest.php
  tests/lib/ConfigTest.php
Labels: 4 - To release, backport-request

#30788 [stable10] Adding symfony events for config and appconfig
  lib/private/AppConfig.php
  lib/private/Config.php
  tests/lib/AppConfigTest.php
  tests/lib/ConfigTest.php
Labels: 3 - To Review

#30783 fix incomplete API tests
  tests/acceptance/features/apiMain/sharing-v1.feature
  tests/acceptance/features/apiMain/webdav-related-new-endpoint.feature
  tests/acceptance/features/apiMain/webdav-related-old-endpoint.feature
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 3 - To Review, backport-request, dev:acceptance-tests

#30767 [stable10] run swift objectstorage tests
  .drone.yml
  apps/dav/tests/unit/Connector/Sabre/FileTest.php
  apps/files/tests/Command/ScanTest.php
  tests/drone/configs/config.primary_storage.swift.php
  tests/drone/install-server.sh
  tests/lib/Files/FilesystemTest.php
  tests/lib/Files/ObjectStore/SwiftTest.php
  tests/lib/TestCase.php
Labels: 3 - To Review, Drone

#30781 Check configuration to decide if we run tests on ObjectStorage
  apps/dav/tests/unit/Connector/Sabre/FileTest.php
  apps/files/tests/Command/ScanTest.php
  tests/lib/Files/FilesystemTest.php
  tests/lib/TestCase.php
Labels: 3 - To Review

#30785 Remove regular user-group from UI tests
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/AppConfiguration.php
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/bootstrap/Tags.php
  tests/acceptance/features/bootstrap/WebUIBasicStructure.php
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
  tests/acceptance/features/bootstrap/WebUILoginContext.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/bootstrap/WebUIUsersContext.php
  tests/acceptance/features/webUIFavorites/favoritesFile.feature
  tests/acceptance/features/webUIFavorites/unfavoriteFile.feature
  tests/acceptance/features/webUIFiles/deleteFilesFolders.feature
  tests/acceptance/features/webUIFiles/hiddenFile.feature
  tests/acceptance/features/webUIFiles/scrollMenuIntoView.feature
  tests/acceptance/features/webUIManageQuota/manageUserQuota.feature
  tests/acceptance/features/webUIManageUsersGroups/login.feature
  tests/acceptance/features/webUIManageUsersGroups/manageGroups.feature
  tests/acceptance/features/webUIMoveFilesFolders/moveFiles.feature
  tests/acceptance/features/webUIMoveFilesFolders/moveFolders.feature
  tests/acceptance/features/webUIPersonalSettings/personalGeneralSettings.feature
  tests/acceptance/features/webUIRenameFiles/renameFiles.feature
  tests/acceptance/features/webUIRenameFolders/renameFolders.feature
  tests/acceptance/features/webUISharingInternalUsers/shareAutocompletion.feature
  tests/acceptance/features/webUITrashbin/trashbinDelete.feature
  tests/acceptance/features/webUITrashbin/trashbinFilesFolders.feature
Labels: 3 - To Review, dev:acceptance-tests

#30794 [stable10] Remove regular user-group from UI tests
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/AppConfiguration.php
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/bootstrap/Tags.php
  tests/acceptance/features/bootstrap/WebUIBasicStructure.php
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
  tests/acceptance/features/bootstrap/WebUILoginContext.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/bootstrap/WebUIUsersContext.php
  tests/acceptance/features/webUIFavorites/favoritesFile.feature
  tests/acceptance/features/webUIFavorites/unfavoriteFile.feature
  tests/acceptance/features/webUIFiles/deleteFilesFolders.feature
  tests/acceptance/features/webUIFiles/hiddenFile.feature
  tests/acceptance/features/webUIFiles/scrollMenuIntoView.feature
  tests/acceptance/features/webUIManageQuota/manageUserQuota.feature
  tests/acceptance/features/webUIManageUsersGroups/login.feature
  tests/acceptance/features/webUIManageUsersGroups/manageGroups.feature
  tests/acceptance/features/webUIMoveFilesFolders/moveFiles.feature
  tests/acceptance/features/webUIMoveFilesFolders/moveFolders.feature
  tests/acceptance/features/webUIPersonalSettings/personalGeneralSettings.feature
  tests/acceptance/features/webUIRenameFiles/renameFiles.feature
  tests/acceptance/features/webUIRenameFolders/renameFolders.feature
  tests/acceptance/features/webUISharingInternalUsers/shareAutocompletion.feature
  tests/acceptance/features/webUITrashbin/trashbinDelete.feature
  tests/acceptance/features/webUITrashbin/trashbinFilesFolders.feature
Labels: 3 - To Review, dev:acceptance-tests

#30796 [stable10] fix incomplete API tests
  tests/acceptance/features/apiMain/sharing-v1.feature
  tests/acceptance/features/apiMain/webdav-related-new-endpoint.feature
  tests/acceptance/features/apiMain/webdav-related-old-endpoint.feature
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 3 - To Review, dev:acceptance-tests

#30791 [stable10] Propagate move exception messages to the frontend
  apps/files/js/filelist.js
Labels: 4 - To release

#30800 Propagate all exception messages to the frontend
  apps/files/js/filelist.js
Labels: 4 - To release

#30786 Fix checkbox check
  settings/templates/panels/admin/filesharing.php
Labels: 4 - To release, feature:sharing, p1-urgent

#30787 [stable10] Fix checkbox check
  settings/templates/panels/admin/filesharing.php
Labels: 4 - To release, feature:sharing, p1-urgent

#30756 Return the quota setting as defined for the user.
  apps/provisioning_api/lib/Users.php
  apps/provisioning_api/tests/UsersTest.php
Labels: 3 - To Review, app:provisioning_api, backport-request, enhancement

#30754 [Stable10] Unbrand Personal security sessions message
  settings/templates/panels/personal/tokens.php
Labels: 3 - To Review, bug

#30732 Fix webUI display of group containing numeric username
  lib/private/User/Manager.php
  tests/acceptance/features/apiMain/provisioning-v1.feature
Labels: 3 - To Review, backport-request, settings:users

#30805 Remove unused ldapUserCleanupInterval
  config/config.sample.php
Labels: 3 - To Review

#30789 Embed personal note in link share email
  core/ajax/share.php
  core/templates/altmail.php
  core/templates/mail.php
  lib/private/Share/Filters/MailNotificationFilter.php
  lib/private/Share/MailNotifications.php
  tests/lib/Share/MailNotificationsTest.php
Labels: 3 - To Review, backport-request

#30638 [stable10] Sync code deduplication and core controlled sync
  apps/dav/tests/unit/Connector/Sabre/RequestTest/PartFileInRootUploadTest.php
  apps/testing/lib/Application.php
  core/Command/User/SyncBackend.php
  core/Migrations/Version20170221114437.php
  lib/private/Server.php
  lib/private/User/Account.php
  lib/private/User/Database.php
  lib/private/User/Manager.php
  lib/private/User/Session.php
  lib/private/User/SyncService.php
  lib/private/User/User.php
  lib/private/legacy/user.php
  lib/public/Authentication/IApacheBackend.php
  lib/public/User/IProvidesDisplayNameBackend.php
  lib/public/User/IProvidesHomeBackend.php
  tests/Core/Command/User/ListUsersTest.php
  tests/lib/Files/Config/UserMountCacheTest.php
  tests/lib/Files/FilesystemTest.php
  tests/lib/Traits/UserTrait.php
  tests/lib/User/ManagerTest.php
  tests/lib/User/SessionTest.php
  tests/lib/User/SyncServiceTest.php
  tests/lib/Util/User/MemoryAccountMapper.php
Labels: 3 - To Review, green-ticket, p1-urgent

#30780 [stable10] Properly use error exit code when php version or platform …
  console.php
Labels: 3 - To Review

#30421 No need to handle authentication that early aka in here at all
  lib/base.php
  lib/private/AppFramework/DependencyInjection/DIContainer.php
  lib/private/AppFramework/Middleware/Security/SecurityMiddleware.php
  lib/private/AppFramework/Utility/ControllerMethodReflector.php
  lib/private/legacy/json.php
  tests/lib/AppFramework/Middleware/Security/SecurityMiddlewareTest.php
Labels: 3 - To Review, QA-known, backport-request, bug, p1-urgent

#30763 Bugfix/calendarchanges limit 1000
  apps/dav/lib/CalDAV/CalDavBackend.php
  apps/dav/lib/CardDAV/CardDavBackend.php
  apps/dav/tests/unit/CalDAV/CalDavBackendTest.php
  apps/dav/tests/unit/CardDAV/CardDavBackendTest.php
Labels: 3 - To Review, backport-request

#30790 fixes objectstore#75 - use storage specific implementations of moveFr…
  lib/private/Files/ObjectStore/ObjectStoreStorage.php
  lib/private/Files/Storage/Local.php
  lib/private/Files/Storage/Wrapper/Encryption.php
  tests/lib/Files/ObjectStore/ObjectStoreTest.php
Labels: 4 - To release, backport-request

#30812 [stable10] Remove unused ldapUserCleanupInterval
  config/config.sample.php
Labels: 3 - To Review

#30813 [stable10] Embed personal note in link share email
  core/ajax/share.php
  core/templates/altmail.php
  core/templates/mail.php
  lib/private/Share/Filters/MailNotificationFilter.php
  lib/private/Share/MailNotifications.php
  tests/lib/Share/MailNotificationsTest.php
Labels: 3 - To Review

#30816 Backport/bugfix/calendarchanges limit 1000
  apps/dav/lib/CalDAV/CalDavBackend.php
  apps/dav/lib/CardDAV/CardDavBackend.php
  apps/dav/tests/unit/CalDAV/CalDavBackendTest.php
  apps/dav/tests/unit/CardDAV/CardDavBackendTest.php
Labels: 4 - To release

#30833 [stable10] Refactor acceptance tests to use common user-group-server
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/bootstrap/WebDav.php
  tests/acceptance/features/bootstrap/WebUIBasicStructure.php
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
  tests/acceptance/features/bootstrap/WebUILoginContext.php
  tests/acceptance/features/bootstrap/WebUIPersonalGeneralSettingsContext.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/bootstrap/WebUIUsersContext.php
  tests/acceptance/features/webUIRestrictSharing/restrictReSharing.feature
  tests/acceptance/features/webUIRestrictSharing/restrictSharing.feature
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroups.feature
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroupsEdgeCases.feature
Labels: 3 - To Review, dev:acceptance-tests

#30766 Bump symfony to 3.4.6 and Sabre vobject to 4.1.5
  apps/dav/tests/unit/CalDAV/CalDavBackendTest.php
  apps/dav/tests/unit/CardDAV/BirthdayServiceTest.php
  apps/dav/tests/unit/CardDAV/ConverterTest.php
  apps/dav/tests/unit/CardDAV/ImageExportPluginTest.php
  composer.lock
Labels: 3 - To Review, dependencies

#30768 [stable10] Bump symfony to 3.4.6 and Sabre vobject to 4.1.5
  apps/dav/tests/unit/CalDAV/CalDavBackendTest.php
  apps/dav/tests/unit/CardDAV/BirthdayServiceTest.php
  apps/dav/tests/unit/CardDAV/ConverterTest.php
  apps/dav/tests/unit/CardDAV/ImageExportPluginTest.php
  composer.lock
Labels: 3 - To Review, dependencies

#30673 Move user management ui to its own app
  .drone.yml
  apps/provisioning_api/lib/Users.php
  apps/provisioning_api/tests/UsersTest.php
  core/strings.php
  lib/private/Group/MetaData.php
  lib/private/NavigationManager.php
  lib/private/legacy/app.php
  settings/Application.php
  settings/ChangePassword/Controller.php
  settings/Controller/GroupsController.php
  settings/Controller/UsersController.php
  settings/ajax/setquota.php
  settings/ajax/togglegroups.php
  settings/ajax/togglesubadmins.php
  settings/css/settings.css
  settings/img/users.png
  settings/img/users.svg
  settings/js/users/deleteHandler.js
  settings/js/users/filter.js
  settings/js/users/groups.js
  settings/js/users/users.js
  settings/routes.php
  settings/templates/changemail/email.php
  settings/templates/changemail/notify.php
  settings/templates/email.new_user.php
  settings/templates/email.new_user_plain_text.php
  settings/templates/users/main.php
  settings/templates/users/part.createuser.php
  settings/templates/users/part.grouplist.php
  settings/templates/users/part.setquota.php
  settings/templates/users/part.userlist.php
  settings/tests/js/users/deleteHandlerSpec.js
  settings/users.php
  tests/Settings/Controller/GroupsControllerTest.php
  tests/Settings/Controller/UsersControllerTest.php
  tests/acceptance/features/webUIManageQuota/manageUserQuota.feature
  tests/acceptance/features/webUIManageUsersGroups/addGroup.feature
  tests/acceptance/features/webUIManageUsersGroups/login.feature
  tests/acceptance/features/webUIManageUsersGroups/manageGroups.feature
  tests/acceptance/features/webUIManageUsersGroups/manageUsers.feature
  tests/karma.config.js
  tests/lib/AppFramework/Http/TemplateResponseTest.php
  tests/lib/Group/MetaDataTest.php
Labels: 3 - To Review, app:provisioning_api, bug

#30811 [stable10] Fix webUI display of group containing numeric username
  lib/private/User/Manager.php
  tests/acceptance/features/apiMain/provisioning-v1.feature
Labels: 3 - To Review, settings:users

#30834 [stable10] remove api tags
  tests/acceptance/features/bootstrap/AppConfiguration.php
  tests/acceptance/features/bootstrap/AppManagementContext.php
  tests/acceptance/features/bootstrap/Auth.php
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/CalDavContext.php
  tests/acceptance/features/bootstrap/CardDavContext.php
  tests/acceptance/features/bootstrap/Tags.php
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
Labels: 3 - To Review, dev:acceptance-tests

#30835 [stable10] Simplify userShouldExist and groupShouldExist
  tests/acceptance/features/apiMain/provisioning-v1.feature
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 3 - To Review, dev:acceptance-tests

#30831 Remove api tags
  tests/acceptance/features/bootstrap/AppConfiguration.php
  tests/acceptance/features/bootstrap/AppManagementContext.php
  tests/acceptance/features/bootstrap/Auth.php
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/CalDavContext.php
  tests/acceptance/features/bootstrap/CardDavContext.php
  tests/acceptance/features/bootstrap/Tags.php
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
Labels: 3 - To Review, dev:acceptance-tests

#30832 Refactor userShouldExist and groupShouldExist
  tests/acceptance/features/apiMain/provisioning-v1.feature
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 3 - To Review, dev:acceptance-tests

#30830 Remove api tag in useBigFileIDs
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/travis/start_ui_tests.sh
Labels: 3 - To Review, dev:acceptance-tests

#30839 Remove core test leftovers webUIManageUsersGroups webUIManageQuota
  .travis.yml
  tests/acceptance/config/behat.yml
Labels: 3 - To Review, dev:acceptance-tests

#30817 [stable10] fixes objectstore#75 - use storage specific implementation…
  lib/private/Files/ObjectStore/ObjectStoreStorage.php
  lib/private/Files/Storage/Local.php
  lib/private/Files/Storage/Wrapper/Encryption.php
  tests/lib/Files/ObjectStore/ObjectStoreTest.php
  tests/lib/TestCase.php
Labels: 3 - To Review

#30814 Backport/owncloud/core/pull/30421
  lib/base.php
  lib/private/AppFramework/DependencyInjection/DIContainer.php
  lib/private/AppFramework/Middleware/Security/SecurityMiddleware.php
  lib/private/AppFramework/Utility/ControllerMethodReflector.php
  lib/private/legacy/json.php
  tests/lib/AppFramework/Middleware/Security/SecurityMiddlewareTest.php
Labels: 3 - To Review

#30810 [stable10] Initialize the root folder lazily
  lib/private/Server.php
Labels: 3 - To Review, app:encryption, app:user_ldap, backport-request, feature:sharing, p1-urgent

#30842 [stable10] Remove api tag in BeforeSuite useBigFileIDs
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/travis/start_ui_tests.sh
Labels: 3 - To Review, dev:acceptance-tests

#30851 Make getPasswordForUser know about individual user passwords
  tests/acceptance/features/bootstrap/BasicStructure.php
Labels: 3 - To Review, dev:acceptance-tests

#30848 ignore multiple slashes in http path
  lib/private/AppFramework/Http/Request.php
  tests/lib/AppFramework/Http/RequestTest.php
Labels: 3 - To Review, backport-request

#30852 [stable10] Make getPasswordForUser know about individual user passwords
  tests/acceptance/features/bootstrap/BasicStructure.php
Labels: 3 - To Review, dev:acceptance-tests

#30856 In useBigFileIDs do not depend on FeatureContext being context 0
  tests/acceptance/features/bootstrap/BasicStructure.php
Labels: 3 - To Review, dev:acceptance-tests

#30858 [stable10] In useBigFileIDs do not depend on FeatureContext being context 0
  tests/acceptance/features/bootstrap/BasicStructure.php
Labels: 3 - To Review, dev:acceptance-tests

#30859 Standardize case of OwncloudPage
  tests/acceptance/features/bootstrap/bootstrap.php
  tests/acceptance/features/lib/FilesPageBasic.php
  tests/acceptance/features/lib/FilesPageElement/FileActionsMenu.php
  tests/acceptance/features/lib/FilesPageElement/FileRow.php
Labels: 3 - To Review, dev:acceptance-tests

#30854 [stable10] ignore multiple slashes in http path
  lib/private/AppFramework/Http/Request.php
  tests/lib/AppFramework/Http/RequestTest.php
Labels: 3 - To Review

#30862 getter for $this->response
  tests/acceptance/features/bootstrap/BasicStructure.php
Labels: 3 - To Review, dev:acceptance-tests

#30863 Cleanup double-slash URLs in acceptance tests
  tests/TestHelpers/OcsApiHelper.php
  tests/TestHelpers/SharingHelper.php
  tests/acceptance/features/bootstrap/BasicStructure.php
Labels: 3 - To Review, backport-request, dev:acceptance-tests

#30866 move notifications testing app to main testing app
  apps/testing/appinfo/app.php
  apps/testing/appinfo/routes.php
  apps/testing/lib/Notifications.php
  apps/testing/lib/notifier.php
Labels: 3 - To Review, backport-request, dev:acceptance-tests

#30864 [stable10] Cleanup double-slash URLs in acceptance tests
  tests/TestHelpers/OcsApiHelper.php
  tests/TestHelpers/SharingHelper.php
  tests/acceptance/features/bootstrap/BasicStructure.php
Labels: 3 - To Review, dev:acceptance-tests

#30865 [stable10] getter for $this->response
  tests/acceptance/features/bootstrap/BasicStructure.php
Labels: 3 - To Review, dev:acceptance-tests

#30867 [stable10] move notifications testing app to main testing app
  apps/testing/appinfo/app.php
  apps/testing/appinfo/routes.php
  apps/testing/lib/Notifications.php
  apps/testing/lib/notifier.php
Labels: 3 - To Review, dev:acceptance-tests

#30874 Users page test removal and put back UI login tests
  .drone.yml
  .travis.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/WebUIUsersContext.php
  tests/acceptance/features/lib/UserPageElement/GroupList.php
  tests/acceptance/features/lib/UsersPage.php
  tests/acceptance/features/webUILogin/login.feature
Labels: 3 - To Review, dev:acceptance-tests

#30871 Put setUpExternalUserBackends inside setUpScenario
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
Labels: 3 - To Review, dev:acceptance-tests

#30876 [stable10] Put setUpExternalUserBackends code inside setUpScenario
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
Labels: 3 - To Review, dev:acceptance-tests

#30869 systemtags are always DAV v2
  tests/TestHelpers/TagsHelper.php
  tests/acceptance/features/apiMain/tags.feature
  tests/acceptance/features/bootstrap/Tags.php
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 3 - To Review, dev:acceptance-tests

#30878 [stable10] systemtags are always DAV v2
  tests/TestHelpers/TagsHelper.php
  tests/acceptance/features/apiMain/tags.feature
  tests/acceptance/features/bootstrap/Tags.php
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 3 - To Review, dev:acceptance-tests

#30819 Add a config option to ignore missing signature
  config/config.sample.php
  lib/private/IntegrityCheck/Checker.php
  lib/private/IntegrityCheck/Exceptions/MissingSignatureException.php
  tests/lib/IntegrityCheck/CheckerTest.php
Labels: 3 - To Review

#30815 Set empty authtoken names to 'none'
  core/Migrations/Version20180319102121.php
Labels: 2 - Developing, p1-urgent

#30845 Treat any unknown app version as 0.0.1
  lib/private/App/CodeChecker/InfoChecker.php
  lib/private/AppConfig.php
  tests/lib/App/CodeChecker/InfoCheckerTest.php
Labels: 3 - To Review, bug, p1-urgent

#30893 Remember which groups and users were really created
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialog.php
Labels: 3 - To Review, backport-request, dev:acceptance-tests

#30894 [stable10] Remember which groups and users were really created
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialog.php
Labels: 3 - To Review, dev:acceptance-tests

#30843 Adding a system configuration which allows to set global CORS domains.
  apps/dav/lib/Connector/Sabre/CorsPlugin.php
  config/config.sample.php
  lib/private/AppFramework/Middleware/Security/CORSMiddleware.php
  lib/private/legacy/api.php
  lib/private/legacy/response.php
Labels: 4 - To release, backport-request

#30891 [stable10] Add a config option to ignore missing signature
  config/config.sample.php
  lib/private/IntegrityCheck/Checker.php
  lib/private/IntegrityCheck/Exceptions/MissingSignatureException.php
  tests/lib/IntegrityCheck/CheckerTest.php
Labels: 3 - To Review

#30890 [Stable10] Treat any unknown app version as 0.0.1
  lib/private/App/CodeChecker/InfoChecker.php
  lib/private/AppConfig.php
  tests/lib/App/CodeChecker/InfoCheckerTest.php
Labels: 3 - To Review, bug, p1-urgent

#30850 [stable10] Fixes #19810 - return the quota setting as defined for the user.
  apps/provisioning_api/lib/Users.php
  apps/provisioning_api/tests/UsersTest.php
Labels: 3 - To Review, app:provisioning_api, enhancement

#30795 Add symfony event for resolving private links by apps
  apps/files/lib/Controller/ViewController.php
  apps/files/tests/Controller/ViewControllerTest.php
  apps/files_trashbin/appinfo/app.php
  apps/files_trashbin/lib/AppInfo/Application.php
  apps/files_trashbin/lib/Trashbin.php
  apps/files_trashbin/tests/TrashbinTest.php
  tests/lib/TestCase.php
Labels: 3 - To Review, backport-request

#30907 fix phpdoc
  lib/private/legacy/app.php
Labels: 3 - To Review, backport-request, documentation

#30836 Fix CORS OPTIONS request for unauthenticated requests
  apps/dav/lib/Connector/Sabre/CorsPlugin.php
  apps/dav/tests/unit/Connector/Sabre/CorsPluginTest.php
Labels: 4 - To release, backport-request

#30906 [stable10] Adding a system configuration which allows to set global C…
  apps/dav/lib/Connector/Sabre/CorsPlugin.php
  config/config.sample.php
  lib/private/AppFramework/Middleware/Security/CORSMiddleware.php
  lib/private/legacy/api.php
  lib/private/legacy/response.php
Labels: 4 - To release

#30912 [stable10] Fix CORS OPTIONS request for unauthenticated requests
  apps/dav/lib/Connector/Sabre/CorsPlugin.php
  apps/dav/tests/unit/Connector/Sabre/CorsPluginTest.php
  lib/private/legacy/response.php
Labels: 4 - To release

#30886 Handle frontend only apps directly in the navigation manager
  lib/private/NavigationManager.php
  tests/lib/NavigationManagerTest.php
Labels: 3 - To Review

#30916 Mask marketplace.key as it is sensitive
  lib/private/SystemConfig.php
Labels: 4 - To release, backport-request

#30908 [stable10] Set empty authtoken names to 'none' #30792
  core/Migrations/Version20180319102121.php
Labels: 3 - To Review

#30849 [stable10] polish totp middleware a little
  core/Middleware/TwoFactorMiddleware.php
  lib/private/AppFramework/DependencyInjection/DIContainer.php
  tests/Core/Middleware/TwoFactorMiddlewareTest.php
Labels: 3 - To Review, technical debt

#30847 [stable10] Test unlock on exception during scanning
  lib/private/Files/Cache/Scanner.php
  lib/private/Files/Storage/Temporary.php
  tests/lib/Files/Cache/ScannerTest.php
Labels: 3 - To Review

#30806 Remove unused config parameters
  config/config.sample.php
Labels: 3 - To Review

#30917 [stable10] Mask marketplace.key as it is sensitive
  lib/private/SystemConfig.php
Labels: 4 - To release

#30921 [stable10] fix phpdoc
  lib/private/legacy/app.php
Labels: 3 - To Review, documentation

#30929 Put back openssl parameter in config.sample.php
  config/config.sample.php
Labels: 3 - To Review

#30933 [stable10] Remove unused config parameters check_for_working_webdav check_for_wo…
  config/config.sample.php
Labels: 3 - To Review

#30793 Remove cache data from the symfony events
  lib/private/AppConfig.php
  lib/private/Config.php
  lib/public/Events/EventEmitterTrait.php
  tests/lib/AppConfigTest.php
  tests/lib/ConfigTest.php
  tests/lib/Events/EventEmitterTraitTest.php
Labels: 3 - To Review

#30927 Run API acceptance tests on drone
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiProvisioning/provisioning-v1.feature
  tests/acceptance/features/apiProvisioning/provisioning-v2.feature
  tests/acceptance/features/apiSharing/multilinksharing.feature
  tests/acceptance/features/apiSharing/sharing-v1.feature
  tests/acceptance/features/apiTrashbin/trashbin-new-endpoint.feature
  tests/acceptance/features/apiTrashbin/trashbin-old-endpoint.feature
  tests/acceptance/features/apiWebdav/webdav-related-new-endpoint.feature
  tests/acceptance/features/apiWebdav/webdav-related-old-endpoint.feature
  tests/acceptance/features/bootstrap/Auth.php
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/bootstrap/WebDav.php
  tests/acceptance/run.sh
  tests/drone/test-api-acceptance.sh
Labels: 3 - To Review, dev:acceptance-tests
