Repository owncloud/core, pull requests merged in 2018-08, with the labels that each got.

#32206 Read mtime from both properties
  apps/files/js/file-upload.js
  apps/files/tests/js/fileUploadSpec.js
Labels: 4 - To release

#28910 [WIP] IRouter is deprecated, deprecate it in the server container?
  lib/private/Server.php
Labels: 3 - To Review, comp:carddav, comp:core, status/STALE, technical debt

#32158 Use setUp in RouterTest instead of constructor
  tests/lib/Route/RouterTest.php
Labels: 3 - To Review

#31939 Resubmit of "[stable10] generated resource routes should allow slashes""
  lib/private/AppFramework/Routing/RouteConfig.php
  tests/lib/Route/RouterTest.php
Labels: 3 - To Review

#32184 Move oc-backbone-webdav loading to core
  apps/comments/appinfo/app.php
  lib/private/legacy/template.php
Labels: app:files_versions, backport-request, bug, feature:comments

#32087 [stable10] FileTest::testPutWithModifyRun is testing a wrong behavior
  apps/dav/lib/Connector/Sabre/File.php
  apps/dav/tests/unit/Connector/Sabre/FileTest.php
Labels: 3 - To Review

#32209 [master] Merge pull request #32087 from owncloud/bug-fix/wrong-test-b…
  apps/dav/lib/Connector/Sabre/File.php
  apps/dav/tests/unit/Connector/Sabre/FileTest.php
Labels: 3 - To Review

#32113 Cleanup federation phase 2
  apps/federatedfilesharing/lib/AddressHandler.php
  apps/federatedfilesharing/lib/AppInfo/Application.php
  apps/federatedfilesharing/lib/Controller/RequestHandlerController.php
  apps/federatedfilesharing/lib/Exception/InvalidShareException.php
  apps/federatedfilesharing/lib/Exception/NotSupportedException.php
  apps/federatedfilesharing/lib/FedShareManager.php
  apps/federatedfilesharing/lib/FederatedShareProvider.php
  apps/federatedfilesharing/tests/AddressHandlerTest.php
  apps/federatedfilesharing/tests/Controller/RequestHandlerTest.php
  apps/federatedfilesharing/tests/FedShareManagerTest.php
Labels: 3 - To Review

#32172 Use envrironment vars for recovery and oc password
  core/Command/Encryption/DecryptAll.php
  lib/private/Encryption/DecryptAll.php
  lib/private/Helper/EnvironmentHelper.php
  tests/Core/Command/Encryption/DecryptAllTest.php
  tests/lib/Encryption/DecryptAllTest.php
  tests/lib/Helper/EnvironmentHelperTest.php
Labels: 3 - To Review

#31670 Install app when enabling via provisioning API
  lib/private/App/AppManager.php
  lib/private/legacy/app.php
  tests/acceptance/features/apiProvisioning-v1/enableApp.feature
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 3 - To Review, app:provisioning_api

#32156 [stable10] Move "no-change" result below all the checks
  apps/files_sharing/lib/API/Share20OCS.php
  apps/files_sharing/tests/API/Share20OCSTest.php
Labels: 4 - To release, bug, feature:sharing

#32204 Tech dept/move autoloader to namespace
  composer.json
  lib/base.php
  lib/private/Autoloader.php
  tests/lib/AutoLoaderTest.php
Labels: 3 - To Review, app:files_external, enhancement, feature:sharing, technical debt

#32234 [stable10] Follow license file name change for stable10 branch
  COPYING-README
Labels: 3 - To Review

#32231 check the comment URL correctly when SUT runs in subfolder
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 3 - To Review, backport-request, dev:acceptance-tests

#32214 [stable10] Install app when enabling via provisioning api
  lib/private/App/AppManager.php
  lib/private/legacy/app.php
  tests/acceptance/features/apiProvisioning-v1/enableApp.feature
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 3 - To Review, app:provisioning_api

#32218 In case the email delivery fails the wrong status was returned.
  apps/dav/lib/CalDAV/Schedule/IMipPlugin.php
  apps/dav/tests/unit/CalDAV/Schedule/IMipPluginTest.php
Labels: 3 - To Review, backport-request

#32238 [stable10] check the comment URL correctly when SUT runs in subfolder
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 3 - To Review, dev:acceptance-tests

#32237 [stable10] Composer bumps as at 20180806
  composer.lock
Labels: 3 - To Review, dependencies

#32149 Run fed tests on different srv
  .drone.yml
  tests/acceptance/features/apiFederation/federated.feature
  tests/acceptance/features/bootstrap/AppConfiguration.php
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/FeatureContext.php
  tests/acceptance/features/bootstrap/WebDav.php
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
  tests/acceptance/features/bootstrap/WebUILoginContext.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/webUISharingExternal/federationSharing.feature
  tests/acceptance/features/webUISharingExternal/shareByPublicLink.feature
  tests/acceptance/run.sh
Labels: 3 - To Review, backport-request, dev:acceptance-tests

#31719 occ files:scan fix groups with comma, plus tests
  apps/files/lib/Command/Scan.php
  apps/files/tests/Command/ScanTest.php
  tests/acceptance/features/apiProvisioning-v1/addGroup.feature
  tests/acceptance/features/apiProvisioning-v1/addToGroup.feature
  tests/acceptance/features/apiProvisioning-v1/deleteGroup.feature
  tests/acceptance/features/apiProvisioning-v1/removeFromGroup.feature
  tests/acceptance/features/apiProvisioning-v2/addGroup.feature
  tests/acceptance/features/apiProvisioning-v2/addToGroup.feature
  tests/acceptance/features/apiProvisioning-v2/deleteGroup.feature
  tests/acceptance/features/apiProvisioning-v2/removeFromGroup.feature
  tests/lib/Share20/ManagerTest.php
Labels: 3 - To Review, backport-request, comp:console-occ, dev:acceptance-tests

#32241 [stable10] use different server for fed-sharing
  .drone.yml
  tests/acceptance/features/apiFederation/federated.feature
  tests/acceptance/features/bootstrap/AppConfiguration.php
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/FeatureContext.php
  tests/acceptance/features/bootstrap/WebDav.php
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
  tests/acceptance/features/bootstrap/WebUILoginContext.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/webUISharingExternal/federationSharing.feature
  tests/acceptance/features/webUISharingExternal/shareByPublicLink.feature
  tests/acceptance/run.sh
Labels: 3 - To Review, dev:acceptance-tests

#32242 [stable10] provisioning API tests for group with comma
  tests/acceptance/features/apiProvisioning-v1/addGroup.feature
  tests/acceptance/features/apiProvisioning-v1/addToGroup.feature
  tests/acceptance/features/apiProvisioning-v1/deleteGroup.feature
  tests/acceptance/features/apiProvisioning-v1/removeFromGroup.feature
  tests/acceptance/features/apiProvisioning-v2/addGroup.feature
  tests/acceptance/features/apiProvisioning-v2/addToGroup.feature
  tests/acceptance/features/apiProvisioning-v2/deleteGroup.feature
  tests/acceptance/features/apiProvisioning-v2/removeFromGroup.feature
  tests/lib/Share20/ManagerTest.php
Labels: 3 - To Review, dev:acceptance-tests, dev:phpunit-tests

#32247 [stable10] create user with default password
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 3 - To Review, dev:acceptance-tests

#32245 create user with default password
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 3 - To Review, dev:acceptance-tests

#32246 [stable10] separate given step to create user from when step
  tests/acceptance/features/apiMain/dav-versions.feature
  tests/acceptance/features/apiProvisioning-v1/getUsers.feature
  tests/acceptance/features/apiProvisioning-v2/getUsers.feature
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 3 - To Review, dev:acceptance-tests

#32244 separate given step to create user from when step
  tests/acceptance/features/apiMain/dav-versions.feature
  tests/acceptance/features/apiProvisioning-v1/getUsers.feature
  tests/acceptance/features/apiProvisioning-v2/getUsers.feature
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 3 - To Review, dev:acceptance-tests

#32239 Standardize acceptance test ocPath to always go through testing app
  tests/TestHelpers/SetupHelper.php
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/Auth.php
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/CommandLine.php
  tests/acceptance/features/bootstrap/LoggingContext.php
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
Labels: 3 - To Review, dev:acceptance-tests

#32257 [stable10] Standardize acceptance test ocPath to always go through testing app
  tests/TestHelpers/SetupHelper.php
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/Auth.php
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/CommandLine.php
  tests/acceptance/features/bootstrap/LoggingContext.php
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
Labels: 3 - To Review, dev:acceptance-tests

#31957 Dont UPDATE SET twice with filecache, use UPDATE SET CASE instead
  lib/private/Files/Cache/Propagator.php
Labels: 3 - To Review, status/STALE

#32263 [stable10] Remove inputField operations after setValue in webUI tests
  tests/acceptance/features/lib/FilesPageElement/FileRow.php
  tests/acceptance/features/lib/OwncloudPage.php
Labels: 3 - To Review, dev:acceptance-tests

#32256 mark API tests that should also run on LDAP
  tests/acceptance/features/apiMain/auth.feature
  tests/acceptance/features/apiMain/caldav.feature
  tests/acceptance/features/apiMain/carddav.feature
  tests/acceptance/features/apiMain/comments.feature
  tests/acceptance/features/apiSharees/sharees.feature
  tests/acceptance/features/apiSharees/sharees_provisioningapiv2.feature
  tests/acceptance/features/apiSharing/acceptShares.feature
  tests/acceptance/features/apiSharing/accessToShare.feature
  tests/acceptance/features/apiSharing/changingFilesShare.feature
  tests/acceptance/features/apiSharing/createShare.feature
  tests/acceptance/features/apiSharing/deleteShare.feature
  tests/acceptance/features/apiSharing/disableSharing.feature
  tests/acceptance/features/apiSharing/downloadFromShare.feature
  tests/acceptance/features/apiSharing/getWebDAVSharePermissions.feature
  tests/acceptance/features/apiSharing/gettingShares.feature
  tests/acceptance/features/apiSharing/mergeShare.feature
  tests/acceptance/features/apiSharing/moveReceivedShare.feature
  tests/acceptance/features/apiSharing/multilinksharing.feature
  tests/acceptance/features/apiSharing/reShare.feature
  tests/acceptance/features/apiSharing/updateShare.feature
  tests/acceptance/features/apiSharing/uploadToShare.feature
  tests/acceptance/features/apiSharingNotifications/sharingNotifications.feature
  tests/acceptance/features/apiTrashbin/trashbin-new-endpoint.feature
  tests/acceptance/features/apiTrashbin/trashbin-old-endpoint.feature
  tests/acceptance/features/apiWebdav/webdav-related-new-endpoint.feature
  tests/acceptance/features/apiWebdav/webdav-related-old-endpoint.feature
  tests/acceptance/features/apiWebdav/webdav-related.feature
Labels: 3 - To Review, backport-request, dev:acceptance-tests

#32266 [stable10] mark API tests that should also run on LDAP
  tests/acceptance/features/apiMain/auth.feature
  tests/acceptance/features/apiMain/caldav.feature
  tests/acceptance/features/apiMain/carddav.feature
  tests/acceptance/features/apiMain/comments.feature
  tests/acceptance/features/apiSharees/sharees.feature
  tests/acceptance/features/apiSharees/sharees_provisioningapiv2.feature
  tests/acceptance/features/apiSharing/acceptShares.feature
  tests/acceptance/features/apiSharing/accessToShare.feature
  tests/acceptance/features/apiSharing/changingFilesShare.feature
  tests/acceptance/features/apiSharing/createShare.feature
  tests/acceptance/features/apiSharing/deleteShare.feature
  tests/acceptance/features/apiSharing/disableSharing.feature
  tests/acceptance/features/apiSharing/downloadFromShare.feature
  tests/acceptance/features/apiSharing/getWebDAVSharePermissions.feature
  tests/acceptance/features/apiSharing/gettingShares.feature
  tests/acceptance/features/apiSharing/mergeShare.feature
  tests/acceptance/features/apiSharing/moveReceivedShare.feature
  tests/acceptance/features/apiSharing/multilinksharing.feature
  tests/acceptance/features/apiSharing/reShare.feature
  tests/acceptance/features/apiSharing/updateShare.feature
  tests/acceptance/features/apiSharing/uploadToShare.feature
  tests/acceptance/features/apiSharingNotifications/sharingNotifications.feature
  tests/acceptance/features/apiTrashbin/trashbin-new-endpoint.feature
  tests/acceptance/features/apiTrashbin/trashbin-old-endpoint.feature
  tests/acceptance/features/apiWebdav/webdav-related-new-endpoint.feature
  tests/acceptance/features/apiWebdav/webdav-related-old-endpoint.feature
  tests/acceptance/features/apiWebdav/webdav-related.feature
Labels: 3 - To Review, dev:acceptance-tests

#32269 possibility to divide acceptance tests suites into parts on the fly
  tests/acceptance/run.sh
Labels: 3 - To Review, backport-request, dev:acceptance-tests

#32271 [stable10] possibility to divide acceptance tests suites into parts on the fly
  tests/acceptance/run.sh
Labels: 3 - To Review, dev:acceptance-tests

#32240 Change e-mail validation regex to accept subdomains with hyphens.
  core/js/sharedialogmailview.js
  core/js/tests/specs/sharedialogmailviewSpec.js
Labels: 3 - To Review, backport-request, blue-ticket, bug, p3-medium, server, sev3-medium

#32032 Let files be overwritten
  lib/private/Files/Storage/Local.php
Labels: 3 - To Review, backport-request, status/STALE

#31838 [stable10] Use OC_DEFAULT_MODULE constant in core
  lib/private/Encryption/Util.php
Labels: 4 - To release

#32262 Remove inputField operations after setValue in webUI tests
  tests/acceptance/features/lib/FilesPageElement/FileRow.php
  tests/acceptance/features/lib/OwncloudPage.php
Labels: 3 - To Review, dev:acceptance-tests

#32274 Only restore capabilities in acceptance tests if the previous settings were saved
  tests/acceptance/features/bootstrap/AppConfiguration.php
Labels: 3 - To Review, dev:acceptance-tests

#32275 Provide convenience methods for CSRF disable, enable, delete in acceptance tests
  tests/acceptance/features/bootstrap/BasicStructure.php
Labels: 3 - To Review, dev:acceptance-tests

#32254 Bump symfony polyfill 1.8.0 to 1.9.0
  composer.lock
Labels: 3 - To Review, dependencies

#32255 [stable10] Bump symfony polyfill 1.8.0 to 1.9.0
  composer.lock
Labels: 3 - To Review, dependencies

#32278 reset opcache every time the config was changed in a acceptance tests
  apps/testing/appinfo/routes.php
  apps/testing/lib/Opcache.php
  tests/TestHelpers/AppConfigHelper.php
  tests/TestHelpers/SetupHelper.php
Labels: 3 - To Review, dev:acceptance-tests

#32280 [stable10] Update changelog post sprint 6
  CHANGELOG.md
Labels: 3 - To Review

#32281 [stable10] Backport of Change regex to accept subdomains with hyphens.
  core/js/sharedialogmailview.js
  core/js/tests/specs/sharedialogmailviewSpec.js
Labels: 4 - To release, blue-ticket, bug, p3-medium, server, sev3-medium

#32285 Only prepareParametersBeforeScenario and restore on remote if federatedServerExists
  tests/acceptance/features/bootstrap/AppConfiguration.php
  tests/acceptance/features/bootstrap/BasicStructure.php
Labels: 3 - To Review, backport-request, dev:acceptance-tests

#32279 [stable10] reset opcache every time the config was changed in a acceptance tests
  apps/testing/appinfo/routes.php
  apps/testing/lib/Opcache.php
  tests/TestHelpers/AppConfigHelper.php
  tests/TestHelpers/SetupHelper.php
Labels: 3 - To Review, dev:acceptance-tests

#32286 [stable10] Only prepareParametersBeforeScenario and restore on remote if federatedServerExists
  tests/acceptance/features/bootstrap/AppConfiguration.php
  tests/acceptance/features/bootstrap/BasicStructure.php
Labels: 3 - To Review, dev:acceptance-tests

#32290 [stable10] Remove unneeded SKELETON_DIR reference from .drone.yml
  .drone.yml
Labels: 3 - To Review, dev:acceptance-tests

#32289 Remove skeleton ref from drone yml
  .drone.yml
Labels: 3 - To Review, dev:acceptance-tests

#32292 fix suites-to-run calculation in run.sh acceptance tests script
  tests/acceptance/run.sh
Labels: 3 - To Review, dev:acceptance-tests

#32293 [stable10] fix suites-to-run calculation in run.sh acceptance tests script
  tests/acceptance/run.sh
Labels: 3 - To Review, dev:acceptance-tests

#32252 [stable10] Backport of Use envrironment vars for recovery and oc password
  apps/encryption/lib/AppInfo/Application.php
  apps/encryption/lib/Crypto/DecryptAll.php
  apps/encryption/tests/Crypto/DecryptAllTest.php
  core/Command/Encryption/DecryptAll.php
  lib/private/Encryption/DecryptAll.php
  lib/private/Helper/EnvironmentHelper.php
  tests/Core/Command/Encryption/DecryptAllTest.php
  tests/lib/Encryption/DecryptAllTest.php
  tests/lib/Helper/EnvironmentHelperTest.php
Labels: 3 - To Review

#32294 Spread suites more evenly across the jobs
  tests/acceptance/run.sh
Labels: 3 - To Review, dev:acceptance-tests

#32295 [stable10] Spread suites more evenly across the jobs
  tests/acceptance/run.sh
Labels: 3 - To Review, dev:acceptance-tests

#32296 Allow 'No scenarios' behat test runs to pass
  tests/acceptance/run.sh
Labels: 3 - To Review, dev:acceptance-tests

#32297 [stable10] Allow 'No scenarios' behat test runs to pass
  tests/acceptance/run.sh
Labels: 3 - To Review, dev:acceptance-tests

#32299 Use --remote for acceptance tests run on drone
  .drone.yml
  tests/drone/test-acceptance.sh
Labels: 3 - To Review, dev:acceptance-tests

#32301 [stable10] Use --remote for acceptance tests run on drone
  .drone.yml
  tests/drone/test-acceptance.sh
Labels: 3 - To Review, dev:acceptance-tests

#32305 change group names in acceptance tests to match LDAP setup
  tests/acceptance/features/apiSharing/createShare.feature
Labels: 3 - To Review, dev:acceptance-tests

#32306 [stable10] change group names in acceptance tests to match LDAP setup
  tests/acceptance/features/apiSharing/createShare.feature
Labels: 3 - To Review, dev:acceptance-tests

#32307 separate When from the Given step in acceptance tests
  tests/acceptance/features/apiProvisioning-v1/getGroups.feature
  tests/acceptance/features/apiProvisioning-v2/getGroups.feature
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 3 - To Review, dev:acceptance-tests

#32308 [stable10] separate When from the Given step in acceptance tests
  tests/acceptance/features/apiProvisioning-v1/getGroups.feature
  tests/acceptance/features/apiProvisioning-v2/getGroups.feature
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 3 - To Review, dev:acceptance-tests

#32312 check if user/group were created in acceptance tests
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 3 - To Review, backport-request, dev:acceptance-tests

#32314 [stable10] check if user/group were created in acceptance tests
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 3 - To Review, dev:acceptance-tests

#32309 Continue with upgrade even if the market app cannot be…
  lib/private/Repair/Apps.php
Labels: 3 - To Review, Effort: 1d, backport-request, bug, feature:update, p2-high, regression

#32326 change group names in acceptance tests to match LDAP setup (2)
  tests/acceptance/features/apiSharing/createShare.feature
  tests/acceptance/features/apiSharing/updateShare.feature
Labels: 3 - To Review, dev:acceptance-tests

#32327 [stable10] change group names in acceptance tests to match LDAP setup (2)
  tests/acceptance/features/apiSharing/createShare.feature
  tests/acceptance/features/apiSharing/updateShare.feature
Labels: 3 - To Review, dev:acceptance-tests

#32169 Make sure limit is respected
  apps/dav/lib/Connector/Sabre/FilesSearchReportPlugin.php
Labels: 3 - To Review, app:search, backport-request, bug

#32284 [stable10] Checksum fix stable10
  apps/files/tests/Command/VerifyChecksumsTest.php
  lib/private/Files/Cache/Scanner.php
Labels: 3 - To Review, Effort: 1d, app:windows_network_drive, blue-ticket, bug, p3-medium, server-sprint, sev3-medium

#32324 [stable10] Fixes #32270 - continue with upgrade even if the market ap…
  lib/private/Repair/Apps.php
Labels: 3 - To Review, Effort: 1d, bug, feature:update, p2-high, regression

#32273 [stable10] Let files be overwritten
  lib/private/Files/Storage/Local.php
Labels: 3 - To Review

#32248 Properly reset the checksum if the file data has changed
  apps/files/tests/Command/VerifyChecksumsTest.php
  lib/private/Files/Cache/Scanner.php
Labels: 3 - To Review, Effort: 1d, app:windows_network_drive, blue-ticket, bug, p3-medium, server-sprint, sev3-medium

#32332 skip acceptance tests that are known to fail with user-keys encryption
  tests/acceptance/features/apiMain/transfer-ownership.feature
  tests/acceptance/features/apiTrashbin/trashbin-new-endpoint.feature
  tests/acceptance/features/apiTrashbin/trashbin-old-endpoint.feature
Labels: 3 - To Review, dev:acceptance-tests

#32333 [stable10] skip acceptance tests that are known to fail with user-keys encryption
  tests/acceptance/features/apiMain/transfer-ownership.feature
  tests/acceptance/features/apiTrashbin/trashbin-new-endpoint.feature
  tests/acceptance/features/apiTrashbin/trashbin-old-endpoint.feature
Labels: 3 - To Review, dev:acceptance-tests

#32323 remove .gitignore file from api test skeleton folder
  apps/testing/data/apiSkeleton/FOLDER/.gitignore
  apps/testing/data/apiSkeleton/FOLDER/.gitkeep
  apps/testing/data/webUISkeleton/folder with space/simple-empty-folder/.gitkeep
  apps/testing/data/webUISkeleton/folder with space/simple-empty-folder/for-git-commit
  apps/testing/data/webUISkeleton/simple-empty-folder/.gitkeep
  apps/testing/data/webUISkeleton/simple-empty-folder/for-git-commit
  apps/testing/data/webUISkeleton/simple-folder/simple-empty-folder/.gitkeep
  apps/testing/data/webUISkeleton/simple-folder/simple-empty-folder/for-git-commit
  apps/testing/data/webUISkeleton/strängé नेपाली folder empty/.gitkeep
  apps/testing/data/webUISkeleton/strängé नेपाली folder empty/for-git-commit
  apps/testing/data/webUISkeleton/strängé नेपाली folder empty/simple-empty-folder/.gitkeep
  apps/testing/data/webUISkeleton/strängé नेपाली folder empty/simple-empty-folder/for-git-commit
  apps/testing/data/webUISkeleton/strängé नेपाली folder/simple-empty-folder/.gitkeep
  apps/testing/data/webUISkeleton/strängé नेपाली folder/simple-empty-folder/for-git-commit
  tests/acceptance/features/apiWebdav/webdav-related.feature
Labels: 3 - To Review, backport-request, dev:acceptance-tests

#32226 #32217 Change the file locking on large uploads
  apps/dav/lib/Connector/Sabre/File.php
  apps/dav/tests/unit/Connector/Sabre/FileTest.php
Labels: 3 - To Review, backport-request, blue-ticket, bug, p3-medium

#32331 [stable10] Don't strip linebreaks in personal note #32036
  core/templates/altmail.php
  core/templates/mail.php
  lib/private/Share/MailNotifications.php
  tests/lib/Share/MailNotificationsTest.php
Labels: 3 - To Review

#32283 Reset stalled state in upload data after retrying
  apps/files/js/file-upload.js
  apps/files/tests/js/fileUploadSpec.js
Labels: 3 - To Review, backport-request, bug, p2-high

#32334 [stable10] Set the exclusive file lock earlier.
  apps/dav/lib/Connector/Sabre/File.php
  apps/dav/tests/unit/Connector/Sabre/FileTest.php
Labels: 3 - To Review

#32339 PHPdoc code style in tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 3 - To Review, dev:acceptance-tests

#32340 [stable10] PHPdoc code style in tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 3 - To Review, dev:acceptance-tests

#32344 [stable10] remove .gitignore file from api test skeleton folder
  apps/testing/data/apiSkeleton/FOLDER/.gitignore
  apps/testing/data/apiSkeleton/FOLDER/.gitkeep
  apps/testing/data/webUISkeleton/folder with space/simple-empty-folder/.gitkeep
  apps/testing/data/webUISkeleton/folder with space/simple-empty-folder/for-git-commit
  apps/testing/data/webUISkeleton/simple-empty-folder/.gitkeep
  apps/testing/data/webUISkeleton/simple-empty-folder/for-git-commit
  apps/testing/data/webUISkeleton/simple-folder/simple-empty-folder/.gitkeep
  apps/testing/data/webUISkeleton/simple-folder/simple-empty-folder/for-git-commit
  apps/testing/data/webUISkeleton/strängé नेपाली folder empty/.gitkeep
  apps/testing/data/webUISkeleton/strängé नेपाली folder empty/for-git-commit
  apps/testing/data/webUISkeleton/strängé नेपाली folder empty/simple-empty-folder/.gitkeep
  apps/testing/data/webUISkeleton/strängé नेपाली folder empty/simple-empty-folder/for-git-commit
  apps/testing/data/webUISkeleton/strängé नेपाली folder/simple-empty-folder/.gitkeep
  apps/testing/data/webUISkeleton/strängé नेपाली folder/simple-empty-folder/for-git-commit
  tests/acceptance/features/apiWebdav/webdav-related.feature
Labels: 3 - To Review, dev:acceptance-tests

#32342 skip known to fail test with encrytion
  tests/acceptance/features/apiMain/checksums.feature
Labels: 3 - To Review, dev:acceptance-tests

#32349 skip known to fail test on LDAP
  tests/acceptance/features/apiWebdav/webdav-related.feature
Labels: 3 - To Review, dev:acceptance-tests

#32350 [stable10] skip known to fail test on LDAP
  tests/acceptance/features/apiWebdav/webdav-related.feature
Labels: 3 - To Review, dev:acceptance-tests

#32347 Add getters for private vars of acceptance test traits
  tests/acceptance/features/bootstrap/Auth.php
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/CommandLine.php
Labels: 3 - To Review, dev:acceptance-tests

#32348 [stable10] Add getters for private vars of acceptance test traits
  tests/acceptance/features/bootstrap/Auth.php
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/CommandLine.php
Labels: 3 - To Review, dev:acceptance-tests

#32353 Add integration for checksuming for shared files
  tests/acceptance/features/apiMain/checksums.feature
Labels: 3 - To Review, backport-request, dev:acceptance-tests

#32351 Standardize acceptance test skip tags
  tests/acceptance/features/webUISharingExternal/shareByPublicLink.feature
  tests/acceptance/features/webUISharingInternalUsers/shareAutocompletion.feature
Labels: 3 - To Review, dev:acceptance-tests

#32328 [stable10] Merge pull request #32169 from owncloud/search_api_limit
  apps/dav/lib/Connector/Sabre/FilesSearchReportPlugin.php
Labels: 3 - To Review

#32354 clean up deprecated encryption functions in test script
  tests/acceptance/features/apiMain/external-storage.feature
  tests/acceptance/features/apiMain/recreatemasterkey.feature
  tests/acceptance/features/apiMain/transfer-ownership.feature
  tests/acceptance/features/apiProvisioning-v1/getApps.feature
  tests/acceptance/features/apiProvisioning-v2/getApps.feature
  tests/acceptance/run.sh
Labels: 3 - To Review, dev:acceptance-tests

#32356 [stable10] Add integration for checksuming for shared files
  tests/acceptance/features/apiMain/checksums.feature
Labels: 3 - To Review, dev:acceptance-tests

#32352 [stable10] Standardize acceptance test skip tags
  tests/acceptance/features/webUISharingExternal/shareByPublicLink.feature
  tests/acceptance/features/webUISharingInternalUsers/shareAutocompletion.feature
Labels: 3 - To Review, dev:acceptance-tests

#32355 [stable10] clean up deprecated encryption functions in test script
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiEncryption/recreatemasterkey.feature
  tests/acceptance/features/apiMain/external-storage.feature
  tests/acceptance/features/apiMain/transfer-ownership.feature
  tests/acceptance/features/apiProvisioning-v1/getApps.feature
  tests/acceptance/features/apiProvisioning-v2/getApps.feature
  tests/acceptance/run.sh
Labels: 3 - To Review, dev:acceptance-tests

#31430 VerifyChecksum: Ignore files which are in filecache but not in the storage
  apps/files/lib/Command/VerifyChecksums.php
  apps/files/tests/Command/VerifyChecksumsTest.php
Labels: 3 - To Review

#32329 [master] Skip two factor challenge in account module middleware
  core/Middleware/AccountModuleMiddleware.php
  tests/Core/Middleware/AccountModuleMiddlewareTest.php
Labels: 3 - To Review

#32335 [stable10] Merge pull request #32283 from owncloud/reset-stalled-uplo…
  apps/files/js/file-upload.js
  apps/files/tests/js/fileUploadSpec.js
Labels: 3 - To Review

#32337 [objectstore] Fix checksums not being updated on modifying shared file
  apps/files_sharing/lib/Scanner.php
  lib/private/Files/ObjectStore/NoopScanner.php
Labels: 3 - To Review

#32311 Add litmus test on mounted storage and shared folder
  .drone.yml
Labels: 3 - To Review, backport-request

#32361 delete encryption related steps
  tests/acceptance/features/bootstrap/CommandLine.php
Labels: 3 - To Review, dev:acceptance-tests

#32363 skip encryption tests on object store
  tests/acceptance/features/apiEncryption/recreatemasterkey.feature
Labels: 3 - To Review, dev:acceptance-tests

#32365 Split webdav feature
  tests/acceptance/features/apiWebdav/copyFile.feature
  tests/acceptance/features/apiWebdav/createFolder.feature
  tests/acceptance/features/apiWebdav/deleteFile.feature
  tests/acceptance/features/apiWebdav/deleteFolder.feature
  tests/acceptance/features/apiWebdav/deleteFolderContents.feature
  tests/acceptance/features/apiWebdav/downloadFile.feature
  tests/acceptance/features/apiWebdav/getFileProperties.feature
  tests/acceptance/features/apiWebdav/getQuota.feature
  tests/acceptance/features/apiWebdav/moveFile.feature
  tests/acceptance/features/apiWebdav/moveFolder.feature
  tests/acceptance/features/apiWebdav/refuseAccess.feature
  tests/acceptance/features/apiWebdav/setFileProperties.feature
  tests/acceptance/features/apiWebdav/uploadFile.feature
  tests/acceptance/features/apiWebdav/uploadFileUsingNewChunking.feature
  tests/acceptance/features/apiWebdav/uploadFileUsingOldChunking.feature
  tests/acceptance/features/apiWebdav/webdav-related-new-endpoint.feature
  tests/acceptance/features/apiWebdav/webdav-related-old-endpoint.feature
  tests/acceptance/features/apiWebdav/webdav-related.feature
Labels: 3 - To Review, backport-request, dev:acceptance-tests

#32367 [stable10] Split webdav feature
  tests/acceptance/features/apiWebdav/copyFile.feature
  tests/acceptance/features/apiWebdav/createFolder.feature
  tests/acceptance/features/apiWebdav/deleteFile.feature
  tests/acceptance/features/apiWebdav/deleteFolder.feature
  tests/acceptance/features/apiWebdav/deleteFolderContents.feature
  tests/acceptance/features/apiWebdav/downloadFile.feature
  tests/acceptance/features/apiWebdav/getFileProperties.feature
  tests/acceptance/features/apiWebdav/getQuota.feature
  tests/acceptance/features/apiWebdav/moveFile.feature
  tests/acceptance/features/apiWebdav/moveFolder.feature
  tests/acceptance/features/apiWebdav/refuseAccess.feature
  tests/acceptance/features/apiWebdav/setFileProperties.feature
  tests/acceptance/features/apiWebdav/uploadFile.feature
  tests/acceptance/features/apiWebdav/uploadFileUsingNewChunking.feature
  tests/acceptance/features/apiWebdav/uploadFileUsingOldChunking.feature
  tests/acceptance/features/apiWebdav/webdav-related-new-endpoint.feature
  tests/acceptance/features/apiWebdav/webdav-related-old-endpoint.feature
  tests/acceptance/features/apiWebdav/webdav-related.feature
Labels: 3 - To Review, dev:acceptance-tests

#32369 Split api acceptance suites
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiMetadataApps/comments.feature
  tests/acceptance/features/apiMetadataApps/favorites.feature
  tests/acceptance/features/apiMetadataApps/tags.feature
  tests/acceptance/features/apiShareManagement/acceptShares.feature
  tests/acceptance/features/apiShareManagement/createShare.feature
  tests/acceptance/features/apiShareManagement/deleteShare.feature
  tests/acceptance/features/apiShareManagement/disableSharing.feature
  tests/acceptance/features/apiShareManagement/mergeShare.feature
  tests/acceptance/features/apiShareManagement/moveReceivedShare.feature
  tests/acceptance/features/apiShareManagement/multilinksharing.feature
  tests/acceptance/features/apiShareManagement/reShare.feature
  tests/acceptance/features/apiShareManagement/updateShare.feature
  tests/acceptance/features/apiShareOperations/accessToShare.feature
  tests/acceptance/features/apiShareOperations/changingFilesShare.feature
  tests/acceptance/features/apiShareOperations/downloadFromShare.feature
  tests/acceptance/features/apiShareOperations/getWebDAVSharePermissions.feature
  tests/acceptance/features/apiShareOperations/gettingShares.feature
  tests/acceptance/features/apiShareOperations/uploadToShare.feature
  tests/acceptance/features/apiWebdavOperations/deleteFile.feature
  tests/acceptance/features/apiWebdavOperations/deleteFolder.feature
  tests/acceptance/features/apiWebdavOperations/deleteFolderContents.feature
  tests/acceptance/features/apiWebdavOperations/downloadFile.feature
  tests/acceptance/features/apiWebdavOperations/refuseAccess.feature
  tests/acceptance/features/apiWebdavOperations/uploadFile.feature
  tests/acceptance/features/apiWebdavOperations/uploadFileUsingNewChunking.feature
  tests/acceptance/features/apiWebdavOperations/uploadFileUsingOldChunking.feature
  tests/acceptance/features/apiWebdavProperties/copyFile.feature
  tests/acceptance/features/apiWebdavProperties/createFolder.feature
  tests/acceptance/features/apiWebdavProperties/getFileProperties.feature
  tests/acceptance/features/apiWebdavProperties/getQuota.feature
  tests/acceptance/features/apiWebdavProperties/moveFile.feature
  tests/acceptance/features/apiWebdavProperties/moveFolder.feature
  tests/acceptance/features/apiWebdavProperties/setFileProperties.feature
Labels: 3 - To Review, dev:acceptance-tests

#32370 [stable10] split api acceptance suites
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiMetadataApps/comments.feature
  tests/acceptance/features/apiMetadataApps/favorites.feature
  tests/acceptance/features/apiMetadataApps/tags.feature
  tests/acceptance/features/apiShareManagement/acceptShares.feature
  tests/acceptance/features/apiShareManagement/createShare.feature
  tests/acceptance/features/apiShareManagement/deleteShare.feature
  tests/acceptance/features/apiShareManagement/disableSharing.feature
  tests/acceptance/features/apiShareManagement/mergeShare.feature
  tests/acceptance/features/apiShareManagement/moveReceivedShare.feature
  tests/acceptance/features/apiShareManagement/multilinksharing.feature
  tests/acceptance/features/apiShareManagement/reShare.feature
  tests/acceptance/features/apiShareManagement/updateShare.feature
  tests/acceptance/features/apiShareOperations/accessToShare.feature
  tests/acceptance/features/apiShareOperations/changingFilesShare.feature
  tests/acceptance/features/apiShareOperations/downloadFromShare.feature
  tests/acceptance/features/apiShareOperations/getWebDAVSharePermissions.feature
  tests/acceptance/features/apiShareOperations/gettingShares.feature
  tests/acceptance/features/apiShareOperations/uploadToShare.feature
  tests/acceptance/features/apiWebdavOperations/deleteFile.feature
  tests/acceptance/features/apiWebdavOperations/deleteFolder.feature
  tests/acceptance/features/apiWebdavOperations/deleteFolderContents.feature
  tests/acceptance/features/apiWebdavOperations/downloadFile.feature
  tests/acceptance/features/apiWebdavOperations/refuseAccess.feature
  tests/acceptance/features/apiWebdavOperations/uploadFile.feature
  tests/acceptance/features/apiWebdavOperations/uploadFileUsingNewChunking.feature
  tests/acceptance/features/apiWebdavOperations/uploadFileUsingOldChunking.feature
  tests/acceptance/features/apiWebdavProperties/copyFile.feature
  tests/acceptance/features/apiWebdavProperties/createFolder.feature
  tests/acceptance/features/apiWebdavProperties/getFileProperties.feature
  tests/acceptance/features/apiWebdavProperties/getQuota.feature
  tests/acceptance/features/apiWebdavProperties/moveFile.feature
  tests/acceptance/features/apiWebdavProperties/moveFolder.feature
  tests/acceptance/features/apiWebdavProperties/setFileProperties.feature
Labels: 3 - To Review, dev:acceptance-tests

#32379 Make more acceptance test methods public
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/CommandLine.php
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 3 - To Review, dev:acceptance-tests

#32380 [stable10] Make more acceptance test methods public
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/CommandLine.php
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 3 - To Review, dev:acceptance-tests

#32378 Small fixes in acceptance tests
  tests/acceptance/features/apiShareManagement/acceptShares.feature
  tests/acceptance/features/webUIPersonalSettings/changeOwnEmailAddress.feature
Labels: 3 - To Review, backport-request, dev:acceptance-tests

#32377 With objectstore, scan from sourcescanner for shared files
  apps/files_sharing/lib/Scanner.php
Labels: 3 - To Review, technical debt

#32386 [stable10] Update changelog
  CHANGELOG.md
Labels: 3 - To Review

#32360 [stable10] Verify checksum fixes
  apps/files/lib/Command/VerifyChecksums.php
  apps/files/tests/Command/VerifyChecksumsTest.php
Labels: 3 - To Review, Effort: 1d, bug

#32336 Style of acceptance test string concatenation
  tests/acceptance/features/bootstrap/AppManagementContext.php
  tests/acceptance/features/bootstrap/Auth.php
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/CalDavContext.php
  tests/acceptance/features/bootstrap/CapabilitiesContext.php
  tests/acceptance/features/bootstrap/CardDavContext.php
  tests/acceptance/features/bootstrap/Checksums.php
  tests/acceptance/features/bootstrap/CommandLine.php
  tests/acceptance/features/bootstrap/Comments.php
  tests/acceptance/features/bootstrap/Logging.php
  tests/acceptance/features/bootstrap/NotificationsCoreContext.php
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/bootstrap/ShareesContext.php
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/bootstrap/Tags.php
  tests/acceptance/features/bootstrap/Trashbin.php
  tests/acceptance/features/bootstrap/WebDav.php
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/AdminSharingSettingsPage.php
  tests/acceptance/features/lib/FilesPage.php
  tests/acceptance/features/lib/FilesPageBasic.php
  tests/acceptance/features/lib/FilesPageElement/FileActionsMenu.php
  tests/acceptance/features/lib/FilesPageElement/FileRow.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialog.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialogElement/EditPublicLinkPopup.php
  tests/acceptance/features/lib/LoginPage.php
  tests/acceptance/features/lib/Notification.php
  tests/acceptance/features/lib/NotificationsAppDialog.php
  tests/acceptance/features/lib/NotificationsEnabledOwncloudPage.php
  tests/acceptance/features/lib/OwncloudPage.php
  tests/acceptance/features/lib/OwncloudPageElement/OCDialog.php
  tests/acceptance/features/lib/PublicLinkFilesPage.php
  tests/acceptance/features/lib/SharedWithYouPage.php
Labels: 3 - To Review, backport-request, dev:acceptance-tests

#30092 throw ServerUnavailable exception with unexpected SMB errors
  apps/files_external/lib/Lib/Storage/SMB.php
Labels: 3 - To Review, backport-request, p3-medium

#32393 [stable10] Style of acceptance test string concatenation
  tests/acceptance/features/bootstrap/AppManagementContext.php
  tests/acceptance/features/bootstrap/Auth.php
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/CalDavContext.php
  tests/acceptance/features/bootstrap/CapabilitiesContext.php
  tests/acceptance/features/bootstrap/CardDavContext.php
  tests/acceptance/features/bootstrap/Checksums.php
  tests/acceptance/features/bootstrap/CommandLine.php
  tests/acceptance/features/bootstrap/Comments.php
  tests/acceptance/features/bootstrap/Logging.php
  tests/acceptance/features/bootstrap/NotificationsCoreContext.php
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/bootstrap/ShareesContext.php
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/bootstrap/Tags.php
  tests/acceptance/features/bootstrap/Trashbin.php
  tests/acceptance/features/bootstrap/WebDav.php
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/AdminSharingSettingsPage.php
  tests/acceptance/features/lib/FilesPage.php
  tests/acceptance/features/lib/FilesPageBasic.php
  tests/acceptance/features/lib/FilesPageElement/FileActionsMenu.php
  tests/acceptance/features/lib/FilesPageElement/FileRow.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialog.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialogElement/EditPublicLinkPopup.php
  tests/acceptance/features/lib/LoginPage.php
  tests/acceptance/features/lib/Notification.php
  tests/acceptance/features/lib/NotificationsAppDialog.php
  tests/acceptance/features/lib/NotificationsEnabledOwncloudPage.php
  tests/acceptance/features/lib/OwncloudPage.php
  tests/acceptance/features/lib/OwncloudPageElement/OCDialog.php
  tests/acceptance/features/lib/PublicLinkFilesPage.php
  tests/acceptance/features/lib/SharedWithYouPage.php
Labels: 3 - To Review, dev:acceptance-tests

#32396 [stable10] skip a test on encryption that is known to fail
  tests/acceptance/features/apiShareManagement/createShare.feature
Labels: 3 - To Review, dev:acceptance-tests

#32407 don't crash on filescan where folder has symlink
  lib/private/Files/Cache/Scanner.php
Labels: 3 - To Review, backport-request

#32404 [stable10] use the core exception logger functionality
  cron.php
Labels: 3 - To Review

#32384 Use createPositionalParameter()
  apps/files_sharing/lib/Command/CleanupRemoteStorages.php
  lib/private/Files/Type/Loader.php
  lib/private/SystemTag/SystemTagManager.php
  lib/private/User/AccountMapper.php
Labels: 3 - To Review, backport-request

#32412 [stable10] Use createPositionalParameter() - see https://github.com/o…
  apps/files_sharing/lib/Command/CleanupRemoteStorages.php
  lib/private/Files/Type/Loader.php
  lib/private/SystemTag/SystemTagManager.php
  lib/private/User/AccountMapper.php
Labels: 4 - To release

#32408 [stable10] don't crash on filescan where folder has symlink (#32407)
  lib/private/Files/Cache/Scanner.php
Labels: 3 - To Review

#32410 install testing app for federation server in CI tests
  .drone.yml
Labels: 3 - To Review, dev:acceptance-tests

#32411 [stable10] install testing app for federation server in CI tests
  .drone.yml
Labels: 3 - To Review, dev:acceptance-tests

#32415 skip unstable test on LDAP
  tests/acceptance/features/apiShareManagement/mergeShare.feature
Labels: 3 - To Review, backport-request, dev:acceptance-tests

#32422 Revert "install testing app for federation server in CI tests"
  .drone.yml
Labels: 3 - To Review, dev:acceptance-tests

#32423 Revert "[stable10] install testing app for federation server in CI tests"
  .drone.yml
Labels: 3 - To Review, dev:acceptance-tests

#32416 [stable10] Smb unexpected errors stable10
  apps/files_external/lib/Lib/Storage/SMB.php
Labels: 3 - To Review

#31651 Introduce persistent and explicit locking of file and folders
  .drone.yml
  .travis.yml
  apps/dav/lib/Connector/Sabre/FakeLockerPlugin.php
  apps/dav/lib/Connector/Sabre/LockPlugin.php
  apps/dav/lib/Connector/Sabre/Node.php
  apps/dav/lib/Connector/Sabre/ServerFactory.php
  apps/dav/lib/Files/FileLocksBackend.php
  apps/dav/lib/Server.php
  apps/dav/tests/ci/litmus-v1/install.sh
  apps/dav/tests/ci/litmus-v1/script.sh
  apps/dav/tests/ci/litmus-v2/install.sh
  apps/dav/tests/ci/litmus-v2/script.sh
  apps/dav/tests/unit/Connector/Sabre/FakeLockerPluginTest.php
  apps/dav/tests/unit/DAV/LockPluginTest.php
  apps/dav/tests/unit/Files/FileLocksBackendTest.php
  apps/files/appinfo/info.xml
  apps/files/lib/BackgroundJob/CleanupPersistentFileLocks.php
  apps/files/tests/BackgroundJob/CleanupPersistentFileLocksTest.php
  apps/files_sharing/lib/SharedStorage.php
  core/Migrations/Version20180607072706.php
  lib/private/Files/Storage/Common.php
  lib/private/Files/Storage/Wrapper/Wrapper.php
  lib/private/Lock/Persistent/Lock.php
  lib/private/Lock/Persistent/LockManager.php
  lib/private/Lock/Persistent/LockMapper.php
  lib/private/Server.php
  lib/private/User/RemoteUser.php
  lib/private/User/User.php
  lib/public/Files/Storage/IPersistentLockingStorage.php
  lib/public/IUser.php
  lib/public/Lock/Persistent/ILock.php
  tests/Core/Command/Apps/AppsListTest.php
  tests/lib/Files/Storage/LockingTests.php
  tests/lib/Files/Storage/Wrapper/WrapperTest.php
  tests/lib/Lock/Persistent/LockManagerTest.php
  tests/lib/Lock/Persistent/LockMapperTest.php
Labels: 3 - To Review

#32418 gitignore the testing app - it is no longer in core
  .gitignore
Labels: 3 - To Review

#32420 Remove core references to apps/testing that are no longer relevant
  Makefile
  build/license.php
  tests/phpunit-autotest.xml
Labels: 3 - To Review

#32421 [stable10] Remove core references to apps/testing that are no longer relevant
  Makefile
  build/license.php
  tests/phpunit-autotest.xml
Labels: 3 - To Review

#32419 [stable10] gitignore the testing app - it is no longer in core
  .gitignore
Labels: 3 - To Review

#32403 Fix not allowed to share message
  core/js/sharedialogview.js
Labels: 3 - To Review

#32399 adjust badges on core readme [SKIP CI]
  README.md
Labels: 3 - To Review, backport-request

#32402 Update php doc to reflect proper return type
  lib/public/IConfig.php
Labels: backport-request

#32427 [stable10] Update php doc to reflect proper return type
  lib/public/IConfig.php
Labels: 4 - To release

#32429 [stable10] Fix not allowed to share message
  core/js/sharedialogview.js
Labels: 3 - To Review

#32430 API acceptance tests for slash in group name
  tests/acceptance/features/apiProvisioning-v1/addGroup.feature
  tests/acceptance/features/apiProvisioning-v1/addToGroup.feature
  tests/acceptance/features/apiProvisioning-v1/deleteGroup.feature
  tests/acceptance/features/apiProvisioning-v1/getUserGroups.feature
  tests/acceptance/features/apiProvisioning-v1/removeFromGroup.feature
  tests/acceptance/features/apiProvisioning-v2/addGroup.feature
  tests/acceptance/features/apiProvisioning-v2/addToGroup.feature
  tests/acceptance/features/apiProvisioning-v2/deleteGroup.feature
  tests/acceptance/features/apiProvisioning-v2/getUserGroups.feature
  tests/acceptance/features/apiProvisioning-v2/removeFromGroup.feature
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32431 [stable10] API acceptance tests for slash in group name
  tests/acceptance/features/apiProvisioning-v1/addGroup.feature
  tests/acceptance/features/apiProvisioning-v1/addToGroup.feature
  tests/acceptance/features/apiProvisioning-v1/deleteGroup.feature
  tests/acceptance/features/apiProvisioning-v1/getUserGroups.feature
  tests/acceptance/features/apiProvisioning-v1/removeFromGroup.feature
  tests/acceptance/features/apiProvisioning-v2/addGroup.feature
  tests/acceptance/features/apiProvisioning-v2/addToGroup.feature
  tests/acceptance/features/apiProvisioning-v2/deleteGroup.feature
  tests/acceptance/features/apiProvisioning-v2/getUserGroups.feature
  tests/acceptance/features/apiProvisioning-v2/removeFromGroup.feature
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 3 - To Review, dev:acceptance-tests

#32432 [stable10] Acceptance tests for issue 31870 share auto-accept for groups
  tests/acceptance/features/apiSharingNotifications/sharingNotifications.feature
Labels: 3 - To Review, dev:acceptance-tests

#32390 [stable10] acceptance test fixes
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiShareManagement/acceptShares.feature
  tests/acceptance/features/bootstrap/WebUIPersonalGeneralSettingsContext.php
  tests/acceptance/features/lib/PersonalGeneralSettingsPage.php
  tests/acceptance/features/webUIPersonalSettings/changeOwnEmailAddress.feature
  tests/acceptance/features/webUIPersonalSettings/changeOwnFullName.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32433 fix email address change tests
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/WebUIPersonalGeneralSettingsContext.php
  tests/acceptance/features/webUIPersonalSettings/changeOwnEmailAddress.feature
Labels: 3 - To Review, dev:acceptance-tests

#31913 Acceptance tests for issue 31870 share auto-accept for groups
  tests/acceptance/features/apiSharingNotifications/sharingNotifications.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#32441 skipOnLDAP test scenarios that add a user to a group
  tests/acceptance/features/apiSharingNotifications/sharingNotifications.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32442 [stable10] skipOnLDAP test scenarios that add a user to a group
  tests/acceptance/features/apiSharingNotifications/sharingNotifications.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32443 Be consistent in acceptance test steps 'when the administrator'
  tests/acceptance/features/apiMain/status.feature
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/WebUIAdminAppsSettingsContext.php
  tests/acceptance/features/bootstrap/WebUIAdminSharingSettingsContext.php
  tests/acceptance/features/webUIAdminSettings/adminAppsSettings.feature
  tests/acceptance/features/webUIAdminSettings/adminSharingSettings.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32444 [stable10] Be consistent in acceptance test steps 'when the administrator'
  tests/acceptance/features/apiMain/status.feature
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/WebUIAdminAppsSettingsContext.php
  tests/acceptance/features/bootstrap/WebUIAdminSharingSettingsContext.php
  tests/acceptance/features/bootstrap/WebUIUsersContext.php
  tests/acceptance/features/webUIAdminSettings/adminAppsSettings.feature
  tests/acceptance/features/webUIAdminSettings/adminSharingSettings.feature
  tests/acceptance/features/webUIManageUsersGroups/disableUsers.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32445 Allow control of acceptance tests by more env vars
  tests/acceptance/run.sh
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#32447 allow a @When step also be used as @Given step in acceptance tests
  tests/acceptance/features/bootstrap/BasicStructure.php
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#32448 Helper methods for deleting app config settings
  tests/TestHelpers/AppConfigHelper.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests
