Repository owncloud/core, pull requests merged in 2018-05, with the labels that each got.

#31317 [stable10] API acceptance add group name combinations
  tests/acceptance/features/apiProvisioning-v1/addToGroup.feature
  tests/acceptance/features/apiProvisioning-v1/deleteGroup.feature
  tests/acceptance/features/apiProvisioning-v1/getUserGroups.feature
  tests/acceptance/features/apiProvisioning-v1/removeFromGroup.feature
  tests/acceptance/features/apiProvisioning-v2/addToGroup.feature
  tests/acceptance/features/apiProvisioning-v2/deleteGroup.feature
  tests/acceptance/features/apiProvisioning-v2/getUserGroups.feature
  tests/acceptance/features/apiProvisioning-v2/removeFromGroup.feature
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/bootstrap/WebUIPersonalSecuritySettingsContext.php
Labels: 3 - To Review, dev:acceptance-tests

#31318 Always use admin credentials in API acceptance test steps that need them
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 3 - To Review, dev:acceptance-tests

#31319 [stable10] Always use admin credentials in API acceptance test steps that need them
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 3 - To Review, dev:acceptance-tests

#31323 [stable10] Correct addGroup.feature and add new text cases to other group tests
  tests/acceptance/features/apiProvisioning-v1/addGroup.feature
  tests/acceptance/features/apiProvisioning-v1/addToGroup.feature
  tests/acceptance/features/apiProvisioning-v1/deleteGroup.feature
  tests/acceptance/features/apiProvisioning-v1/removeFromGroup.feature
  tests/acceptance/features/apiProvisioning-v2/addGroup.feature
  tests/acceptance/features/apiProvisioning-v2/addToGroup.feature
  tests/acceptance/features/apiProvisioning-v2/deleteGroup.feature
  tests/acceptance/features/apiProvisioning-v2/removeFromGroup.feature
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 3 - To Review, dev:acceptance-tests

#31278 Change visibility of php variables and functions
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/FilesPageElement/FileActionsMenu.php
  tests/acceptance/features/lib/FilesPageElement/FileRow.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialog.php
  tests/acceptance/features/lib/LoginPage.php
  tests/acceptance/features/lib/OwncloudPageElement/SettingsMenu.php
  tests/acceptance/features/webUITrashbin/restore.feature
Labels: 3 - To Review, backport-request, dev:acceptance-tests

#31315 API test for addUser
  tests/acceptance/features/apiProvisioning-v1/addUser.feature
  tests/acceptance/features/apiProvisioning-v2/addUser.feature
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 3 - To Review, backport-request, dev:acceptance-tests

#31328 API test for deleteGroup
  tests/acceptance/features/apiProvisioning-v1/deleteGroup.feature
  tests/acceptance/features/apiProvisioning-v2/deleteGroup.feature
Labels: 3 - To Review, backport-request, dev:acceptance-tests

#31327 API test for createSubAdmin
  tests/acceptance/features/apiProvisioning-v1/createSubAdmin.feature
  tests/acceptance/features/apiProvisioning-v2/createSubAdmin.feature
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 3 - To Review, backport-request, dev:acceptance-tests

#31333 [Stable10] api test delete user
  tests/TestHelpers/UserHelper.php
  tests/acceptance/features/apiProvisioning-v1/deleteUser.feature
  tests/acceptance/features/apiProvisioning-v2/deleteUser.feature
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 3 - To Review, dev:acceptance-tests

#31331 API test for deleteUser
  tests/TestHelpers/UserHelper.php
  tests/acceptance/features/apiProvisioning-v1/deleteUser.feature
  tests/acceptance/features/apiProvisioning-v2/deleteUser.feature
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 3 - To Review, dev:acceptance-tests

#31330 Execute unit tests with postgre:10.3 as well
  .drone.yml
Labels: 3 - To Review

#31339 API acceptance tests deduce suite from feature
  tests/acceptance/run.sh
Labels: 3 - To Review, dev:acceptance-tests

#31340 [stable10] API acceptance tests deduce suite from feature
  tests/acceptance/run.sh
Labels: 3 - To Review, dev:acceptance-tests

#31341 changes to the acceptance tests needed for oauth tests
  tests/TestHelpers/WebDavHelper.php
Labels: 3 - To Review, dev:acceptance-tests

#31344 [stable10] make it possible to use Bearer Auth for dav requests
  tests/TestHelpers/WebDavHelper.php
Labels: 3 - To Review, dev:acceptance-tests

#31298 make attributes to list configurable, add verbose option
  core/Command/User/ListUsers.php
  tests/Core/Command/User/ListUsersTest.php
Labels: 3 - To Review, comp:console-occ, enhancement, p3-medium

#31351 API test for editUser
  tests/acceptance/features/apiProvisioning-v1/editUser.feature
  tests/acceptance/features/apiProvisioning-v2/editUser.feature
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 3 - To Review, dev:acceptance-tests

#31354 make sendRequest public and only send token if set
  tests/acceptance/features/bootstrap/Auth.php
Labels: 3 - To Review, backport-request, dev:acceptance-tests

#31356 [stable10] Backport checkAttributesForUser step from PR 30920 to stable10
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 3 - To Review, dev:acceptance-tests

#31358 [stable10] make sendRequest public and only send token if set
  tests/acceptance/features/bootstrap/Auth.php
Labels: 3 - To Review, dev:acceptance-tests

#31359 also try syncing quote from preferences if backend provided no quota
  lib/private/User/SyncService.php
  tests/lib/User/SyncServiceTest.php
Labels: backport-request, bug, p3-medium, sev3-medium

#31353 [Stable10] api test edit user
  tests/acceptance/features/apiProvisioning-v1/editUser.feature
  tests/acceptance/features/apiProvisioning-v2/editUser.feature
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 3 - To Review, dev:acceptance-tests

#31365 API test for getGroup
  tests/acceptance/features/apiProvisioning-v1/getGroup.feature
  tests/acceptance/features/apiProvisioning-v2/getGroup.feature
Labels: 3 - To Review, backport-request, dev:acceptance-tests

#30238 Fix overflowing public link title
  apps/files_sharing/css/sharetabview.css
Labels: 3 - To Review, bug, feature:sharing, p3-medium

#31363 API test for enableApp
  tests/acceptance/features/apiProvisioning-v1/enableApp.feature
  tests/acceptance/features/apiProvisioning-v2/enableApp.feature
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 3 - To Review, backport-request, dev:acceptance-tests

#31368 [Stable10] api test get group
  tests/acceptance/features/apiProvisioning-v1/getGroup.feature
  tests/acceptance/features/apiProvisioning-v2/getGroup.feature
Labels: 3 - To Review, dev:acceptance-tests

#31373 API test for getSubAdmins
  tests/acceptance/features/apiProvisioning-v1/getSubAdmins.feature
  tests/acceptance/features/apiProvisioning-v2/getSubAdmins.feature
Labels: 3 - To Review, dev:acceptance-tests

#31385 API test for getUser
  tests/acceptance/features/apiProvisioning-v1/getUser.feature
  tests/acceptance/features/apiProvisioning-v2/getUser.feature
Labels: 3 - To Review, backport-request, dev:acceptance-tests

#31369 [Stable10] Fix overflowing public share names
  apps/files_sharing/css/sharetabview.css
Labels: 3 - To Review, bug, p3-medium

#31372 Hide iOS app recommendation if no app id is set
  core/templates/layout.guest.php
  core/templates/layout.user.php
Labels: backport-request

#31336 Remove hardcoded DEBUG OUTPUT from OCS endpoint
  lib/private/legacy/api.php
Labels: dev:ocs

#31265 Fix missing exception doc
  lib/private/legacy/template/functions.php
  lib/public/IURLGenerator.php
Labels: 3 - To Review, status/STALE

#31386 API tests for getUserGroups
  tests/acceptance/features/apiProvisioning-v1/getUserGroups.feature
  tests/acceptance/features/apiProvisioning-v2/getUserGroups.feature
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 3 - To Review, backport-request, dev:acceptance-tests

#31389 API test for getUsers
  tests/acceptance/features/apiProvisioning-v1/getUsers.feature
  tests/acceptance/features/apiProvisioning-v2/getUsers.feature
Labels: 3 - To Review, backport-request, dev:acceptance-tests

#31392 [stable10] API tests for getUserGroups
  tests/acceptance/features/apiProvisioning-v1/getUserGroups.feature
  tests/acceptance/features/apiProvisioning-v2/getUserGroups.feature
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 3 - To Review, dev:acceptance-tests

#31393 [stable10] API test for getUsers
  tests/acceptance/features/apiProvisioning-v1/getUsers.feature
  tests/acceptance/features/apiProvisioning-v2/getUsers.feature
Labels: 3 - To Review, dev:acceptance-tests

#31391 API test for removeFromGroup
  tests/acceptance/features/apiProvisioning-v1/removeFromGroup.feature
  tests/acceptance/features/apiProvisioning-v2/removeFromGroup.feature
Labels: 3 - To Review, backport-request, dev:acceptance-tests

#31390 API test for removeSubAdmin
  tests/acceptance/features/apiProvisioning-v1/removeSubAdmin.feature
  tests/acceptance/features/apiProvisioning-v2/removeSubAdmin.feature
Labels: 3 - To Review, dev:acceptance-tests

#31395 [Stable10] api test remove from group
  tests/acceptance/features/apiProvisioning-v1/removeFromGroup.feature
  tests/acceptance/features/apiProvisioning-v2/removeFromGroup.feature
Labels: 3 - To Review, dev:acceptance-tests

#31396 [Stable10] api test remove sub admin
  tests/acceptance/features/apiProvisioning-v1/removeSubAdmin.feature
  tests/acceptance/features/apiProvisioning-v2/removeSubAdmin.feature
Labels: 3 - To Review, dev:acceptance-tests

#31397 [stable10] Hide iOS app recommendation if no app id is set
  core/templates/layout.guest.php
  core/templates/layout.user.php
Labels: 3 - To Review

#31387 [Stable10] api test get user
  tests/acceptance/features/apiProvisioning-v1/getUser.feature
  tests/acceptance/features/apiProvisioning-v2/getUser.feature
Labels: 3 - To Review, dev:acceptance-tests

#26672 fix ILIKE REGEXP workaround on oracle
  lib/private/DB/AdapterOCI8.php
  lib/private/DB/QueryBuilder/ExpressionBuilder/OCIExpressionBuilder.php
  tests/lib/Files/Cache/CacheTest.php
Labels: 3 - To Review, bug, db:oracle, p3-medium

#30674 correctly handle exceptions for getByUid, properly cache not existing user
  lib/private/User/Manager.php
  tests/lib/User/ManagerTest.php
Labels: 3 - To Review, backport-request, blue-ticket, p3-medium, performance

#31401 API test for apiProvisioningUsingAppPassword
  tests/acceptance/features/apiProvisioning-v1/apiProvisioningUsingAppPassword.feature
  tests/acceptance/features/apiProvisioning-v2/apiProvisioningUsingAppPassword.feature
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 3 - To Review, backport-request, dev:acceptance-tests

#31408 Add scenario result to webUI test output
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
Labels: 3 - To Review, dev:acceptance-tests

#31409 [stable10] Add scenario result to webUI test output
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
Labels: 3 - To Review, dev:acceptance-tests

#31413 [stable10] API test for apiProvisioningUsingAppPassword
  tests/acceptance/features/apiProvisioning-v1/apiProvisioningUsingAppPassword.feature
  tests/acceptance/features/apiProvisioning-v2/apiProvisioningUsingAppPassword.feature
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: dev:acceptance-tests

#31414 [Stable10] api test check responses
  tests/acceptance/features/apiProvisioning-v1/addGroup.feature
  tests/acceptance/features/apiProvisioning-v1/addToGroup.feature
  tests/acceptance/features/apiProvisioning-v1/addUser.feature
  tests/acceptance/features/apiProvisioning-v1/createSubAdmin.feature
  tests/acceptance/features/apiProvisioning-v1/deleteGroup.feature
  tests/acceptance/features/apiProvisioning-v1/disableUser.feature
  tests/acceptance/features/apiProvisioning-v1/enableUser.feature
  tests/acceptance/features/apiProvisioning-v1/getAppInfo.feature
  tests/acceptance/features/apiProvisioning-v1/getApps.feature
  tests/acceptance/features/apiProvisioning-v1/getGroup.feature
  tests/acceptance/features/apiProvisioning-v1/getGroups.feature
  tests/acceptance/features/apiProvisioning-v1/getSubAdminGroups.feature
  tests/acceptance/features/apiProvisioning-v1/getSubAdmins.feature
  tests/acceptance/features/apiProvisioning-v1/getUser.feature
  tests/acceptance/features/apiProvisioning-v1/getUserGroups.feature
  tests/acceptance/features/apiProvisioning-v1/getUsers.feature
  tests/acceptance/features/apiProvisioning-v1/removeFromGroup.feature
  tests/acceptance/features/apiProvisioning-v1/removeSubAdmin.feature
  tests/acceptance/features/apiProvisioning-v2/addGroup.feature
  tests/acceptance/features/apiProvisioning-v2/addToGroup.feature
  tests/acceptance/features/apiProvisioning-v2/addUser.feature
  tests/acceptance/features/apiProvisioning-v2/createSubAdmin.feature
  tests/acceptance/features/apiProvisioning-v2/deleteGroup.feature
  tests/acceptance/features/apiProvisioning-v2/disableUser.feature
  tests/acceptance/features/apiProvisioning-v2/enableUser.feature
  tests/acceptance/features/apiProvisioning-v2/getAppInfo.feature
  tests/acceptance/features/apiProvisioning-v2/getApps.feature
  tests/acceptance/features/apiProvisioning-v2/getGroup.feature
  tests/acceptance/features/apiProvisioning-v2/getGroups.feature
  tests/acceptance/features/apiProvisioning-v2/getSubAdminGroups.feature
  tests/acceptance/features/apiProvisioning-v2/getSubAdmins.feature
  tests/acceptance/features/apiProvisioning-v2/getUser.feature
  tests/acceptance/features/apiProvisioning-v2/getUserGroups.feature
  tests/acceptance/features/apiProvisioning-v2/getUsers.feature
  tests/acceptance/features/apiProvisioning-v2/removeFromGroup.feature
  tests/acceptance/features/apiProvisioning-v2/removeSubAdmin.feature
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: dev:acceptance-tests

#31406 fix double slash in versioning file copy events
  apps/files_versions/lib/Storage.php
Labels: 3 - To Review, app:files_versions, backport-request, enhancement, p3-medium, technical debt

#31412 use index.php when starting browser session
  tests/acceptance/features/bootstrap/Auth.php
Labels: 3 - To Review, dev:acceptance-tests

#31420 [stable10] use index.php when starting browser session
  tests/acceptance/features/bootstrap/Auth.php
Labels: 3 - To Review, dev:acceptance-tests

#31422 Splitting apiSharing feature file into different files
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiSharing-v1/accessToShare.feature
  tests/acceptance/features/apiSharing-v1/changingFilesShare.feature
  tests/acceptance/features/apiSharing-v1/createShare.feature
  tests/acceptance/features/apiSharing-v1/deleteShare.feature
  tests/acceptance/features/apiSharing-v1/downloadFromShare.feature
  tests/acceptance/features/apiSharing-v1/getWebDAVSharePermissions.feature
  tests/acceptance/features/apiSharing-v1/gettingShares.feature
  tests/acceptance/features/apiSharing-v1/mergeShare.feature
  tests/acceptance/features/apiSharing-v1/moveReceivedShare.feature
  tests/acceptance/features/apiSharing-v1/multilinksharing.feature
  tests/acceptance/features/apiSharing-v1/reShare.feature
  tests/acceptance/features/apiSharing-v1/updateShare.feature
  tests/acceptance/features/apiSharing-v1/uploadToShare.feature
  tests/acceptance/features/apiSharing/sharing-v1.feature
Labels: 3 - To Review, backport-request, dev:acceptance-tests

#31388 remove symfony/polyfill-php70 - we are on php 7.1 minimum
  composer.json
  composer.lock
Labels: 3 - To Review

#31423 [Stable10] api test api sharing v1
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiSharing-v1/accessToShare.feature
  tests/acceptance/features/apiSharing-v1/changingFilesShare.feature
  tests/acceptance/features/apiSharing-v1/createShare.feature
  tests/acceptance/features/apiSharing-v1/deleteShare.feature
  tests/acceptance/features/apiSharing-v1/downloadFromShare.feature
  tests/acceptance/features/apiSharing-v1/getWebDAVSharePermissions.feature
  tests/acceptance/features/apiSharing-v1/gettingShares.feature
  tests/acceptance/features/apiSharing-v1/mergeShare.feature
  tests/acceptance/features/apiSharing-v1/moveReceivedShare.feature
  tests/acceptance/features/apiSharing-v1/multilinksharing.feature
  tests/acceptance/features/apiSharing-v1/reShare.feature
  tests/acceptance/features/apiSharing-v1/updateShare.feature
  tests/acceptance/features/apiSharing-v1/uploadToShare.feature
  tests/acceptance/features/apiSharing/sharing-v1.feature
Labels: 3 - To Review, dev:acceptance-tests

#31417 symfony 3.4.9 and other little bumps
  composer.lock
Labels: 3 - To Review

#31418 [stable10] symfony 3.4.9 and other little bumps
  composer.lock
Labels: 3 - To Review

#31272 Move caldav tester to drone
  .drone.yml
Labels: 3 - To Review, backport-request, status/STALE

#31343 Remove session token creation for dav requests during loadApps
  lib/private/legacy/app.php
Labels: 3 - To Review, status/STALE

#31209 [master] Use correct expiration variable for link share mail
  core/ajax/share.php
Labels: 3 - To Review, status/STALE

#31434 fix username in acceptance tests
  tests/acceptance/features/apiMain/tokenAuth.feature
Labels: 3 - To Review, backport-request, dev:acceptance-tests

#31435 [stable10] fix username in acceptance tests
  tests/acceptance/features/apiMain/tokenAuth.feature
Labels: 3 - To Review, dev:acceptance-tests

#31436 API test for createShare
  tests/acceptance/features/apiSharing-v1/createShare.feature
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 3 - To Review, backport-request, dev:acceptance-tests

#31337 [stable10] Subadmin shouldn't be able to add users to his group via api
  apps/provisioning_api/lib/Users.php
  apps/provisioning_api/tests/UsersTest.php
  lib/private/legacy/api.php
  tests/acceptance/features/apiProvisioning-v1/addToGroup.feature
  tests/acceptance/features/apiProvisioning-v2/addToGroup.feature
  tests/acceptance/features/apiProvisioning-v2/removeFromGroup.feature
  tests/lib/OCS/MapStatusCodeTest.php
Labels: 3 - To Review

#31439 drop check for build event for running drone exec locally
  .drone.yml
Labels: 3 - To Review

#31441 [stable10] drop check for build event for running drone exec locally
  .drone.yml
Labels: 3 - To Review

#31451 [stable10] Use updated oracle image which supports disabling async io
  .drone.yml
  tests/drone/install-server.sh
Labels: 3 - To Review

#31456 [stable10] API test for createShare
  tests/acceptance/features/apiSharing-v1/createShare.feature
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 3 - To Review, dev:acceptance-tests

#31458 API test for downloadFromShare
  tests/acceptance/features/apiSharing-v1/downloadFromShare.feature
  tests/acceptance/features/bootstrap/Sharing.php
Labels: 3 - To Review, dev:acceptance-tests

#31285 The Great Fix of object store acceptance tests ....
  apps/dav/lib/DAV/CopyPlugin.php
  lib/private/Files/Cache/Propagator.php
  lib/private/Files/ObjectStore/NoopScanner.php
  lib/private/Share20/DefaultShareProvider.php
  lib/private/User/User.php
  lib/private/legacy/util.php
  tests/acceptance/features/apiFederation/federated.feature
  tests/acceptance/features/apiSharing-v1/deleteShare.feature
  tests/acceptance/features/apiSharing-v1/gettingShares.feature
  tests/acceptance/features/apiSharing-v1/mergeShare.feature
  tests/acceptance/features/apiSharing-v1/updateShare.feature
  tests/acceptance/features/apiTrashbin/trashbin-new-endpoint.feature
  tests/acceptance/features/apiTrashbin/trashbin-old-endpoint.feature
  tests/acceptance/features/bootstrap/Trashbin.php
  tests/acceptance/features/bootstrap/WebDav.php
  tests/acceptance/run.sh
Labels: 3 - To Review, backport-request

#31151 Do not load disabled app-themes
  lib/private/Helper/EnvironmentHelper.php
  lib/private/Server.php
  lib/private/Theme/ThemeService.php
  tests/lib/Theme/ThemeServiceTest.php
Labels: 3 - To Review, backport-request, bug, p3-medium

#31444 [master] Subadmin shouldn`t be able to add users to the group(s) he manages
  apps/provisioning_api/lib/Users.php
  apps/provisioning_api/tests/UsersTest.php
  lib/private/legacy/api.php
  tests/acceptance/features/apiProvisioning-v1/addToGroup.feature
  tests/acceptance/features/apiProvisioning-v2/addToGroup.feature
  tests/acceptance/features/apiProvisioning-v2/removeFromGroup.feature
  tests/lib/OCS/MapStatusCodeTest.php
Labels: 3 - To Review

#31471 webUI tests add all-suites and norerun options
  tests/travis/start_ui_tests.sh
Labels: 3 - To Review, dev:acceptance-tests

#31472 [stable10] webUI tests add all-suites and norerun options
  tests/travis/start_ui_tests.sh
Labels: 3 - To Review, dev:acceptance-tests

#31473 Add login of test user to enforce storage creation
  tests/acceptance/features/apiSharing-v1/updateShare.feature
  tests/lib/Repair/RemoveRootSharesTest.php
Labels: 3 - To Review

#31468 Save timezone as given during login
  core/Controller/LoginController.php
  tests/Core/Controller/LoginControllerTest.php
Labels: 3 - To Review, backport-request

#31449 [stable10] Update verify checksums console output to flow more naturally
  apps/files/lib/Command/VerifyChecksums.php
Labels: 3 - To Review

#31447 [stable10] The example theme now lives in https://github.com/owncloud/theme-example
  apps/theme-example/appinfo/info.xml
  apps/theme-example/core/css/styles.css
  apps/theme-example/core/img/favicon-touch.png
  apps/theme-example/core/img/favicon-touch.svg
  apps/theme-example/core/img/favicon.ico
  apps/theme-example/core/img/favicon.png
  apps/theme-example/core/img/favicon.svg
  apps/theme-example/core/img/logo-icon.png
  apps/theme-example/core/img/logo-icon.svg
  apps/theme-example/core/img/logo-mail.gif
  apps/theme-example/core/img/logo.png
  apps/theme-example/core/img/logo.svg
  apps/theme-example/defaults.php
Labels: 3 - To Review, enhancement

#31446 [stable10] correctly handle exceptions for getByUid, properly cache not existing…
  lib/private/User/Manager.php
  tests/lib/User/ManagerTest.php
Labels: 3 - To Review, performance

#31445 [stable10] accountMapper either returns an object or throws an exception
  lib/private/User/Manager.php
  tests/lib/User/ManagerTest.php
Labels: 3 - To Review

#31093 Keep fileId for deleted Items in a separate cache
  apps/dav/lib/Connector/Sabre/ServerFactory.php
  apps/dav/lib/DAV/FileCustomPropertiesBackend.php
  apps/dav/lib/DAV/FileCustomPropertiesPlugin.php
  apps/dav/lib/Server.php
  apps/dav/tests/unit/DAV/FileCustomPropertiesBackendTest.php
Labels: 3 - To Review, blue-ticket, bug, p2-high

#31405 group principals are now verified as well when sharing…
  apps/dav/appinfo/v1/caldav.php
  apps/dav/appinfo/v1/carddav.php
  apps/dav/lib/CalDAV/CalDavBackend.php
  apps/dav/lib/CardDAV/CardDavBackend.php
  apps/dav/lib/Command/CreateCalendar.php
  apps/dav/lib/DAV/GroupPrincipalBackend.php
  apps/dav/lib/DAV/Sharing/Backend.php
  apps/dav/lib/RootCollection.php
  apps/dav/tests/unit/CalDAV/AbstractCalDavBackendTest.php
  apps/dav/tests/unit/CalDAV/PublicCalendarRootTest.php
  apps/dav/tests/unit/CardDAV/CardDavBackendTest.php
  apps/dav/tests/unit/DAV/GroupPrincipalTest.php
Labels: 3 - To Review, backport-request, bug, regression

#31489 Fix php doc so that hasAnnotation works properly
  settings/Controller/UsersController.php
Labels: 3 - To Review

#31494 Split public password enforced capabilities into read-only, read_writ…
  apps/files_sharing/lib/Capabilities.php
  apps/files_sharing/tests/ApiTest.php
  apps/files_sharing/tests/CapabilitiesTest.php
  tests/acceptance/features/apiCapabilities/capabilities.feature
  tests/acceptance/features/bootstrap/CapabilitiesContext.php
Labels: 3 - To Review

#31499 [stable10] Split public password enforced capabilities into read-only, read_writ…
  apps/files_sharing/lib/Capabilities.php
  apps/files_sharing/tests/ApiTest.php
  apps/files_sharing/tests/CapabilitiesTest.php
  tests/acceptance/features/apiCapabilities/capabilities.feature
  tests/acceptance/features/bootstrap/CapabilitiesContext.php
Labels: 3 - To Review

#31495 Add API test for creating a public read-write share of a file
  tests/acceptance/features/apiSharing-v1/createShare.feature
Labels: 3 - To Review, dev:acceptance-tests

#31504 [stable10] Add API test for creating a public read-write share of a file
  tests/acceptance/features/apiSharing-v1/createShare.feature
Labels: 3 - To Review, dev:acceptance-tests

#31500 Refactor acceptance test scripts
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/webUIMoveFilesFolders/moveFiles.feature
  tests/acceptance/features/webUIMoveFilesFolders/moveFolders.feature
  tests/acceptance/run.sh
  tests/travis/start_ui_tests.sh
Labels: 3 - To Review, dev:acceptance-tests

#31502 [stable10] Refactor acceptance test scripts
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/webUIMoveFilesFolders/moveFiles.feature
  tests/acceptance/features/webUIMoveFilesFolders/moveFolders.feature
  tests/acceptance/run.sh
  tests/travis/start_ui_tests.sh
Labels: 3 - To Review, dev:acceptance-tests

#31498 Move select2 lib to core
  apps/systemtags/appinfo/app.php
  lib/private/legacy/template.php
Labels: 3 - To Review, backport-request, bug, comp:core-js, p2-high

#31452 [stable10] fix double slash in versioning file copy events
  apps/files_versions/lib/Storage.php
Labels: 3 - To Review, app:files_versions, enhancement, technical debt

#31477 [stable10] Preliminary changelog 10.0.9
  CHANGELOG.md
Labels: 3 - To Review

#31511 Put {} around remaining vars were they are missing
  tests/travis/start_ui_tests.sh
Labels: 3 - To Review, dev:acceptance-tests

#31512 [stable10] Put {} around remaining vars were they are missing
  tests/travis/start_ui_tests.sh
Labels: 3 - To Review, dev:acceptance-tests

#31516 Acceptance test coding standard changes
  tests/acceptance/features/bootstrap/AppConfiguration.php
  tests/acceptance/features/bootstrap/AppManagementContext.php
  tests/acceptance/features/bootstrap/Auth.php
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/CalDavContext.php
  tests/acceptance/features/bootstrap/CapabilitiesContext.php
  tests/acceptance/features/bootstrap/CardDavContext.php
  tests/acceptance/features/bootstrap/Checksums.php
  tests/acceptance/features/bootstrap/CommandLine.php
  tests/acceptance/features/bootstrap/Comments.php
  tests/acceptance/features/bootstrap/FederationContext.php
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/bootstrap/Tags.php
  tests/acceptance/features/bootstrap/Trashbin.php
  tests/acceptance/features/bootstrap/WebDav.php
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
  tests/acceptance/features/bootstrap/WebUILoginContext.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/DisabledUserPage.php
  tests/acceptance/features/lib/FilesPage.php
  tests/acceptance/features/lib/FilesPageBasic.php
  tests/acceptance/features/lib/FilesPageElement/FileRow.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialog.php
  tests/acceptance/features/lib/OwncloudPageElement/OCDialog.php
Labels: 3 - To Review, backport-request, dev:acceptance-tests

#31517 [stable10] Acceptance test coding standard changes
  tests/acceptance/features/bootstrap/AppConfiguration.php
  tests/acceptance/features/bootstrap/AppManagementContext.php
  tests/acceptance/features/bootstrap/Auth.php
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/CalDavContext.php
  tests/acceptance/features/bootstrap/CapabilitiesContext.php
  tests/acceptance/features/bootstrap/CardDavContext.php
  tests/acceptance/features/bootstrap/Checksums.php
  tests/acceptance/features/bootstrap/CommandLine.php
  tests/acceptance/features/bootstrap/Comments.php
  tests/acceptance/features/bootstrap/FederationContext.php
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/bootstrap/Tags.php
  tests/acceptance/features/bootstrap/WebDav.php
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
  tests/acceptance/features/bootstrap/WebUILoginContext.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/FilesPage.php
  tests/acceptance/features/lib/FilesPageBasic.php
  tests/acceptance/features/lib/FilesPageElement/FileRow.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialog.php
  tests/acceptance/features/lib/OwncloudPageElement/OCDialog.php
Labels: 3 - To Review, dev:acceptance-tests

#31527 Detune testStat storage mtime test
  tests/lib/Files/Storage/Storage.php
Labels: 3 - To Review, backport-request, dev:phpunit-tests

#31469 API test for uploadToShare
  tests/TestHelpers/WebDavHelper.php
  tests/acceptance/features/apiSharing-v1/uploadToShare.feature
  tests/acceptance/features/bootstrap/Sharing.php
Labels: 3 - To Review, dev:acceptance-tests

#31528 [stable10] Detune testStat storage mtime test
  tests/lib/Files/Storage/Storage.php
Labels: 3 - To Review, dev:phpunit-tests

#31530 [Stable10] api test upload to share
  tests/TestHelpers/WebDavHelper.php
  tests/acceptance/features/apiSharing-v1/uploadToShare.feature
  tests/acceptance/features/bootstrap/Sharing.php
Labels: 3 - To Review, dev:acceptance-tests

#31519 API test for gettingShares
  tests/acceptance/features/apiSharing-v1/gettingShares.feature
Labels: 3 - To Review, dev:acceptance-tests

#31523 Acceptance test refactoring and bug fixes
  tests/acceptance/features/apiMain/carddav.feature
  tests/acceptance/features/apiMain/tags.feature
  tests/acceptance/features/apiProvisioning-v1/getUserGroups.feature
  tests/acceptance/features/apiTrashbin/trashbin-new-endpoint.feature
  tests/acceptance/features/apiTrashbin/trashbin-old-endpoint.feature
  tests/acceptance/features/bootstrap/AppConfiguration.php
  tests/acceptance/features/bootstrap/Auth.php
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/CalDavContext.php
  tests/acceptance/features/bootstrap/CardDavContext.php
  tests/acceptance/features/bootstrap/Checksums.php
  tests/acceptance/features/bootstrap/CommandLine.php
  tests/acceptance/features/bootstrap/Comments.php
  tests/acceptance/features/bootstrap/EmailContext.php
  tests/acceptance/features/bootstrap/Logging.php
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/bootstrap/ShareesContext.php
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/bootstrap/Tags.php
  tests/acceptance/features/bootstrap/Trashbin.php
  tests/acceptance/features/bootstrap/WebDav.php
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
  tests/acceptance/features/bootstrap/WebUILoginContext.php
  tests/acceptance/features/bootstrap/WebUIPersonalGeneralSettingsContext.php
  tests/acceptance/features/bootstrap/WebUIPersonalSecuritySettingsContext.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/FilesPage.php
  tests/acceptance/features/lib/FilesPageElement/FileActionsMenu.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialogElement/EditPublicLinkPopup.php
  tests/acceptance/features/lib/OwncloudPageElement/OCDialog.php
  tests/acceptance/features/lib/PublicLinkFilesPage.php
Labels: 3 - To Review, backport-request, dev:acceptance-tests

#31159 Improve text in settings/personal App Password
  settings/templates/panels/personal/tokens.php
Labels: 3 - To Review

#31539 [stable10] Improve text in settings/personal App Password
  settings/templates/panels/personal/tokens.php
Labels: 4 - To release

#31545 API test for moveReceivedShare
  tests/acceptance/features/apiSharing-v1/moveReceivedShare.feature
Labels: 3 - To Review, backport-request, dev:acceptance-tests

#31543 [stable10] API test for gettingShares
  tests/acceptance/features/apiSharing-v1/gettingShares.feature
Labels: 3 - To Review, dev:acceptance-tests

#31536 [stable10] Acceptance test refactoring and bug fixes
  tests/acceptance/features/apiMain/carddav.feature
  tests/acceptance/features/apiMain/tags.feature
  tests/acceptance/features/apiProvisioning-v1/getUserGroups.feature
  tests/acceptance/features/apiSharing-v1/deleteShare.feature
  tests/acceptance/features/apiTrashbin/trashbin-new-endpoint.feature
  tests/acceptance/features/apiTrashbin/trashbin-old-endpoint.feature
  tests/acceptance/features/bootstrap/AppConfiguration.php
  tests/acceptance/features/bootstrap/Auth.php
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/CalDavContext.php
  tests/acceptance/features/bootstrap/CardDavContext.php
  tests/acceptance/features/bootstrap/Checksums.php
  tests/acceptance/features/bootstrap/CommandLine.php
  tests/acceptance/features/bootstrap/Comments.php
  tests/acceptance/features/bootstrap/EmailContext.php
  tests/acceptance/features/bootstrap/Logging.php
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/bootstrap/ShareesContext.php
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/bootstrap/Tags.php
  tests/acceptance/features/bootstrap/Trashbin.php
  tests/acceptance/features/bootstrap/WebDav.php
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
  tests/acceptance/features/bootstrap/WebUILoginContext.php
  tests/acceptance/features/bootstrap/WebUIPersonalGeneralSettingsContext.php
  tests/acceptance/features/bootstrap/WebUIPersonalSecuritySettingsContext.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/FilesPage.php
  tests/acceptance/features/lib/FilesPageElement/FileActionsMenu.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialogElement/EditPublicLinkPopup.php
  tests/acceptance/features/lib/OwncloudPageElement/OCDialog.php
  tests/acceptance/features/lib/PublicLinkFilesPage.php
Labels: 3 - To Review, dev:acceptance-tests

#31513 Use l10n from settings
  settings/ChangePassword/Controller.php
Labels: 3 - To Review, bug, p3-medium

#31553 [Stable10] Use l10n from settings
  settings/ChangePassword/Controller.php
Labels: 3 - To Review, bug, p3-medium

#31529 API test for deleteShare
  tests/acceptance/features/apiSharing-v1/deleteShare.feature
Labels: 3 - To Review, dev:acceptance-tests

#31534 API test for getWebDAVSharePermissions
  tests/acceptance/features/apiSharing-v1/getWebDAVSharePermissions.feature
Labels: 3 - To Review, dev:acceptance-tests

#31573 [stable10] API test for moveReceivedShare
  tests/acceptance/features/apiSharing-v1/moveReceivedShare.feature
Labels: 3 - To Review, dev:acceptance-tests

#31574 [Stable10] api test delete share
  tests/acceptance/features/apiSharing-v1/deleteShare.feature
Labels: 3 - To Review, dev:acceptance-tests

#31575 [Stable10] api test get web dav share permissions
  tests/acceptance/features/apiSharing-v1/getWebDAVSharePermissions.feature
Labels: 3 - To Review, dev:acceptance-tests

#31551 [Stable10] remove bower symlink
  build/bin/bower
Labels: 3 - To Review

#31370 [stable10] Do not set the password again if it hasn't changed
  lib/private/Share20/Manager.php
  tests/lib/Share20/ManagerTest.php
Labels: 3 - To Review, bug, feature:sharing, regression

#31176 Update public link share in transfer ownership command
  apps/files/lib/Command/TransferOwnership.php
  lib/private/Server.php
  lib/private/Share20/Manager.php
  lib/public/Share/Exceptions/TransferSharesException.php
  lib/public/Share/IManager.php
  tests/lib/Share20/ManagerTest.php
Labels: 3 - To Review

#31467 Symfony events added for login failed and public link accessed
  apps/files_sharing/lib/AppInfo/Application.php
  apps/files_sharing/lib/Controllers/ShareController.php
  apps/files_sharing/tests/Controllers/ShareControllerTest.php
  lib/private/Server.php
  lib/private/User/Session.php
  tests/lib/User/SessionTest.php
Labels: 3 - To Review

#31510 While decrypting userkey prepareEncryptionModules() must be called, keep fileid on decrypt
  lib/private/Encryption/DecryptAll.php
  tests/lib/Encryption/DecryptAllTest.php
Labels: 3 - To Review

#31577 API test for restoring version of shared file
  tests/acceptance/features/apiMain/dav-versions.feature
Labels: 3 - To Review, dev:acceptance-tests

#31587 Fix not-useful capabilities unit tests
  apps/files_sharing/lib/API/Share20OCS.php
  apps/files_sharing/tests/CapabilitiesTest.php
  tests/lib/Share20/ManagerTest.php
Labels: 3 - To Review, dev:phpunit-tests

#31581 [stable10] Move select2 lib to core
  apps/systemtags/appinfo/app.php
  lib/private/legacy/template.php
Labels: 3 - To Review, bug, comp:core-js, p2-high

#31584 [stable10] Symfony events added for login failed and public link acce…
  apps/files_sharing/lib/AppInfo/Application.php
  apps/files_sharing/lib/Controllers/ShareController.php
  apps/files_sharing/tests/Controllers/ShareControllerTest.php
  lib/private/Server.php
  lib/private/User/Session.php
  tests/lib/Share20/ManagerTest.php
  tests/lib/User/SessionTest.php
Labels: 2 - Developing

#31585 Update public link share in transfer ownership command
  apps/files/lib/Command/TransferOwnership.php
  lib/private/Server.php
  lib/private/Share20/Manager.php
  lib/public/Share/Exceptions/TransferSharesException.php
  lib/public/Share/IManager.php
  tests/lib/Share20/ManagerTest.php
Labels: 3 - To Review

#31592 API test for comments
  tests/acceptance/features/apiMain/comments.feature
  tests/acceptance/features/bootstrap/Comments.php
Labels: 3 - To Review, dev:acceptance-tests

#31594 [Stable10] api test comments
  tests/acceptance/features/apiMain/comments.feature
  tests/acceptance/features/bootstrap/Comments.php
Labels: 3 - To Review, dev:acceptance-tests

#31595 fclose the target file, not the object, when skeleton is copied
  lib/private/legacy/util.php
Labels: 3 - To Review, bug

#31601 API test for favorites
  tests/acceptance/features/apiMain/favorites.feature
Labels: 3 - To Review, backport-request, dev:acceptance-tests

#31602 [Stable10] api test favorites
  tests/acceptance/features/apiMain/favorites.feature
Labels: 3 - To Review, dev:acceptance-tests

#31603 use featureContext in all API test suites
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/CapabilitiesContext.php
  tests/acceptance/features/bootstrap/ShareesContext.php
  tests/acceptance/features/bootstrap/Sharing.php
Labels: 3 - To Review, dev:acceptance-tests

#31515 Use the userid obtained from checkPassword after login is validated
  lib/private/User/Session.php
  tests/lib/User/SessionTest.php
Labels: 3 - To Review
