Repository owncloud/core, pull requests merged in 2018-11, with the labels that each got.

#33385 Add reset email tests for cli resetUserPassword test
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/CommandLine.php
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliProvisioning/editUser.feature
  tests/acceptance/features/cliProvisioning/resetUserPassword.feature
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#33388 Move config key steps from testing app to core
  tests/acceptance/features/bootstrap/BasicStructure.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33389 [stable10]Move config key steps from testing app to core
  tests/acceptance/features/bootstrap/BasicStructure.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33381 change file name to something sensible
  tests/acceptance/features/apiMain/fileVersions.feature
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#33322 [stable10] webUI test to check decrypt on user specific keys
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/CommandLine.php
  tests/acceptance/features/bootstrap/WebUIAdminEncryptionSettingsContext.php
  tests/acceptance/features/bootstrap/WebUIPersonalEncryptionSettingsContext.php
  tests/acceptance/features/cliEncryption/recreatemasterkey.feature
  tests/acceptance/features/lib/AdminEncryptionSettingsPage.php
  tests/acceptance/features/lib/PersonalEncryptionSettingsPage.php
  tests/acceptance/features/webUIEncryptionUserKeysType/userKeys.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33387 remove composer_dev_deps from acceptance test runs
  Makefile
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#33391 [stable10] cli test reset password more test
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/CommandLine.php
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliProvisioning/editUser.feature
  tests/acceptance/features/cliProvisioning/resetUserPassword.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33390 [stable10] change dav versions file name
  tests/acceptance/features/apiMain/fileVersions.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33399 Revert "remove composer_dev_deps from acceptance test runs"
  Makefile
Labels: 3 - To Review, QA-team

#33372 Unused - tests are run in scope of core itself
  apps/dav/tests/unit/phpunit.xml
Labels: 4 - To release

#31724 Unskip tests for issue 29599
  tests/acceptance/features/apiWebdavOperations/uploadFileUsingNewChunking.feature
  tests/acceptance/features/webUIUpload/uploadEdgecases.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33376 Bump symfony/polyfill components v1.9.0 => v1.10.0
  composer.lock
Labels: 3 - To Review, dependencies

#33377 [stable10] Bump symfony/polyfill components v1.9.0 => v1.10.0
  composer.lock
Labels: 3 - To Review, dependencies

#33392 Add cli test for adding, deleting and listing system and app configs
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliMain/configKey.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33401 [stable10]Add cli test for adding, deleting and listing system and app configs
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliMain/configKey.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33404 change 'must have' to 'should have' in acceptance test
  tests/acceptance/features/bootstrap/BasicStructure.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33411 change must have to should have in gherkein
  tests/acceptance/features/cliMain/configKey.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33360 No max version check for apps when using release channel git or daily
  lib/base.php
  lib/private/App/AppManager.php
  lib/private/App/DependencyAnalyzer.php
  lib/private/App/Platform.php
  lib/private/Installer.php
  lib/private/Repair/Apps.php
  lib/private/Server.php
  lib/private/legacy/app.php
  tests/Settings/Controller/AppSettingsControllerTest.php
  tests/lib/App/DependencyAnalyzerTest.php
  tests/lib/App/ManagerTest.php
  tests/lib/AppTest.php
Labels: 3 - To Review

#33406 [stable10] change 'must have' to 'should have' in acceptance test
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/cliMain/configKey.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33402 [stable10] Unskip tests for issue 29599
  tests/acceptance/features/apiWebdavOperations/uploadFileUsingNewChunking.feature
  tests/acceptance/features/webUIUpload/uploadEdgecases.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33395 Add webUI acceptance tests for checking the versions feature
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/lib/FilesPageElement/DetailsDialog.php
  tests/acceptance/features/webUIFiles/versions.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33414 no need to add sharing scripts if the server is not ye…
  lib/private/legacy/template.php
Labels: 3 - To Review

#33118 Collaborative tags new category work
  apps/dav/lib/SystemTag/SystemTagNode.php
  apps/dav/lib/SystemTag/SystemTagPlugin.php
  apps/dav/lib/SystemTag/SystemTagsByIdCollection.php
  apps/dav/tests/unit/SystemTag/SystemTagPluginTest.php
  core/Migrations/Version20181017105216.php
  core/Migrations/Version20181017120818.php
  core/js/systemtags/systemtagmodel.js
  core/js/systemtags/systemtags.js
  core/js/systemtags/systemtagsinputfield.js
  core/js/tests/specs/systemtags/systemtagsinputfieldSpec.js
  db_structure.xml
  lib/private/SystemTag/SystemTag.php
  lib/private/SystemTag/SystemTagManager.php
  lib/public/SystemTag/ISystemTag.php
  lib/public/SystemTag/ISystemTagManager.php
  tests/TestHelpers/TagsHelper.php
  tests/acceptance/features/bootstrap/Tags.php
  tests/lib/SystemTag/SystemTagManagerTest.php
Labels: 3 - To Review

#32060 Migrate from jQuery 1
  apps/files_external/js/oauth1.js
  apps/files_external/js/oauth2.js
  apps/files_external/js/settings.js
  build/package.json
  build/yarn.lock
  core/css/jquery-ui-fixes.css
  core/css/styles.css
  core/js/core.json
  core/js/js.js
  core/js/multiselect.js
  core/js/setup.js
  core/js/setupchecks.js
  core/js/sharedialoglinkshareview.js
  core/js/sharedialogview.js
  core/js/singleselect.js
  core/js/tests/specs/setupchecksSpec.js
Labels: 2 - Developing, dependencies, security

#33420 [stable10] Backport of new tag editable added to systemtag
  apps/dav/lib/SystemTag/SystemTagNode.php
  apps/dav/lib/SystemTag/SystemTagPlugin.php
  apps/dav/lib/SystemTag/SystemTagsByIdCollection.php
  apps/dav/tests/unit/SystemTag/SystemTagPluginTest.php
  core/Migrations/Version20181017105216.php
  core/Migrations/Version20181017120818.php
  core/js/systemtags/systemtagmodel.js
  core/js/systemtags/systemtags.js
  core/js/systemtags/systemtagsinputfield.js
  core/js/tests/specs/systemtags/systemtagsinputfieldSpec.js
  db_structure.xml
  lib/private/SystemTag/SystemTag.php
  lib/private/SystemTag/SystemTagManager.php
  lib/public/SystemTag/ISystemTag.php
  lib/public/SystemTag/ISystemTagManager.php
  tests/TestHelpers/TagsHelper.php
  tests/acceptance/features/bootstrap/Tags.php
  tests/lib/SystemTag/SystemTagManagerTest.php
Labels: 3 - To Review

#33417 Replace %admin% behat steps with the administrator
  tests/acceptance/features/apiMain/caldav.feature
  tests/acceptance/features/apiMain/carddav.feature
  tests/acceptance/features/apiProvisioning-v1/addToGroup.feature
  tests/acceptance/features/apiProvisioning-v1/apiProvisioningUsingAppPassword.feature
  tests/acceptance/features/apiProvisioning-v1/createSubAdmin.feature
  tests/acceptance/features/apiProvisioning-v1/disableUser.feature
  tests/acceptance/features/apiProvisioning-v1/enableUser.feature
  tests/acceptance/features/apiProvisioning-v1/getAppInfo.feature
  tests/acceptance/features/apiProvisioning-v1/getApps.feature
  tests/acceptance/features/apiProvisioning-v1/getGroup.feature
  tests/acceptance/features/apiProvisioning-v1/getGroups.feature
  tests/acceptance/features/apiProvisioning-v1/getSubAdminGroups.feature
  tests/acceptance/features/apiProvisioning-v1/getSubAdmins.feature
  tests/acceptance/features/apiProvisioning-v1/getUserGroups.feature
  tests/acceptance/features/apiProvisioning-v1/getUsers.feature
  tests/acceptance/features/apiProvisioning-v1/removeFromGroup.feature
  tests/acceptance/features/apiProvisioning-v1/removeSubAdmin.feature
  tests/acceptance/features/apiProvisioning-v2/addToGroup.feature
  tests/acceptance/features/apiProvisioning-v2/apiProvisioningUsingAppPassword.feature
  tests/acceptance/features/apiProvisioning-v2/createSubAdmin.feature
  tests/acceptance/features/apiProvisioning-v2/disableUser.feature
  tests/acceptance/features/apiProvisioning-v2/enableUser.feature
  tests/acceptance/features/apiProvisioning-v2/getAppInfo.feature
  tests/acceptance/features/apiProvisioning-v2/getApps.feature
  tests/acceptance/features/apiProvisioning-v2/getGroup.feature
  tests/acceptance/features/apiProvisioning-v2/getGroups.feature
  tests/acceptance/features/apiProvisioning-v2/getSubAdminGroups.feature
  tests/acceptance/features/apiProvisioning-v2/getSubAdmins.feature
  tests/acceptance/features/apiProvisioning-v2/getUserGroups.feature
  tests/acceptance/features/apiProvisioning-v2/getUsers.feature
  tests/acceptance/features/apiProvisioning-v2/removeFromGroup.feature
  tests/acceptance/features/apiProvisioning-v2/removeSubAdmin.feature
  tests/acceptance/features/apiShareOperations/gettingShares.feature
  tests/acceptance/features/apiTags/assignTags.feature
  tests/acceptance/features/apiTags/unassignTags.feature
  tests/acceptance/features/apiTrashbin/trashbinDelete.feature
  tests/acceptance/features/apiTrashbin/trashbinFilesFolders.feature
  tests/acceptance/features/apiTrashbin/trashbinRestore.feature
  tests/acceptance/features/bootstrap/Auth.php
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/CalDavContext.php
  tests/acceptance/features/bootstrap/CardDavContext.php
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/bootstrap/Tags.php
  tests/acceptance/features/bootstrap/WebUILoginContext.php
  tests/acceptance/features/cliProvisioning/disableUser.feature
  tests/acceptance/features/cliProvisioning/enableUser.feature
  tests/acceptance/features/cliProvisioning/getGroup.feature
  tests/acceptance/features/cliProvisioning/getUser.feature
  tests/acceptance/features/cliProvisioning/resetUserPassword.feature
  tests/acceptance/features/webUIAdminSettings/adminGeneralSettings.feature
  tests/acceptance/features/webUILogin/login.feature
  tests/acceptance/features/webUITags/tagsSuggestion.feature
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#33438 [stable10] use --remote switch when running acceptance tests
  Makefile
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33423 Update changelog
  CHANGELOG.md
Labels: 3 - To Review

#33394 [stable10] fixes #33216 - lookup in group principal backend as well
  apps/dav/lib/Repair/RemoveInvalidShares.php
  apps/dav/tests/unit/Repair/RemoveInvalidSharesTest.php
Labels: 4 - To release

#33444 [stable10] fix administrator steps definition
  tests/acceptance/features/apiMain/caldav.feature
  tests/acceptance/features/apiMain/carddav.feature
  tests/acceptance/features/apiProvisioning-v1/addToGroup.feature
  tests/acceptance/features/apiProvisioning-v1/apiProvisioningUsingAppPassword.feature
  tests/acceptance/features/apiProvisioning-v1/createSubAdmin.feature
  tests/acceptance/features/apiProvisioning-v1/disableUser.feature
  tests/acceptance/features/apiProvisioning-v1/enableUser.feature
  tests/acceptance/features/apiProvisioning-v1/getAppInfo.feature
  tests/acceptance/features/apiProvisioning-v1/getApps.feature
  tests/acceptance/features/apiProvisioning-v1/getGroup.feature
  tests/acceptance/features/apiProvisioning-v1/getGroups.feature
  tests/acceptance/features/apiProvisioning-v1/getSubAdminGroups.feature
  tests/acceptance/features/apiProvisioning-v1/getSubAdmins.feature
  tests/acceptance/features/apiProvisioning-v1/getUserGroups.feature
  tests/acceptance/features/apiProvisioning-v1/getUsers.feature
  tests/acceptance/features/apiProvisioning-v1/removeFromGroup.feature
  tests/acceptance/features/apiProvisioning-v1/removeSubAdmin.feature
  tests/acceptance/features/apiProvisioning-v2/addToGroup.feature
  tests/acceptance/features/apiProvisioning-v2/apiProvisioningUsingAppPassword.feature
  tests/acceptance/features/apiProvisioning-v2/createSubAdmin.feature
  tests/acceptance/features/apiProvisioning-v2/disableUser.feature
  tests/acceptance/features/apiProvisioning-v2/enableUser.feature
  tests/acceptance/features/apiProvisioning-v2/getAppInfo.feature
  tests/acceptance/features/apiProvisioning-v2/getApps.feature
  tests/acceptance/features/apiProvisioning-v2/getGroup.feature
  tests/acceptance/features/apiProvisioning-v2/getGroups.feature
  tests/acceptance/features/apiProvisioning-v2/getSubAdminGroups.feature
  tests/acceptance/features/apiProvisioning-v2/getSubAdmins.feature
  tests/acceptance/features/apiProvisioning-v2/getUserGroups.feature
  tests/acceptance/features/apiProvisioning-v2/getUsers.feature
  tests/acceptance/features/apiProvisioning-v2/removeFromGroup.feature
  tests/acceptance/features/apiProvisioning-v2/removeSubAdmin.feature
  tests/acceptance/features/apiShareOperations/gettingShares.feature
  tests/acceptance/features/apiTags/assignTags.feature
  tests/acceptance/features/apiTags/unassignTags.feature
  tests/acceptance/features/apiTrashbin/trashbinDelete.feature
  tests/acceptance/features/apiTrashbin/trashbinFilesFolders.feature
  tests/acceptance/features/apiTrashbin/trashbinRestore.feature
  tests/acceptance/features/bootstrap/Auth.php
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/CalDavContext.php
  tests/acceptance/features/bootstrap/CardDavContext.php
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/bootstrap/Tags.php
  tests/acceptance/features/bootstrap/WebUILoginContext.php
  tests/acceptance/features/cliProvisioning/disableUser.feature
  tests/acceptance/features/cliProvisioning/enableUser.feature
  tests/acceptance/features/cliProvisioning/getGroup.feature
  tests/acceptance/features/cliProvisioning/getUser.feature
  tests/acceptance/features/cliProvisioning/resetUserPassword.feature
  tests/acceptance/features/webUIAdminSettings/adminGeneralSettings.feature
  tests/acceptance/features/webUILogin/login.feature
  tests/acceptance/features/webUITags/tagsSuggestion.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33448 adjust etag expectation in acceptance tests
  tests/acceptance/features/apiWebdavProperties/moveFileAsync.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33447 skip failing versions test on S3
  tests/acceptance/features/webUIFiles/versions.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33450 [stable10] skip encryption UI tests on S3
  tests/acceptance/features/webUIEncryptionUserKeysType/userKeys.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33451 [stable10] skip failing versions test on S3
  tests/acceptance/features/webUIFiles/versions.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32502 IServerContainer interface should extend IContainer
  lib/public/IServerContainer.php
Labels: 3 - To Review, technical debt

#33459 Bump symfony 3.4.17 => 3.4.18
  composer.lock
Labels: 3 - To Review, dependencies

#33460 [stable10] Bump symfony 3.4.17 => 3.4.18
  composer.lock
Labels: 3 - To Review, dependencies

#33461 Bump punic 3.1.0 => 3.2.0
  composer.lock
  tests/lib/DateTimeFormatterTest.php
  tests/lib/L10N/L10nTest.php
  tests/lib/UtilTest.php
Labels: 3 - To Review, dependencies

#33466 Disable smoke test for chunk upload
  tests/acceptance/features/webUIUpload/upload.feature
Labels: 3 - To Review

#33462 [stable10] Bump punic 3.1.0 => 3.2.0
  composer.lock
  tests/lib/DateTimeFormatterTest.php
  tests/lib/L10N/L10nTest.php
  tests/lib/UtilTest.php
Labels: 3 - To Review, dependencies

#33456 Bugfix/multibucket share copy
  lib/private/Files/Mount/ObjectHomeMountProvider.php
  lib/private/Files/ObjectStore/ObjectStoreStorage.php
  tests/lib/Cache/FileCacheTest.php
  tests/lib/TestCase.php
Labels: 3 - To Review, backport-request

#33469 Merge pull request #33456 from owncloud/bugfix/multibucket-share-copy
  lib/private/Files/Mount/ObjectHomeMountProvider.php
  lib/private/Files/ObjectStore/ObjectStoreStorage.php
  tests/lib/Cache/FileCacheTest.php
  tests/lib/TestCase.php
Labels: 4 - To release

#33471 Make tests work with comments app disabled
  tests/acceptance/features/apiProvisioning-v1/getApps.feature
  tests/acceptance/features/apiProvisioning-v2/getApps.feature
  tests/acceptance/features/bootstrap/WebUILoginContext.php
  tests/acceptance/features/webUIFiles/browseDirectlyToDetailsTab.feature
  tests/acceptance/features/webUIFiles/fileDetails.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33472 [stable10] make tests work with comments app disabled
  tests/acceptance/features/apiProvisioning-v1/getApps.feature
  tests/acceptance/features/apiProvisioning-v2/getApps.feature
  tests/acceptance/features/bootstrap/WebUILoginContext.php
  tests/acceptance/features/webUIFiles/browseDirectlyToDetailsTab.feature
  tests/acceptance/features/webUIFiles/fileDetails.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33477 [stable10] Use PHPUnit dedicated assertions
  tests/lib/AppFramework/DependencyInjection/DIContainerTest.php
  tests/lib/Comments/ManagerTest.php
  tests/lib/Files/External/Service/GlobalStoragesServiceDeleteUserTest.php
  tests/lib/Files/External/Service/UserStoragesServiceTest.php
  tests/lib/Files/MetaFilesTest.php
  tests/lib/Files/Stream/StaticStreamTest.php
  tests/lib/Group/Backend.php
  tests/lib/Memcache/Cache.php
  tests/lib/Repair/RepairOrphanedSubshareTest.php
  tests/lib/Repair/RepairSubSharesTest.php
  tests/lib/Session/Session.php
Labels: 3 - To Review, dev:phpunit-tests

#33446 Add webUI acceptance tests for searching files
  tests/acceptance/features/webUIFiles/search.feature
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#33480 Tag more scenarios that require various apps
  tests/acceptance/features/apiProvisioning-v1/enableApp.feature
  tests/acceptance/features/apiProvisioning-v2/enableApp.feature
  tests/acceptance/features/cliProvisioning/disableApp.feature
  tests/acceptance/features/cliProvisioning/enableApp.feature
  tests/acceptance/features/cliProvisioning/getAppInfo.feature
  tests/acceptance/features/cliProvisioning/getApps.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33481 [stable10] Add webUI acceptance tests for searching files
  tests/acceptance/features/webUIFiles/search.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33467 Add smoke test for chunk upload case
  tests/acceptance/features/webUIUpload/upload.feature
Labels: QA-team, dev:acceptance-tests

#33470 [stable10] Backport of Add uid to the symfony login events for consis…
  lib/private/User/Session.php
  tests/lib/User/SessionTest.php
Labels: 3 - To Review

#33484 move CRUD actions into separate pageobject
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/lib/FilesPage.php
  tests/acceptance/features/lib/FilesPageBasic.php
  tests/acceptance/features/lib/FilesPageCRUD.php
  tests/acceptance/features/lib/PublicLinkFilesPage.php
  tests/acceptance/features/lib/SharedByLinkPage.php
  tests/acceptance/features/lib/SharedWithOthersPage.php
  tests/acceptance/features/lib/TagsPage.php
  tests/acceptance/features/lib/TrashbinPage.php
  tests/acceptance/features/webUIFiles/createFolders.feature
  tests/acceptance/features/webUIFiles/deleteFilesFolders.feature
  tests/acceptance/features/webUIMoveFilesFolders/moveFiles.feature
  tests/acceptance/features/webUIRenameFiles/renameFiles.feature
  tests/acceptance/features/webUIUpload/upload.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#33489 [stable10] Add methods to check setPasswordError message
  tests/acceptance/features/bootstrap/WebUILoginContext.php
  tests/acceptance/features/lib/LoginPage.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33490 Add methods to check setPasswordError message
  tests/acceptance/features/bootstrap/WebUILoginContext.php
  tests/acceptance/features/lib/LoginPage.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33494 [Stable10]move CRUD actions into separate pageobject
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/lib/FilesPage.php
  tests/acceptance/features/lib/FilesPageBasic.php
  tests/acceptance/features/lib/FilesPageCRUD.php
  tests/acceptance/features/lib/PublicLinkFilesPage.php
  tests/acceptance/features/lib/SharedByLinkPage.php
  tests/acceptance/features/lib/SharedWithOthersPage.php
  tests/acceptance/features/lib/TagsPage.php
  tests/acceptance/features/lib/TrashbinPage.php
  tests/acceptance/features/webUIFiles/createFolders.feature
  tests/acceptance/features/webUIFiles/deleteFilesFolders.feature
  tests/acceptance/features/webUIMoveFilesFolders/moveFiles.feature
  tests/acceptance/features/webUIRenameFiles/renameFiles.feature
  tests/acceptance/features/webUIUpload/upload.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33492 [stable10] Improve acceptance test steps for user attributes
  tests/acceptance/features/apiProvisioning-v1/editUser.feature
  tests/acceptance/features/apiProvisioning-v1/getUser.feature
  tests/acceptance/features/apiProvisioning-v2/editUser.feature
  tests/acceptance/features/apiProvisioning-v2/getUser.feature
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33491 Improve acceptance test steps for user attributes
  tests/acceptance/features/apiProvisioning-v1/editUser.feature
  tests/acceptance/features/apiProvisioning-v1/getUser.feature
  tests/acceptance/features/apiProvisioning-v2/editUser.feature
  tests/acceptance/features/apiProvisioning-v2/getUser.feature
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33483 Combine then statements into one step
  tests/acceptance/features/apiCapabilities/capabilities.feature
  tests/acceptance/features/apiComments/deleteComments.feature
  tests/acceptance/features/apiFavorites/favorites.feature
  tests/acceptance/features/apiFederation/federated.feature
  tests/acceptance/features/apiMain/checksums.feature
  tests/acceptance/features/apiMain/transfer-ownership.feature
  tests/acceptance/features/apiProvisioning-v1/apiProvisioningUsingAppPassword.feature
  tests/acceptance/features/apiProvisioning-v1/enableUser.feature
  tests/acceptance/features/apiProvisioning-v1/getUsers.feature
  tests/acceptance/features/apiProvisioning-v2/apiProvisioningUsingAppPassword.feature
  tests/acceptance/features/apiProvisioning-v2/enableUser.feature
  tests/acceptance/features/apiShareManagement/createShare.feature
  tests/acceptance/features/apiShareManagement/deleteShare.feature
  tests/acceptance/features/apiShareManagement/mergeShare.feature
  tests/acceptance/features/apiShareManagement/updateShare.feature
  tests/acceptance/features/apiShareOperations/getWebDAVSharePermissions.feature
  tests/acceptance/features/apiShareOperations/gettingShares.feature
  tests/acceptance/features/apiWebdavProperties/getQuota.feature
  tests/acceptance/features/bootstrap/CapabilitiesContext.php
  tests/acceptance/features/bootstrap/Checksums.php
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/bootstrap/WebDav.php
  tests/acceptance/features/cliMain/logManage.feature
  tests/acceptance/features/webUIAdminSettings/adminGeneralSettings.feature
  tests/acceptance/features/webUIAdminSettings/adminSharingSettings.feature
  tests/acceptance/features/webUITags/createTags.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#33504 trim terminating slash in returned URL
  tests/acceptance/features/bootstrap/Sharing.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33501 [stable10] Combine then statements into one step
  tests/acceptance/features/apiCapabilities/capabilities.feature
  tests/acceptance/features/apiComments/deleteComments.feature
  tests/acceptance/features/apiFavorites/favorites.feature
  tests/acceptance/features/apiFederation/federated.feature
  tests/acceptance/features/apiMain/checksums.feature
  tests/acceptance/features/apiMain/transfer-ownership.feature
  tests/acceptance/features/apiProvisioning-v1/apiProvisioningUsingAppPassword.feature
  tests/acceptance/features/apiProvisioning-v1/enableUser.feature
  tests/acceptance/features/apiProvisioning-v1/getUsers.feature
  tests/acceptance/features/apiProvisioning-v2/apiProvisioningUsingAppPassword.feature
  tests/acceptance/features/apiProvisioning-v2/enableUser.feature
  tests/acceptance/features/apiShareManagement/createShare.feature
  tests/acceptance/features/apiShareManagement/deleteShare.feature
  tests/acceptance/features/apiShareManagement/mergeShare.feature
  tests/acceptance/features/apiShareManagement/updateShare.feature
  tests/acceptance/features/apiShareOperations/getWebDAVSharePermissions.feature
  tests/acceptance/features/apiShareOperations/gettingShares.feature
  tests/acceptance/features/apiWebdavProperties/getQuota.feature
  tests/acceptance/features/bootstrap/CapabilitiesContext.php
  tests/acceptance/features/bootstrap/Checksums.php
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/bootstrap/WebDav.php
  tests/acceptance/features/cliMain/logManage.feature
  tests/acceptance/features/webUIAdminSettings/adminGeneralSettings.feature
  tests/acceptance/features/webUIAdminSettings/adminSharingSettings.feature
  tests/acceptance/features/webUITags/createTags.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33510 [ UI-tests] move finding for 'New-file' button to function
  tests/acceptance/features/lib/FilesPageCRUD.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33495 HomeObjectStore is not returning the bucket id - introducing getBucket()
  lib/private/Files/ObjectStore/ObjectStoreStorage.php
Labels: 3 - To Review, backport-request

#33511 [stable10] [ UI-tests] move finding for 'New-file' button to function
  tests/acceptance/features/lib/FilesPageCRUD.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33514 [UI-tests] message for ajax call start timeout
  tests/acceptance/features/lib/OwncloudPage.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33515 [stable10] [UI-tests] message for ajax call start timeout
  tests/acceptance/features/lib/OwncloudPage.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33516 Update config.sample.php to fix a broken link
  config/config.sample.php
Labels: 3 - To Review, backport-request, bug

#33518 [stable10] Update config.sample.php to fix a broken link
  config/config.sample.php
Labels: 3 - To Review, bug

#33463 Update the unique index for the systemtag table
  core/Migrations/Version20181113071753.php
Labels: 3 - To Review

#33523 Add 'display' as well as 'displayname' editUser acceptance tests
  tests/acceptance/features/apiProvisioning-v1/editUser.feature
  tests/acceptance/features/apiProvisioning-v2/editUser.feature
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33525 [stable10] remove explicit password used in user login
  tests/acceptance/features/webUIManageUsersGroups/addUsers.feature
  tests/acceptance/features/webUIManageUsersGroups/deleteUsers.feature
  tests/acceptance/features/webUIManageUsersGroups/disableUsers.feature
  tests/acceptance/features/webUISettingsMenu/settingsMenu.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33526 [UI-tests] remove unused code
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#33528 Change 'using the console' to 'using the occ command'
  tests/acceptance/features/apiMain/appmanagement.feature
  tests/acceptance/features/bootstrap/AppManagementContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33522 [stable10] Backport of Update the unique index for the systemtag table
  core/Migrations/Version20181113071753.php
Labels: 3 - To Review

#33468 File cache hole check only report storage id once
  lib/private/Repair/RepairMismatchFileCachePath.php
  tests/lib/Repair/RepairMismatchFileCachePathTest.php
Labels: 3 - To Review, backport-request

#33521 add function for trying to upload a file
  tests/acceptance/features/apiWebdavProperties/getQuota.feature
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#33531 [UI test] improve details dialog
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/lib/FavoritesPage.php
  tests/acceptance/features/lib/FilesPage.php
  tests/acceptance/features/lib/FilesPageBasic.php
  tests/acceptance/features/lib/FilesPageElement/DetailsDialog.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33540 [stable10] Backport of add function for trying to upload a file
  tests/acceptance/features/apiWebdavProperties/getQuota.feature
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33539 [stable10] File cache hole check only report storage id once
  lib/private/Repair/RepairMismatchFileCachePath.php
  tests/lib/Repair/RepairMismatchFileCachePathTest.php
Labels: 3 - To Review

#33512 Add more api tests for webdav search api
  tests/acceptance/features/apiWebdavOperations/search.feature
  tests/acceptance/features/bootstrap/SearchContext.php
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#33547 [stable10] api test add more web dav search
  tests/acceptance/features/apiWebdavOperations/search.feature
  tests/acceptance/features/bootstrap/SearchContext.php
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33534 cli Test trashbin
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliTrashbin/trashbin.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#33548 [stable10] cli test trashbin
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliTrashbin/trashbin.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33549 Add new test step theResponseWhenUserGetsInfoOfLastShareShouldInclude
  tests/acceptance/features/bootstrap/Sharing.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33550 [stable10] Add new test step theResponseWhenUserGetsInfoOfLastShareShouldInclude
  tests/acceptance/features/bootstrap/Sharing.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33453 [stable10] Display error message in new password form
  settings/Controller/UsersController.php
  settings/js/setpassword.js
  settings/tests/js/setpasswordSpec.js
  tests/Settings/Controller/UsersControllerTest.php
  tests/karma.config.js
Labels: QA-team, backport-request, blue-ticket, bug, p2-high

#33553 [stable10]Add comment xpath to variables in DetailsDialog.php
  tests/acceptance/features/lib/FilesPageElement/DetailsDialog.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33552 Add comment xpath to variables in DetailsDialog.php
  tests/acceptance/features/lib/FilesPageElement/DetailsDialog.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33255 Add mariadb 10.3 + mysql 8 to Drone, remove 10.2 workarounds
  .drone.yml
  lib/private/DB/ConnectionFactory.php
  lib/private/DB/MySqlSchemaColumnDefinitionListener.php
  lib/private/DB/MySqlTools.php
  tests/drone/install-server.sh
  tests/lib/DB/MySqlToolsTest.php
Labels: 3 - To Review

#33497 Set max-version of shipped apps to 11
  apps/comments/appinfo/info.xml
  apps/dav/appinfo/info.xml
  apps/federatedfilesharing/appinfo/info.xml
  apps/federation/appinfo/info.xml
  apps/files/appinfo/info.xml
  apps/files_external/appinfo/info.xml
  apps/files_sharing/appinfo/info.xml
  apps/files_trashbin/appinfo/info.xml
  apps/files_versions/appinfo/info.xml
  apps/provisioning_api/appinfo/info.xml
  apps/systemtags/appinfo/info.xml
  apps/updatenotification/appinfo/info.xml
Labels: 3 - To Review

#33556 Adjust expected permissions pattern in search.feature:151
  tests/acceptance/features/apiWebdavOperations/search.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33557 [stable10] Adjust expected permissions pattern in search.feature:151
  tests/acceptance/features/apiWebdavOperations/search.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33561 Adjust tags acceptance test steps
  tests/acceptance/features/apiTags/assignTags.feature
  tests/acceptance/features/apiTags/deleteTags.feature
  tests/acceptance/features/apiTags/retreiveTags.feature
  tests/acceptance/features/apiTags/unassignTags.feature
  tests/acceptance/features/bootstrap/Tags.php
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/webUIFiles/deleteFilesFolders.feature
  tests/acceptance/features/webUIFiles/fileDetails.feature
  tests/acceptance/features/webUIFiles/search.feature
  tests/acceptance/features/webUISharingExternal/shareByPublicLink.feature
  tests/acceptance/features/webUISharingInternalUsers/acceptShares.feature
  tests/acceptance/features/webUITags/createTags.feature
  tests/acceptance/features/webUITags/tagsSuggestion.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33562 [stable10] Adjust tags acceptance test steps
  tests/acceptance/features/apiTags/assignTags.feature
  tests/acceptance/features/apiTags/deleteTags.feature
  tests/acceptance/features/apiTags/retreiveTags.feature
  tests/acceptance/features/apiTags/unassignTags.feature
  tests/acceptance/features/bootstrap/Tags.php
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/webUIFiles/deleteFilesFolders.feature
  tests/acceptance/features/webUIFiles/fileDetails.feature
  tests/acceptance/features/webUIFiles/search.feature
  tests/acceptance/features/webUISharingExternal/shareByPublicLink.feature
  tests/acceptance/features/webUISharingInternalUsers/acceptShares.feature
  tests/acceptance/features/webUITags/createTags.feature
  tests/acceptance/features/webUITags/tagsSuggestion.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33545 Migration for bigint on DAV tables
  apps/dav/appinfo/Migrations/Version20181115210344.php
Labels: 3 - To Review, backport-request

#33564 Remove unused acceptance test method adminMakesUserNotSubadminOfGroup…
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33565 [stable10] Remove unused acceptance test method adminMakesUserNotSubadminOfGroup…
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33568 [stable10] Acceptance test to verify that checksum of restored file is calculated
  tests/acceptance/features/apiMain/fileVersions.feature
  tests/acceptance/features/bootstrap/Checksums.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33571 Test creating users with various passwords using the Provisioning API
  tests/acceptance/features/apiProvisioning-v1/addUser.feature
  tests/acceptance/features/apiProvisioning-v2/addUser.feature
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#33532 Given when step separation 201811
  tests/acceptance/features/bootstrap/AppConfiguration.php
  tests/acceptance/features/bootstrap/FeatureContext.php
  tests/acceptance/features/bootstrap/FederationContext.php
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33580 [stable10] Test creating users with various passwords using the Provisioning API
  tests/acceptance/features/apiProvisioning-v1/addUser.feature
  tests/acceptance/features/apiProvisioning-v2/addUser.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33582 [stable10] given when step separation 201811
  tests/acceptance/features/bootstrap/AppConfiguration.php
  tests/acceptance/features/bootstrap/FeatureContext.php
  tests/acceptance/features/bootstrap/FederationContext.php
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33587 skip tests on encryption that fail because of encryption issue 74
  tests/acceptance/features/webUIFiles/deleteFilesFolders.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33588 [stable10] skip tests on encryption that fail because of encryption issue 74
  tests/acceptance/features/webUIFiles/deleteFilesFolders.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33581 [UI tests] implement correct waitTillPageIsLoaded on various pages
  tests/acceptance/features/bootstrap/WebUIAdminAppsSettingsContext.php
  tests/acceptance/features/bootstrap/WebUIAdminGeneralSettingsContext.php
  tests/acceptance/features/bootstrap/WebUIAdminSharingSettingsContext.php
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
  tests/acceptance/features/bootstrap/WebUINotificationsContext.php
  tests/acceptance/features/bootstrap/WebUIPersonalGeneralSettingsContext.php
  tests/acceptance/features/bootstrap/WebUIPersonalSecuritySettingsContext.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/AdminAppsSettingsPage.php
  tests/acceptance/features/lib/AdminGeneralSettingsPage.php
  tests/acceptance/features/lib/AdminSharingSettingsPage.php
  tests/acceptance/features/lib/FilesPage.php
  tests/acceptance/features/lib/FilesPageBasic.php
  tests/acceptance/features/lib/FilesPageElement/DetailsDialog.php
  tests/acceptance/features/lib/FilesPageElement/FileActionsMenu.php
  tests/acceptance/features/lib/FilesPageElement/FileRow.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialog.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialogElement/EditPublicLinkPopup.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialogElement/PublicLinkTab.php
  tests/acceptance/features/lib/NotificationsAppDialog.php
  tests/acceptance/features/lib/NotificationsEnabledOwncloudPage.php
  tests/acceptance/features/lib/OwncloudPage.php
  tests/acceptance/features/lib/OwncloudPageElement/SettingsMenu.php
  tests/acceptance/features/lib/PersonalGeneralSettingsPage.php
  tests/acceptance/features/lib/PersonalSecuritySettingsPage.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33589 [stable10] [UI tests] implement correct waitTillPageIsLoaded on various pages
  tests/acceptance/features/bootstrap/WebUIAdminAppsSettingsContext.php
  tests/acceptance/features/bootstrap/WebUIAdminGeneralSettingsContext.php
  tests/acceptance/features/bootstrap/WebUIAdminSharingSettingsContext.php
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
  tests/acceptance/features/bootstrap/WebUINotificationsContext.php
  tests/acceptance/features/bootstrap/WebUIPersonalGeneralSettingsContext.php
  tests/acceptance/features/bootstrap/WebUIPersonalSecuritySettingsContext.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/AdminAppsSettingsPage.php
  tests/acceptance/features/lib/AdminGeneralSettingsPage.php
  tests/acceptance/features/lib/AdminSharingSettingsPage.php
  tests/acceptance/features/lib/FilesPage.php
  tests/acceptance/features/lib/FilesPageBasic.php
  tests/acceptance/features/lib/FilesPageElement/DetailsDialog.php
  tests/acceptance/features/lib/FilesPageElement/FileActionsMenu.php
  tests/acceptance/features/lib/FilesPageElement/FileRow.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialog.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialogElement/EditPublicLinkPopup.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialogElement/PublicLinkTab.php
  tests/acceptance/features/lib/NotificationsAppDialog.php
  tests/acceptance/features/lib/NotificationsEnabledOwncloudPage.php
  tests/acceptance/features/lib/OwncloudPage.php
  tests/acceptance/features/lib/OwncloudPageElement/SettingsMenu.php
  tests/acceptance/features/lib/PersonalGeneralSettingsPage.php
  tests/acceptance/features/lib/PersonalSecuritySettingsPage.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33583 Move acceptance test data to filesForUpload
  tests/acceptance/features/apiComments/comments.feature
  tests/acceptance/features/apiComments/createComments.feature
  tests/acceptance/features/apiComments/deleteComments.feature
  tests/acceptance/features/apiComments/editComments.feature
  tests/acceptance/features/apiFederation/federated.feature
  tests/acceptance/features/apiMain/checksums.feature
  tests/acceptance/features/apiMain/external-storage.feature
  tests/acceptance/features/apiMain/fileVersions.feature
  tests/acceptance/features/apiMain/quota.feature
  tests/acceptance/features/apiMain/transfer-ownership.feature
  tests/acceptance/features/apiShareManagement/deleteShare.feature
  tests/acceptance/features/apiShareManagement/multilinksharing.feature
  tests/acceptance/features/apiShareManagement/updateShare.feature
  tests/acceptance/features/apiShareOperations/downloadFromShare.feature
  tests/acceptance/features/apiShareOperations/uploadToShare.feature
  tests/acceptance/features/apiTags/assignTags.feature
  tests/acceptance/features/apiTags/deleteTags.feature
  tests/acceptance/features/apiTags/retreiveTags.feature
  tests/acceptance/features/apiTags/unassignTags.feature
  tests/acceptance/features/apiWebdavOperations/uploadFile.feature
  tests/acceptance/features/apiWebdavProperties/getFileProperties.feature
  tests/acceptance/features/apiWebdavProperties/setFileProperties.feature
  tests/acceptance/filesForUpload/davtest.txt
  tests/acceptance/filesForUpload/file_to_overwrite.txt
  tests/acceptance/filesForUpload/textfile.txt
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33585 Add test for deleting versions does not shows in webUI
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/webUIFiles/versions.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33592 [stable10]Add test for deleting versions does not shows in webUI
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/webUIFiles/versions.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33601 CLI Acceptance tests to verify setting a password to valid and invalid values
  tests/acceptance/features/cliProvisioning/addUser.feature
  tests/acceptance/features/cliProvisioning/editUser.feature
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#33608 [Stable10] CLI Acceptance tests to verify setting a password with valid and invalid values
  tests/acceptance/features/cliProvisioning/addUser.feature
  tests/acceptance/features/cliProvisioning/editUser.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33607 [Stable10]Add test for checking special characters in password using webUI
  tests/acceptance/features/webUIManageUsersGroups/addUsers.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33609 [stable10] Test that editing a public link name and not saving it does not changes anything
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialogElement/EditPublicLinkPopup.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialogElement/PublicLinkTab.php
  tests/acceptance/features/webUISharingExternal/shareByPublicLink.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33599 Test that editing a public link name and not saving it does not changes anything
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialogElement/EditPublicLinkPopup.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialogElement/PublicLinkTab.php
  tests/acceptance/features/webUISharingExternal/shareByPublicLink.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33610 [stable10] Fix bugs in checksum verify command
  apps/files/lib/Command/VerifyChecksums.php
Labels: 3 - To Review

#33612 Fix bugs in checksum verify command
  apps/files/lib/Command/VerifyChecksums.php
Labels: 3 - To Review

#33584 [stable10] Move acceptance test data to filesForUpload
  tests/acceptance/features/apiComments/comments.feature
  tests/acceptance/features/apiComments/createComments.feature
  tests/acceptance/features/apiComments/deleteComments.feature
  tests/acceptance/features/apiComments/editComments.feature
  tests/acceptance/features/apiFederation/federated.feature
  tests/acceptance/features/apiMain/checksums.feature
  tests/acceptance/features/apiMain/external-storage.feature
  tests/acceptance/features/apiMain/fileVersions.feature
  tests/acceptance/features/apiMain/quota.feature
  tests/acceptance/features/apiMain/transfer-ownership.feature
  tests/acceptance/features/apiShareManagement/deleteShare.feature
  tests/acceptance/features/apiShareManagement/multilinksharing.feature
  tests/acceptance/features/apiShareManagement/updateShare.feature
  tests/acceptance/features/apiShareOperations/downloadFromShare.feature
  tests/acceptance/features/apiShareOperations/uploadToShare.feature
  tests/acceptance/features/apiTags/assignTags.feature
  tests/acceptance/features/apiTags/deleteTags.feature
  tests/acceptance/features/apiTags/retreiveTags.feature
  tests/acceptance/features/apiTags/unassignTags.feature
  tests/acceptance/features/apiWebdavOperations/uploadFile.feature
  tests/acceptance/features/apiWebdavProperties/getFileProperties.feature
  tests/acceptance/features/apiWebdavProperties/setFileProperties.feature
  tests/acceptance/features/cliEncryption/recreatemasterkey.feature
  tests/acceptance/filesForUpload/davtest.txt
  tests/acceptance/filesForUpload/file_to_overwrite.txt
  tests/acceptance/filesForUpload/textfile.txt
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33603 [stable10] Migration for bigint on DAV tables
  apps/dav/appinfo/Migrations/Version20181115210344.php
  version.php
Labels: 3 - To Review

#33611 add test deleting folder different case
  tests/acceptance/features/apiWebdavOperations/deleteFolder.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#33605 add test copying a file when 2 files exist with different case
  tests/acceptance/features/apiWebdavProperties/copyFile.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#33618 skip tests that fail on S3 storage
  tests/acceptance/features/webUIFiles/versions.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33619 [stable10] skip tests that fail on S3 storage
  tests/acceptance/features/webUIFiles/versions.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33615 Test app:getpath occ command
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliProvisioning/getApps.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#33623 Copying a file case sensitive test
  tests/acceptance/features/apiWebdavProperties/copyFile.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33597 deleting a file when 2 files exist with different case
  tests/acceptance/features/apiWebdavOperations/deleteFile.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#33620 [stable10] Update changelog post sprint 12
  CHANGELOG.md
Labels: 3 - To Review

#33627 skip version checksum test on S3
  tests/acceptance/features/apiMain/fileVersions.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33628 [stable10] skip version checksum test on S3
  tests/acceptance/features/apiMain/fileVersions.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33629 [stable10] Test app:getpath
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliProvisioning/getApps.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33442 Fix the group selector drop down
  settings/Application.php
  settings/Controller/GroupsController.php
  settings/routes.php
  tests/Settings/Controller/GroupsControllerTest.php
Labels: 3 - To Review

#33633 [stable10] Backport of deleting a file when 2 files exist with different case
  tests/acceptance/features/apiWebdavOperations/deleteFile.feature
Labels: 4 - To release, QA-team, dev:integration-tests

#33626 [stable10] Backport of Replace notification with confirm dialog for u…
  settings/js/users/deleteHandler.js
  settings/js/users/groups.js
  settings/js/users/users.js
  settings/tests/js/users/deleteHandlerSpec.js
  tests/acceptance/features/bootstrap/WebUIUsersContext.php
  tests/acceptance/features/lib/UserPageElement/GroupList.php
  tests/acceptance/features/lib/UsersPage.php
  tests/acceptance/features/webUIManageUsersGroups/addUsers.feature
  tests/acceptance/features/webUIManageUsersGroups/deleteUsers.feature
  tests/acceptance/features/webUIManageUsersGroups/manageGroups.feature
Labels: 4 - To release

#33517 Acceptance test for static tags
  apps/dav/lib/SystemTag/SystemTagMappingNode.php
  apps/dav/lib/SystemTag/SystemTagNode.php
  apps/dav/lib/SystemTag/SystemTagPlugin.php
  apps/dav/lib/SystemTag/SystemTagsObjectMappingCollection.php
  apps/dav/tests/unit/SystemTag/SystemTagMappingNodeTest.php
  apps/dav/tests/unit/SystemTag/SystemTagNodeTest.php
  apps/dav/tests/unit/SystemTag/SystemTagPluginTest.php
  apps/dav/tests/unit/SystemTag/SystemTagsObjectMappingCollectionTest.php
  lib/private/SystemTag/SystemTag.php
  tests/TestHelpers/TagsHelper.php
  tests/acceptance/features/apiTags/assignTags.feature
  tests/acceptance/features/apiTags/assignTagsGroup.feature
  tests/acceptance/features/apiTags/createTags.feature
  tests/acceptance/features/apiTags/deleteTags.feature
  tests/acceptance/features/apiTags/editTags.feature
  tests/acceptance/features/apiTags/retreiveTags.feature
  tests/acceptance/features/apiTags/unassignTags.feature
  tests/acceptance/features/bootstrap/Tags.php
  tests/acceptance/features/webUITags/tagsSuggestion.feature
Labels: 3 - To Review

#33638 [stable10] Backport of Acceptance test for static tags
  apps/dav/lib/SystemTag/SystemTagMappingNode.php
  apps/dav/lib/SystemTag/SystemTagNode.php
  apps/dav/lib/SystemTag/SystemTagPlugin.php
  apps/dav/lib/SystemTag/SystemTagsObjectMappingCollection.php
  apps/dav/tests/unit/SystemTag/SystemTagMappingNodeTest.php
  apps/dav/tests/unit/SystemTag/SystemTagNodeTest.php
  apps/dav/tests/unit/SystemTag/SystemTagPluginTest.php
  apps/dav/tests/unit/SystemTag/SystemTagsObjectMappingCollectionTest.php
  lib/private/SystemTag/SystemTag.php
  tests/TestHelpers/TagsHelper.php
  tests/acceptance/features/apiTags/assignTags.feature
  tests/acceptance/features/apiTags/assignTagsGroup.feature
  tests/acceptance/features/apiTags/createTags.feature
  tests/acceptance/features/apiTags/deleteTags.feature
  tests/acceptance/features/apiTags/editTags.feature
  tests/acceptance/features/apiTags/retreiveTags.feature
  tests/acceptance/features/apiTags/unassignTags.feature
  tests/acceptance/features/bootstrap/Tags.php
  tests/acceptance/features/webUITags/tagsSuggestion.feature
Labels: 3 - To Review

#33635 [Stable10] Add webui tests for help and tips page
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/WebUIHelpAndTipsContext.php
  tests/acceptance/features/lib/HelpAndTipsPage.php
  tests/acceptance/features/webUIAdminSettings/helpAndTips.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33632 Fix #33630. Fix cannot set 0 as value on files_external through OCC command
  apps/files_external/lib/Command/Config.php
  apps/files_external/tests/Command/ConfigCommandTest.php
Labels: 3 - To Review

#32491 Pass an additional parameter on the core update
  core/Command/Upgrade.php
  lib/private/Repair.php
  lib/private/Repair/Apps.php
  lib/private/Updater.php
  tests/lib/Repair/AppsTest.php
Labels: 3 - To Review, backport-request

#33631 Add webui tests for help and tips page
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/WebUIHelpAndTipsContext.php
  tests/acceptance/features/lib/HelpAndTipsPage.php
  tests/acceptance/features/webUIAdminSettings/helpAndTips.feature
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#32540 Fix "invalid date" on share expiration
  apps/files_sharing/css/sharetabview.css
  core/js/sharedialogexpirationview.js
  core/js/sharedialoglinkshareview.js
Labels: 3 - To Review, bug, p3-medium

#33641 [stable10] Pass an additional parameter on the core update
  core/Command/Upgrade.php
  lib/private/Repair.php
  lib/private/Repair/Apps.php
  lib/private/Updater.php
  tests/lib/Repair/AppsTest.php
Labels: 3 - To Review

#33643 [stable10] Fix #33630. Fix cannot set 0 as value for config through OCC command
  apps/files_external/lib/Command/Config.php
  apps/files_external/tests/Command/ConfigCommandTest.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33644 [stable10] Adjust user_management tests to match app
  tests/acceptance/features/bootstrap/WebUIUsersContext.php
  tests/acceptance/features/webUISettingsMenu/settingsMenu.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33464 Add background job to clean up orphaned properties
  apps/dav/appinfo/info.xml
  apps/dav/lib/BackgroundJob/CleanProperties.php
  apps/dav/tests/unit/BackgroundJob/CleanPropertiesTest.php
Labels: 3 - To Review

#33680 merge teststeps
  tests/acceptance/features/apiWebdavOperations/uploadFileUsingNewChunking.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33681 [stable10] merge teststeps
  tests/acceptance/features/apiWebdavOperations/uploadFileUsingNewChunking.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33674 Adjust Storage.php testStat timing
  tests/lib/Files/Storage/Storage.php
Labels: 3 - To Review, dev:phpunit-tests

#33675 [stable10] Adjust Storage.php testStat timing
  tests/lib/Files/Storage/Storage.php
Labels: 3 - To Review, dev:phpunit-tests

#33666 Bump Symfony 3.4.18 to 3.4.19
  composer.lock
Labels: 3 - To Review, QA-team, dependencies

#33667 [stable10] Bump Symfony 3.4.18 to 3.4.19
  composer.lock
Labels: 3 - To Review, QA-team, dependencies

#32178 show a short list of mount infos: files_external:list --short
  apps/files_external/lib/Command/ListCommand.php
  apps/files_external/tests/Command/ListCommandTest.php
Labels: 3 - To Review, enhancement

#33684 [stable10] show a short list of mount infos: files_external:list --short
  apps/files_external/lib/Command/ListCommand.php
  apps/files_external/tests/Command/ListCommandTest.php
Labels: 4 - To release, enhancement

#33647 Test files:scan
  tests/acceptance/features/bootstrap/Auth.php
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliMain/files.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests
