Repository owncloud/core, pull requests merged in 2018-12, with the labels that each got.

#33714 Revert "[stable10] Backport of Add background job to clean up orphaned proper…"
  apps/dav/appinfo/info.xml
  apps/dav/lib/BackgroundJob/CleanProperties.php
  apps/dav/tests/unit/BackgroundJob/CleanPropertiesTest.php
Labels: 3 - To Review

#33721 [stable10] refactor sents http method
  tests/TestHelpers/UserHelper.php
  tests/acceptance/features/apiFederation/federated.feature
  tests/acceptance/features/apiProvisioning-v1/addGroup.feature
  tests/acceptance/features/apiProvisioning-v1/addToGroup.feature
  tests/acceptance/features/apiProvisioning-v1/createSubAdmin.feature
  tests/acceptance/features/apiProvisioning-v1/deleteGroup.feature
  tests/acceptance/features/apiProvisioning-v1/deleteUser.feature
  tests/acceptance/features/apiProvisioning-v1/disableUser.feature
  tests/acceptance/features/apiProvisioning-v1/enableUser.feature
  tests/acceptance/features/apiProvisioning-v1/getAppInfo.feature
  tests/acceptance/features/apiProvisioning-v1/getApps.feature
  tests/acceptance/features/apiProvisioning-v1/getGroup.feature
  tests/acceptance/features/apiProvisioning-v1/getGroups.feature
  tests/acceptance/features/apiProvisioning-v1/getSubAdminGroups.feature
  tests/acceptance/features/apiProvisioning-v1/getSubAdmins.feature
  tests/acceptance/features/apiProvisioning-v1/getUserGroups.feature
  tests/acceptance/features/apiProvisioning-v1/getUsers.feature
  tests/acceptance/features/apiProvisioning-v1/removeFromGroup.feature
  tests/acceptance/features/apiProvisioning-v1/removeSubAdmin.feature
  tests/acceptance/features/apiProvisioning-v2/addGroup.feature
  tests/acceptance/features/apiProvisioning-v2/addToGroup.feature
  tests/acceptance/features/apiProvisioning-v2/createSubAdmin.feature
  tests/acceptance/features/apiProvisioning-v2/deleteGroup.feature
  tests/acceptance/features/apiProvisioning-v2/deleteUser.feature
  tests/acceptance/features/apiProvisioning-v2/disableUser.feature
  tests/acceptance/features/apiProvisioning-v2/enableUser.feature
  tests/acceptance/features/apiProvisioning-v2/getAppInfo.feature
  tests/acceptance/features/apiProvisioning-v2/getApps.feature
  tests/acceptance/features/apiProvisioning-v2/getGroup.feature
  tests/acceptance/features/apiProvisioning-v2/getGroups.feature
  tests/acceptance/features/apiProvisioning-v2/getSubAdminGroups.feature
  tests/acceptance/features/apiProvisioning-v2/getSubAdmins.feature
  tests/acceptance/features/apiProvisioning-v2/getUserGroups.feature
  tests/acceptance/features/apiProvisioning-v2/getUsers.feature
  tests/acceptance/features/apiProvisioning-v2/removeFromGroup.feature
  tests/acceptance/features/apiProvisioning-v2/removeSubAdmin.feature
  tests/acceptance/features/apiShareManagement/createShare.feature
  tests/acceptance/features/apiShareManagement/deleteShare.feature
  tests/acceptance/features/apiShareOperations/accessToShare.feature
  tests/acceptance/features/apiShareOperations/gettingShares.feature
  tests/acceptance/features/bootstrap/FederationContext.php
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/bootstrap/Sharing.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33726 accept code 401-404 as 'files-does-not-exist'
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33723 [stable10] cli test add local mount for specific user
  tests/TestHelpers/SetupHelper.php
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliMain/files.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33727 [stable10] accept code 401-404 as 'files-does-not-exist'
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33702 Add tests for local mount for specific user
  tests/TestHelpers/SetupHelper.php
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliMain/files.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33709 List compatible apps instead of missing
  lib/private/Repair/Apps.php
Labels: 3 - To Review, backport-request

#33722 [stable10] Backport of Add background job to clean up orphaned proper…
  apps/dav/appinfo/info.xml
  apps/dav/lib/BackgroundJob/CleanProperties.php
  apps/dav/tests/unit/BackgroundJob/CleanPropertiesTest.php
Labels: 3 - To Review

#33729 [stable10] Changelog update post sprint 13
  CHANGELOG.md
Labels: 3 - To Review

#33730 [stable10] List compatible apps instead of missing
  lib/private/Repair/Apps.php
Labels: 4 - To release

#33735 [stable10] Fix public link invalid date issues
  apps/files_sharing/css/sharetabview.css
  core/js/sharedialogexpirationview.js
  core/js/sharedialoglinkshareview.js
Labels: 3 - To Review, bug, p3-medium

#33742 unskip fixed issue and fix broken test
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/bootstrap/WebUIAdminSharingSettingsContext.php
  tests/acceptance/features/lib/AdminSharingSettingsPage.php
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroups.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#33728 Members of excluded groups should not get any information about sharees
  apps/files_sharing/lib/Controller/ShareesController.php
  apps/files_sharing/tests/API/ShareesTest.php
  tests/acceptance/features/apiSharees/sharees.feature
  tests/acceptance/features/bootstrap/ShareesContext.php
Labels: 4 - To release, backport-request

#33745 Add tests for excluding group from receiving share
  tests/acceptance/features/bootstrap/WebUIAdminSharingSettingsContext.php
  tests/acceptance/features/lib/AdminSharingSettingsPage.php
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroups.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#33736 [stable10] Members of excluded groups should not get any information about sharees
  apps/files_sharing/lib/Controller/ShareesController.php
  apps/files_sharing/tests/API/ShareesTest.php
  tests/acceptance/features/apiSharees/sharees.feature
  tests/acceptance/features/bootstrap/ShareesContext.php
Labels: 4 - To release

#33744 Refactor acceptance test create folder steps
  tests/acceptance/features/apiComments/createComments.feature
  tests/acceptance/features/apiComments/deleteComments.feature
  tests/acceptance/features/apiComments/editComments.feature
  tests/acceptance/features/apiFavorites/favorites.feature
  tests/acceptance/features/apiMain/external-storage.feature
  tests/acceptance/features/apiMain/fileVersions.feature
  tests/acceptance/features/apiMain/quota.feature
  tests/acceptance/features/apiMain/transfer-ownership.feature
  tests/acceptance/features/apiShareManagement/acceptShares.feature
  tests/acceptance/features/apiShareManagement/createShare.feature
  tests/acceptance/features/apiShareManagement/deleteShare.feature
  tests/acceptance/features/apiShareManagement/mergeShare.feature
  tests/acceptance/features/apiShareManagement/moveReceivedShare.feature
  tests/acceptance/features/apiShareManagement/reShare.feature
  tests/acceptance/features/apiShareManagement/updateShare.feature
  tests/acceptance/features/apiShareOperations/changingFilesShare.feature
  tests/acceptance/features/apiShareOperations/downloadFromShare.feature
  tests/acceptance/features/apiShareOperations/getWebDAVSharePermissions.feature
  tests/acceptance/features/apiShareOperations/gettingShares.feature
  tests/acceptance/features/apiTrashbin/trashbinFilesFolders.feature
  tests/acceptance/features/apiTrashbin/trashbinRestore.feature
  tests/acceptance/features/apiWebdavOperations/deleteFolder.feature
  tests/acceptance/features/apiWebdavOperations/deleteFolderContents.feature
  tests/acceptance/features/apiWebdavOperations/search.feature
  tests/acceptance/features/apiWebdavOperations/uploadFile.feature
  tests/acceptance/features/apiWebdavProperties/copyFile.feature
  tests/acceptance/features/apiWebdavProperties/createFolder.feature
  tests/acceptance/features/apiWebdavProperties/getFileProperties.feature
  tests/acceptance/features/apiWebdavProperties/getQuota.feature
  tests/acceptance/features/apiWebdavProperties/moveFile.feature
  tests/acceptance/features/apiWebdavProperties/moveFileAsync.feature
  tests/acceptance/features/apiWebdavProperties/moveFolder.feature
  tests/acceptance/features/bootstrap/WebDav.php
  tests/acceptance/features/cliMain/files.feature
  tests/acceptance/features/webUISharingInternalUsers/acceptShares.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33665 Feature/yarn stable10
  .bowerrc
  .drone.yml
  .gitignore
  Makefile
  bower.json
  build/modclean-patterns-owncloud/index.js
  build/modclean-patterns-owncloud/package.json
  build/modclean-patterns-owncloud/patterns.json
  build/package-lock.json
  build/package.json
  build/yarn.lock
  tests/drone/bower-install.sh
  tests/drone/yarn-install.sh
Labels: 3 - To Review

#33266 [stable10] Introduce persistent and explicit locking of file and folders, increase version to 10.1
  .drone.yml
  .travis.yml
  apps/dav/lib/Connector/Sabre/FakeLockerPlugin.php
  apps/dav/lib/Connector/Sabre/LockPlugin.php
  apps/dav/lib/Connector/Sabre/Node.php
  apps/dav/lib/Connector/Sabre/ServerFactory.php
  apps/dav/lib/Files/FileLocksBackend.php
  apps/dav/lib/Server.php
  apps/dav/tests/ci/litmus-v1/install.sh
  apps/dav/tests/ci/litmus-v1/script.sh
  apps/dav/tests/ci/litmus-v2/install.sh
  apps/dav/tests/ci/litmus-v2/script.sh
  apps/dav/tests/unit/Connector/Sabre/FakeLockerPluginTest.php
  apps/dav/tests/unit/DAV/LockPluginTest.php
  apps/dav/tests/unit/Files/FileLocksBackendTest.php
  apps/files/appinfo/info.xml
  apps/files/lib/BackgroundJob/CleanupPersistentFileLocks.php
  apps/files/tests/BackgroundJob/CleanupPersistentFileLocksTest.php
  apps/files_sharing/lib/SharedStorage.php
  core/Migrations/Version20180607072706.php
  lib/private/DB/OracleMigrator.php
  lib/private/Files/Storage/Common.php
  lib/private/Files/Storage/Wrapper/Wrapper.php
  lib/private/Lock/Persistent/Lock.php
  lib/private/Lock/Persistent/LockManager.php
  lib/private/Lock/Persistent/LockMapper.php
  lib/private/Server.php
  lib/private/User/RemoteUser.php
  lib/private/User/User.php
  lib/public/Files/Storage/IPersistentLockingStorage.php
  lib/public/IUser.php
  lib/public/Lock/Persistent/ILock.php
  tests/Core/Command/Apps/AppsListTest.php
  tests/acceptance/features/apiWebdavProperties/moveFileAsync.feature
  tests/lib/DB/MigratorTest.php
  tests/lib/Files/Storage/LockingTests.php
  tests/lib/Files/Storage/Wrapper/WrapperTest.php
  tests/lib/Lock/Persistent/LockManagerTest.php
  tests/lib/Lock/Persistent/LockMapperTest.php
  version.php
Labels: 2 - Developing

#33746 [stable10] Refactor acceptance test create folder steps
  tests/acceptance/features/apiComments/createComments.feature
  tests/acceptance/features/apiComments/deleteComments.feature
  tests/acceptance/features/apiComments/editComments.feature
  tests/acceptance/features/apiFavorites/favorites.feature
  tests/acceptance/features/apiMain/external-storage.feature
  tests/acceptance/features/apiMain/fileVersions.feature
  tests/acceptance/features/apiMain/quota.feature
  tests/acceptance/features/apiMain/transfer-ownership.feature
  tests/acceptance/features/apiShareManagement/acceptShares.feature
  tests/acceptance/features/apiShareManagement/createShare.feature
  tests/acceptance/features/apiShareManagement/deleteShare.feature
  tests/acceptance/features/apiShareManagement/mergeShare.feature
  tests/acceptance/features/apiShareManagement/moveReceivedShare.feature
  tests/acceptance/features/apiShareManagement/reShare.feature
  tests/acceptance/features/apiShareManagement/updateShare.feature
  tests/acceptance/features/apiShareOperations/changingFilesShare.feature
  tests/acceptance/features/apiShareOperations/downloadFromShare.feature
  tests/acceptance/features/apiShareOperations/getWebDAVSharePermissions.feature
  tests/acceptance/features/apiShareOperations/gettingShares.feature
  tests/acceptance/features/apiTrashbin/trashbinFilesFolders.feature
  tests/acceptance/features/apiTrashbin/trashbinRestore.feature
  tests/acceptance/features/apiWebdavOperations/deleteFolder.feature
  tests/acceptance/features/apiWebdavOperations/deleteFolderContents.feature
  tests/acceptance/features/apiWebdavOperations/search.feature
  tests/acceptance/features/apiWebdavOperations/uploadFile.feature
  tests/acceptance/features/apiWebdavProperties/copyFile.feature
  tests/acceptance/features/apiWebdavProperties/createFolder.feature
  tests/acceptance/features/apiWebdavProperties/getFileProperties.feature
  tests/acceptance/features/apiWebdavProperties/getQuota.feature
  tests/acceptance/features/apiWebdavProperties/moveFile.feature
  tests/acceptance/features/apiWebdavProperties/moveFileAsync.feature
  tests/acceptance/features/apiWebdavProperties/moveFolder.feature
  tests/acceptance/features/bootstrap/WebDav.php
  tests/acceptance/features/cliMain/files.feature
  tests/acceptance/features/webUISharingInternalUsers/acceptShares.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33750 [stable10] cli test test files external
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliMain/files.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33593 Touch last login time when using auth modules
  lib/private/User/Session.php
  tests/lib/User/SessionTest.php
Labels: 4 - To release, backport-request

#33748 Add headers while downloading file as user
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33759 [stable10] Skip Help and Tips open link test scenario
  tests/acceptance/features/webUIAdminSettings/helpAndTips.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33743 Test file_versions with chunking upload
  tests/acceptance/features/apiMain/fileVersions.feature
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33760 Skip Help and Tips open link test scenario
  tests/acceptance/features/webUIAdminSettings/helpAndTips.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33758 [stable10] Test file_versions with chunking upload
  tests/acceptance/features/apiMain/fileVersions.feature
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33751 [stable10] Add headers while downloading file as user
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33756 [stable10] add tests for exclude group from receiving share
  tests/acceptance/features/bootstrap/WebUIAdminSharingSettingsContext.php
  tests/acceptance/features/lib/AdminSharingSettingsPage.php
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroups.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33752 [stable10] Touch last login time when using auth modules
  lib/private/User/Session.php
  tests/lib/User/SessionTest.php
Labels: 4 - To release

#33764 Enable phpcs for TestHelpers
  Makefile
  tests/TestHelpers/EmailHelper.php
  tests/TestHelpers/LoggingHelper.php
  tests/TestHelpers/SetupHelper.php
  tests/TestHelpers/TagsHelper.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33765 [stable10] Enable phpcs for TestHelpers
  Makefile
  tests/TestHelpers/EmailHelper.php
  tests/TestHelpers/LoggingHelper.php
  tests/TestHelpers/SetupHelper.php
  tests/TestHelpers/TagsHelper.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33757 Use chunks of arrays to pass to SQL query instead of big list
  lib/private/SystemTag/SystemTagObjectMapper.php
  tests/lib/SystemTag/SystemTagObjectMapperTest.php
Labels: 3 - To Review

#33027 [Stable10] [WIP] Federated sharing new spec
  apps/dav/appinfo/v1/publicwebdav.php
  apps/federatedfilesharing/appinfo/app.php
  apps/federatedfilesharing/appinfo/routes.php
  apps/federatedfilesharing/lib/Address.php
  apps/federatedfilesharing/lib/AddressHandler.php
  apps/federatedfilesharing/lib/AppInfo/Application.php
  apps/federatedfilesharing/lib/BackgroundJob/RetryJob.php
  apps/federatedfilesharing/lib/Controller/OcmController.php
  apps/federatedfilesharing/lib/Controller/RequestHandlerController.php
  apps/federatedfilesharing/lib/DiscoveryManager.php
  apps/federatedfilesharing/lib/FedShareManager.php
  apps/federatedfilesharing/lib/FederatedShareProvider.php
  apps/federatedfilesharing/lib/Middleware/OcmMiddleware.php
  apps/federatedfilesharing/lib/Notifications.php
  apps/federatedfilesharing/lib/Ocm/Exception/BadRequestException.php
  apps/federatedfilesharing/lib/Ocm/Exception/ForbiddenException.php
  apps/federatedfilesharing/lib/Ocm/Exception/NotImplementedException.php
  apps/federatedfilesharing/lib/Ocm/Exception/OcmException.php
  apps/federatedfilesharing/lib/Ocm/Notification/FileNotification.php
  apps/federatedfilesharing/lib/Ocm/Notification/Notification.php
  apps/federatedfilesharing/lib/Ocm/NotificationManager.php
  apps/federatedfilesharing/lib/Ocm/Permissions.php
  apps/federatedfilesharing/lib/RequestHandler.php
  apps/federatedfilesharing/tests/AddressHandlerTest.php
  apps/federatedfilesharing/tests/AddressTest.php
  apps/federatedfilesharing/tests/Controller/OcmControllerTest.php
  apps/federatedfilesharing/tests/Controller/RequestHandlerTest.php
  apps/federatedfilesharing/tests/DiscoveryManagerTest.php
  apps/federatedfilesharing/tests/FedShareManagerTest.php
  apps/federatedfilesharing/tests/FederatedShareProviderTest.php
  apps/federatedfilesharing/tests/Middleware/OcmMiddlewareTest.php
  apps/federatedfilesharing/tests/NotificationsTest.php
  apps/federatedfilesharing/tests/Ocm/PermissionsTest.php
  apps/federatedfilesharing/tests/RequestHandlerTest.php
  apps/files_sharing/ajax/external.php
  apps/files_sharing/ajax/shareinfo.php
  apps/files_sharing/lib/Hooks.php
  apps/files_sharing/lib/ShareBackend/File.php
  core/routes.php
  lib/private/AppFramework/Routing/RouteConfig.php
  lib/private/Route/Router.php
  lib/private/Share20/ProviderFactory.php
  ocm-provider/index.php
  ocs/routes.php
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/webUISharingExternal/federationSharing.feature
Labels: 4 - To release

#33650 Update moment JS to 2.22.2
  build/package.json
Labels: 3 - To Review, p2-high

#33738 More tests for specific group
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliMain/files.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33781 [stable10] skip tests that fail in S3
  tests/acceptance/features/apiMain/fileVersions.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33771 Add cascade delete to oc_persistent_locks
  core/Migrations/Version20180607072706.php
  tests/lib/Lock/Persistent/LockMapperTest.php
Labels: backport-request

#33780 skip tests that fail in S3
  tests/acceptance/features/apiMain/fileVersions.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33789 move files_versions related steps
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/FilesVersionsContext.php
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33782 move dav response check into helper
  tests/TestHelpers/Asserts/WebDav.php
  tests/acceptance/features/apiMain/caldav.feature
  tests/acceptance/features/apiMain/carddav.feature
  tests/acceptance/features/bootstrap/CalDavContext.php
  tests/acceptance/features/bootstrap/CardDavContext.php
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33783 move comment related test code to Comments trait
  tests/acceptance/features/bootstrap/Comments.php
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33788 [stable10] move comment related test code to Comments trait
  tests/acceptance/features/bootstrap/Comments.php
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33790 [stable10] move files_versions related steps
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/FilesVersionsContext.php
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33786 [stable10] move dav response check into helper
  tests/TestHelpers/Asserts/WebDav.php
  tests/acceptance/features/apiMain/caldav.feature
  tests/acceptance/features/apiMain/carddav.feature
  tests/acceptance/features/bootstrap/CalDavContext.php
  tests/acceptance/features/bootstrap/CardDavContext.php
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33795 pause upload to prevent files with same etag
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33796 [stable10] pause upload to prevent files with same etag
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33797 use existing function to substitute codes in feature files
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/CapabilitiesContext.php
  tests/acceptance/features/bootstrap/EmailContext.php
  tests/acceptance/features/bootstrap/WebDav.php
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33798 [stable10] use existing function to substitute codes in feature files
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/CapabilitiesContext.php
  tests/acceptance/features/bootstrap/EmailContext.php
  tests/acceptance/features/bootstrap/WebDav.php
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33768 [stable10] Test files:scan for specific users (negative validation)
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliMain/files.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33805 [acceptance tests] remember user init-time as upload time
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33801 [stable10] [acceptance tests] correct usage of TableNode
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33806 [stable10] [acceptance tests] remember user init-time as upload time
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33784 Create new method for uploading file with headers in tests
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33787 [stable10] Create new method for uploading file with headers
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33800 move check into Helper
  tests/TestHelpers/Asserts/WebDav.php
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33799 [acceptance tests] correct usage of TableNode
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33785 [stable10] Add cascade delete to oc_persistent_locks
  core/Migrations/Version20180607072706.php
  tests/lib/Lock/Persistent/LockMapperTest.php
Labels: 3 - To Review

#33815 Fix conflict resolution of uploadFileWithHeaders
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33812 Revert "merge teststeps"
  tests/acceptance/features/apiWebdavOperations/uploadFileUsingNewChunking.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33818 [stable10] Fix conflict resolution of uploadFileWithHeaders
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33813 Revert "[stable10] merge teststeps"
  tests/acceptance/features/apiWebdavOperations/uploadFileUsingNewChunking.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33809 [stable10] move check into Helper
  tests/TestHelpers/Asserts/WebDav.php
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33825 skipOnOcV10.0 filename chunking scenario for filename 0
  tests/acceptance/features/apiWebdavOperations/uploadFileUsingNewChunking.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33826 [stable10] skipOnOcV10.0 filename chunking scenario for filename 0
  tests/acceptance/features/apiWebdavOperations/uploadFileUsingNewChunking.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33820 Bump symfony v3.4.19 => v3.4.20
  composer.lock
Labels: 3 - To Review, dependencies

#33821 [stable10] Bump symfony v3.4.19 => v3.4.20
  composer.lock
Labels: 3 - To Review, dependencies

#33767 Test file scan group negative validation
  tests/acceptance/features/cliMain/files.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#33831 fix snakeoil tests
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33834 [stable10] Test for groups `files:scan` command negative validation
  tests/acceptance/features/cliMain/files.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33829 Patch bumps punic pear-core-minimal email-validator xdebug-handler
  composer.lock
Labels: 3 - To Review, QA-team, dependencies

#33830 [stable10] Patch bumps punic pear-core-minimal xdebug-handler
  composer.lock
Labels: 3 - To Review, QA-team, dependencies

#33836 Add option to pass headers in chunked upload
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33841 [Stable10] Add option to pass headers in chunked upload
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33823 Use parenthesis for lock owner
  lib/private/Lock/Persistent/LockManager.php
  tests/lib/Lock/Persistent/LockManagerTest.php
Labels: backport-request

#33843 [stable10] Use parenthesis for lock owner
  lib/private/Lock/Persistent/LockManager.php
  tests/lib/Lock/Persistent/LockManagerTest.php
Labels: 3 - To Review

#33712 Add customgroup sharing for contacts app
  apps/dav/lib/Connector/Sabre/Principal.php
Labels: 3 - To Review, backport-request, discussion

#33852 [stable10] fix favorites acceptance tests
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiFavorites/favorites.feature
  tests/acceptance/features/bootstrap/FavoritesContext.php
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33842 fix favorites acceptance tests
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiFavorites/favorites.feature
  tests/acceptance/features/bootstrap/FavoritesContext.php
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33839 webUI tests for admin external storage page
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/WebUIAdminStorageSettingsContext.php
  tests/acceptance/features/lib/AdminStorageSettingsPage.php
  tests/acceptance/features/webUIAdminSettings/adminStorageSettings.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#33856 WebUI files_external delete mount
  tests/acceptance/features/bootstrap/WebUIAdminStorageSettingsContext.php
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
  tests/acceptance/features/lib/AdminStorageSettingsPage.php
  tests/acceptance/features/webUIAdminSettings/adminStorageSettings.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#33855 [stable10] web ui files external
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/WebUIAdminStorageSettingsContext.php
  tests/acceptance/features/lib/AdminStorageSettingsPage.php
  tests/acceptance/features/webUIAdminSettings/adminStorageSettings.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33854 move uploadWithAllMechanisms to helper
  tests/TestHelpers/UploadHelper.php
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33857 [stable10] web ui files external delete
  tests/acceptance/features/bootstrap/WebUIAdminStorageSettingsContext.php
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
  tests/acceptance/features/lib/AdminStorageSettingsPage.php
  tests/acceptance/features/webUIAdminSettings/adminStorageSettings.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33858 [stable10] move uploadWithAllMechanisms to helper
  tests/TestHelpers/UploadHelper.php
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33849 [stable10] Add sharing scope to enable addressbook sharing with custo…
  apps/dav/lib/Connector/Sabre/Principal.php
Labels: 3 - To Review

#33862 Update activity listener for static tags
  apps/systemtags/lib/Activity/Extension.php
  apps/systemtags/lib/Activity/Listener.php
  apps/systemtags/tests/ExtensionTest.php
  apps/systemtags/tests/ListenerTest.php
Labels: 3 - To Review

#33704 Unit test `DeleteHelper` and setup CI for it
  tests/TestHelpers/DeleteHelper.php
  tests/TestHelpers/HttpRequestHelper.php
  tests/TestHelpers/Unit/DeleteHelperTest.php
  tests/TestHelpers/WebDavHelper.php
  tests/bootstrap.php
  tests/phpunit-autotest.xml
Labels: 4 - To release, QA-team, backport-request, dev:phpunit-tests

#33864 [stable10] Backport of Update activity listener for static tags
  apps/systemtags/lib/Activity/Extension.php
  apps/systemtags/lib/Activity/Listener.php
  apps/systemtags/tests/ExtensionTest.php
  apps/systemtags/tests/ListenerTest.php
Labels: 3 - To Review

#33860 config sample asciidoc fixes
  config/config.apps.sample.php
  config/config.sample.php
Labels: 3 - To Review, backport-request

#33844 Bypass apps blocking for daily/git channel
  lib/private/Repair/Apps.php
  tests/lib/Repair/AppsTest.php
Labels: 3 - To Review

#33870 [stable10] config sample asciidoc fixes
  config/config.apps.sample.php
  config/config.sample.php
Labels: 3 - To Review

#33873 [acceptance tests] do not use deprecated function
  tests/acceptance/features/bootstrap/WebUILoginContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33724 Unittest WebDavHelper
  tests/TestHelpers/Unit/DeleteHelperTest.php
  tests/TestHelpers/Unit/WebDavHelperTest.php
Labels: 3 - To Review, QA-team, dev:phpunit-tests

#33874 [stable10] [acceptance tests] do not use deprecated function
  tests/acceptance/features/bootstrap/WebUILoginContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33302 do not iterate over all storages when you only need a single node anyway
  apps/comments/appinfo/app.php
  apps/comments/lib/Activity/Listener.php
  apps/comments/tests/unit/ActivityListenerTest.php
  apps/dav/lib/Connector/Sabre/FilesReportPlugin.php
  apps/dav/lib/RootCollection.php
  apps/dav/lib/SystemTag/SystemTagsObjectTypeCollection.php
  apps/federatedfilesharing/lib/FederatedShareProvider.php
  apps/federatedfilesharing/tests/FederatedShareProviderTest.php
  apps/files/lib/ActivityHelper.php
  apps/files/tests/ActivityHelperTest.php
  apps/files_sharing/lib/Controller/Share20OcsController.php
  apps/files_sharing/lib/SharedMount.php
  apps/systemtags/lib/Activity/Listener.php
  apps/systemtags/tests/ListenerTest.php
  apps/systemtags/tests/unit/activity/ExtensionTest.php
  apps/systemtags/tests/unit/activity/ListenerTest.php
  lib/private/Files/Config/CachedMountInfo.php
  lib/private/Files/Meta/MetaFileIdNode.php
  lib/private/Files/Meta/MetaRootNode.php
  lib/private/Files/Meta/MetaVersionCollection.php
  lib/private/Files/Node/AbstractFolder.php
  lib/private/Files/Node/Folder.php
  lib/private/Files/Node/LazyRoot.php
  lib/private/Files/Node/NonExistingFolder.php
  lib/private/Files/Storage/Wrapper/Jail.php
  lib/private/Share20/Share.php
  lib/public/Files/Folder.php
  tests/lib/Files/MetaFilesTest.php
  tests/lib/Files/MetaVersionCollectionTest.php
  tests/lib/Files/Storage/Wrapper/JailTest.php
Labels: 3 - To Review, app:files_versions, backport-request, blue-ticket

#33859 [stable10] do not iterate over all storages when you only need a single node anyway
  apps/comments/appinfo/app.php
  apps/comments/lib/Activity/Listener.php
  apps/comments/tests/unit/ActivityListenerTest.php
  apps/dav/lib/Connector/Sabre/FilesReportPlugin.php
  apps/dav/lib/RootCollection.php
  apps/dav/lib/SystemTag/SystemTagsObjectTypeCollection.php
  apps/federatedfilesharing/lib/FederatedShareProvider.php
  apps/federatedfilesharing/tests/FederatedShareProviderTest.php
  apps/files/lib/ActivityHelper.php
  apps/files/tests/ActivityHelperTest.php
  apps/files_sharing/lib/API/Share20OCS.php
  apps/files_sharing/lib/SharedMount.php
  apps/systemtags/lib/Activity/Listener.php
  apps/systemtags/tests/ListenerTest.php
  apps/systemtags/tests/unit/activity/ExtensionTest.php
  apps/systemtags/tests/unit/activity/ListenerTest.php
  lib/private/Files/Config/CachedMountInfo.php
  lib/private/Files/Meta/MetaFileIdNode.php
  lib/private/Files/Meta/MetaRootNode.php
  lib/private/Files/Meta/MetaVersionCollection.php
  lib/private/Files/Node/AbstractFolder.php
  lib/private/Files/Node/Folder.php
  lib/private/Files/Node/LazyRoot.php
  lib/private/Files/Node/NonExistingFolder.php
  lib/private/Files/Storage/Wrapper/Jail.php
  lib/private/Share20/Share.php
  lib/public/Files/Folder.php
  tests/lib/Files/MetaFilesTest.php
  tests/lib/Files/MetaVersionCollectionTest.php
  tests/lib/Files/Storage/Wrapper/JailTest.php
Labels: 3 - To Review

#33734 Fix 500 when uploading in to share without write/edit permissions #33416
  apps/dav/lib/Connector/Sabre/Directory.php
  apps/dav/lib/Connector/Sabre/File.php
  apps/dav/tests/unit/Connector/Sabre/DirectoryTest.php
  tests/acceptance/features/apiShareOperations/uploadToShare.feature
Labels: 2 - Developing

#33876 [stable10] Unittest test helpers
  tests/TestHelpers/DeleteHelper.php
  tests/TestHelpers/HttpRequestHelper.php
  tests/TestHelpers/Unit/DeleteHelperTest.php
  tests/TestHelpers/Unit/WebDavHelperTest.php
  tests/TestHelpers/WebDavHelper.php
  tests/bootstrap.php
  tests/phpunit-autotest.xml
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33879 [stable10] Backport of Use 'Public link' instead of file name in the …
  core/js/sharedialoglinklistview.js
  core/js/tests/specs/sharedialoglinklistviewSpec.js
  tests/acceptance/features/webUISharingExternal/shareByPublicLink.feature
Labels: 3 - To Review

#33884 fix invalid test step
  tests/acceptance/features/apiShareOperations/uploadToShare.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33861 [stable10] Bypass apps blocking for daily/git channel
  lib/private/Repair/Apps.php
  tests/lib/Repair/AppsTest.php
Labels: 3 - To Review

#33887 [stable10] Check in yarn.lock
  build/yarn.lock
Labels: 3 - To Review

#33640 [stable10] Fix 500 when uploading in to share without write/edit permissions
  apps/dav/lib/Connector/Sabre/Directory.php
  apps/dav/lib/Connector/Sabre/File.php
  apps/dav/tests/unit/Connector/Sabre/DirectoryTest.php
  tests/acceptance/features/apiShareOperations/uploadToShare.feature
Labels: 4 - To release, backport-request

#33877 Add webUI acceptance tests for checking set and delete profile pic (avatar)
  tests/acceptance/features/bootstrap/WebUIPersonalGeneralSettingsContext.php
  tests/acceptance/features/lib/PersonalGeneralSettingsPage.php
  tests/acceptance/features/webUIPersonalSettings/personalGeneralSettings.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#33865 Add tests to check re-share behavior inside blacklisted from sharing group
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/WebUIAdminSharingSettingsContext.php
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialog.php
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroups.feature
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#33866 [stable10] web ui test exclude group reshare
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/WebUIAdminSharingSettingsContext.php
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialog.php
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroups.feature
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33892 [Stable10]Add webUI acceptance tests for checking set and delete profile pic (avatar)
  tests/acceptance/features/bootstrap/WebUIPersonalGeneralSettingsContext.php
  tests/acceptance/features/lib/PersonalGeneralSettingsPage.php
  tests/acceptance/features/webUIPersonalSettings/personalGeneralSettings.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33595 Add mime types for sharedlib and executable
  resources/config/mimetypemapping.dist.json
Labels: 3 - To Review

#33893 [stable10] Backport of Add mime types for sharedlib and executable
  resources/config/mimetypemapping.dist.json
Labels: 3 - To Review

#33896 [stable10] Relax AppsListTest::testCommandInput - necessary to pass update testing
  tests/Core/Command/Apps/AppsListTest.php
Labels: 3 - To Review

#33889 Fix uploads file with all mechanisms step related tests
  tests/acceptance/features/apiFederation/federated.feature
  tests/acceptance/features/apiMain/external-storage.feature
  tests/acceptance/features/apiMain/fileVersions.feature
  tests/acceptance/features/apiMain/quota.feature
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#33899 [stable10] fix uploads file with all mechanisms related tests
  tests/acceptance/features/apiFederation/federated.feature
  tests/acceptance/features/apiMain/external-storage.feature
  tests/acceptance/features/apiMain/fileVersions.feature
  tests/acceptance/features/apiMain/quota.feature
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33903 Bump phpstan 0.10.3=>0.10.6
  Makefile
Labels: 4 - To release, QA-team, dependencies

#33910 Run unittest that needs db in drone also
  tests/lib/TestCase.php
Labels: 4 - To release, QA-team, backport-request

#33911 [stable10] Run unittest that needs db in drone also
  tests/lib/TestCase.php
Labels: 4 - To release, QA-team

#33907 Correction to default apps folder in config.sample.php
  config/config.sample.php
Labels: 3 - To Review

#33912 [stable10] Correction to default apps folder in config.sample.php
  config/config.sample.php
Labels: 3 - To Review, QA-team

#33913 Add webUI acceptance tests for checking upload profile picture feature
  tests/TestHelpers/UploadHelper.php
  tests/acceptance/features/bootstrap/WebUIPersonalGeneralSettingsContext.php
  tests/acceptance/features/lib/PersonalGeneralSettingsPage.php
  tests/acceptance/features/webUIPersonalSettings/personalGeneralSettings.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#33909 Feature/allow cors header x request
  apps/dav/tests/unit/Connector/Sabre/CorsPluginTest.php
  composer.json
  lib/private/legacy/response.php
Labels: 3 - To Review

#33928 [stable10] Update changelog post sprint 14
  CHANGELOG.md
Labels: 4 - To release

#33926 [stable10] Add X-Request-ID to header Access-Control-Allow-Headers
  apps/dav/tests/unit/Connector/Sabre/CorsPluginTest.php
  composer.json
  lib/private/legacy/response.php
Labels: 4 - To release

#33929 Calculate the proper location of the tests/acceptance/features dir
  .drone.yml
  tests/acceptance/run.sh
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33930 [stable10] Calculate the proper location of the tests/acceptance/features dir
  .drone.yml
  tests/acceptance/run.sh
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33933 Provide database access on CI checking for `CI` variables
  tests/lib/TestCase.php
Labels: 4 - To release, QA-team

#33945 [stable10] Expand occ user reset password email validation
  composer.json
  composer.lock
  core/Command/User/ResetPassword.php
  tests/Core/Command/User/ResetPasswordTest.php
Labels: 3 - To Review, comp:console-occ

#33669 Fix up grammar mistake in console output
  core/Command/User/SyncBackend.php
  tests/lib/Command/User/SyncBackendTest.php
Labels: 3 - To Review, backport-request

#32250 Feature/webdav locking frontend
  .drone.yml
  apps/files/js/file-upload.js
  apps/files/js/filelist.js
  apps/files/js/filelockplugin.js
  apps/files/js/locktabview.js
  apps/files/lib/Controller/ViewController.php
  apps/files/tests/js/filelistSpec.js
  apps/files/tests/js/filelockpluginSpec.js
  apps/files/tests/js/locktabviewSpec.js
  core/css/icons.css
  core/img/actions/lock-closed.svg
  core/img/actions/lock-open.svg
  core/js/files/client.js
  core/js/tests/specs/files/clientSpec.js
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/WebDavLockingContext.php
  tests/acceptance/features/bootstrap/WebUIWebDavLockingContext.php
  tests/acceptance/features/lib/FilesPageElement/FileRow.php
  tests/acceptance/features/lib/FilesPageElement/LockDialog.php
  tests/acceptance/features/lib/FilesPageElement/LockDialogElement/LockEntry.php
  tests/acceptance/features/webUIWebdavLocks/locks.feature
Labels: 3 - To Review, backport-request, feature:persistent-locking

#33947 [stable10] Fix up grammar mistake in console output
  core/Command/User/SyncBackend.php
  tests/lib/Command/User/SyncBackendTest.php
Labels: 4 - To release

#33950 [stable10] Adjust waitTillXpathIsVisible calls
  tests/acceptance/features/lib/AdminAppsSettingsPage.php
  tests/acceptance/features/lib/AdminGeneralSettingsPage.php
  tests/acceptance/features/lib/AdminSharingSettingsPage.php
  tests/acceptance/features/lib/AdminStorageSettingsPage.php
  tests/acceptance/features/lib/FilesPageElement/FileActionsMenu.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialog.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialogElement/EditPublicLinkPopup.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialogElement/PublicLinkTab.php
  tests/acceptance/features/lib/NotificationsAppDialog.php
  tests/acceptance/features/lib/OwncloudPage.php
  tests/acceptance/features/lib/OwncloudPageElement/SettingsMenu.php
  tests/acceptance/features/lib/PersonalGeneralSettingsPage.php
  tests/acceptance/features/lib/PersonalSecuritySettingsPage.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33949 Adjust waitTillXpathIsVisible calls
  tests/acceptance/features/lib/AdminAppsSettingsPage.php
  tests/acceptance/features/lib/AdminGeneralSettingsPage.php
  tests/acceptance/features/lib/AdminSharingSettingsPage.php
  tests/acceptance/features/lib/AdminStorageSettingsPage.php
  tests/acceptance/features/lib/FilesPageElement/FileActionsMenu.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialog.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialogElement/EditPublicLinkPopup.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialogElement/PublicLinkTab.php
  tests/acceptance/features/lib/NotificationsAppDialog.php
  tests/acceptance/features/lib/OwncloudPage.php
  tests/acceptance/features/lib/OwncloudPageElement/SettingsMenu.php
  tests/acceptance/features/lib/PersonalGeneralSettingsPage.php
  tests/acceptance/features/lib/PersonalSecuritySettingsPage.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33954 [stable10] Small config sample fixes
  config/config.apps.sample.php
  config/config.sample.php
Labels: 3 - To Review

#33544 [stable10] Use new DAV endpoint in web UI file list and upload
  apps/files/js/filelist.js
  apps/files/tests/js/filelistSpec.js
  core/js/files/client.js
  core/js/tests/specs/files/clientSpec.js
Labels: 3 - To Review

#33946 Add new capability string for public share
  apps/files_sharing/lib/Capabilities.php
  apps/files_sharing/tests/CapabilitiesTest.php
  core/js/sharedialoglinklistview.js
  core/js/tests/specs/sharedialoglinklistviewSpec.js
Labels: 3 - To Review, backport-request

#33955 [stable10] Backport of Add new capability string for public share
  apps/files_sharing/lib/Capabilities.php
  apps/files_sharing/tests/CapabilitiesTest.php
  core/js/sharedialoglinklistview.js
  core/js/tests/specs/sharedialoglinklistviewSpec.js
Labels: 4 - To release

#33951 [stable10] Webdav locking frontend
  .drone.yml
  apps/files/js/file-upload.js
  apps/files/js/filelist.js
  apps/files/js/filelockplugin.js
  apps/files/js/locktabview.js
  apps/files/lib/Controller/ViewController.php
  apps/files/tests/js/filelistSpec.js
  apps/files/tests/js/filelockpluginSpec.js
  apps/files/tests/js/locktabviewSpec.js
  core/css/icons.css
  core/img/actions/lock-closed.svg
  core/img/actions/lock-open.svg
  core/js/files/client.js
  core/js/tests/specs/files/clientSpec.js
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/WebDavLockingContext.php
  tests/acceptance/features/bootstrap/WebUIWebDavLockingContext.php
  tests/acceptance/features/lib/FilesPageElement/FileRow.php
  tests/acceptance/features/lib/FilesPageElement/LockDialog.php
  tests/acceptance/features/lib/FilesPageElement/LockDialogElement/LockEntry.php
  tests/acceptance/features/webUIWebdavLocks/locks.feature
Labels: 3 - To Review

#33953 Small config sample fixes
  config/config.apps.sample.php
  config/config.sample.php
Labels: 4 - To release

#33888 Fix persistent lock retrieval by path
  lib/private/Lock/Persistent/LockMapper.php
  lib/public/Lock/Persistent/ILock.php
  tests/acceptance/features/webUIWebdavLocks/locks.feature
  tests/lib/Lock/Persistent/LockMapperTest.php
Labels: 4 - To release, backport-request

#33958 [stable10] Update changelog for 10.1 beta
  CHANGELOG.md
Labels: 3 - To Review

#33957 [stable10] Fix persistent lock retrieval by path
  lib/private/Lock/Persistent/LockMapper.php
  lib/public/Lock/Persistent/ILock.php
  tests/acceptance/features/webUIWebdavLocks/locks.feature
  tests/lib/Lock/Persistent/LockMapperTest.php
Labels: 3 - To Review

#33948 Check if sharing is allowed in webUI re-sharing steps
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#33959 [Stable10] Check if sharing is allowed in webUI re-sharing steps
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33960 [stable10] Remove core/l10n from release build
  Makefile
Labels: 4 - To release, backport-request

#33961 Remove core/l10n from release build
  Makefile
Labels: 3 - To Review

#33964 make findTagIdByNamePublic method public
  tests/acceptance/features/bootstrap/Tags.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33965 [stable10] make findTagIdByNamePublic method public
  tests/acceptance/features/bootstrap/Tags.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33976 Refactor waitToCreateShare
  tests/acceptance/features/bootstrap/Sharing.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33977 [stable10] Refactor waitToCreateShare
  tests/acceptance/features/bootstrap/Sharing.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33978 Offset expiry from last share time in acceptance tests
  tests/acceptance/features/bootstrap/Sharing.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33979 [stable10] offset expiry from last share time
  tests/acceptance/features/bootstrap/Sharing.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33984 [stable10] Quote strings in behat.yml
  tests/acceptance/config/behat.yml
Labels: 4 - To release, QA-team, dev:acceptance-tests
