Repository owncloud/core, pull requests merged in 2018-10, with the labels that each got.

#32922 [stable10] rephrase usermanagement statement
  tests/acceptance/features/bootstrap/WebUIUsersContext.php
  tests/acceptance/features/webUISettingsMenu/settingsMenu.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32923 Add loop config option in `run.sh`
  tests/acceptance/run.sh
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32927 Add webUI acceptance test for adding comment in files
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/lib/FavoritesPage.php
  tests/acceptance/features/lib/FilesPageElement/DetailsDialog.php
  tests/acceptance/features/webUIComments/comments.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32933 [stable10] Add webUI acceptance test for adding comment in files
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/lib/FavoritesPage.php
  tests/acceptance/features/lib/FilesPageElement/DetailsDialog.php
  tests/acceptance/features/webUIComments/comments.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32929 Simplify 'When the user logs in' steps
  tests/acceptance/features/bootstrap/WebUILoginContext.php
  tests/acceptance/features/webUIComments/comments.feature
  tests/acceptance/features/webUIFavorites/favoritesFile.feature
  tests/acceptance/features/webUIFavorites/unfavoriteFile.feature
  tests/acceptance/features/webUIFiles/browseDirectlyToDetailsTab.feature
  tests/acceptance/features/webUIFiles/createFolders.feature
  tests/acceptance/features/webUIFiles/createFoldersEdgeCases.feature
  tests/acceptance/features/webUIFiles/deleteFilesFolders.feature
  tests/acceptance/features/webUIFiles/fileDetails.feature
  tests/acceptance/features/webUIFiles/hiddenFile.feature
  tests/acceptance/features/webUIFiles/scrollMenuIntoView.feature
  tests/acceptance/features/webUIFiles/search.feature
  tests/acceptance/features/webUILogin/login.feature
  tests/acceptance/features/webUIMoveFilesFolders/moveFiles.feature
  tests/acceptance/features/webUIMoveFilesFolders/moveFolders.feature
  tests/acceptance/features/webUIPersonalSettings/changeOwnEmailAddress.feature
  tests/acceptance/features/webUIPersonalSettings/changeOwnFullName.feature
  tests/acceptance/features/webUIPersonalSettings/changePasswordFromSetting.feature
  tests/acceptance/features/webUIPersonalSettings/personalGeneralSettings.feature
  tests/acceptance/features/webUIPersonalSettings/personalSecuritySettings.feature
  tests/acceptance/features/webUIRenameFiles/renameFiles.feature
  tests/acceptance/features/webUIRenameFiles/renameFilesInsideProblematicFolderName.feature
  tests/acceptance/features/webUIRenameFolders/renameFolders.feature
  tests/acceptance/features/webUIRestrictSharing/disableSharing.feature
  tests/acceptance/features/webUIRestrictSharing/restrictReSharing.feature
  tests/acceptance/features/webUIRestrictSharing/restrictSharing.feature
  tests/acceptance/features/webUISharingExternal/federationSharing.feature
  tests/acceptance/features/webUISharingExternal/shareByPublicLink.feature
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroups.feature
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroupsEdgeCases.feature
  tests/acceptance/features/webUISharingInternalUsers/acceptShares.feature
  tests/acceptance/features/webUISharingInternalUsers/shareAutocompletion.feature
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
  tests/acceptance/features/webUISharingNotifications/notificationLink.feature
  tests/acceptance/features/webUISharingNotifications/shareWithGroups.feature
  tests/acceptance/features/webUISharingNotifications/shareWithUsers.feature
  tests/acceptance/features/webUITrashbin/restore.feature
  tests/acceptance/features/webUITrashbin/trashbinDelete.feature
  tests/acceptance/features/webUITrashbin/trashbinFilesFolders.feature
  tests/acceptance/features/webUIUpload/upload.feature
  tests/acceptance/features/webUIUpload/uploadEdgecases.feature
  tests/acceptance/features/webUIUpload/uploadFileGreaterThanQuotaSize.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32925 [stable10] ui test rephrase settings menu
  tests/acceptance/features/bootstrap/WebUIUsersContext.php
  tests/acceptance/features/webUISettingsMenu/settingsMenu.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32926 [stable10] ui test manage user quota fix wait
  tests/acceptance/features/lib/UsersPage.php
  tests/acceptance/features/webUIManageQuota/manageUserQuota.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32953 Remove ambiguous adminLogsInUsingTheWebUI Gherkin
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32954 [stable10] Remove ambiguous adminLogsInUsingTheWebUI Gherkin
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
  tests/acceptance/features/webUIManageQuota/manageUserQuota.feature
  tests/acceptance/features/webUIManageUsersGroups/addGroup.feature
  tests/acceptance/features/webUIManageUsersGroups/addUsers.feature
  tests/acceptance/features/webUIManageUsersGroups/deleteUsers.feature
  tests/acceptance/features/webUIManageUsersGroups/disableUsers.feature
  tests/acceptance/features/webUIManageUsersGroups/manageGroups.feature
  tests/acceptance/features/webUISettingsMenu/settingsMenu.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32883 Test for creating tags for files
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/Tags.php
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/lib/FilesPage.php
  tests/acceptance/features/lib/FilesPageElement/DetailsDialog.php
  tests/acceptance/features/webUITags/createTags.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32930 Test editing public link name
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialogElement/EditPublicLinkPopup.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialogElement/PublicLinkTab.php
  tests/acceptance/features/webUISharingExternal/shareByPublicLink.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32924 [stable10] Add loop config option in `run.sh`
  tests/acceptance/run.sh
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32931 [stable10] Test publicly shared folder to show up on Shared-By-Link page
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/lib/SharedByLinkPage.php
  tests/acceptance/features/webUISharingExternal/shareByPublicLink.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32956 Add webUI acceptance tests for search by tags feature
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/lib/TagsPage.php
  tests/acceptance/features/webUIFiles/search.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32950 [stable10] Bump symfony 3.4.15 to 3.4.16
  composer.lock
Labels: 3 - To Review, dependencies

#32949 Bump symfony 3.4.15 to 3.4.16
  composer.lock
Labels: 3 - To Review, dependencies

#32932 [stable10] Test editing public link name
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialogElement/EditPublicLinkPopup.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialogElement/PublicLinkTab.php
  tests/acceptance/features/webUISharingExternal/shareByPublicLink.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32962 webUI acceptance test for displaying group names, federated cloud id and version
  tests/acceptance/features/bootstrap/WebUIPersonalGeneralSettingsContext.php
  tests/acceptance/features/lib/PersonalGeneralSettingsPage.php
  tests/acceptance/features/webUIPersonalSettings/personalGeneralSettings.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32958 Web UI admin general settings
  .drone.yml
  tests/TestHelpers/EmailHelper.php
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/bootstrap/WebUIAdminGeneralSettingsContext.php
  tests/acceptance/features/lib/AdminGeneralSettingsPage.php
  tests/acceptance/features/webUIAdminSettings/adminGeneralSettings.feature
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#32959 [Stable10] Add webUI acceptance tests for search by tags feature
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/lib/TagsPage.php
  tests/acceptance/features/webUIFiles/search.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32963 [stable10]webUI acceptance test for displaying group names, federated cloud id and version
  tests/acceptance/features/bootstrap/WebUIPersonalGeneralSettingsContext.php
  tests/acceptance/features/lib/PersonalGeneralSettingsPage.php
  tests/acceptance/features/webUIPersonalSettings/personalGeneralSettings.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#32964 [stable10] web ui admin general settings
  .drone.yml
  tests/TestHelpers/EmailHelper.php
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/bootstrap/WebUIAdminGeneralSettingsContext.php
  tests/acceptance/features/lib/AdminGeneralSettingsPage.php
  tests/acceptance/features/webUIAdminSettings/adminGeneralSettings.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#32960 edit user settings change statements on Api provisioning
  tests/TestHelpers/EmailHelper.php
  tests/TestHelpers/UserHelper.php
  tests/acceptance/features/apiProvisioning-v1/editUser.feature
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/lib/AdminGeneralSettingsPage.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#32884 [stable10] Test for creating tags for files
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/Tags.php
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/lib/FilesPage.php
  tests/acceptance/features/lib/FilesPageElement/DetailsDialog.php
  tests/acceptance/features/webUITags/createTags.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#32967 [stable10] api test edit user change statements
  tests/TestHelpers/EmailHelper.php
  tests/TestHelpers/UserHelper.php
  tests/acceptance/features/apiProvisioning-v1/editUser.feature
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/lib/AdminGeneralSettingsPage.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#32968 [stable10] Test sharing a folder and if it shows up in Shared-With-You page
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#32928 Test publicly shared folder to show up on Shared-By-Link page
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/lib/SharedByLinkPage.php
  tests/acceptance/features/webUISharingExternal/shareByPublicLink.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#32970 Run webUIComments acceptance test suite on drone
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/webUIComments/comments.feature
  tests/acceptance/features/webUIFiles/search.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32971 [stable10] run webUIComments acceptance test suite on drone
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/webUIComments/comments.feature
  tests/acceptance/features/webUIFiles/search.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32973 [stable10] Add create user with email address to smoke test
  tests/acceptance/features/webUIManageUsersGroups/addUsers.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32966 Fix email not sending to self
  tests/acceptance/features/lib/FilesPageElement/SharingDialogElement/EditPublicLinkPopup.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32981 [stable10] web ui test admin general settings legal features
  tests/acceptance/features/bootstrap/WebUIAdminGeneralSettingsContext.php
  tests/acceptance/features/bootstrap/WebUILoginContext.php
  tests/acceptance/features/lib/AdminGeneralSettingsPage.php
  tests/acceptance/features/lib/LoginPage.php
  tests/acceptance/features/webUIAdminSettings/adminGeneralSettings.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32982 webUI acceptance test for editing public link share password
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialogElement/PublicLinkTab.php
  tests/acceptance/features/webUISharingExternal/shareByPublicLink.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#32986 Get the default displayname and email when creating a user with the occ command
  tests/acceptance/features/bootstrap/OccContext.php
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#32984 [stable10] Fix email not sending to self
  tests/acceptance/features/lib/FilesPageElement/SharingDialogElement/EditPublicLinkPopup.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#32987 [stable10] Get the default displayname and email when creating a user with the occ command
  tests/acceptance/features/bootstrap/OccContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#32985 [stable10] webUI acceptance test for editing public link share password
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialogElement/PublicLinkTab.php
  tests/acceptance/features/webUISharingExternal/shareByPublicLink.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#32983 Test sharing a folder and then it shows up on Shared with others page
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/lib/SharedWithOthersPage.php
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#32979 webUI test admin general settings legal features
  tests/acceptance/features/bootstrap/WebUIAdminGeneralSettingsContext.php
  tests/acceptance/features/bootstrap/WebUILoginContext.php
  tests/acceptance/features/lib/AdminGeneralSettingsPage.php
  tests/acceptance/features/lib/LoginPage.php
  tests/acceptance/features/webUIAdminSettings/adminGeneralSettings.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#32988 Web ui test admin general settings updater settings
  tests/acceptance/features/bootstrap/WebUIAdminGeneralSettingsContext.php
  tests/acceptance/features/lib/AdminGeneralSettingsPage.php
  tests/acceptance/features/webUIAdminSettings/adminGeneralSettings.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#32992 [stable10] web ui test admin general settings updater settings
  tests/acceptance/features/bootstrap/WebUIAdminGeneralSettingsContext.php
  tests/acceptance/features/lib/AdminGeneralSettingsPage.php
  tests/acceptance/features/webUIAdminSettings/adminGeneralSettings.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#32991 [stable10] Test sharing a folder and check if it shows up on Shared-With-Others page
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/lib/SharedWithOthersPage.php
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#32993 [stable10] Add webUI acceptance test for changing permissions in public link share
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialogElement/PublicLinkTab.php
  tests/acceptance/features/webUISharingExternal/shareByPublicLink.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#32994 Revert "Bump symfony 3.4.15 to 3.4.16"
  composer.lock
Labels: 3 - To Review, QA-team, dependencies

#32997 [stable10] Test details panel of the different pages
  tests/acceptance/config/behat.yml
  tests/acceptance/features/webUIFiles/fileDetails.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#32998 [stable10] Fix timing issue with adding tags
  tests/acceptance/features/lib/FilesPageElement/DetailsDialog.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#32996 Fix timing issue with adding tags
  tests/acceptance/features/lib/FilesPageElement/DetailsDialog.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#32989 Add webUI acceptance test for changing permissions in public link share
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialogElement/PublicLinkTab.php
  tests/acceptance/features/webUISharingExternal/shareByPublicLink.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33000 Bump symfony 3.4.15 to 3.4.17
  composer.lock
Labels: 3 - To Review, QA-team, dependencies

#33001 [stable10] Bump symfony 3.4.15 to 3.4.17
  composer.lock
Labels: 3 - To Review, QA-team, dependencies

#33003 Rewording scenario for file details
  tests/acceptance/features/webUIFiles/fileDetails.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33006 tests for deleting files in shared with others, shared by link and tags page
  tests/acceptance/features/webUIFiles/deleteFilesFolders.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33007 [stable10] tests for deleting files in shared with others, shared by link and tags page
  tests/acceptance/features/webUIFiles/deleteFilesFolders.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33004 web ui test admin general settings system status
  tests/acceptance/features/bootstrap/WebUIAdminGeneralSettingsContext.php
  tests/acceptance/features/lib/AdminGeneralSettingsPage.php
  tests/acceptance/features/webUIAdminSettings/adminGeneralSettings.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33005 [stable10] web ui test admin general settings system status
  tests/acceptance/features/bootstrap/WebUIAdminGeneralSettingsContext.php
  tests/acceptance/features/lib/AdminGeneralSettingsPage.php
  tests/acceptance/features/webUIAdminSettings/adminGeneralSettings.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33010 [stable10] API test to check that share can be made with file names more than 64 chars long
  tests/acceptance/features/apiShareManagement/createShare.feature
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33013 [stable10] Tag systemtags and files_versions scenarios
  tests/acceptance/features/webUIFiles/deleteFilesFolders.feature
  tests/acceptance/features/webUIFiles/fileDetails.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33012 Tag systemtags and files_versions scenarios
  tests/acceptance/features/webUIFiles/deleteFilesFolders.feature
  tests/acceptance/features/webUIFiles/fileDetails.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32975 LOCAL_MAILHOG_HOST env variable
  tests/TestHelpers/EmailHelper.php
  tests/acceptance/features/bootstrap/EmailContext.php
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
  tests/acceptance/features/bootstrap/WebUIPersonalGeneralSettingsContext.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/run.sh
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33021 [stable10] LOCAL_MAILHOG_HOST env variable
  tests/TestHelpers/EmailHelper.php
  tests/acceptance/features/bootstrap/EmailContext.php
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
  tests/acceptance/features/bootstrap/WebUIPersonalGeneralSettingsContext.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/run.sh
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33020 Parse product name in webUI acceptance tests
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
  tests/acceptance/features/bootstrap/WebUILoginContext.php
  tests/acceptance/features/webUILogin/login.feature
  tests/acceptance/features/webUILogin/resetPassword.feature
  tests/acceptance/features/webUILogin/resetPasswordUsingEmail.feature
  tests/acceptance/features/webUIPersonalSettings/changePasswordFromSetting.feature
  tests/acceptance/features/webUIPersonalSettings/personalGeneralSettings.feature
  tests/acceptance/features/webUIPersonalSettings/personalSecuritySettings.feature
  tests/acceptance/features/webUISharingNotifications/notificationLink.feature
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#33022 [stable10] Parse product name in webUI acceptance tests
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
  tests/acceptance/features/bootstrap/WebUILoginContext.php
  tests/acceptance/features/webUILogin/login.feature
  tests/acceptance/features/webUILogin/resetPassword.feature
  tests/acceptance/features/webUILogin/resetPasswordUsingEmail.feature
  tests/acceptance/features/webUIPersonalSettings/changePasswordFromSetting.feature
  tests/acceptance/features/webUIPersonalSettings/personalGeneralSettings.feature
  tests/acceptance/features/webUIPersonalSettings/personalSecuritySettings.feature
  tests/acceptance/features/webUISharingNotifications/notificationLink.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33009 API test to check that share can be made with file names more than 64 chars long
  tests/acceptance/features/apiShareManagement/createShare.feature
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33015 test for checking files with same name and different path in different pages
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/lib/FilesPageElement/SharedWithOthersFileRow.php
  tests/acceptance/features/lib/SharedWithOthersPage.php
  tests/acceptance/features/lib/TagsPage.php
  tests/acceptance/features/webUIFiles/search.feature
  tests/acceptance/features/webUISharingExternal/shareByPublicLink.feature
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33017 [stable10] test for checking files with same name and different path in different pages
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/lib/FilesPageElement/SharedWithOthersFileRow.php
  tests/acceptance/features/lib/SharedWithOthersPage.php
  tests/acceptance/features/lib/TagsPage.php
  tests/acceptance/features/webUIFiles/search.feature
  tests/acceptance/features/webUISharingExternal/shareByPublicLink.feature
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33008 Test tags suggestions
  tests/acceptance/features/bootstrap/Tags.php
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/lib/FilesPageElement/DetailsDialog.php
  tests/acceptance/features/webUITags/tagsSuggestion.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#32961 Fix error "does not comply with RFC 2822" in SMTP setup
  lib/private/Mail/Mailer.php
  lib/private/Mail/Message.php
Labels: 3 - To Review, backport-request

#33023 [stable10] Old versions of the ICU library do not define the constant…
  lib/private/Mail/Mailer.php
  lib/private/Mail/Message.php
Labels: 3 - To Review

#33024 Test adding already existing tag
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/webUITags/createTags.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#33025 [stable10] Test tags suggestions
  tests/acceptance/features/bootstrap/Tags.php
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/lib/FilesPageElement/DetailsDialog.php
  tests/acceptance/features/webUITags/tagsSuggestion.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33036 Abstract edition productname version in API tests
  tests/acceptance/features/apiCapabilities/capabilities.feature
  tests/acceptance/features/apiMain/status.feature
  tests/acceptance/features/apiWebdavOperations/refuseAccess.feature
  tests/acceptance/features/bootstrap/AppConfiguration.php
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/CapabilitiesContext.php
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33037 [stable10] Abstract edition productname version in API tests
  tests/acceptance/features/apiCapabilities/capabilities.feature
  tests/acceptance/features/apiMain/status.feature
  tests/acceptance/features/apiWebdavOperations/refuseAccess.feature
  tests/acceptance/features/bootstrap/AppConfiguration.php
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/CapabilitiesContext.php
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33038 Refactor edit and get user provisioning API acceptance tests
  tests/TestHelpers/UserHelper.php
  tests/acceptance/features/apiProvisioning-v1/editUser.feature
  tests/acceptance/features/apiProvisioning-v1/getUser.feature
  tests/acceptance/features/apiProvisioning-v2/editUser.feature
  tests/acceptance/features/apiProvisioning-v2/getUser.feature
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33042 [stable10] Refactor edit and get user provisioning API accceptance tests
  tests/TestHelpers/UserHelper.php
  tests/acceptance/features/apiProvisioning-v1/editUser.feature
  tests/acceptance/features/apiProvisioning-v1/getUser.feature
  tests/acceptance/features/apiProvisioning-v2/editUser.feature
  tests/acceptance/features/apiProvisioning-v2/getUser.feature
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33032 Add webUI acceptance test for adding and deleting tags in shared files
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/lib/FilesPageElement/DetailsDialog.php
  tests/acceptance/features/webUITags/createTags.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33044 [stable10] Initial CLI acceptance test infrastructure
  .drone.yml
  Makefile
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/CommandLine.php
  tests/acceptance/features/bootstrap/WebDav.php
  tests/acceptance/features/cliProvisioning/addUser.feature
  tests/acceptance/run.sh
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33031 WebUI test check blacklisted group sharing
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/WebUIAdminSharingSettingsContext.php
  tests/acceptance/features/lib/AdminSharingSettingsPage.php
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroups.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33045 [stable10] Bump behat/mink-selenium2-driver dev-master
  composer.lock
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33002 Bump behat/mink-selenium2-driver dev-master
  composer.lock
Labels: 3 - To Review, Acceptance tests, QA-team, dependencies

#33029 [stable10] WebUI test check blacklisted group sharing
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/WebUIAdminSharingSettingsContext.php
  tests/acceptance/features/lib/AdminSharingSettingsPage.php
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroups.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33046 [stable10] web ui sub admin disable user
  tests/acceptance/features/bootstrap/WebUIUsersContext.php
  tests/acceptance/features/webUIManageUsersGroups/disableUsers.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33049 [stable10] Substitute productname and edition in user management acceptance tests
  tests/acceptance/features/webUIManageUsersGroups/addUsers.feature
  tests/acceptance/features/webUIManageUsersGroups/deleteUsers.feature
  tests/acceptance/features/webUIManageUsersGroups/disableUsers.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33033 [stable10] Add webUI acceptance test for adding and deleting tags in shared files
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/lib/FilesPageElement/DetailsDialog.php
  tests/acceptance/features/webUITags/createTags.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33050 Refactor tags feature files to multiple files
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiTags/createTags.feature
  tests/acceptance/features/apiTags/editTags.feature
  tests/acceptance/features/apiTags/tags.feature
  tests/acceptance/features/bootstrap/Tags.php
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#33053 Add tests for occ addUser feature
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliProvisioning/addUser.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33055 [stable10] occ test cli provisioning add user
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliProvisioning/addUser.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33056 Refactor Api comments test
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiComments/comments.feature
  tests/acceptance/features/apiComments/createComments.feature
  tests/acceptance/features/apiComments/deleteComments.feature
  tests/acceptance/features/apiComments/editComments.feature
  tests/acceptance/features/apiMetadataApps/comments.feature
  tests/acceptance/features/bootstrap/Comments.php
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#33057 Organize scenarios related to deletion of tags in a different file
  tests/acceptance/features/apiTags/deleteTags.feature
  tests/acceptance/features/apiTags/tags.feature
  tests/acceptance/features/bootstrap/Tags.php
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#33061 Refactor Delete comments and edit comments api tests
  tests/acceptance/features/apiComments/deleteComments.feature
  tests/acceptance/features/apiComments/editComments.feature
  tests/acceptance/features/bootstrap/Comments.php
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#33059 [stable10] occ test cli provisioning add group
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/cliProvisioning/addGroup.feature
  tests/acceptance/features/cliProvisioning/addToGroup.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33058 Add tests for addGroup and addToGroup
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/cliProvisioning/addGroup.feature
  tests/acceptance/features/cliProvisioning/addToGroup.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33065 Organize api tags test for assignment into different feature file
  tests/acceptance/features/apiTags/assignTags.feature
  tests/acceptance/features/apiTags/tags.feature
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/bootstrap/Tags.php
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#33063 [Stable10] refactor test for delete and edit comments
  tests/acceptance/features/apiComments/deleteComments.feature
  tests/acceptance/features/apiComments/editComments.feature
  tests/acceptance/features/bootstrap/Comments.php
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33068 [stable10] Relax tests for page title so they only check 'StringStartsWith'
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33067 Relax tests for page title so they only check 'StringStartsWith'
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33072 [stable10] Update changelog post 10.0.10
  CHANGELOG.md
Labels: 3 - To Review

#33070 added ability to run the script with DEBUG=true to see whats going on
  tests/acceptance/run.sh
Labels: 3 - To Review, QA-team

#33075 [stable10] added ability to run the script with DEBUG=true to see whats going on
  tests/acceptance/run.sh
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33076 Skip resetUserPassword for user-keys encryption
  tests/acceptance/features/apiProvisioning-v1/resetUserPassword.feature
  tests/acceptance/features/apiProvisioning-v2/resetUserPassword.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33077 [stable10] Skip resetUserPassword for user-keys encryption
  tests/acceptance/features/apiProvisioning-v1/resetUserPassword.feature
  tests/acceptance/features/apiProvisioning-v2/resetUserPassword.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33079 [stable10] Organize scenarios related to deletion of tags in a different file
  tests/acceptance/features/apiTags/deleteTags.feature
  tests/acceptance/features/apiTags/tags.feature
  tests/acceptance/features/bootstrap/Tags.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33078 Add tests for deleting a group
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliProvisioning/deleteGroup.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#33083 [stable10] Remove string type-hints in Tags.php
  tests/acceptance/features/bootstrap/Tags.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33082 Remove string type-hints in Tags.php
  tests/acceptance/features/bootstrap/Tags.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33085 [stable10] occ test cli provisioning delete group
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliProvisioning/deleteGroup.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33088 Organize api tags into different files for assigning, and unassigning
  tests/acceptance/features/apiTags/assignTagsGroup.feature
  tests/acceptance/features/apiTags/createTags.feature
  tests/acceptance/features/apiTags/retreiveTags.feature
  tests/acceptance/features/apiTags/tags.feature
  tests/acceptance/features/apiTags/unassignTags.feature
  tests/acceptance/features/bootstrap/Tags.php
Labels: 3 - To Review, QA-team

#33090 [stable10] Organize apitags test for assignment into different feature file
  tests/acceptance/features/apiTags/assignTags.feature
  tests/acceptance/features/apiTags/tags.feature
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/bootstrap/Tags.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33089 Refactor api test for favorite files
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiFavorites/favorites.feature
  tests/acceptance/features/apiMetadataApps/favorites.feature
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33092 [stable10] Refactor api test for favorite files
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiFavorites/favorites.feature
  tests/acceptance/features/apiMetadataApps/favorites.feature
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33094 Occ test cli provisioning edit user
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliProvisioning/disableUser.feature
  tests/acceptance/features/cliProvisioning/editUser.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#33091 occTest cliProvisioning disableUser
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliProvisioning/disableUser.feature
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#33096 [stable10] Refactor acceptance test get-set-delete system config
  tests/acceptance/features/bootstrap/AppManagementContext.php
  tests/acceptance/features/bootstrap/Auth.php
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/CommandLine.php
  tests/acceptance/features/bootstrap/WebUIAdminGeneralSettingsContext.php
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#32976 Bump composer/xdebug-handler to 1.3.0
  composer.lock
Labels: 3 - To Review, dependencies

#32977 [stable10] Bump composer/xdebug-handler to 1.3.0
  composer.lock
Labels: 3 - To Review, dependencies

#33099 [stable10] occ test cli provisioning disable user
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliProvisioning/disableUser.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33100 [stable10] occ test cli provisioning edit user
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliProvisioning/editUser.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33095 Refactor acceptance test get-set-delete system config
  tests/acceptance/features/bootstrap/AppManagementContext.php
  tests/acceptance/features/bootstrap/Auth.php
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/CommandLine.php
  tests/acceptance/features/bootstrap/WebUIAdminGeneralSettingsContext.php
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#33101 Occ test cli provisioning enable user
  tests/acceptance/features/apiProvisioning-v1/enableUser.feature
  tests/acceptance/features/apiProvisioning-v2/enableUser.feature
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/cliProvisioning/enableApp.feature
  tests/acceptance/features/cliProvisioning/enableUser.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33105 [stable10] occ test cli provisioning enable user
  tests/acceptance/features/apiProvisioning-v1/enableUser.feature
  tests/acceptance/features/apiProvisioning-v2/enableUser.feature
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliProvisioning/enableUser.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33103 [stable10] Organize apitags into different files for deletion, assigning, and unassigning
  tests/acceptance/features/apiTags/assignTagsGroup.feature
  tests/acceptance/features/apiTags/createTags.feature
  tests/acceptance/features/apiTags/retreiveTags.feature
  tests/acceptance/features/apiTags/tags.feature
  tests/acceptance/features/apiTags/unassignTags.feature
  tests/acceptance/features/bootstrap/Tags.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33040 Provisioning api edit displayname
  apps/provisioning_api/lib/Users.php
  apps/provisioning_api/tests/UsersTest.php
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 3 - To Review, QA-team, app:provisioning_api

#33107 [stable10] Provisioning api edit displayname
  apps/provisioning_api/lib/Users.php
  apps/provisioning_api/tests/UsersTest.php
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33102 Add different scenarios for tags
  tests/acceptance/features/apiTags/assignTags.feature
  tests/acceptance/features/apiTags/createTags.feature
  tests/acceptance/features/apiTags/editTags.feature
  tests/acceptance/features/bootstrap/Tags.php
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#33112 [stable10] Flexible location of behat.yml
  tests/acceptance/run.sh
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33111 Flexible location of behat.yml
  tests/acceptance/run.sh
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#33114 Add tests for getting app info
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliProvisioning/getAppInfo.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#33115 [stable10] occ test cli provisioning get app info
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliProvisioning/getAppInfo.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33116 Occ test cli provisioning get apps
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliProvisioning/getApps.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33121 Occ test cli provisioning get groups
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliProvisioning/getGroup.feature
  tests/acceptance/features/cliProvisioning/getGroups.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#33120 Add tests for getting users in the group
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliProvisioning/getGroup.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#33122 [stable10] occ test cli provisioning get group
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliProvisioning/getGroup.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33125 Acceptance test tag public link share
  tests/acceptance/features/apiCapabilities/capabilities.feature
  tests/acceptance/features/apiMain/external-storage.feature
  tests/acceptance/features/apiMain/transfer-ownership.feature
  tests/acceptance/features/apiShareManagement/createShare.feature
  tests/acceptance/features/apiShareManagement/multilinksharing.feature
  tests/acceptance/features/apiShareManagement/reShare.feature
  tests/acceptance/features/apiShareManagement/updateShare.feature
  tests/acceptance/features/apiShareOperations/downloadFromShare.feature
  tests/acceptance/features/apiShareOperations/uploadToShare.feature
  tests/acceptance/features/apiWebdavOperations/downloadFile.feature
  tests/acceptance/features/apiWebdavProperties/getFileProperties.feature
  tests/acceptance/features/webUIFiles/deleteFilesFolders.feature
  tests/acceptance/features/webUIFiles/fileDetails.feature
  tests/acceptance/features/webUISharingExternal/shareByPublicLink.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33128 [stable10] Acceptance test tag public link share
  tests/acceptance/features/apiCapabilities/capabilities.feature
  tests/acceptance/features/apiMain/external-storage.feature
  tests/acceptance/features/apiMain/transfer-ownership.feature
  tests/acceptance/features/apiShareManagement/createShare.feature
  tests/acceptance/features/apiShareManagement/multilinksharing.feature
  tests/acceptance/features/apiShareManagement/reShare.feature
  tests/acceptance/features/apiShareManagement/updateShare.feature
  tests/acceptance/features/apiShareOperations/downloadFromShare.feature
  tests/acceptance/features/apiShareOperations/uploadToShare.feature
  tests/acceptance/features/apiWebdavOperations/downloadFile.feature
  tests/acceptance/features/apiWebdavProperties/getFileProperties.feature
  tests/acceptance/features/webUIFiles/deleteFilesFolders.feature
  tests/acceptance/features/webUIFiles/fileDetails.feature
  tests/acceptance/features/webUISharingExternal/shareByPublicLink.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33127 Add tests for getUser
  tests/acceptance/features/bootstrap/CommandLine.php
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliProvisioning/getUser.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#33130 [stable10] occ test cli provisioning get user
  tests/acceptance/features/bootstrap/CommandLine.php
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliProvisioning/getUser.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33132 [stable10] Add different scenarios for tags
  tests/acceptance/features/apiTags/assignTags.feature
  tests/acceptance/features/apiTags/createTags.feature
  tests/acceptance/features/apiTags/editTags.feature
  tests/acceptance/features/bootstrap/Tags.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33126 Fixes #30062: remove old avatar get endpoint
  core/Controller/AvatarController.php
  core/js/jquery.avatar.js
  core/js/tests/specs/jquery.avatarSpec.js
  core/routes.php
  core/templates/layout.user.php
  settings/js/panels/profile.js
  tests/Core/Controller/AvatarControllerTest.php
Labels: 3 - To Review

#33019 Support global CORS domains for public pages
  lib/private/AppFramework/Middleware/Security/CORSMiddleware.php
  lib/private/legacy/response.php
  tests/lib/AppFramework/Middleware/Security/CORSMiddlewareTest.php
Labels: 3 - To Review, backport-request

#33135 [stable10] Replace productname in expected email content
  tests/acceptance/features/bootstrap/EmailContext.php
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
  tests/acceptance/features/webUIManageUsersGroups/addUsers.feature
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#33108 Remove legacy user and group classes
  apps/federatedfilesharing/tests/TestCase.php
  apps/files_trashbin/tests/Command/CleanUpTest.php
  apps/files_versions/tests/Command/CleanupTest.php
  core/Command/User/SyncBackend.php
  lib/private/User/SyncService.php
  lib/private/legacy/group/backend.php
  lib/private/legacy/group/database.php
  lib/private/legacy/group/interface.php
  lib/private/legacy/user/backend.php
  lib/private/legacy/user/interface.php
  lib/public/UserInterface.php
  tests/lib/User/ManagerTest.php
Labels: 4 - To release, technical debt

#33141 No need to explode commands before passing to runOcc
  tests/acceptance/features/bootstrap/CommandLine.php
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#33142 [stable10] No need to explode commands before passing to runOcc
  tests/acceptance/features/bootstrap/CommandLine.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33140 Replace productname in expected email content
  tests/acceptance/features/bootstrap/EmailContext.php
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33144 Refactor getProductName and related acceptance test ccode
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/EmailContext.php
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#33146 Add tests for getUsers
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliProvisioning/getUsers.feature
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#33145 [stable10] Refactor getProductName and related acceptance test ccode
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/EmailContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#33131 [stable10] occ test cli provisioning get user groups
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliProvisioning/getUserGroups.feature
  tests/acceptance/features/cliProvisioning/getUsers.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33148 [stable10] occ test cli provisioning get users
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliProvisioning/getUsers.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33147 Add tests for removeFromGroup
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliProvisioning/removeFromGroup.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#33150 [stable10] Browse to files page after login for createFoldersEdgeCases
  tests/acceptance/features/webUIFiles/createFoldersEdgeCases.feature
  tests/acceptance/features/webUIFiles/search.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests
