Repository owncloud/core, pull requests merged in 2019-06, with the labels that each got.

#35400 Fix minor annoyances and provide helpful output on test run
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/run.sh
Labels: 4 - To release, QA-team, backport-request

#35402 [stable10] Fix minor annoyances and provide helpful output on test run
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/run.sh
Labels: 3 - To Review, QA-team

#35401 Check if 'mod_rewrite' is enabled
  tests/acceptance/run.sh
Labels: 4 - To release, QA-team, backport-request

#35393 [stable10] skipOnEncryption annotation added on feature test
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35391 [stable10] web ui sharing inter users use no skeleton step
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/webUISharingInternalUsers/shareAutocompletion.feature
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35241 add acceptance test for tag remove and tag delete and tag rename
  tests/acceptance/features/bootstrap/WebUITagsContext.php
  tests/acceptance/features/lib/FilesPageElement/DetailsDialog.php
  tests/acceptance/features/webUITags/deleteTags.feature
  tests/acceptance/features/webUITags/editTags.feature
  tests/acceptance/features/webUITags/removeTags.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#35388 sharing with user with uppercase username
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35404 [Stable10] add acceptance test for tag remove and tag delete and tag rename
  tests/acceptance/features/bootstrap/WebUITagsContext.php
  tests/acceptance/features/lib/FilesPageElement/DetailsDialog.php
  tests/acceptance/features/webUITags/deleteTags.feature
  tests/acceptance/features/webUITags/editTags.feature
  tests/acceptance/features/webUITags/removeTags.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35422 Get rid of setting configs via WebUISharingContext
  tests/acceptance/features/bootstrap/WebUISharingContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35408 Split webUISharingInternalUsers into two suites
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/webUISharingAutocompletion/shareAutocompletion.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35411 [Stable10] Split webUISharingInternalUsers into two suites
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/webUISharingAutocompletion/shareAutocompletion.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35424 [Stable10] Do not use skeleton file when not required
  tests/acceptance/features/webUIAdminSettings/adminStorageSettings.feature
  tests/acceptance/features/webUISharingAcceptShares/acceptShares.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35421 Use skeleton files only when necessary in webuiCreateDelete and webUISharingIntGrp suites
  tests/acceptance/features/webUICreateDelete/createFolders.feature
  tests/acceptance/features/webUICreateDelete/createFoldersEdgeCases.feature
  tests/acceptance/features/webUICreateDelete/deleteFilesFolders.feature
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroups.feature
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroupsEdgeCases.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35410 [stable10] Check if 'mod_rewrite' is enabled
  tests/acceptance/run.sh
Labels: 4 - To release, QA-team

#35286 Filessharing with groups that contain emojis in the group-name
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
Labels: 4 - To release, dev:acceptance-tests

#35425 [stable10] - Use skeleton files only when necessary in webuiCreateDelete and webUISharingIntGrp suites
  tests/acceptance/features/webUICreateDelete/createFolders.feature
  tests/acceptance/features/webUICreateDelete/createFoldersEdgeCases.feature
  tests/acceptance/features/webUICreateDelete/deleteFilesFolders.feature
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroups.feature
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroupsEdgeCases.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35315 Acceptance test for creating password with emoji
  tests/acceptance/features/apiProvisioning-v1/resetUserPassword.feature
  tests/acceptance/features/apiProvisioning-v2/resetUserPassword.feature
  tests/acceptance/features/webUIPersonalSettings/changePasswordFromSetting.feature
Labels: 4 - To release, backport-request, dev:acceptance-tests

#35392 apiShareManagementBasic don't use skeleton files when not required
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/apiShareManagementBasic/deleteShare.feature
  tests/acceptance/features/apiShareManagementBasic/updateShare.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#35423 [stable10] Get rid of setting configs via WebUISharingContext
  tests/acceptance/features/bootstrap/WebUISharingContext.php
Labels: 4 - To release, QA-team

#35428 [stable10] apiShareManagementBasic don't user skeleton files when not required
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/apiShareManagementBasic/deleteShare.feature
  tests/acceptance/features/apiShareManagementBasic/updateShare.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#35373 cli test for security certificates
  tests/acceptance/features/bootstrap/CommandLine.php
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliMain/securityCertificates.feature
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#35416 [Stable-10] Filessharing with groups that contain emojis in the group-name
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
Labels: 4 - To release, dev:acceptance-tests

#35430 skip tests on encryption that fail because of a known issue
  tests/acceptance/features/apiProvisioning-v1/resetUserPassword.feature
  tests/acceptance/features/apiProvisioning-v2/resetUserPassword.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35429 [stable10] Remove the uploaded file if there is a checksum error
  apps/dav/lib/Connector/Sabre/File.php
  apps/dav/tests/unit/Connector/Sabre/FileTest.php
Labels: 3 - To Review

#35405 Do not use skeleton file when not required
  tests/acceptance/features/webUIAdminSettings/adminStorageSettings.feature
  tests/acceptance/features/webUISharingAcceptShares/acceptShares.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35433 Change 'form the path' to 'from the path'
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliMain/securityCertificates.feature
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#35409 [stable10] sharing with user with uppercase username
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35431 [stable10] Acceptance test for creating password with emoji
  tests/acceptance/features/apiProvisioning-v1/resetUserPassword.feature
  tests/acceptance/features/apiProvisioning-v2/resetUserPassword.feature
  tests/acceptance/features/webUIPersonalSettings/changePasswordFromSetting.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35435 [stable10] cli test for security certificates
  tests/acceptance/features/bootstrap/CommandLine.php
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliMain/securityCertificates.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#35442 Use standalone-chrome-debug:3.141.59-oxygen to get chrome 74
  .drone.yml
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#35443 [stable10] Use standalone-chrome-debug:3.141.59-oxygen to get chrome 74
  .drone.yml
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#35448 Revert "Convert shareWith to lower case"
  apps/files_sharing/lib/Controller/Share20OcsController.php
  apps/files_sharing/tests/Controller/Share20OcsControllerTest.php
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
Labels: 3 - To Review, p2-high, regression

#35449 Revert "[stable10] Backport of Convert shareWith to lower case"
  apps/files_sharing/lib/Controller/Share20OcsController.php
  apps/files_sharing/tests/Controller/Share20OcsControllerTest.php
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
Labels: 3 - To Review, p2-high, regression

#35451 Remove deprecated default attributes test steps
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/webUISharingAutocompletion/shareAutocompletion.feature
  tests/acceptance/features/webUISharingExternal/federationSharing.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#35452 [stable10] Remove deprecated default attributes test steps
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/webUIManageQuota/manageUserQuota.feature
  tests/acceptance/features/webUIManageUsersGroups/deleteUsers.feature
  tests/acceptance/features/webUIManageUsersGroups/disableUsers.feature
  tests/acceptance/features/webUISettingsMenu/settingsMenu.feature
  tests/acceptance/features/webUISharingAutocompletion/shareAutocompletion.feature
  tests/acceptance/features/webUISharingExternal/federationSharing.feature
  tests/acceptance/features/webUIUserKeysType/userKeys.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35390 [Stable10] Replay migrations on the created schema before copying data
  apps/files_external/appinfo/app.php
  apps/systemtags/appinfo/app.php
  core/Command/Db/ConvertType.php
  core/register_command.php
  tests/Core/Command/Db/ConvertTypeTest.php
Labels: 3 - To Review, bug

#35456 [stable10] Acceptance test whitespace
  tests/acceptance/config/behat.yml
  tests/acceptance/features/lib/OwncloudPage.php
  tests/acceptance/features/webUITags/createTags.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35406 Ignore share hooks for masterkey encryption
  lib/base.php
Labels: 3 - To Review

#35395 Send requests in loop rather than scenario outline to speed up CI
  tests/acceptance/features/apiAuthOcs/ocsGETAuth.feature
  tests/acceptance/features/bootstrap/Auth.php
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#35460 [stable10] Backport of Ignore share hooks for masterkey encryption
  lib/base.php
Labels: 3 - To Review

#35462 [stable10] api test for federation sharing when the receiver has matching file/folder
  tests/acceptance/features/apiFederation/federated.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35464 skip failing test on ldap and files_primary_s3
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#35465 [stable10] skip failing test on ldap and files_primary_s3
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#35447 The recipient of internal share should not increase permission
  apps/files_sharing/lib/Controller/Share20OcsController.php
  apps/files_sharing/tests/Controller/Share20OcsControllerTest.php
Labels: 3 - To Review

#35467 [stable10] Sync user_management acceptance tests in stable10
  tests/acceptance/features/bootstrap/WebUIUsersContext.php
  tests/acceptance/features/lib/UsersPage.php
  tests/acceptance/features/webUIManageUsersGroups/addGroup.feature
  tests/acceptance/features/webUIManageUsersGroups/addUsers.feature
  tests/acceptance/features/webUIManageUsersGroups/deleteUsers.feature
  tests/acceptance/features/webUIManageUsersGroups/editUsers.feature
  tests/acceptance/features/webUIManageUsersGroups/manageGroups.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#35469 [stable10] acceptance test for shares received from multiple users with the same name file/folde
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroups.feature
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35453 api test for federation sharing when the receiver has matching file/folder
  tests/acceptance/features/apiFederation/federated.feature
Labels: 3 - To Review, backport-request, dev:acceptance-tests

#35457 acceptance test for shares received from multiple users with the same name file/folder
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroups.feature
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#35470 [stable10] Split addUsers.feature into webUIAddUsers suite
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/webUIAddUsers/addUsers.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#35471 webui login without skeleton files
  tests/acceptance/features/webUILogin/login.feature
  tests/acceptance/features/webUILogin/resetPassword.feature
  tests/acceptance/features/webUILogin/resetPasswordUsingEmail.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#35473 [stable10] webui login without skeleton files
  tests/acceptance/features/webUILogin/login.feature
  tests/acceptance/features/webUILogin/resetPassword.feature
  tests/acceptance/features/webUILogin/resetPasswordUsingEmail.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35475 [stable10] Backport of The recipient of internal share should not inc…
  apps/files_sharing/lib/Controller/Share20OcsController.php
  apps/files_sharing/tests/Controller/Share20OcsControllerTest.php
Labels: 3 - To Review

#35479 [stable10] Fixup check_apache_module_enabled in run.sh
  tests/acceptance/run.sh
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35480 Add no skeleton steps in webUIRestrictSharing
  tests/acceptance/features/webUIRestrictSharing/disableSharing.feature
  tests/acceptance/features/webUIRestrictSharing/restrictReSharing.feature
  tests/acceptance/features/webUIRestrictSharing/restrictSharing.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35481 [stable10] web ui restrict sharing use no skeleton
  tests/acceptance/features/webUIRestrictSharing/disableSharing.feature
  tests/acceptance/features/webUIRestrictSharing/restrictReSharing.feature
  tests/acceptance/features/webUIRestrictSharing/restrictSharing.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#35485 fix snakeoil tests
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#35478 Fixup check_apache_module_enabled in run.sh
  tests/acceptance/run.sh
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#35482 [10.2.1] fix CI
  .drone.yml
  tests/acceptance/features/bootstrap/WebUILoginContext.php
  tests/acceptance/features/lib/OwncloudPage.php
  tests/acceptance/features/webUILogin/resetPassword.feature
  tests/acceptance/features/webUILogin/resetPasswordUsingEmail.feature
  tests/acceptance/features/webUIManageUsersGroups/addUsers.feature
Labels: 4 - To release

#35489 [stable10] fix snakeoil tests
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35493 webui tag operations without skeleton
  tests/acceptance/features/webUITags/createTags.feature
  tests/acceptance/features/webUITags/deleteTags.feature
  tests/acceptance/features/webUITags/editTags.feature
  tests/acceptance/features/webUITags/removeTags.feature
  tests/acceptance/features/webUITags/tagsSuggestion.feature
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#35492 [10.2.1] Backport of Ignore share hooks for masterkey encryption
  lib/base.php
Labels: 3 - To Review

#35491 [10.2.1] Use html body for message sent via email for password change
  settings/Controller/UsersController.php
  tests/Settings/Controller/UsersControllerTest.php
Labels: 3 - To Review

#35474 webui rename files without skeleton
  tests/acceptance/features/webUIRenameFiles/renameFiles.feature
  tests/acceptance/features/webUIRenameFiles/renameFilesInsideProblematicFolderName.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#35477 rename folder without skeleton
  tests/acceptance/features/webUIRenameFolders/renameFolders.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#35495 [stable10] webui rename file without skeleton
  tests/acceptance/features/webUIRenameFiles/renameFiles.feature
  tests/acceptance/features/webUIRenameFiles/renameFilesInsideProblematicFolderName.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35496 [stable10] webui rename folder without skeleton
  tests/acceptance/features/webUIRenameFolders/renameFolders.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35497 [stable10] webui tag operations without skeleton
  tests/acceptance/features/webUITags/createTags.feature
  tests/acceptance/features/webUITags/deleteTags.feature
  tests/acceptance/features/webUITags/editTags.feature
  tests/acceptance/features/webUITags/removeTags.feature
  tests/acceptance/features/webUITags/tagsSuggestion.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35503 Update CRL after revocation of landbot
  resources/codesigning/intermediate.crl.pem
Labels: 3 - To Review, backport-request

#35507 Adjust 'Enforce as maximum expiration date' UI text
  settings/templates/panels/admin/filesharing.php
Labels: 4 - To release

#35508 [stable10] Adjust 'Enforce as maximum expiration date' UI text
  settings/templates/panels/admin/filesharing.php
Labels: 4 - To release

#35505 [stable10] Update CRL after revocation of landbot
  resources/codesigning/intermediate.crl.pem
Labels: 4 - To release

#35504 [stable10] web ui comments no skeleton
  tests/acceptance/features/webUIComments/comments.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35500 webUIComments without skeleton
  tests/acceptance/features/webUIComments/comments.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35501 fix deleteTags for webui
  tests/acceptance/features/webUITags/deleteTags.feature
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#35506 [10.2.1] Update CRL after revocation of landbot
  resources/codesigning/intermediate.crl.pem
Labels: 3 - To Review

#35509 webui sharing notifications without skeleton
  tests/acceptance/features/webUISharingNotifications/notificationLink.feature
  tests/acceptance/features/webUISharingNotifications/shareWithGroups.feature
  tests/acceptance/features/webUISharingNotifications/shareWithUsers.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#35515 [stable10] webui sharing notifications without skeleton
  tests/acceptance/features/webUISharingNotifications/notificationLink.feature
  tests/acceptance/features/webUISharingNotifications/shareWithGroups.feature
  tests/acceptance/features/webUISharingNotifications/shareWithUsers.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#35514 [stable10] file operations in webui without skeleton
  tests/acceptance/features/webUIFiles/browseDirectlyToDetailsTab.feature
  tests/acceptance/features/webUIFiles/fileDetails.feature
  tests/acceptance/features/webUIFiles/hiddenFile.feature
  tests/acceptance/features/webUIFiles/versions.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#35517 [stable10] test adding a user to a group after the group received a share
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroups.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#35516 test adding a user to a group after the group received a share
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroups.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35455 API test for sharing files when receiver has matching files
  tests/acceptance/features/apiShareManagement/acceptShares.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#35502 Use no skeleton on webUIFavorites
  tests/acceptance/features/webUIFavorites/favoritesFile.feature
  tests/acceptance/features/webUIFavorites/unfavoriteFile.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#35522 [Stable10]Add batch user creation step for speeding up the requests
  tests/TestHelpers/HttpRequestHelper.php
  tests/TestHelpers/OcsApiHelper.php
  tests/TestHelpers/UserHelper.php
  tests/acceptance/features/apiShareManagement/acceptShares.feature
  tests/acceptance/features/apiShareManagement/disableSharing.feature
  tests/acceptance/features/apiShareManagement/mergeShare.feature
  tests/acceptance/features/apiShareManagement/moveReceivedShare.feature
  tests/acceptance/features/apiShareManagement/reShare.feature
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35499 file operations in webui without skeleton
  tests/acceptance/features/webUIFiles/browseDirectlyToDetailsTab.feature
  tests/acceptance/features/webUIFiles/fileDetails.feature
  tests/acceptance/features/webUIFiles/hiddenFile.feature
  tests/acceptance/features/webUIFiles/versions.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35527 [stable10] web ui personal settings no skeleton
  tests/acceptance/features/webUIPersonalSettings/accessToChangeFullNameThroughConfig.feature
  tests/acceptance/features/webUIPersonalSettings/changeOwnEmailAddress.feature
  tests/acceptance/features/webUIPersonalSettings/changeOwnFullName.feature
  tests/acceptance/features/webUIPersonalSettings/changePasswordFromSetting.feature
  tests/acceptance/features/webUIPersonalSettings/personalGeneralSettings.feature
  tests/acceptance/features/webUIPersonalSettings/personalSecuritySettings.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35526 Create multiple users in single steps in acceptance test feature files - 2
  tests/acceptance/features/apiProvisioningGroups-v1/addToGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v1/getGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v1/getUserGroups.feature
  tests/acceptance/features/apiProvisioningGroups-v1/removeFromGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v2/addToGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v2/getGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v2/getUserGroups.feature
  tests/acceptance/features/apiProvisioningGroups-v2/removeFromGroup.feature
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/apiShareManagementBasic/deleteShare.feature
  tests/acceptance/features/apiShareOperations/accessToShare.feature
  tests/acceptance/features/apiShareOperations/changingFilesShare.feature
  tests/acceptance/features/apiShareOperations/downloadFromShare.feature
  tests/acceptance/features/apiShareOperations/getWebDAVSharePermissions.feature
  tests/acceptance/features/apiShareOperations/gettingShares.feature
  tests/acceptance/features/apiTrashbin/trashbinFilesFolders.feature
  tests/acceptance/features/apiTrashbin/trashbinRestore.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#35525 Create multiple users in single steps in acceptance test feature files
  tests/acceptance/features/apiComments/createComments.feature
  tests/acceptance/features/apiComments/deleteComments.feature
  tests/acceptance/features/apiComments/editComments.feature
  tests/acceptance/features/apiMain/external-storage.feature
  tests/acceptance/features/apiMain/quota.feature
  tests/acceptance/features/apiProvisioning-v1/apiProvisioningUsingAppPassword.feature
  tests/acceptance/features/apiProvisioning-v1/createSubAdmin.feature
  tests/acceptance/features/apiProvisioning-v1/deleteUser.feature
  tests/acceptance/features/apiProvisioning-v1/disableUser.feature
  tests/acceptance/features/apiProvisioning-v1/editUser.feature
  tests/acceptance/features/apiProvisioning-v1/enableUser.feature
  tests/acceptance/features/apiProvisioning-v1/getSubAdmins.feature
  tests/acceptance/features/apiProvisioning-v1/getUser.feature
  tests/acceptance/features/apiProvisioning-v1/getUsers.feature
  tests/acceptance/features/apiProvisioning-v1/removeSubAdmin.feature
  tests/acceptance/features/apiProvisioning-v2/apiProvisioningUsingAppPassword.feature
  tests/acceptance/features/apiProvisioning-v2/createSubAdmin.feature
  tests/acceptance/features/apiProvisioning-v2/deleteUser.feature
  tests/acceptance/features/apiProvisioning-v2/disableUser.feature
  tests/acceptance/features/apiProvisioning-v2/editUser.feature
  tests/acceptance/features/apiProvisioning-v2/enableUser.feature
  tests/acceptance/features/apiProvisioning-v2/getSubAdmins.feature
  tests/acceptance/features/apiProvisioning-v2/getUser.feature
  tests/acceptance/features/apiProvisioning-v2/getUsers.feature
  tests/acceptance/features/apiProvisioning-v2/removeSubAdmin.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#35529 [stable10] web ui favorites no skelton
  tests/acceptance/features/webUIFavorites/favoritesFile.feature
  tests/acceptance/features/webUIFavorites/unfavoriteFile.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35530 [stable10] Fix avatar path
  lib/private/Avatar.php
  lib/private/Repair.php
  lib/private/Repair/MoveAvatarIntoSubFolder.php
  tests/acceptance/features/cliMain/maintenance.feature
  tests/lib/AvatarTest.php
Labels: 4 - To release

#35531 [10.2.1] Fix avatar path
  lib/private/Avatar.php
  lib/private/Repair.php
  lib/private/Repair/MoveAvatarIntoSubFolder.php
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliMain/maintenance.feature
  tests/lib/AvatarTest.php
Labels: 4 - To release

#35363 Fix avatar path
  lib/private/Avatar.php
  lib/private/Repair.php
  lib/private/Repair/MoveAvatarIntoSubFolder.php
  tests/acceptance/features/cliMain/maintenance.feature
  tests/lib/AvatarTest.php
Labels: 3 - To Review, QA-team, backport-request

#35486 use a multi line approach to display share autocomplete
  core/css/share.css
  core/js/sharedialogview.js
  core/js/tests/specs/sharedialogviewSpec.js
  tests/acceptance/features/bootstrap/FederationContext.php
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialog.php
  tests/acceptance/features/webUIRestrictSharing/restrictSharing.feature
  tests/acceptance/features/webUISharingAutocompletion/shareAutocompletion.feature
  tests/acceptance/features/webUISharingExternal/federationSharing.feature
Labels: 3 - To Review

#35397 [stable10] use a multi line approach to display share autocomplete
  core/css/share.css
  core/js/sharedialogview.js
  core/js/tests/specs/sharedialogviewSpec.js
  tests/acceptance/features/bootstrap/FederationContext.php
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialog.php
  tests/acceptance/features/webUIRestrictSharing/restrictSharing.feature
  tests/acceptance/features/webUISharingAutocompletion/shareAutocompletion.feature
  tests/acceptance/features/webUISharingExternal/federationSharing.feature
Labels: 3 - To Review

#35362 Log exceptions from exceptionHandler method
  console.php
  lib/private/Console/Application.php
  tests/acceptance/features/cliMain/maintenance.feature
  tests/acceptance/features/cliMain/securityCertificates.feature
Labels: 3 - To Review, backport-request

#35533 [Stable10]Create multiple users in single steps in acceptance test feature files - 2
  tests/acceptance/features/apiProvisioningGroups-v1/addToGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v1/getGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v1/getUserGroups.feature
  tests/acceptance/features/apiProvisioningGroups-v1/removeFromGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v2/addToGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v2/getGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v2/getUserGroups.feature
  tests/acceptance/features/apiProvisioningGroups-v2/removeFromGroup.feature
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/apiShareManagementBasic/deleteShare.feature
  tests/acceptance/features/apiShareOperations/accessToShare.feature
  tests/acceptance/features/apiShareOperations/changingFilesShare.feature
  tests/acceptance/features/apiShareOperations/downloadFromShare.feature
  tests/acceptance/features/apiShareOperations/getWebDAVSharePermissions.feature
  tests/acceptance/features/apiShareOperations/gettingShares.feature
  tests/acceptance/features/apiTrashbin/trashbinFilesFolders.feature
  tests/acceptance/features/apiTrashbin/trashbinRestore.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#25656 Fed Sharing: Preserve error message coming from the share-to host.
  apps/federatedfilesharing/lib/FederatedShareProvider.php
  apps/federatedfilesharing/lib/Notifications.php
  apps/federatedfilesharing/tests/NotificationsTest.php
Labels: 3 - To Review, backport-request, blue-ticket, bug, p3-medium, ready, server

#35542 [Stable10] Fed Sharing: Preserve error message coming from the share-to host.
  apps/federatedfilesharing/lib/FederatedShareProvider.php
  apps/federatedfilesharing/lib/Notifications.php
  apps/federatedfilesharing/tests/NotificationsTest.php
Labels: 3 - To Review

#35543 [stable10] Backport of Log exceptions from exceptionHandler method
  console.php
  lib/private/Console/Application.php
  tests/acceptance/features/cliMain/maintenance.feature
  tests/acceptance/features/cliMain/securityCertificates.feature
Labels: 3 - To Review

#35532 [Stable10] Create multiple users in single steps in acceptance test feature files
  tests/acceptance/features/apiComments/createComments.feature
  tests/acceptance/features/apiComments/deleteComments.feature
  tests/acceptance/features/apiComments/editComments.feature
  tests/acceptance/features/apiMain/external-storage.feature
  tests/acceptance/features/apiMain/quota.feature
  tests/acceptance/features/apiProvisioning-v1/apiProvisioningUsingAppPassword.feature
  tests/acceptance/features/apiProvisioning-v1/createSubAdmin.feature
  tests/acceptance/features/apiProvisioning-v1/deleteUser.feature
  tests/acceptance/features/apiProvisioning-v1/disableUser.feature
  tests/acceptance/features/apiProvisioning-v1/editUser.feature
  tests/acceptance/features/apiProvisioning-v1/enableUser.feature
  tests/acceptance/features/apiProvisioning-v1/getSubAdmins.feature
  tests/acceptance/features/apiProvisioning-v1/getUser.feature
  tests/acceptance/features/apiProvisioning-v1/getUsers.feature
  tests/acceptance/features/apiProvisioning-v1/removeSubAdmin.feature
  tests/acceptance/features/apiProvisioning-v2/apiProvisioningUsingAppPassword.feature
  tests/acceptance/features/apiProvisioning-v2/createSubAdmin.feature
  tests/acceptance/features/apiProvisioning-v2/deleteUser.feature
  tests/acceptance/features/apiProvisioning-v2/disableUser.feature
  tests/acceptance/features/apiProvisioning-v2/editUser.feature
  tests/acceptance/features/apiProvisioning-v2/enableUser.feature
  tests/acceptance/features/apiProvisioning-v2/getSubAdmins.feature
  tests/acceptance/features/apiProvisioning-v2/getUser.feature
  tests/acceptance/features/apiProvisioning-v2/getUsers.feature
  tests/acceptance/features/apiProvisioning-v2/removeSubAdmin.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35521 Enhance re share tests
  tests/acceptance/features/apiShareManagement/reShare.feature
  tests/acceptance/features/bootstrap/PublicWebDavContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35547 [stable10] Enhance re share tests
  tests/acceptance/features/apiShareManagement/reShare.feature
  tests/acceptance/features/bootstrap/PublicWebDavContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#35536 [stable10] file upload in webui without skeleton
  tests/acceptance/features/webUIUpload/upload.feature
  tests/acceptance/features/webUIUpload/uploadEdgecases.feature
  tests/acceptance/features/webUIUpload/uploadFileGreaterThanQuotaSize.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#35537 [Stable10]skeletonfilessharing
  tests/acceptance/features/apiShareManagement/acceptShares.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#35524 file upload in webui without skeleton
  tests/acceptance/features/webUIUpload/upload.feature
  tests/acceptance/features/webUIUpload/uploadEdgecases.feature
  tests/acceptance/features/webUIUpload/uploadFileGreaterThanQuotaSize.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35548 [stable10] fix diff between master and stable10 in Auth tests
  tests/acceptance/features/apiAuthOcs/ocsGETAuth.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35511 Use no skeleton files on webUIPersonalSettings
  tests/acceptance/features/webUIPersonalSettings/accessToChangeFullNameThroughConfig.feature
  tests/acceptance/features/webUIPersonalSettings/changeOwnEmailAddress.feature
  tests/acceptance/features/webUIPersonalSettings/changeOwnFullName.feature
  tests/acceptance/features/webUIPersonalSettings/changePasswordFromSetting.feature
  tests/acceptance/features/webUIPersonalSettings/personalGeneralSettings.feature
  tests/acceptance/features/webUIPersonalSettings/personalSecuritySettings.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35553 [stable10] web ui external no skeleton
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/bootstrap/WebDav.php
  tests/acceptance/features/webUISharingExternal/federationSharing.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35534 webUISharingExternal use no skeleton
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/bootstrap/WebDav.php
  tests/acceptance/features/webUISharingExternal/federationSharing.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35551 Refactor reShare.feature to use the 'shares file with, with permissions' steps
  tests/acceptance/features/apiShareManagement/reShare.feature
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/bootstrap/Sharing.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#35559 [stable10] Refactor reShare.feature to use the 'shares file with, with permissions' steps
  tests/acceptance/features/apiShareManagement/reShare.feature
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/bootstrap/Sharing.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35556 test app version after app was updated to new patch version
  tests/acceptance/features/apiMain/appmanagement.feature
  tests/acceptance/features/bootstrap/AppManagementContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35560 [stable10] test app version after app was updated to new patch version
  tests/acceptance/features/apiMain/appmanagement.feature
  tests/acceptance/features/bootstrap/AppManagementContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35510 [10.2.1] The recipient of internal share should not increase permission
  apps/files_sharing/lib/Controller/Share20OcsController.php
  apps/files_sharing/tests/Controller/Share20OcsControllerTest.php
Labels: 3 - To Review

#35544 [stable10] Return "password fields" only if public-link password is set
  apps/files_sharing/lib/Controller/Share20OcsController.php
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/bootstrap/Sharing.php
Labels: 3 - To Review, bug-solved, feature:sharing

#35545 [master] Return "password fields" only if public-link password is set.
  apps/files_sharing/lib/Controller/Share20OcsController.php
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/bootstrap/Sharing.php
Labels: 3 - To Review

#35552 [Stable10]Fix method to create users without skeleton files in acceptance tests
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35434 Test for speeding up CI
  tests/acceptance/features/apiAuthOcs/ocsDELETEAuth.feature
  tests/acceptance/features/apiAuthOcs/ocsPOSTAuth.feature
  tests/acceptance/features/apiAuthOcs/ocsPUTAuth.feature
  tests/acceptance/features/bootstrap/Auth.php
  tests/acceptance/features/bootstrap/OCSContext.php
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#35549 Fix method to create users without skeleton files in acceptance tests
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35535 webui sharing public without skeleton
  .drone.yml
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/webUISharingPublic/shareByPublicLink.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#35571 [stable10] Backport to Fix response when user is removed from group
  settings/ajax/togglegroups.php
Labels: 4 - To release

#35555 fix for users creation in ldap test
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#35569 [stable10] fix deleteTags for webui
  tests/acceptance/features/webUITags/deleteTags.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35557 webdav lock protection without skeleton
  tests/acceptance/features/webUIWebdavLockProtection/delete.feature
  tests/acceptance/features/webUIWebdavLockProtection/move.feature
  tests/acceptance/features/webUIWebdavLockProtection/upload.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#35572 [stable10] webui sharing public without skeleton
  .drone.yml
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/webUISharingPublic/shareByPublicLink.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35573 [stable10] fix for users creation in ldap test
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35574 [stable10] webdav lock protection without skeleton
  tests/acceptance/features/webUIWebdavLockProtection/delete.feature
  tests/acceptance/features/webUIWebdavLockProtection/move.feature
  tests/acceptance/features/webUIWebdavLockProtection/upload.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35582 [stable10] Acceptance test for permissions update of link share of sub-folder
  tests/acceptance/features/apiShareManagement/reShare.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#35570 [10.2.1] Backport to Fix response when user is removed from group
  settings/ajax/togglegroups.php
Labels: 3 - To Review

#35563 [release-10.2.1] Return "password fields" only if public-link password is set. #35541
  apps/files_sharing/lib/Controller/Share20OcsController.php
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/bootstrap/Sharing.php
Labels: 3 - To Review

#35576 Test that an emoji works in the user full name via API
  tests/acceptance/features/apiProvisioning-v1/editUser.feature
  tests/acceptance/features/apiProvisioning-v2/editUser.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35581 Acceptance test for permissions update of link share of sub-folder
  tests/acceptance/features/apiShareManagement/reShare.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35578 [stable10] Test that an emoji works in the user full name via API
  tests/acceptance/features/apiProvisioning-v1/editUser.feature
  tests/acceptance/features/apiProvisioning-v2/editUser.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33713 Filter double appearing addressbooks
  apps/dav/lib/CardDAV/CardDavBackend.php
Labels: 3 - To Review, app:dav, backport-request

#35587 [Stable-10] Send requests in loop rather than scenario outline to speed up CI
  tests/acceptance/features/apiAuthOcs/ocsGETAuth.feature
  tests/acceptance/features/bootstrap/Auth.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35586 [Stable-10] Test for speeding up CI
  tests/acceptance/features/apiAuthOcs/ocsDELETEAuth.feature
  tests/acceptance/features/apiAuthOcs/ocsPOSTAuth.feature
  tests/acceptance/features/apiAuthOcs/ocsPUTAuth.feature
  tests/acceptance/features/bootstrap/Auth.php
  tests/acceptance/features/bootstrap/OCSContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35564 set default expiration date if expiration date is enforced and it is new share
  lib/private/Share20/Manager.php
  tests/lib/Share20/ManagerTest.php
Labels: 3 - To Review, backport-request

#35583 [release-10.2.1] Acceptance tests changes 20190618
  .drone.yml
  tests/acceptance/features/apiProvisioning-v1/editUser.feature
  tests/acceptance/features/apiProvisioning-v2/editUser.feature
  tests/acceptance/features/apiShareManagement/reShare.feature
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/webUISharingPublic/shareByPublicLink.feature
  tests/acceptance/features/webUITags/deleteTags.feature
  tests/acceptance/features/webUIWebdavLockProtection/delete.feature
  tests/acceptance/features/webUIWebdavLockProtection/move.feature
  tests/acceptance/features/webUIWebdavLockProtection/upload.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#35585 Do not allow to set higher permissions on a public link share for a r…
  apps/files_sharing/lib/Controller/Share20OcsController.php
  apps/files_sharing/tests/Controller/Share20OcsControllerTest.php
  tests/acceptance/features/apiShareManagement/reShare.feature
Labels: 3 - To Review, backport-request

#35588 Use full skeleton for webUI browseDirectlyToDetailsTab.feature
  tests/acceptance/features/webUIFiles/browseDirectlyToDetailsTab.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35590 [stable10] Use full skeleton for webUI browseDirectlyToDetailsTab.feature
  tests/acceptance/features/webUIFiles/browseDirectlyToDetailsTab.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35593 [10.2.1] set default expiration date if expiration date is enforced and it is new share
  lib/private/Share20/Manager.php
  tests/lib/Share20/ManagerTest.php
Labels: 4 - To release

#35592 [stable10] set default expiration date if expiration date is enforced and it is new share
  lib/private/Share20/Manager.php
  tests/lib/Share20/ManagerTest.php
Labels: 4 - To release

#35540 Emit copy and post copy hooks for the new dav endpoint
  apps/dav/lib/Tree.php
  apps/dav/tests/unit/TreeTest.php
Labels: 3 - To Review, backport-request

#35575 Make the encryption:encrypt-all command to accept "-y" as input option
  core/Command/Encryption/EncryptAll.php
Labels: 3 - To Review, backport-request

#35595 Fix invalid token on pw reset
  core/Controller/LostController.php
  tests/Core/Controller/LostControllerTest.php
  tests/acceptance/features/webUILogin/resetPasswordUsingEmail.feature
Labels: 3 - To Review, backport-request, bug, p2-high

#35603 [Stable10] Filter double appearing addressbooks
  apps/dav/lib/CardDAV/CardDavBackend.php
Labels: 4 - To release

#35602 [Stable10]Unskip tests related to files_primary_s3 ceph as the issue has been fixed
  tests/acceptance/features/apiMain/checksums.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35605 [stable10] Make the encryption:encrypt-all command to accept "-y" as input option
  core/Command/Encryption/EncryptAll.php
Labels: 4 - To release

#35604 [Stable10] Emit copy and post copy hooks for the new dav endpoint
  apps/dav/lib/Tree.php
  apps/dav/tests/unit/TreeTest.php
Labels: 4 - To release

#35597 [stable10] Fix invalid token on pw reset
  core/Controller/LostController.php
  tests/Core/Controller/LostControllerTest.php
  tests/acceptance/features/webUILogin/resetPasswordUsingEmail.feature
Labels: 4 - To release, bug, p2-high
