Repository owncloud/core, pull requests merged in 2019-07, with the labels that each got.

#35594 Test regression with public link not created when default expiration date set and enforced
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialogElement/PublicLinkTab.php
  tests/acceptance/features/webUISharingPublic/shareByPublicLink.feature
Labels: 4 - To release, Acceptance tests, QA-team, backport-request

#35483 Fix path option for the verify checksum command
  apps/files/lib/Command/VerifyChecksums.php
  apps/files/tests/Command/VerifyChecksumsTest.php
Labels: 3 - To Review

#35625 [stable10] dependency bumps to 20190627
  composer.lock
Labels: 3 - To Review, dependencies

#35683 [stable10] Return false if the rename fails except for connect exceptions
  apps/dav/lib/Connector/Sabre/Node.php
  apps/dav/tests/unit/Connector/Sabre/DirectoryTest.php
  apps/dav/tests/unit/Connector/Sabre/FileTest.php
  apps/files_external/lib/Lib/Storage/SMB.php
  lib/private/Files/View.php
Labels: 3 - To Review

#35579 Convert StorageNotAvailable to Sabre one if can't get the child
  apps/dav/lib/Connector/Sabre/Directory.php
  apps/dav/tests/unit/Connector/Sabre/DirectoryTest.php
  lib/private/Files/External/ConfigAdapter.php
Labels: 3 - To Review, backport-request

#35682 only look for unit tests in the primary apps dir
  tests/apps.php
Labels: 3 - To Review, QA-team, dev:phpunit-tests

#35700 [stable10] only look for unit tests in the primary apps dir
  tests/apps.php
Labels: 3 - To Review, QA-team, dev:phpunit-tests

#35699 [release-10.2.1] Disable Archive TARTest testRecursive to avoid out-of-memory problem
  .drone.yml
  tests/lib/Archive/TARTest.php
Labels: 3 - To Review, dev:phpunit-tests

#35624 Dependency bumps to 20190627
  composer.lock
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#35612 fix memory problems
  lib/private/Preview.php
  lib/private/legacy/hook.php
  tests/lib/TestCase.php
Labels: 3 - To Review, backport-request

#35523 [OCM] Set unknown remote protocol for remote mounts to https
  apps/files_sharing/lib/External/MountProvider.php
  apps/files_sharing/tests/External/MountProviderTest.php
Labels: 3 - To Review, backport-request

#35694 [stable10] Backport of Fix path option in the verify checksum cmd
  apps/files/lib/Command/VerifyChecksums.php
  apps/files/tests/Command/VerifyChecksumsTest.php
Labels: 3 - To Review

#35703 [stable10] Test regression with public link not created when default expiration date set and enforced
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialogElement/PublicLinkTab.php
  tests/acceptance/features/webUISharingPublic/shareByPublicLink.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35708 [stable10] fix memory problems
  lib/private/Preview.php
  lib/private/legacy/hook.php
  tests/lib/TestCase.php
Labels: 4 - To release

#35707 [stable10] Convert StorageNotAvailable to Sabre one if can't get the child
  apps/dav/lib/Connector/Sabre/Directory.php
  apps/dav/tests/unit/Connector/Sabre/DirectoryTest.php
  lib/private/Files/External/ConfigAdapter.php
Labels: 4 - To release

#35698 Do not try to override JS files from theme when there is no custom th…
  lib/private/Template/JSResourceLocator.php
  tests/lib/Template/JSResourceLocatorTest.php
Labels: 3 - To Review

#35717 [release-10.2.1] Acceptance test changes from stable10 to 20190701
  .drone.yml
  tests/TestHelpers/OcsApiHelper.php
  tests/TestHelpers/UserHelper.php
  tests/acceptance/features/apiMain/appmanagement.feature
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/apiShareManagementBasic/deleteShare.feature
  tests/acceptance/features/bootstrap/AppManagementContext.php
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/bootstrap/PublicWebDavContext.php
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/bootstrap/TagsContext.php
  tests/acceptance/features/bootstrap/WebUIPersonalGeneralSettingsContext.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/bootstrap/WebUITagsContext.php
  tests/acceptance/features/bootstrap/WebUIUsersContext.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialogElement/PublicLinkTab.php
  tests/acceptance/features/lib/UsersPage.php
  tests/acceptance/features/webUIAddUsers/addUsers.feature
  tests/acceptance/features/webUIManageUsersGroups/addGroup.feature
  tests/acceptance/features/webUIManageUsersGroups/deleteUsers.feature
  tests/acceptance/features/webUIManageUsersGroups/editUsers.feature
  tests/acceptance/features/webUISharingAutocompletion/shareAutocompletion.feature
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroups.feature
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
  tests/acceptance/features/webUISharingPublic/shareByPublicLink.feature
  tests/apps.php
  tests/lib/DB/MigrationsTest.php
Labels: 2 - Developing, QA-team, dev:acceptance-tests

#35714 [stable10] Test scenarios for resharing with various permission bits
  tests/acceptance/features/apiShareManagement/reShare.feature
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35712 Test scenarios for resharing with various permission bits
  tests/acceptance/features/apiShareManagement/reShare.feature
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35719 [release-10.2.1] Test scenarios for resharing with various permission bits
  tests/acceptance/features/apiShareManagement/reShare.feature
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#35710 [stable10] Do not try to override JS files from theme when there is no custom th…
  lib/private/Template/JSResourceLocator.php
  tests/lib/Template/JSResourceLocatorTest.php
Labels: 4 - To release

#35711 [stable10] [OCM] Set unknown remote protocol for remote mounts to https
  apps/files_sharing/lib/External/MountProvider.php
  apps/files_sharing/tests/External/MountProviderTest.php
Labels: 4 - To release

#35725 Extra share acceptance test suites
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiShareReshare/reShare.feature
  tests/acceptance/features/apiShareReshare/reShareAsPublicLink.feature
  tests/acceptance/features/apiShareUpdate/updateShare.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#35726 [stable10] Extra share acceptance test suites
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiShareReshare/reShare.feature
  tests/acceptance/features/apiShareReshare/reShareAsPublicLink.feature
  tests/acceptance/features/apiShareUpdate/updateShare.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35580 Add cli tests for app upgrade of major and minor release
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiMain/appmanagement.feature
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliAppManagement/appUpgrade.feature
  tests/acceptance/run.sh
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#35727 Unskip ldap tests as it is passing currently
  tests/acceptance/features/apiShareManagement/mergeShare.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35721 Remove obsolete contacts_cards_properties table
  lib/private/Repair/DropOldTables.php
Labels: 3 - To Review

#35729 [stable10] cli test app upgrate minor major
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiMain/appmanagement.feature
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliAppManagement/appUpgrade.feature
  tests/acceptance/run.sh
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35731 [Stable10]Unskip ldap tests as it is passing currently
  tests/acceptance/features/apiShareManagement/mergeShare.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35734 [stable10] Merge pull request #35721 from ho4ho/patch-1
  lib/private/Repair/DropOldTables.php
Labels: 4 - To release

#35733 apiTest for share with only membership groups
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/apiShareReshare/reShare.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#35735 change wording of exclude group from sharing tests
  tests/acceptance/features/bootstrap/WebUIAdminSharingSettingsContext.php
  tests/acceptance/features/lib/AdminSharingSettingsPage.php
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35739 [stable10] change wording of exclude group from sharing tests
  tests/acceptance/features/bootstrap/WebUIAdminSharingSettingsContext.php
  tests/acceptance/features/lib/AdminSharingSettingsPage.php
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35740 [stable10] test only member share
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/apiShareReshare/reShare.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35664 Acceptance test for renaming folders received from multiple users wit…
  tests/acceptance/features/apiShareManagement/acceptShares.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#35746 Sort out api sharing test group membership to match with user_ldap
  tests/acceptance/features/apiShareManagement/acceptShares.feature
  tests/acceptance/features/apiShareManagement/disableSharing.feature
  tests/acceptance/features/apiShareManagement/mergeShare.feature
  tests/acceptance/features/apiShareManagement/moveReceivedShare.feature
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/apiShareManagementBasic/deleteShare.feature
  tests/acceptance/features/apiShareReshare/reShare.feature
  tests/acceptance/features/apiShareUpdate/updateShare.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35713 Use Throwable as type hint in the exception callback
  apps/dav/lib/Connector/Sabre/FilesPlugin.php
  apps/dav/lib/Files/BrowserErrorPagePlugin.php
Labels: 3 - To Review, backport-request

#34559 [stable10] support php7.3
  .drone.yml
  apps/dav/lib/Avatars/AvatarHome.php
  apps/dav/lib/CalDAV/CalDavBackend.php
  apps/dav/lib/CalDAV/Plugin.php
  apps/dav/lib/CardDAV/CardDavBackend.php
  apps/dav/lib/CardDAV/Plugin.php
  apps/dav/lib/Connector/LegacyDAVACL.php
  apps/dav/lib/Connector/Sabre/AppEnabledPlugin.php
  apps/dav/lib/Connector/Sabre/AutorenamePlugin.php
  apps/dav/lib/Connector/Sabre/BlockLegacyClientPlugin.php
  apps/dav/lib/Connector/Sabre/CopyEtagHeaderPlugin.php
  apps/dav/lib/Connector/Sabre/CorsPlugin.php
  apps/dav/lib/Connector/Sabre/Directory.php
  apps/dav/lib/Connector/Sabre/File.php
  apps/dav/lib/Connector/Sabre/FilesPlugin.php
  apps/dav/lib/Connector/Sabre/LockPlugin.php
  apps/dav/lib/Connector/Sabre/MaintenancePlugin.php
  apps/dav/lib/Connector/Sabre/Node.php
  apps/dav/lib/Connector/Sabre/ObjectTree.php
  apps/dav/lib/Connector/Sabre/Principal.php
  apps/dav/lib/Connector/Sabre/QuotaPlugin.php
  apps/dav/lib/Connector/Sabre/ServerFactory.php
  apps/dav/lib/DAV/SystemPrincipalBackend.php
  apps/dav/lib/Files/FilesHome.php
  apps/dav/lib/Files/RootCollection.php
  apps/dav/lib/Files/Sharing/PublicLinkCheckPlugin.php
  apps/dav/lib/JobStatus/Home.php
  apps/dav/lib/Server.php
  apps/dav/tests/unit/CalDAV/Publishing/PublishingTest.php
  apps/dav/tests/unit/CardDAV/Sharing/PluginTest.php
  apps/dav/tests/unit/Connector/Sabre/CopyEtagHeaderPluginTest.php
  apps/dav/tests/unit/Connector/Sabre/CorsPluginTest.php
  apps/dav/tests/unit/Connector/Sabre/QuotaPluginTest.php
  apps/dav/tests/unit/Connector/Sabre/RequestTest/RequestTest.php
  apps/dav/tests/unit/DAV/Sharing/PluginTest.php
  apps/dav/tests/unit/Files/FilesHomeTest.php
  composer.json
  composer.lock
  console.php
  index.php
  lib/private/AppFramework/Http/Request.php
  lib/private/legacy/response.php
  remote.php
  tests/acceptance/features/apiWebdavLocks/publicLinkLockdiscovery.feature
  tests/acceptance/features/bootstrap/WebDavPropertiesContext.php
  tests/lib/TestCase.php
Labels: 3 - To Review

#35747 [stable10] Sort out api sharing test group membership to match with user_ldap
  tests/acceptance/features/apiShareManagement/acceptShares.feature
  tests/acceptance/features/apiShareManagement/disableSharing.feature
  tests/acceptance/features/apiShareManagement/mergeShare.feature
  tests/acceptance/features/apiShareManagement/moveReceivedShare.feature
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/apiShareManagementBasic/deleteShare.feature
  tests/acceptance/features/apiShareReshare/reShare.feature
  tests/acceptance/features/apiShareUpdate/updateShare.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35736 Add webUI tests for share only with membership groups
  tests/acceptance/features/bootstrap/WebUIAdminSharingSettingsContext.php
  tests/acceptance/features/lib/AdminSharingSettingsPage.php
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroups.feature
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#35753 [stable10] web ui test share only with membership groups
  tests/acceptance/features/bootstrap/WebUIAdminSharingSettingsContext.php
  tests/acceptance/features/lib/AdminSharingSettingsPage.php
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroups.feature
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35752 [stable10] Adjust PHP max version comments
  console.php
  index.php
Labels: 4 - To release

#35751 Adjust PHP 7.3 support in master
  composer.json
  composer.lock
  console.php
  index.php
Labels: 3 - To Review

#35755 [stable10] Remove $CLASSPATH and move autoloader to namespace
  apps/files_external/3rdparty/composer.json
  apps/files_external/3rdparty/composer/autoload_classmap.php
  apps/files_external/3rdparty/composer/autoload_files.php
  apps/files_external/3rdparty/composer/autoload_real.php
  apps/files_external/3rdparty/composer/autoload_static.php
  apps/files_external/appinfo/app.php
  composer.json
  lib/base.php
  lib/private/Autoloader.php
  tests/lib/AutoLoaderTest.php
Labels: 3 - To Review

#35737 Add webui test for setting share permissions
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialog.php
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#35750 Test for federated sharing of folders with same name
  tests/acceptance/features/webUISharingExternal/federationSharing.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#35754 [Stable-10] Acceptance test for renaming folders received from multiple users wit…
  tests/acceptance/features/apiShareManagement/acceptShares.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35748 [stable10] Use Throwable as tyoe hint in the exception callback
  apps/dav/lib/Connector/Sabre/FilesPlugin.php
  apps/dav/lib/Files/BrowserErrorPagePlugin.php
Labels: 4 - To release

#35728 Adjust ContactsTest to remove invalid constructor arguments
  tests/lib/PublicNamespace/ContactsTest.php
Labels: 3 - To Review, QA-team, backport-request, dev:phpunit-tests

#35730 [stable10] Adjust ContactsTest to remove invalid constructor arguments
  tests/lib/PublicNamespace/ContactsTest.php
Labels: 3 - To Review, QA-team, dev:phpunit-tests

#35764 [stable10] Test for federated sharing of folders with same name
  tests/acceptance/features/webUISharingExternal/federationSharing.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35426 Revert "Skip smb_windows drone job because fsweb.test.owncloud.com is not working"
  .drone.yml
Labels: 4 - To release, QA-team

#35427 Revert "[stable10] Skip smb_windows drone job because fsweb.test.owncloud.com is not working"
  .drone.yml
Labels: 4 - To release, QA-team

#35767 [stable10] Remove mock of non-existent getCode from NotificationsTest
  apps/federatedfilesharing/tests/NotificationsTest.php
Labels: 3 - To Review, dev:phpunit-tests

#35766 Remove mock of non-existent getCode from NotificationsTest
  apps/federatedfilesharing/tests/NotificationsTest.php
Labels: 3 - To Review, dev:phpunit-tests

#35763 [stable10] commits from release-10.2.1 branch
  CHANGELOG.md
  version.php
Labels: 3 - To Review

#34932 [stable10] Have a real controller handling cron requests
  core/Application.php
  core/Command/System/Cron.php
  core/Controller/CronController.php
  core/register_command.php
  core/routes.php
  cron.php
  lib/private/AppFramework/Routing/RouteActionHandler.php
  tests/Core/Command/System/CronTest.php
  tests/Core/Controller/CronControllerTest.php
Labels: 3 - To Review, technical debt

#35762 [Stable10] Add webui test for setting share permissions
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialog.php
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35765 remove hardcoded delimeter from trashbin restore function in acceptace test
  tests/acceptance/features/bootstrap/TrashbinContext.php
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#35770 [Stable10] remove hardcoded delimeter from trashbin restore function in acceptace test
  tests/acceptance/features/bootstrap/TrashbinContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35769 fix phpstan 'Undefined variable: ' reported for togglegroups.php
  settings/ajax/togglegroups.php
Labels: 4 - To release

#35749 Test exclude group from receiving shares
  tests/acceptance/features/apiShareManagementBasic/excludeGroupFromReceivingShares.feature
  tests/acceptance/features/bootstrap/AppConfiguration.php
  tests/acceptance/features/bootstrap/Sharing.php
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#35620 Acceptance test for sharing folders with group when receiver has matc…
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroups.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#35775 [stable10] Fix method signature of ExceptionLoggerPlugin::logException to allow …
  apps/dav/lib/Connector/Sabre/ExceptionLoggerPlugin.php
Labels: 3 - To Review

#35776 Fix expire days value in text field
  settings/css/settings.css
  settings/js/admin.js
  settings/templates/panels/admin/filesharing.php
Labels: 3 - To Review

#35778 [stable10] Test exclude group from receiving shares
  tests/acceptance/features/apiShareManagementBasic/excludeGroupFromReceivingShares.feature
  tests/acceptance/features/bootstrap/AppConfiguration.php
  tests/acceptance/features/bootstrap/Sharing.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35779 [stable10] Fix expire days value
  settings/css/settings.css
  settings/js/admin.js
  settings/templates/panels/admin/filesharing.php
Labels: 4 - To release

#35782 [stable10] Kill APC and XCache - fixes #28597
  lib/private/Memcache/APC.php
  lib/private/Memcache/XCache.php
  tests/lib/Memcache/APCTest.php
  tests/lib/Memcache/XCacheTest.php
Labels: 3 - To Review

#35781 [stable10] Remove not longer valid update script - pre-8.1 upgrade
  apps/files/appinfo/update.php
Labels: 3 - To Review

#35797 Do not accidentally disable apps in AppConfiguration.php restoreParameters
  tests/acceptance/features/bootstrap/AppConfiguration.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35798 [stable10] Do not accidentally disable apps in AppConfiguration.php restoreParam…
  tests/acceptance/features/bootstrap/AppConfiguration.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35793 Comment create event should have comment id
  lib/private/Comments/Manager.php
  tests/lib/Comments/ManagerTest.php
Labels: 3 - To Review

#35799 [stable10] Backport of Comment create event should have comment id
  lib/private/Comments/Manager.php
  tests/lib/Comments/ManagerTest.php
Labels: 3 - To Review

#35806 Add test-php-phan and test-php-phpstan to Makefile help
  Makefile
Labels: 3 - To Review, QA-team

#35807 [stable10] Add test-php-phan and test-php-phpstan to Makefile help
  Makefile
Labels: 4 - To release, QA-team

#35795 Add acceptance test for enabling auto add server in admin settings
  tests/acceptance/features/bootstrap/WebUIAdminSharingSettingsContext.php
  tests/acceptance/features/lib/AdminSharingSettingsPage.php
  tests/acceptance/features/webUIAdminSettings/adminSharingSettings.feature
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#35815 [Stable10] Add acceptance test for enabling auto add server in admin settings
  tests/acceptance/features/bootstrap/WebUIAdminSharingSettingsContext.php
  tests/acceptance/features/lib/AdminSharingSettingsPage.php
  tests/acceptance/features/webUIAdminSettings/adminSharingSettings.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#35759 Trigger dav events for the public.php/webdav endpoint
  apps/dav/appinfo/v1/publicwebdav.php
  apps/dav/lib/Files/Sharing/PublicLinkEventsPlugin.php
  apps/dav/tests/unit/Files/Sharing/PublicLinkEventsPluginTest.php
Labels: 3 - To Review

#35814 Add acceptance test steps related to trusted server
  tests/acceptance/features/bootstrap/AppConfiguration.php
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#35821 Remove step to check ocs/http code in CLI test
  tests/acceptance/features/cliProvisioning/deleteUser.feature
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#35820 Backport of Trigger dav events for the public.php/webdav endpoint
  apps/dav/appinfo/v1/publicwebdav.php
  apps/dav/lib/Files/Sharing/PublicLinkEventsPlugin.php
  apps/dav/tests/unit/Files/Sharing/PublicLinkEventsPluginTest.php
Labels: 3 - To Review

#35823 [stable10]Add acceptance test steps related to trusted server
  tests/acceptance/features/bootstrap/AppConfiguration.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#35824 [stable10]Remove step to check ocs/http code in CLI test
  tests/acceptance/features/cliProvisioning/deleteUser.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#35822 Bugfix/not load groups if not necessary
  lib/private/legacy/util.php
Labels: 3 - To Review

#35794 Add tags on skeleton files before sharing
  tests/acceptance/features/webUITags/createTags.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#34101 WebDav Client missing proxy credentials
  config/config.sample.php
  lib/private/Files/Storage/DAV.php
  lib/private/Http/Client/Client.php
  lib/private/Http/Client/WebDavClientService.php
  tests/lib/Files/Storage/DavTest.php
  tests/lib/Http/Client/ClientTest.php
  tests/lib/Http/Client/WebDavClientServiceTest.php
Labels: 3 - To Review

#35842 [stable10] Add webui Acceptance test for trusted server in admin settings
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/AppConfiguration.php
  tests/acceptance/features/bootstrap/WebUIAdminSharingSettingsContext.php
  tests/acceptance/features/lib/AdminSharingSettingsPage.php
  tests/acceptance/features/webUISharingExternal/adminSharingSettings.feature
Labels: 4 - To release, Acceptance tests, QA-team

#35843 [stable10] Add api acceptance tests for auto accept federated share
  tests/acceptance/features/apiFederation/federated.feature
  tests/acceptance/features/bootstrap/AppConfiguration.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35837 [Stable-10] Add tags on skeleton files before sharing
  tests/acceptance/features/webUITags/createTags.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35838 [Stable10] cli test for deleting versions of file
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliMain/fileVersions.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35805 skipped testing update channel for docker containers
  tests/acceptance/features/webUIAdminSettings/adminGeneralSettings.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#35850 [stable10] Acceptance test for sharing folders with group when receiver has matchhing file
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroups.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#35851 [stable10] skipped testing update channel for docker containers
  tests/acceptance/features/webUIAdminSettings/adminGeneralSettings.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#35857 [Stable10] Test for changing the contents of skeleton file
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35819 In case phoenix is configured to be used with this instance - private…
  apps/dav/lib/Meta/MetaPlugin.php
  apps/dav/lib/Server.php
  apps/dav/tests/unit/Meta/MetaPluginTest.php
  core/routes.php
Labels: 3 - To Review

#35859 [Stable10] Test for checking existence of tags in shared files
  tests/acceptance/features/webUITags/createTags.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35852 stable10 acceptance test for checking shares pointing to deleted grou…
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialog.php
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroups.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35840 Add api acceptance tests for auto accept federated share
  tests/acceptance/features/apiFederation/federated.feature
  tests/acceptance/features/bootstrap/AppConfiguration.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35792 acceptance test for checking shares pointing to deleted groups are not retrieved
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialog.php
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroups.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35791 Test for checking existence of tags in shared files
  tests/acceptance/features/webUITags/createTags.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35790 Test for changing the contents of skeleton file
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35868 [stable10] Fix webdavclient proxy credentials
  config/config.sample.php
  lib/private/Files/Storage/DAV.php
  lib/private/Http/Client/Client.php
  lib/private/Http/Client/WebDavClientService.php
  tests/lib/Files/Storage/DavTest.php
  tests/lib/Http/Client/ClientTest.php
  tests/lib/Http/Client/WebDavClientServiceTest.php
Labels: 4 - To release

#35867 Remove non-existent deleteHandler.js reference in karma.config.js
  tests/karma.config.js
Labels: 3 - To Review, dev:js-tests

#35869 cli test for deleting versions of file
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliMain/fileVersions.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35855 Remove duplicate events emitted in Config
  lib/private/Config.php
Labels: 4 - To release, backport-request

#35875 [stable10] Backport of Remove duplicate events emitted in Config
  lib/private/Config.php
Labels: 4 - To release

#35873 Revert "Log exceptions from exceptionHandler method"
  console.php
  lib/private/Console/Application.php
  tests/acceptance/features/cliMain/maintenance.feature
  tests/acceptance/features/cliMain/securityCertificates.feature
Labels: 3 - To Review

#35874 [stable10] tests demonstrating issue #35154
  tests/acceptance/features/apiFederation/federated.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#35870 tests demonstrating issue #35154
  tests/acceptance/features/apiFederation/federated.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35813 Limit the width of the set password button
  core/css/styles.css
Labels: 3 - To Review, backport-request

#35876 Revert "[stable10] Backport of Log exceptions from exceptionHandler m…
  console.php
  lib/private/Console/Application.php
  tests/acceptance/features/cliMain/maintenance.feature
  tests/acceptance/features/cliMain/securityCertificates.feature
Labels: 4 - To release

#35877 Added description for the user settings section
  settings/templates/users/main.php
Labels: 3 - To Review, enhancement

#35878 [stable10] Limit the width of the set password button
  core/css/styles.css
Labels: 4 - To release

#35872 [stable10] skipOnLDAP for delete group test
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#35871 skipOnLDAP for delete group test
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35883 [stable10] Include URL after substituteInLineCodes in acceptance test error messages
  tests/acceptance/features/bootstrap/AppConfiguration.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35882 Include URL after substituteInLineCodes in acceptance test error messages
  tests/acceptance/features/bootstrap/AppConfiguration.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35825 Use human readable permission strings
  tests/TestHelpers/SharingHelper.php
  tests/acceptance/features/apiComments/createComments.feature
  tests/acceptance/features/apiFederation/federated.feature
  tests/acceptance/features/apiMain/external-storage.feature
  tests/acceptance/features/apiMain/quota.feature
  tests/acceptance/features/apiShareManagement/acceptShares.feature
  tests/acceptance/features/apiShareManagement/mergeShare.feature
  tests/acceptance/features/apiShareManagement/multilinksharing.feature
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/apiShareManagementBasic/deleteShare.feature
  tests/acceptance/features/apiShareOperations/changingFilesShare.feature
  tests/acceptance/features/apiShareOperations/getWebDAVSharePermissions.feature
  tests/acceptance/features/apiShareOperations/gettingShares.feature
  tests/acceptance/features/apiShareReshare/reShare.feature
  tests/acceptance/features/apiShareReshare/reShareAsPublicLink.feature
  tests/acceptance/features/apiShareUpdate/updateShare.feature
  tests/acceptance/features/apiVersions/fileVersions.feature
  tests/acceptance/features/apiWebdavMove/moveFile.feature
  tests/acceptance/features/apiWebdavMove/moveFileAsync.feature
  tests/acceptance/features/apiWebdavProperties/copyFile.feature
  tests/acceptance/features/apiWebdavProperties/getFileProperties.feature
  tests/acceptance/features/apiWebdavProperties/getQuota.feature
  tests/acceptance/features/apiWebdavProperties/setFileProperties.feature
  tests/acceptance/features/bootstrap/FederationContext.php
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/cliMain/transfer-ownership.feature
  tests/acceptance/features/webUISharingExternal/federationSharing.feature
Labels: 2 - Developing, QA-team, dev:acceptance-tests

#35835 [stable10] Bump stable10 to 10.3.0
  version.php
Labels: 3 - To Review, QA-team

#35808 Adjust README translation docref to latest
  README.md
Labels: 3 - To Review

#35841 [stable10] humanize permissions
  tests/TestHelpers/SharingHelper.php
  tests/acceptance/features/apiComments/createComments.feature
  tests/acceptance/features/apiFederation/federated.feature
  tests/acceptance/features/apiMain/external-storage.feature
  tests/acceptance/features/apiMain/quota.feature
  tests/acceptance/features/apiShareManagement/acceptShares.feature
  tests/acceptance/features/apiShareManagement/mergeShare.feature
  tests/acceptance/features/apiShareManagement/multilinksharing.feature
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/apiShareManagementBasic/deleteShare.feature
  tests/acceptance/features/apiShareOperations/changingFilesShare.feature
  tests/acceptance/features/apiShareOperations/getWebDAVSharePermissions.feature
  tests/acceptance/features/apiShareOperations/gettingShares.feature
  tests/acceptance/features/apiShareReshare/reShare.feature
  tests/acceptance/features/apiShareReshare/reShareAsPublicLink.feature
  tests/acceptance/features/apiShareUpdate/updateShare.feature
  tests/acceptance/features/apiVersions/fileVersions.feature
  tests/acceptance/features/apiWebdavMove/moveFile.feature
  tests/acceptance/features/apiWebdavMove/moveFileAsync.feature
  tests/acceptance/features/apiWebdavProperties/copyFile.feature
  tests/acceptance/features/apiWebdavProperties/getFileProperties.feature
  tests/acceptance/features/apiWebdavProperties/getQuota.feature
  tests/acceptance/features/apiWebdavProperties/setFileProperties.feature
  tests/acceptance/features/bootstrap/FederationContext.php
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/cliMain/transfer-ownership.feature
  tests/acceptance/features/webUISharingExternal/federationSharing.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35881 add acceptance test for trashbin delete and restore
  tests/acceptance/features/webUITrashbin/trashbinRestore.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#35889 Use keywords for share type in acceptance tests
  tests/TestHelpers/SharingHelper.php
  tests/acceptance/features/apiComments/createComments.feature
  tests/acceptance/features/apiFederation/federated.feature
  tests/acceptance/features/apiShareManagement/acceptShares.feature
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/apiShareOperations/getWebDAVSharePermissions.feature
  tests/acceptance/features/apiShareOperations/gettingShares.feature
  tests/acceptance/features/apiShareUpdate/updateShare.feature
  tests/acceptance/features/apiVersions/fileVersions.feature
  tests/acceptance/features/apiWebdavMove/moveFile.feature
  tests/acceptance/features/apiWebdavMove/moveFileAsync.feature
  tests/acceptance/features/apiWebdavProperties/copyFile.feature
  tests/acceptance/features/apiWebdavProperties/getFileProperties.feature
  tests/acceptance/features/apiWebdavProperties/getQuota.feature
  tests/acceptance/features/apiWebdavProperties/setFileProperties.feature
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/webUISharingPublic/shareByPublicLink.feature
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#35891 [stable10] Use keywords for share type in acceptance tests
  tests/TestHelpers/SharingHelper.php
  tests/acceptance/features/apiComments/createComments.feature
  tests/acceptance/features/apiFederation/federated.feature
  tests/acceptance/features/apiShareManagement/acceptShares.feature
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/apiShareOperations/getWebDAVSharePermissions.feature
  tests/acceptance/features/apiShareOperations/gettingShares.feature
  tests/acceptance/features/apiShareUpdate/updateShare.feature
  tests/acceptance/features/apiVersions/fileVersions.feature
  tests/acceptance/features/apiWebdavMove/moveFile.feature
  tests/acceptance/features/apiWebdavMove/moveFileAsync.feature
  tests/acceptance/features/apiWebdavProperties/copyFile.feature
  tests/acceptance/features/apiWebdavProperties/getFileProperties.feature
  tests/acceptance/features/apiWebdavProperties/getQuota.feature
  tests/acceptance/features/apiWebdavProperties/setFileProperties.feature
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/webUISharingPublic/shareByPublicLink.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35899 [stable10] some essential steps moved from richdocuments to core
  tests/acceptance/features/bootstrap/Sharing.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35879 Handle exception properly when deleting trash items
  apps/dav/lib/Connector/Sabre/Exception/FileLocked.php
  apps/dav/lib/TrashBin/AbstractTrashBinNode.php
  apps/dav/lib/TrashBin/TrashBinManager.php
  apps/dav/tests/unit/TrashBin/TrashBinFileTest.php
  apps/files_trashbin/lib/Trashbin.php
Labels: 3 - To Review

#35887 [stable10] add acceptance test for trashbin delete and restore
  tests/acceptance/features/webUITrashbin/trashbinRestore.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35901 Add tests for restoring file to a particular destination
  tests/acceptance/features/apiTrashbin/trashbinRestore.feature
  tests/acceptance/features/bootstrap/TrashbinContext.php
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/webUITrashbin/trashbinRestore.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#35903 [stable10] Add tests for restoring file to a particular destination
  tests/acceptance/features/apiTrashbin/trashbinRestore.feature
  tests/acceptance/features/bootstrap/TrashbinContext.php
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/webUITrashbin/trashbinRestore.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35904 Allow invalid permission numbers in acceptance tests
  tests/TestHelpers/SharingHelper.php
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35905 [stable10] Allow invalid permission numbers in acceptance tests
  tests/TestHelpers/SharingHelper.php
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35907 [stable10] throw exception in TrashbinContext restoreElement if element not found
  tests/acceptance/features/apiTrashbin/trashbinRestore.feature
  tests/acceptance/features/bootstrap/TrashbinContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35906 throw exception in TrashbinContext restoreElement if element not found
  tests/acceptance/features/apiTrashbin/trashbinRestore.feature
  tests/acceptance/features/bootstrap/TrashbinContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35910 [stable10] Sort out unused import and local variables
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialogElement/PublicLinkTab.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#35908 Sort out unused import and local variables
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialogElement/PublicLinkTab.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35912 Add tests for extra password combinations
  tests/acceptance/features/apiProvisioning-v1/addUser.feature
  tests/acceptance/features/apiProvisioning-v2/addUser.feature
  tests/acceptance/features/apiProvisioningGroups-v1/addGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v1/addToGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v1/deleteGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v1/removeFromGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v2/addGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v2/addToGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v2/deleteGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v2/removeFromGroup.feature
  tests/acceptance/features/cliProvisioning/addGroup.feature
  tests/acceptance/features/cliProvisioning/addToGroup.feature
  tests/acceptance/features/cliProvisioning/addUser.feature
  tests/acceptance/features/cliProvisioning/deleteGroup.feature
  tests/acceptance/features/cliProvisioning/editUser.feature
  tests/acceptance/features/cliProvisioning/removeFromGroup.feature
  tests/acceptance/features/webUIPersonalSettings/changePasswordFromSetting.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#35914 [stable10] Add tests for extra password combinations
  tests/acceptance/features/apiProvisioning-v1/addUser.feature
  tests/acceptance/features/apiProvisioning-v2/addUser.feature
  tests/acceptance/features/apiProvisioningGroups-v1/addGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v1/addToGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v1/deleteGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v1/removeFromGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v2/addGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v2/addToGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v2/deleteGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v2/removeFromGroup.feature
  tests/acceptance/features/cliProvisioning/addGroup.feature
  tests/acceptance/features/cliProvisioning/addToGroup.feature
  tests/acceptance/features/cliProvisioning/addUser.feature
  tests/acceptance/features/cliProvisioning/deleteGroup.feature
  tests/acceptance/features/cliProvisioning/editUser.feature
  tests/acceptance/features/cliProvisioning/removeFromGroup.feature
  tests/acceptance/features/webUIPersonalSettings/changePasswordFromSetting.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35921 Add tests to create shares with only create,delete permissions
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/apiShareUpdate/updateShare.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35924 [stable10] Add tests to create shares with only create,delete permissions
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/apiShareUpdate/updateShare.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35927 [stable10] test more details of API response when creating a share
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35915 Fix typo in 'Group sharing is not allowed' message
  lib/private/Share20/Manager.php
  tests/lib/Share20/ManagerTest.php
Labels: 4 - To release

#35925 [stable10] Fix typo in 'Group sharing is not allowed' message
  lib/private/Share20/Manager.php
  tests/lib/Share20/ManagerTest.php
Labels: 4 - To release

#35923 test more details of API response when creating a share
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35909 sharing permissions for user when admin enables and disables various default share permissions
  tests/acceptance/features/bootstrap/WebUIAdminSharingSettingsContext.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/AdminSharingSettingsPage.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialog.php
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#35929 [stable10] sharing permissions for user when admin enables and disables various default share permissions
  tests/acceptance/features/bootstrap/WebUIAdminSharingSettingsContext.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/AdminSharingSettingsPage.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialog.php
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35926 acceptance tests for checking the content of public link share
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/bootstrap/PublicWebDavContext.php
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/FilesPageElement/FileActionsMenu.php
  tests/acceptance/features/lib/PublicLinkFilesPage.php
  tests/acceptance/features/webUISharingPublic/shareByPublicLink.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35930 [stable10] acceptance tests for checking the content of public link share
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/bootstrap/PublicWebDavContext.php
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/FilesPageElement/FileActionsMenu.php
  tests/acceptance/features/lib/PublicLinkFilesPage.php
  tests/acceptance/features/webUISharingPublic/shareByPublicLink.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35933 Composer updates 20190728
  composer.lock
Labels: 4 - To release, dependencies

#35934 [stable10] composer updates 20190728
  composer.lock
Labels: 4 - To release, dependencies

#35936 [stable10] use php unit framework assert
  tests/acceptance/features/bootstrap/AppConfiguration.php
  tests/acceptance/features/bootstrap/AppManagementContext.php
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/CapabilitiesContext.php
  tests/acceptance/features/bootstrap/CommentsContext.php
  tests/acceptance/features/bootstrap/CorsContext.php
  tests/acceptance/features/bootstrap/EmailContext.php
  tests/acceptance/features/bootstrap/EncryptionContext.php
  tests/acceptance/features/bootstrap/FilesVersionsContext.php
  tests/acceptance/features/bootstrap/Logging.php
  tests/acceptance/features/bootstrap/NotificationsCoreContext.php
  tests/acceptance/features/bootstrap/OCSContext.php
  tests/acceptance/features/bootstrap/OccAppManagementContext.php
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/bootstrap/OccUsersGroupsContext.php
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/bootstrap/PublicWebDavContext.php
  tests/acceptance/features/bootstrap/SearchContext.php
  tests/acceptance/features/bootstrap/ShareesContext.php
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/bootstrap/TagsContext.php
  tests/acceptance/features/bootstrap/TrashbinContext.php
  tests/acceptance/features/bootstrap/WebDav.php
  tests/acceptance/features/bootstrap/WebDavLockingContext.php
  tests/acceptance/features/bootstrap/WebDavPropertiesContext.php
  tests/acceptance/features/bootstrap/WebUIAdminGeneralSettingsContext.php
  tests/acceptance/features/bootstrap/WebUIAdminSharingSettingsContext.php
  tests/acceptance/features/bootstrap/WebUIAdminStorageSettingsContext.php
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
  tests/acceptance/features/bootstrap/WebUIHelpAndTipsContext.php
  tests/acceptance/features/bootstrap/WebUILoginContext.php
  tests/acceptance/features/bootstrap/WebUINotificationsContext.php
  tests/acceptance/features/bootstrap/WebUIPersonalGeneralSettingsContext.php
  tests/acceptance/features/bootstrap/WebUIPersonalSecuritySettingsContext.php
  tests/acceptance/features/bootstrap/WebUIPersonalSharingSettingsContext.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/bootstrap/WebUITagsContext.php
  tests/acceptance/features/bootstrap/WebUIUserContext.php
  tests/acceptance/features/bootstrap/WebUIUsersContext.php
  tests/acceptance/features/bootstrap/WebUIWebDavLockingContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests
