Repository owncloud/core, pull requests merged in 2019-01, with the labels that each got.

#33998 move public upload/downlod steps into separate context
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/PublicWebDavContext.php
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#33999 [stable10] move public upload/downlod steps into separate context
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/PublicWebDavContext.php
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34001 reducing the use of sabre in acceptance tests
  tests/TestHelpers/WebDavHelper.php
  tests/acceptance/features/apiMain/transfer-ownership.feature
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/CommandLine.php
  tests/acceptance/features/bootstrap/FilesVersionsContext.php
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#34004 [stable10] reducing the use of sabre in acceptance tests
  tests/TestHelpers/WebDavHelper.php
  tests/acceptance/features/apiMain/transfer-ownership.feature
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/CommandLine.php
  tests/acceptance/features/bootstrap/FilesVersionsContext.php
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34005 Clear locks on remote server after test scenarios
  tests/acceptance/features/bootstrap/BasicStructure.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34006 [stable10] Clear locks on remote server after test scenarios
  tests/acceptance/features/bootstrap/BasicStructure.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34012 [stable10] Bump friendsofphp/php-cs-fixer (v2.13.1 => v2.13.2)
  composer.lock
Labels: 4 - To release, QA-team

#34014 Bump nikic/php-parser (v4.1.0 => v4.1.1) and webmozart/assert (1.3.0 => 1.4.0)
  composer.lock
Labels: 4 - To release, QA-team

#34019 typo fix in config.apps.sample.php
  config/config.apps.sample.php
Labels: 4 - To release

#34020 [stable10] typo fix in config.apps.sample.php
  config/config.apps.sample.php
Labels: 4 - To release

#34017 Adjust travis scripts so webUI tests can work
  .travis.yml
  tests/travis/install.sh
  tests/travis/start_php_dev_server.sh
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#34018 [stable10] Adjust travis scripts so webUI tests can work
  .travis.yml
  tests/travis/install.sh
  tests/travis/start_php_dev_server.sh
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#34021 Bump phan 0.12.11 phpstan 0.10.7
  Makefile
Labels: 3 - To Review, QA-team

#34022 [stable10] Bump phan 0.12.11
  Makefile
Labels: 3 - To Review, QA-team

#34013 make listFolder function in WebDav.php to use Guzzle
  tests/TestHelpers/Asserts/WebDav.php
  tests/TestHelpers/WebDavHelper.php
  tests/acceptance/features/apiComments/comments.feature
  tests/acceptance/features/apiShareManagement/mergeShare.feature
  tests/acceptance/features/apiShareOperations/getWebDAVSharePermissions.feature
  tests/acceptance/features/apiWebdavProperties/createFolder.feature
  tests/acceptance/features/apiWebdavProperties/getFileProperties.feature
  tests/acceptance/features/apiWebdavProperties/getQuota.feature
  tests/acceptance/features/bootstrap/CommandLine.php
  tests/acceptance/features/bootstrap/FavoritesContext.php
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34024 [stable10] make listFolder function in WebDav.php to use Guzzle
  tests/TestHelpers/Asserts/WebDav.php
  tests/TestHelpers/WebDavHelper.php
  tests/acceptance/features/apiComments/comments.feature
  tests/acceptance/features/apiShareManagement/mergeShare.feature
  tests/acceptance/features/apiShareOperations/getWebDAVSharePermissions.feature
  tests/acceptance/features/apiWebdavProperties/createFolder.feature
  tests/acceptance/features/apiWebdavProperties/getFileProperties.feature
  tests/acceptance/features/apiWebdavProperties/getQuota.feature
  tests/acceptance/features/bootstrap/CommandLine.php
  tests/acceptance/features/bootstrap/FavoritesContext.php
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34028 [stable10] simplify received transfer folder steps
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiMain/transfer-ownership.feature
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/CommandLine.php
  tests/acceptance/features/bootstrap/TransferOwnershipContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34027 simplify received transfer folder steps
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiMain/transfer-ownership.feature
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/CommandLine.php
  tests/acceptance/features/bootstrap/TransferOwnershipContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34030 [stable10] Create a separate acceptance test TrashbinContext
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/TrashbinContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34029 Create a separate acceptance test TrashbinContext
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/TrashbinContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34032 Create acceptance test ChecksumContext
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiMain/checksums.feature
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/ChecksumContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#34036 [stable10] change checksum comments and tags traits to contexts
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiMain/checksums.feature
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/ChecksumContext.php
  tests/acceptance/features/bootstrap/CommentsContext.php
  tests/acceptance/features/bootstrap/TagsContext.php
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/bootstrap/WebUITagsContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#34039 Bump php-cs-fixer v2.14.0
  composer.lock
Labels: 3 - To Review, QA-team

#34040 [stable10] Bump php-cs-fixer v2.14.0
  composer.lock
Labels: 3 - To Review, QA-team

#34041 Bump symfony v3.4.20 => v3.4.21
  composer.lock
Labels: 3 - To Review, backport-request, dependencies

#34048 [stable10] use WebDavHelper to set & retrieve custom properties
  tests/TestHelpers/WebDavHelper.php
  tests/acceptance/features/apiWebdavProperties/setFileProperties.feature
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34052 use guzzle to check comments
  tests/acceptance/features/bootstrap/CommentsContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34046 use WebDavHelper to set & retrieve custom properties
  tests/TestHelpers/WebDavHelper.php
  tests/acceptance/features/apiWebdavProperties/setFileProperties.feature
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34049 [stable10] Remove app code checker on installation/update of an app
  config/config.sample.php
  lib/private/Installer.php
Labels: 3 - To Review

#33919 write Login failed entry and emit event for per PasswordLoginForbiddenException
  lib/private/User/Session.php
  tests/lib/User/SessionTest.php
Labels: 3 - To Review, backport-request, bug

#33530 log broken smb config params
  apps/files_external/lib/Lib/Storage/SMB.php
Labels: 3 - To Review, enhancement

#34059 [stable10] Move php-cs-fixer in drone to be like in master
  .drone.yml
Labels: 4 - To release, Drone, QA-team

#34064 use WebDavHelper to set favorites states
  tests/acceptance/features/bootstrap/FavoritesContext.php
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#34067 [stable10] use WebDavHelper to set favorites states
  tests/acceptance/features/bootstrap/FavoritesContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33375 Center the logo and login fields
  core/css/styles.css
Labels: 3 - To Review, design, enhancement

#33894 Add regex for shared object file names
  lib/private/Files/Type/Detection.php
  resources/config/mimetypemapping.dist.json
  tests/lib/Files/Type/DetectionTest.php
Labels: 3 - To Review

#34063 Add pause of one second before delete in acceptance test steps
  tests/acceptance/features/apiTrashbin/trashbinFilesFolders.feature
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34066 [Stable10] Add pause of one second before delete in acceptance test steps
  tests/acceptance/features/apiTrashbin/trashbinFilesFolders.feature
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34083 Integrity check detect renames properly
  lib/private/IntegrityCheck/Checker.php
  tests/lib/IntegrityCheck/CheckerTest.php
Labels: 4 - To release

#34085 [stable10] Integrity check detect renames properly
  lib/private/IntegrityCheck/Checker.php
  tests/lib/IntegrityCheck/CheckerTest.php
Labels: 4 - To release

#34060 [stable10] Remove duplicate ceph services entry
  .drone.yml
Labels: 4 - To release, Drone, QA-team

#31231 Always set headers
  .htaccess
Labels: 3 - To Review, backport-request

#34088 Phan 7.2 and 7.3
  .drone.yml
  Makefile
  composer.json
  composer.lock
Labels: 3 - To Review, QA-team, backport-request

#34091 [stable10] Phan 7.3 and remove lint
  .drone.yml
  Makefile
  composer.json
  composer.lock
Labels: 4 - To release, Drone, QA-team

#33937 Fix cancel upload and hide 'uploading' message for files_drop shared folders
  apps/files_sharing/js/PublicUploadView.js
  tests/acceptance/features/lib/PublicLinkFilesPage.php
  tests/acceptance/features/webUIUpload/upload.feature
Labels: 3 - To Review, backport-request

#34095 [Stable10]Remove Hardcoded MimeTypes from the sharing functions
  tests/acceptance/features/apiShareOperations/downloadFromShare.feature
  tests/acceptance/features/bootstrap/Sharing.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34094 [stable10] don't use sabre for tags tests
  tests/TestHelpers/TagsHelper.php
  tests/TestHelpers/WebDavHelper.php
  tests/acceptance/features/apiTags/deleteTags.feature
  tests/acceptance/features/bootstrap/TagsContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34102 [stable10] bump sabre xml 1.5.1
  composer.lock
Labels: 3 - To Review, QA-team

#34103 Bump sabre/xml 2.1.1 => 2.1.2
  composer.lock
Labels: 3 - To Review, QA-team, backport-request

#34106 don't use sabre DAV in acceptance tests
  tests/TestHelpers/WebDavHelper.php
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#34107 missing space in PHPDoc
  tests/acceptance/features/bootstrap/TagsContext.php
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#34108 [stable10] don't use sabre DAV in acceptance tests
  tests/TestHelpers/WebDavHelper.php
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34111 rename variable to install testing app
  .drone.yml
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34112 [stable10] rename variable to install apps
  .drone.yml
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34105 Fix access to /ocm-provider when clean urls are active
  lib/private/Setup.php
Labels: 3 - To Review

#34113 [stable10] Fix access to /ocm-provider when clean urls are active
  lib/private/Setup.php
Labels: 3 - To Review

#34007 Fix visibility of static tags in the tags page
  apps/systemtags/js/systemtagsfilelist.js
  apps/systemtags/tests/js/systemtagsfilelistSpec.js
Labels: 3 - To Review

#34123 [stable10] WebDavPropertiesContext
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiComments/comments.feature
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/FavoritesContext.php
  tests/acceptance/features/bootstrap/WebDav.php
  tests/acceptance/features/bootstrap/WebDavPropertiesContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#34124 move eTag steps to WebDavPropertiesContext
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/WebDav.php
  tests/acceptance/features/bootstrap/WebDavPropertiesContext.php
Labels: 4 - To release, QA-team

#34126 [stable10] move eTag steps to WebDavPropertiesContext
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/WebDav.php
  tests/acceptance/features/bootstrap/WebDavPropertiesContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34127 Move steps out of CommandLine
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/CommandLine.php
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/bootstrap/TransferOwnershipContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34128 [stable10] Move steps out of CommandLine
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/CommandLine.php
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/bootstrap/TransferOwnershipContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34131 Split acceptance test OccContext
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/AppManagementContext.php
  tests/acceptance/features/bootstrap/OccAppManagementContext.php
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/bootstrap/OccUsersGroupsContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34134 [stable10] Split acceptance test OccContext
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/AppManagementContext.php
  tests/acceptance/features/bootstrap/OccAppManagementContext.php
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/bootstrap/OccUsersGroupsContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34135 show more information when occ command failed
  tests/acceptance/features/bootstrap/OccContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34133 On patch level app updates the app version ins database needs to be updated
  lib/private/legacy/app.php
Labels: 4 - To release, backport-request

#34136 [stable10] show more information when occ command failed
  tests/acceptance/features/bootstrap/OccContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34139 Adjust CLI acceptance test to send email and specify password
  tests/acceptance/features/bootstrap/CommandLine.php
  tests/acceptance/features/bootstrap/OccUsersGroupsContext.php
  tests/acceptance/features/cliProvisioning/resetUserPassword.feature
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#34141 Correct throw statement in EmailContext
  tests/acceptance/features/bootstrap/EmailContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34142 [stable10] Correct throw statement in EmailContext
  tests/acceptance/features/bootstrap/EmailContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34143 [stable10] Adjust CLI acceptance test to send email and specify password
  tests/acceptance/features/bootstrap/CommandLine.php
  tests/acceptance/features/bootstrap/OccUsersGroupsContext.php
  tests/acceptance/features/cliProvisioning/resetUserPassword.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34138 [stable10] Fixes #34090 - on minor update the app version ins databas…
  lib/private/legacy/app.php
Labels: 3 - To Review

#34129 Bump nikic/php-parser v4.1.1 => v4.2.0
  composer.lock
Labels: 3 - To Review, dependencies

#34146 get correct values for occ command returns in acceptance tests
  tests/acceptance/features/bootstrap/OccContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#34147 [stable10] get correct values for occ command returns in acceptance tests
  tests/acceptance/features/bootstrap/OccContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#34122 Pass remote user to activity for dav1 anon requests
  apps/dav/appinfo/v1/publicwebdav.php
Labels: 3 - To Review, backport-request

#34137 Fix password reset confirmation email from occ
  core/Command/User/ResetPassword.php
  tests/Core/Command/User/ResetPasswordTest.php
  tests/acceptance/features/cliProvisioning/resetUserPassword.feature
Labels: 3 - To Review

#34155 allow custom substitutions in substituteInLineCodes method
  tests/acceptance/features/bootstrap/BasicStructure.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34163 Bump behat/gherkin (v4.5.1 => v4.6.0)
  composer.lock
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34164 Minor acceptance test typo fixes
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/WebDav.php
  tests/acceptance/features/bootstrap/WebDavPropertiesContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34169 step to create a user explicitly on the database backend
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34170 [stable10] step to create a user explicitly on the database backend
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34165 [stable10] Bump behat/gherkin (v4.5.1 => v4.6.0)
  composer.lock
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34159 [stable10] allow custom substitutions in substituteInLineCodes method
  tests/acceptance/features/bootstrap/BasicStructure.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33506 Add acceptance tests for federated resharing
  .drone.yml
  tests/acceptance/features/webUISharingExternal/federationSharing.feature
Labels: 3 - To Review, backport-request

#34172 [Stable10] Add acceptance tests for federated resharing
  .drone.yml
  tests/acceptance/features/webUISharingExternal/federationSharing.feature
Labels: 4 - To release

#34177 [stable10] allow to specify sharing permissions as text
  tests/TestHelpers/SharingHelper.php
  tests/acceptance/features/bootstrap/Sharing.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34178 step to create a group explicitly on the database backend
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34173 Bump phpstan 0.10.7 to 0.11
  Makefile
  phpstan.neon
Labels: 4 - To release, QA-team

#34179 [stable10] step to create a group explicitly on the database backend
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34152 [Stable10] Pass remote user to activity for dav1 anon requests
  apps/dav/appinfo/v1/publicwebdav.php
Labels: 4 - To release

#34098 [stable10] Backport of Add lock to the static tag in the input field …
  apps/systemtags/js/systemtagsinfoview.js
  apps/systemtags/tests/js/systemtagsinfoviewSpec.js
Labels: 4 - To release

#34193 Allow the testing app to not be in the default apps folder
  tests/acceptance/run.sh
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34196 [stable10] Allow the testing app to not be in the default apps folder
  tests/acceptance/run.sh
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34191 Implement vendor-bin for owncloud-codestyle phan php_codesniffer phpstan
  .gitignore
  Makefile
  composer.json
  composer.lock
  vendor-bin/owncloud-codestyle/composer.json
  vendor-bin/phan/composer.json
  vendor-bin/php_codesniffer/composer.json
  vendor-bin/phpstan/composer.json
Labels: 3 - To Review, QA-team, backport-request

#34197 [stable10] Enable tests skipped for issue-33840
  tests/acceptance/features/apiFavorites/favorites.feature
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34182 [stable10] Implement vendor-bin for owncloud-codestyle phan php_codesniffer phpstan
  .gitignore
  Makefile
  composer.json
  composer.lock
  phpstan.neon
  vendor-bin/owncloud-codestyle/composer.json
  vendor-bin/phan/composer.json
  vendor-bin/php_codesniffer/composer.json
  vendor-bin/phpstan/composer.json
Labels: 3 - To Review, QA-team

#34171 Check parent locks when creating node in DAV collection
  apps/dav/lib/Files/FileLocksBackend.php
  apps/dav/tests/unit/Files/FileLocksBackendTest.php
  tests/acceptance/features/webUIWebdavLocks/locks.feature
Labels: backport-request

#34201 [stable10] Enable mergeShare scenario that was skipped for issue-29016
  tests/acceptance/features/apiShareManagement/mergeShare.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#33980 Auto accept incoming federated shares from trusted servers
  apps/federatedfilesharing/js/settings-admin.js
  apps/federatedfilesharing/lib/AdminPanel.php
  apps/federatedfilesharing/lib/AppInfo/Application.php
  apps/federatedfilesharing/lib/FederatedShareProvider.php
  apps/federatedfilesharing/templates/settings-admin.php
  apps/federatedfilesharing/tests/AdminPanelTest.php
  apps/federatedfilesharing/tests/FederatedShareProviderTest.php
  apps/federation/lib/AppInfo/Application.php
  tests/acceptance/features/webUISharingExternal/federationSharing.feature
Labels: 3 - To Review, backport-request

#34199 [stable10] Enable tests skipped for issue 31015
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiProvisioning-v1/addGroup.feature
  tests/acceptance/features/apiProvisioning-v1/addToGroup.feature
  tests/acceptance/features/apiProvisioning-v1/deleteGroup.feature
  tests/acceptance/features/apiProvisioning-v1/getUserGroups.feature
  tests/acceptance/features/apiProvisioning-v1/removeFromGroup.feature
  tests/acceptance/features/apiProvisioning-v2/addGroup.feature
  tests/acceptance/features/apiProvisioning-v2/addToGroup.feature
  tests/acceptance/features/apiProvisioning-v2/deleteGroup.feature
  tests/acceptance/features/apiProvisioning-v2/getUserGroups.feature
  tests/acceptance/features/apiProvisioning-v2/removeFromGroup.feature
  tests/acceptance/features/bootstrap/OccUsersGroupsContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34200 Enable mergeShare scenario that was skipped for issue-29016
  tests/acceptance/features/apiShareManagement/mergeShare.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34198 Enable tests skipped for issue 31015
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiProvisioning-v1/addGroup.feature
  tests/acceptance/features/apiProvisioning-v1/addToGroup.feature
  tests/acceptance/features/apiProvisioning-v1/deleteGroup.feature
  tests/acceptance/features/apiProvisioning-v1/getUserGroups.feature
  tests/acceptance/features/apiProvisioning-v1/removeFromGroup.feature
  tests/acceptance/features/apiProvisioning-v2/addGroup.feature
  tests/acceptance/features/apiProvisioning-v2/addToGroup.feature
  tests/acceptance/features/apiProvisioning-v2/deleteGroup.feature
  tests/acceptance/features/apiProvisioning-v2/getUserGroups.feature
  tests/acceptance/features/apiProvisioning-v2/removeFromGroup.feature
  tests/acceptance/features/bootstrap/OccUsersGroupsContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34203 [stable10] Check parent locks when creating node in DAV collection
  apps/dav/lib/Files/FileLocksBackend.php
  apps/dav/tests/unit/Files/FileLocksBackendTest.php
  tests/acceptance/features/webUIWebdavLocks/locks.feature
Labels: 3 - To Review

#34118 Skip preview expiry when owner cannot be determined
  lib/private/Preview.php
Labels: 3 - To Review, backport-request

#34207 [stable10] Skip preview expiry when owner cannot be determined
  lib/private/Preview.php
Labels: 3 - To Review

#34100 Fix persistent lock timeout behavior
  apps/dav/appinfo/v1/publicwebdav.php
  apps/dav/appinfo/v1/webdav.php
  apps/dav/lib/Connector/Sabre/ServerFactory.php
  apps/dav/lib/Files/FileLocksBackend.php
  apps/dav/lib/Server.php
  apps/dav/tests/unit/Connector/Sabre/RequestTest/RequestTest.php
  apps/dav/tests/unit/Files/FileLocksBackendTest.php
  apps/files_sharing/lib/SharedStorage.php
  lib/private/Files/Storage/Common.php
  lib/private/Files/Storage/Wrapper/Wrapper.php
  lib/private/Lock/Persistent/Lock.php
  lib/private/Lock/Persistent/LockManager.php
  lib/public/Files/Storage/IPersistentLockingStorage.php
  lib/public/Lock/Persistent/ILock.php
  tests/lib/Files/Storage/LockingTests.php
  tests/lib/Lock/Persistent/LockManagerTest.php
Labels: 3 - To Review, backport-request, feature:persistent-locking

#34213 [acceptance tests] get password for user if not set when initializing it
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34214 [stable10] [acceptance tests] get password for user if not set when initializing it
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34217 Remove BeforeScenario tag from cleanup users and cleanup groups function
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#34220 [stable10] Remove beforeScenario tag from cleanup users and cleanup groups function
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34219 [stable10] Move behat to vendor-bin
  Makefile
  composer.json
  composer.lock
  tests/acceptance/run.sh
  vendor-bin/behat/composer.json
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34212 Move behat to vendor-bin
  Makefile
  composer.json
  composer.lock
  tests/acceptance/run.sh
  vendor-bin/behat/composer.json
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34208 [stable10] Fix persistent lock timeout behavior
  apps/dav/appinfo/v1/publicwebdav.php
  apps/dav/appinfo/v1/webdav.php
  apps/dav/lib/Connector/Sabre/ServerFactory.php
  apps/dav/lib/Files/FileLocksBackend.php
  apps/dav/lib/Server.php
  apps/dav/tests/unit/Connector/Sabre/RequestTest/RequestTest.php
  apps/dav/tests/unit/Files/FileLocksBackendTest.php
  lib/private/Files/Storage/Common.php
  lib/private/Files/Storage/Wrapper/Wrapper.php
  lib/private/Lock/Persistent/Lock.php
  lib/private/Lock/Persistent/LockManager.php
  lib/public/Files/Storage/IPersistentLockingStorage.php
  lib/public/Lock/Persistent/ILock.php
  tests/lib/Files/Storage/LockingTests.php
  tests/lib/Lock/Persistent/LockManagerTest.php
Labels: 3 - To Review

#34224 Fix persistent locking handling in public links
  apps/dav/lib/Files/FileLocksBackend.php
  apps/dav/tests/unit/Files/FileLocksBackendTest.php
  apps/files/js/filelockplugin.js
  apps/files/js/locktabview.js
  apps/files/tests/js/filelockpluginSpec.js
  tests/TestHelpers/WebDavHelper.php
  tests/acceptance/features/bootstrap/WebDavLockingContext.php
  tests/acceptance/features/webUIWebdavLocks/locks.feature
Labels: 3 - To Review

#34099 Reenable test for 33847
  tests/acceptance/features/webUIWebdavLocks/locks.feature
Labels: 2 - Developing, backport-request

#34226 [stable10]Add webUI tests for editing user displayname, password and group
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/WebUIUsersContext.php
  tests/acceptance/features/lib/UsersPage.php
  tests/acceptance/features/webUIManageUsersGroups/editUsers.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34230 [stable10] Reenable test for 33847
  tests/acceptance/features/webUIWebdavLocks/locks.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#34216 Add webUI tests for federationSharing sub-folder operations
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/webUISharingExternal/federationSharing.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#34228 Fix intermittent bug on federation test (#34186)
  tests/acceptance/features/lib/FilesPageElement/SharingDialog.php
Labels: 4 - To release, QA-team, backport-request

#34231 [stable10] Fix intermittent bug on federation test - Resolves #34186
  tests/acceptance/features/lib/FilesPageElement/SharingDialog.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#34227 [stable10] Fix persistent locking handling in public links
  apps/dav/lib/Files/FileLocksBackend.php
  apps/dav/tests/unit/Files/FileLocksBackendTest.php
  apps/files/js/filelockplugin.js
  apps/files/js/locktabview.js
  apps/files/tests/js/filelockpluginSpec.js
  tests/TestHelpers/WebDavHelper.php
  tests/acceptance/features/bootstrap/WebDavLockingContext.php
  tests/acceptance/features/webUIWebdavLocks/locks.feature
Labels: 3 - To Review

#34232 [Stable10]Add webUI tests for removing user from groups
  tests/acceptance/features/bootstrap/WebUIUsersContext.php
  tests/acceptance/features/lib/UsersPage.php
  tests/acceptance/features/webUIManageUsersGroups/editUsers.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34240 [stable10] web ui federation sharing sub folder tests
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/webUISharingExternal/federationSharing.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34242 Adjust mergeShare.feature:82 scenario for issue-34235
  tests/acceptance/features/apiShareManagement/mergeShare.feature
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#34243 [stable10] Adjust mergeShare.feature:82 scenario for issue-34235
  tests/acceptance/features/apiShareManagement/mergeShare.feature
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34215 add public link remove acceptance test
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialog.php
  tests/acceptance/features/webUISharingExternal/shareByPublicLink.feature
Labels: 4 - To release, backport-request, dev:acceptance-tests

#34245 [stable10] test if locks are applied correctly for public links
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiWebdavLocks/publicLink.feature
  tests/acceptance/features/bootstrap/PublicWebDavContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34248 Adjust 'the user' steps in WebDavLockingContext
  tests/acceptance/features/apiWebdavLocks/publicLink.feature
  tests/acceptance/features/bootstrap/WebDavLockingContext.php
  tests/acceptance/features/webUIWebdavLocks/locks.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#34247 [stable10] add public link remove acceptance test
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialog.php
  tests/acceptance/features/webUISharingExternal/shareByPublicLink.feature
Labels: 4 - To release, dev:acceptance-tests

#34249 [stable10] Adjust 'the user' steps in WebDavLockingContext
  tests/acceptance/features/apiWebdavLocks/publicLink.feature
  tests/acceptance/features/bootstrap/WebDavLockingContext.php
  tests/acceptance/features/webUIWebdavLocks/locks.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34251 Add ocm-provider directory to build
  Makefile
Labels: 4 - To release, p2-high

#34252 [stable10] Add ocm-provider directory to build
  Makefile
Labels: 4 - To release, p2-high

#34144 Fixing email sent to recipient using recipients language code
  lib/private/Share/MailNotifications.php
  tests/lib/Share/MailNotificationsTest.php
Labels: 3 - To Review

#34257 test create folder/file in a locked folder
  tests/acceptance/features/apiWebdavLocks/folder.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34258 [stable10] test create folder/file in a locked folder
  tests/acceptance/features/apiWebdavLocks/folder.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34246 Web UI test for multiple public link creation and removal of certain
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialog.php
  tests/acceptance/features/webUISharingExternal/shareByPublicLink.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34259 [stable10] Fix theUserOpensTheFileOrFolderUsingTheWebUI so it opens a file
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34253 Fix theUserOpensTheFileOrFolderUsingTheWebUI so it opens a file
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34229 Fix public link path for persistent locks
  apps/dav/lib/Files/FileLocksBackend.php
  apps/dav/tests/unit/Files/FileLocksBackendTest.php
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiWebdavLocks/publicLink.feature
  tests/acceptance/features/bootstrap/WebDav.php
  tests/acceptance/features/bootstrap/WebDavLockingContext.php
  tests/acceptance/features/bootstrap/WebDavPropertiesContext.php
Labels: 3 - To Review, backport-request

#34268 Hide lock token in public webdav responses
  apps/dav/appinfo/v1/publicwebdav.php
  apps/dav/lib/Connector/Sabre/ServerFactory.php
  apps/dav/lib/Files/FileLocksBackend.php
  apps/dav/tests/unit/Files/FileLocksBackendTest.php
  tests/acceptance/features/apiWebdavLocks/folder.feature
  tests/acceptance/features/apiWebdavLocks/publicLink.feature
Labels: 4 - To release, bug, p2-high, security

#34270 [stable10] Hide lock token in public webdav responses
  apps/dav/appinfo/v1/publicwebdav.php
  apps/dav/lib/Connector/Sabre/ServerFactory.php
  apps/dav/lib/Files/FileLocksBackend.php
  apps/dav/tests/unit/Files/FileLocksBackendTest.php
  tests/acceptance/features/apiWebdavLocks/folder.feature
  tests/acceptance/features/apiWebdavLocks/publicLink.feature
Labels: 4 - To release

#34274 [stable10] Fix method call for adding user to group
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34275 [stable10] Unskip acceptance test for issue-23151
  tests/acceptance/features/apiTrashbin/trashbinFilesFolders.feature
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34272 Unskip acceptance test for issue-23151
  tests/acceptance/features/apiTrashbin/trashbinFilesFolders.feature
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34261 [stable10] Backport fixes of German translations
  settings/l10n/de.js
  settings/l10n/de.json
  settings/l10n/de_DE.js
  settings/l10n/de_DE.json
  settings/l10n/fr.js
  settings/l10n/fr.json
Labels: 3 - To Review

#34276 Unskip scenario for issue-23603
  tests/acceptance/features/cliProvisioning/editUser.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34277 [stable10] Unskip scenario for issue-23603
  tests/acceptance/features/cliProvisioning/editUser.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#34278 [stable10] Update changelog
  CHANGELOG.md
Labels: 4 - To release

#34269 Increase size of login_name from 64 to 255
  core/Migrations/Version20190125162909.php
Labels: 3 - To Review, backport-request
