Repository owncloud/core, pull requests merged in 2019-11, with the labels that each got.

#36354 Acceptance tests: fix create share function to use correct permission on uploadwriteonly
  tests/acceptance/features/apiShareOperations/uploadToShare.feature
  tests/acceptance/features/bootstrap/Sharing.php
Labels: 3 - To Review, Acceptance tests, QA-team

#36358 Symfony and other dependencies
  composer.lock
Labels: 3 - To Review, dependencies, php

#36321 Add api acceptance tests for public webdav api actions
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiShareOperations/changingFilesShare.feature
  tests/acceptance/features/apiShareOperations/downloadFromShare.feature
  tests/acceptance/features/apiWebdavOperations/downloadFile.feature
  tests/acceptance/features/apiWebdavOperations/publicWebDAVAPIDisabled.feature
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/bootstrap/PublicWebDavContext.php
  tests/acceptance/features/bootstrap/WebDavPropertiesContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36375 Acceptance tests: Restore dav.tech_preview status after test run
  tests/acceptance/features/bootstrap/OccContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36374 Starlark for 10.3.1
  .drone.jsonnet
  .drone.starlark
  .drone.yml
  Makefile
  changelog/unreleased/36319
  lib/private/LargeFileHelper.php
  pipeline.libsonnet
  tests/drone/configs/config.files_external.sftp.php
  tests/drone/test-phpunit.sh
Labels: 4 - To release, Drone, QA-team

#36377 Skip 'Do not allow sharing of the entire share_folder' on LDAP and encryption
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36344 Update bootstrap library to 3.4.1
  build/package.json
  build/yarn.lock
Labels: 3 - To Review

#36320 Do not change the parentId if it's null
  lib/private/Files/Cache/Scanner.php
Labels: 3 - To Review

#36329 Follow single-bucket initialization for multi-bucket setup
  lib/private/legacy/util.php
Labels: 3 - To Review

#36368 Use userFolder instead of rootFolder
  lib/private/Files/Meta/MetaRootNode.php
  lib/private/Files/Node/Root.php
Labels: 3 - To Review

#36365 use empty control when trying to get existing home in user sync
  changelog/unreleased/36365
  lib/private/User/Account.php
  lib/private/User/SyncService.php
Labels: 3 - To Review

#36380 Acceptance tests: Fix sethelper not initalized issue in configreport and activity app
  tests/acceptance/features/bootstrap/OccContext.php
Labels: 4 - To release, Acceptance tests, QA-team

#36387 Add webUI tests for making public link shares of a received share
  tests/acceptance/features/lib/OwncloudPageElement/OCDialog.php
  tests/acceptance/features/webUISharingPublic/reShareByPublicLink.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36343 Update jQuery-File-Upload from 9.18 to 9.34
  apps/files/js/jquery.fileupload.js
  changelog/unreleased/36343
Labels: 3 - To Review

#36376 Add acceptance tests for checking trashbin api access by invalid user
  tests/acceptance/features/apiTrashbin/trashbinDelete.feature
  tests/acceptance/features/apiTrashbin/trashbinFilesFolders.feature
  tests/acceptance/features/apiTrashbin/trashbinRestore.feature
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/TrashbinContext.php
Labels: 4 - To release, Acceptance tests, QA-team

#36359 check share type when identifying identical shares
  changelog/unreleased/36359
  lib/private/Share20/Manager.php
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroupsEdgeCases.feature
  tests/lib/Share20/ManagerTest.php
Labels: 3 - To Review

#36384 Allow sharing with guest users when sharing is limited by user groups
  changelog/unreleased/36384
  lib/private/Helper/UserTypeHelper.php
  lib/private/Share20/Manager.php
  tests/lib/Helper/UserTypeHelperTest.php
Labels: 3 - To Review

#36392 Bump core version to 10.3.2 alpha
  version.php
Labels: 4 - To release

#36390 Skip acceptance tests failing in encryption app due to bug fix
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroupsEdgeCases.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36391 acceptance test to check unshared file cannot be accessed using file id
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiVersions/fileVersions.feature
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 3 - To Review, Acceptance tests, QA-team

#36393 let resharer to send an e-mail for public link
  changelog/unreleased/36393
  lib/private/Share/MailNotifications.php
  tests/acceptance/features/webUISharingPublic/reShareByPublicLink.feature
Labels: 3 - To Review

#36400 Add test scenarios for trying to create a share with zero permissions
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36403 Move to minor version branch, Revert "[API] user-sync OCS API"
  core/Application.php
  core/Command/User/SyncBackend.php
  core/Controller/UserSyncController.php
  core/routes.php
  lib/private/User/SyncService.php
  tests/Core/Controller/UserSyncControllerTest.php
  tests/lib/User/SyncServiceTest.php
Labels: 4 - To release

#36325 Updated config sample files
  config/config.apps.sample.php
  config/config.sample.php
Labels: 4 - To release, documentation

#36414 Acceptance tests: skip test for recent bug fix on latest version of owncloud
  tests/acceptance/features/apiVersions/fileVersions.feature
  tests/acceptance/features/webUISharingPublic/reShareByPublicLink.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36417 Updating swiftmailer/swiftmailer (v6.2.1 => v6.2.3)
  changelog/unreleased/36417
  composer.lock
Labels: 3 - To Review, dependencies, php

#36419 Revert "Skip 'Do not allow sharing of the entire share_folder' on LDAP and encryption
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36411 Test scenarios for reshare by public link on webUI
  tests/acceptance/features/webUISharingPublic/reShareByPublicLink.feature
  tests/acceptance/features/webUISharingPublic/shareByPublicLink.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36421 Skip 'Do not allow sharing of the entire share_folder' for old core v10.3
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36423 Fix samba tests
  .drone.starlark
  .drone.yml
  apps/files_external/tests/Storage/SmbTest.php
  tests/drone/configs/config.files_external.smb-samba.php
  tests/drone/configs/config.files_external.smb-windows.php
Labels: 3 - To Review, Drone, QA-team

#36426 Bump symfony (v3.4.34 => v3.4.35)
  changelog/unreleased/36426
  composer.lock
Labels: 3 - To Review, dependencies, php

#36418 Minor set of grammar updates to config/config.sample.php
  config/config.sample.php
Labels: 3 - To Review, documentation

#36412 Changelog entries to 2019-11-12
  CHANGELOG.md
  changelog/unreleased/36222
  changelog/unreleased/36253
  changelog/unreleased/36274
  changelog/unreleased/36281
  changelog/unreleased/36285
  changelog/unreleased/36288
  changelog/unreleased/36310
  changelog/unreleased/36320
  changelog/unreleased/36329
  changelog/unreleased/36337
  changelog/unreleased/36343
  changelog/unreleased/36344
  changelog/unreleased/36345
  changelog/unreleased/36348
  changelog/unreleased/36358
  changelog/unreleased/36359
  changelog/unreleased/36365
  changelog/unreleased/36405
  changelog/unreleased/36410
  changelog/unreleased/issue-36298
Labels: 3 - To Review

#36429 Reformat the Changelog items according to spec
  changelog/unreleased/36222
  changelog/unreleased/36225
  changelog/unreleased/36281
  changelog/unreleased/36288
  changelog/unreleased/36337
  changelog/unreleased/36343
  changelog/unreleased/36359
Labels: 4 - To release

#36326 Objectstore transfer
  apps/files/tests/Command/TransferOwnershipTest.php
  lib/private/Files/ObjectStore/ObjectStoreStorage.php
Labels: 3 - To Review, documentation

#36432 Skip new trashbin scenarios on objectstore
  tests/acceptance/features/apiTrashbin/trashbinFilesFolders.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36435 test a PROPFIND to a non-existing URL
  tests/acceptance/features/apiWebdavProperties/getFileProperties.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36436 Add API acceptance tests for moving in and out of a shared folder
  tests/acceptance/features/apiWebdavMove/moveFile.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36441 Adjust apps in core list
  .github/CONTRIBUTING.md
Labels: 3 - To Review

#36440 Adjust .github files
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/issue_template.md
Labels: 3 - To Review

#36420 New option in files_external:list --mount-options
  apps/files_external/lib/Command/ListCommand.php
  changelog/unreleased/36420
  changelog/unreleased/36420-1
Labels: 3 - To Review, bug, enhancement

#36445 Add tests for moving a file with versions in and out of a shared folder
  tests/acceptance/features/apiVersions/fileVersions.feature
Labels: 4 - To release, QA-team, changelog-ignored, dev:acceptance-tests

#36448 Updating pear/pear-core-minimal (v1.10.9 => v1.10.10)
  changelog/unreleased/36448
  composer.lock
Labels: 4 - To release, changelog-added, dependencies, php

#36449 Remove old 'stable' branch references
  .travis.yml
Labels: 3 - To Review, QA-team

#36450 Remove mention of dav-path when using all-mechanisms
  tests/acceptance/features/apiFederation/federated.feature
  tests/acceptance/features/apiMain/quota.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36454 Updating pear/console_getopt (v1.4.2 => v1.4.3)
  changelog/unreleased/36454
  composer.lock
Labels: 4 - To release, changelog-added, dependencies, php

#36457 sanitize trailing / in propfind requests
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36431 fix user search problem happening after user deletion
  changelog/unreleased/36431
  settings/js/users/users.js
Labels: 3 - To Review

#36459 Decoding encoded backslash
  tests/acceptance/features/apiWebdavMove/moveFolder.feature
Labels: 4 - To release, QA-team

#36458 Test with disabling public upload
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36460 Revert "Objectstore transfer"
  apps/files/tests/Command/TransferOwnershipTest.php
  lib/private/Files/ObjectStore/ObjectStoreStorage.php
Labels: 3 - To Review

#36463 Test on public link uploads disabled
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36466 Updating webmozart/assert (1.5.0 => 1.6.0)
  changelog/unreleased/36466
  composer.lock
Labels: 4 - To release, dependencies, php

#36465 Request->getHeader('Authentication') returns ''
  apps/dav/lib/Connector/Sabre/Auth.php
  changelog/unreleased/36465
Labels: 2 - Developing, p1-urgent

#36401 Only if the files system is properly setup FileHome can properly be i…
  apps/dav/lib/Files/RootCollection.php
  changelog/unreleased/36401
Labels: 3 - To Review

#36468 Acceptance tests: Add tests for moving files between two shares
  tests/acceptance/features/apiShareOperations/changingFilesShare.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36469 Test checksum:verify command in occ
  tests/acceptance/features/cliMain/files.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36471 Adjust new versions test and skip on object storage
  tests/acceptance/features/apiVersions/fileVersions.feature
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36470 Pin sabre/http to 5.0.2
  changelog/unreleased/36263
  composer.json
  composer.lock
Labels: 4 - To release, QA-team, dependencies

#36451 API acceptance test for creating a share with user for matching files
  tests/acceptance/features/apiShareManagement/acceptShares.feature
Labels: 3 - To Review, QA-team

#36475 Bump Readme.md to 10.3
  README.md
Labels: 4 - To release

#36476 Bump readme.md file to 10.3 version
  README.md
Labels: 4 - To release

#36479 Fix changelog 36288
  CHANGELOG.md
  changelog/10.3.2/36288
Labels: 3 - To Review

#36481 Skip Test that fails on LDAP because of user initialization
  tests/acceptance/features/apiShareManagement/acceptShares.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36455 acceptance test for upload, download, rename, of file/folder with special characters
  tests/TestHelpers/WebDavHelper.php
  tests/acceptance/features/apiMain/checksums.feature
  tests/acceptance/features/apiShareManagement/acceptShares.feature
  tests/acceptance/features/apiShareManagement/moveReceivedShare.feature
  tests/acceptance/features/apiWebdavMove/moveFile.feature
  tests/acceptance/features/apiWebdavUpload/uploadFile.feature
  tests/acceptance/features/apiWebdavUpload/uploadFileUsingOldChunking.feature
  tests/acceptance/features/webUIRenameFiles/renameFiles.feature
  tests/acceptance/features/webUISharingExternal/federationSharing.feature
  tests/acceptance/features/webUIUpload/uploadEdgecases.feature
Labels: 3 - To Review, Acceptance tests, QA-team

#36485 Update symfony/polyfill* (v1.12.0 => v1.13.0)
  changelog/unreleased/36485
  composer.lock
Labels: 3 - To Review, dependencies, php

#36290 [For 10.4] Drop php 7.0 bump phpunit7
  .drone.starlark
  .drone.yml
  .travis.yml
  Makefile
  apps/comments/tests/unit/Dav/EntityCollectionTest.php
  apps/federation/tests/DbHandlerTest.php
  apps/files_sharing/tests/ApiTest.php
  apps/files_sharing/tests/SharingBlacklistTest.php
  composer.json
  composer.lock
  console.php
  db_structure.xml
  index.php
  lib/private/DB/ConnectionFactory.php
  lib/private/DB/MySqlSchemaColumnDefinitionListener.php
  lib/private/DB/MySqlTools.php
  lib/private/DB/OCPostgreSqlPlatform.php
  lib/private/DB/OCSqlitePlatform.php
  tests/acceptance/features/bootstrap/Sharing.php
  tests/drone/install-server.sh
  tests/lib/AutoLoaderTest.php
  tests/lib/DB/AdapterTest.php
  tests/lib/DB/LegacyDBTest.php
  tests/lib/DB/MySqlToolsTest.php
  tests/lib/DB/OCPostgreSqlPlatformTest.php
  tests/lib/Mail/MailerTest.php
  tests/lib/legacy/DefaultsTest.php
  tests/startsessionlistener.php
Labels: 3 - To Review, minor-release

#36486 change wait-for-it time in CI to 120 seconds
  .drone.starlark
  .drone.yml
  tests/drone/install-server.sh
Labels: 4 - To release, Drone, QA-team

#36491 Changelog entries related to 'drop PHP 7.0'
  changelog/unreleased/36290-1
  changelog/unreleased/36290-2
  changelog/unreleased/36290-3
Labels: 4 - To release

#36487 Cleanup remote
  apps/federatedfilesharing/lib/Address.php
  apps/federatedfilesharing/tests/AddressTest.php
  apps/files_sharing/ajax/external.php
  apps/files_sharing/lib/Controllers/ExternalSharesController.php
  apps/files_sharing/tests/Controllers/ExternalShareControllerTest.php
  changelog/10.3.2/36487
Labels: 3 - To Review

#36495 unpin sabre/http
  composer.json
Labels: 3 - To Review, dependencies
