Repository owncloud/core, pull requests merged in 2019-05, with the labels that each got.

#35119 restore system config after running acceptance test
  tests/acceptance/features/bootstrap/AppConfiguration.php
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#35130 Aborted uploads are not cleared properly
  apps/files/js/file-upload.js
  apps/files/tests/js/fileUploadSpec.js
Labels: 3 - To Review, backport-request

#35132 dont show notification if federated share autoaccepted
  apps/federatedfilesharing/lib/FedShareManager.php
  apps/federatedfilesharing/lib/FederatedShareProvider.php
  apps/federatedfilesharing/tests/FederatedShareProviderTest.php
Labels: 3 - To Review

#35134 [10.2.0] Backport of Aborted uploads are not cleared properly
  apps/files/js/file-upload.js
  apps/files/tests/js/fileUploadSpec.js
Labels: 4 - To release

#35135 [10.2.0] Backport of dont show notification if federated share auto…
  apps/federatedfilesharing/lib/FedShareManager.php
  apps/federatedfilesharing/lib/FederatedShareProvider.php
  apps/federatedfilesharing/tests/FederatedShareProviderTest.php
Labels: 4 - To release

#35136 Set mail_send via old share API
  apps/files_sharing/lib/Controller/Share20OcsController.php
Labels: 4 - To release

#35137 [10.2.0] Set mail_send via old share API
  apps/files_sharing/lib/Controller/Share20OcsController.php
Labels: 4 - To release

#35138 [stable10] Backport of Convert shareWith to lower case
  apps/files_sharing/lib/Controller/Share20OcsController.php
  apps/files_sharing/tests/Controller/Share20OcsControllerTest.php
Labels: 3 - To Review

#35084 Convert shareWith to lower case
  apps/files_sharing/lib/Controller/Share20OcsController.php
  apps/files_sharing/tests/Controller/Share20OcsControllerTest.php
Labels: 3 - To Review

#35140 [10.2.0] Update changelog for 10.2.0 RC2
  CHANGELOG.md
Labels: 3 - To Review

#35139 [10.2.0] Wait for form to load when following password reset link
  tests/acceptance/features/lib/LoginPage.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#35113 [stable10] Limiting the maximum width of .fileName in #app-sidebar
  apps/files/css/detailsView.css
Labels: 3 - To Review

#35145 Bump symfony v3.4.26 => v3.4.27
  composer.lock
Labels: 3 - To Review, dependencies

#35146 [stable10] Bump symfony v3.4.26 => v3.4.27
  composer.lock
Labels: 3 - To Review, dependencies

#35133 shareAutocompletion feature updated for not listing the user in autocomplete list in webui
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/webUISharingInternalUsers/shareAutocompletion.feature
Labels: 3 - To Review, Acceptance tests, backport-request

#35141 [Stable10] restore system config after running acceptance test
  tests/acceptance/features/bootstrap/AppConfiguration.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35151 Test Helper to read file from server
  tests/TestHelpers/SetupHelper.php
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#35152 [stable10] shareAutocompletion feature updated for not listing the user in autocomplete list in webui
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/webUISharingInternalUsers/shareAutocompletion.feature
Labels: 3 - To Review

#35158 [stable10] Test Helper to read file from server
  tests/TestHelpers/SetupHelper.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#35159 [10.2.0] Backport of Fix update share permissions for public link
  apps/files_sharing/lib/Controller/Share20OcsController.php
  apps/files_sharing/tests/Controller/Share20OcsControllerTest.php
  tests/acceptance/features/apiShareManagement/updateShare.feature
Labels: 4 - To release

#35157 Fix update share permissions for public link
  apps/files_sharing/lib/Controller/Share20OcsController.php
  apps/files_sharing/tests/Controller/Share20OcsControllerTest.php
  tests/acceptance/features/apiShareManagement/updateShare.feature
Labels: 3 - To Review, backport-request

#35167 Wait for jQuery to be available before using it
  tests/acceptance/features/lib/OwncloudPage.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35169 [stable10] User\\Session::loginUser(): password can be null
  lib/private/User/Session.php
Labels: 3 - To Review, backport-request

#35170 Split long-running api acceptance suites
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiAuthOcs/ocsDELETEAuth.feature
  tests/acceptance/features/apiAuthOcs/ocsGETAuth.feature
  tests/acceptance/features/apiAuthOcs/ocsPOSTAuth.feature
  tests/acceptance/features/apiAuthOcs/ocsPUTAuth.feature
  tests/acceptance/features/apiProvisioningGroups-v1/addGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v1/addToGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v1/deleteGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v1/getGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v1/getGroups.feature
  tests/acceptance/features/apiProvisioningGroups-v1/getSubAdminGroups.feature
  tests/acceptance/features/apiProvisioningGroups-v1/getUserGroups.feature
  tests/acceptance/features/apiProvisioningGroups-v1/removeFromGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v2/addGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v2/addToGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v2/deleteGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v2/getGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v2/getGroups.feature
  tests/acceptance/features/apiProvisioningGroups-v2/getSubAdminGroups.feature
  tests/acceptance/features/apiProvisioningGroups-v2/getUserGroups.feature
  tests/acceptance/features/apiProvisioningGroups-v2/removeFromGroup.feature
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/apiShareManagementBasic/deleteShare.feature
  tests/acceptance/features/apiShareManagementBasic/updateShare.feature
  tests/acceptance/features/apiWebdavLocks2/resharedShares.feature
  tests/acceptance/features/apiWebdavLocks2/setTimeout.feature
  tests/acceptance/features/apiWebdavLocks2/unlock.feature
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#35173 [stable10] Split long-running api acceptance suites
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiAuthOcs/ocsDELETEAuth.feature
  tests/acceptance/features/apiAuthOcs/ocsGETAuth.feature
  tests/acceptance/features/apiAuthOcs/ocsPOSTAuth.feature
  tests/acceptance/features/apiAuthOcs/ocsPUTAuth.feature
  tests/acceptance/features/apiProvisioningGroups-v1/addGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v1/addToGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v1/deleteGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v1/getGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v1/getGroups.feature
  tests/acceptance/features/apiProvisioningGroups-v1/getSubAdminGroups.feature
  tests/acceptance/features/apiProvisioningGroups-v1/getUserGroups.feature
  tests/acceptance/features/apiProvisioningGroups-v1/removeFromGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v2/addGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v2/addToGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v2/deleteGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v2/getGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v2/getGroups.feature
  tests/acceptance/features/apiProvisioningGroups-v2/getSubAdminGroups.feature
  tests/acceptance/features/apiProvisioningGroups-v2/getUserGroups.feature
  tests/acceptance/features/apiProvisioningGroups-v2/removeFromGroup.feature
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/apiShareManagementBasic/deleteShare.feature
  tests/acceptance/features/apiShareManagementBasic/updateShare.feature
  tests/acceptance/features/apiWebdavLocks2/resharedShares.feature
  tests/acceptance/features/apiWebdavLocks2/setTimeout.feature
  tests/acceptance/features/apiWebdavLocks2/unlock.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#35184 reorganization of createTags.feature into createTags, removeTag and deleteTags
  tests/acceptance/features/webUITags/createTags.feature
  tests/acceptance/features/webUITags/deleteTags.feature
  tests/acceptance/features/webUITags/removeTags.feature
Labels: 4 - To release, backport-request, dev:acceptance-tests

#35083 add activity for self unshare action
  apps/files_sharing/lib/Activity.php
  apps/files_sharing/lib/AppInfo/Application.php
  apps/files_sharing/lib/Hooks.php
  apps/files_sharing/tests/AppInfo/ApplicationTest.php
  apps/files_sharing/tests/HooksTest.php
Labels: backport-request

#35193 [stable10] add activity for self unshare action
  apps/files_sharing/lib/Activity.php
  apps/files_sharing/lib/AppInfo/Application.php
  apps/files_sharing/lib/Hooks.php
  apps/files_sharing/tests/AppInfo/ApplicationTest.php
  apps/files_sharing/tests/HooksTest.php
Labels: 3 - To Review

#35186 [stable10] reorganization of createTags.feature into createTags, removeTag and deleteTags
  tests/acceptance/features/webUITags/createTags.feature
  tests/acceptance/features/webUITags/deleteTags.feature
  tests/acceptance/features/webUITags/removeTags.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35185 Acceptance test for renaming subfolders with same name shared by pub…
  tests/acceptance/features/lib/SharedByLinkPage.php
  tests/acceptance/features/webUISharingPublic/shareByPublicLink.feature
Labels: 3 - To Review, dev:acceptance-tests

#30882 allow html in claim and use htmlname in layout
  core/templates/layout.guest.php
  core/templates/layout.user.php
Labels: 3 - To Review, blue-ticket, enhancement, feature:theming, p4-low, release note, sev4-low

#35147 Rename share icon to be adblock friendly
  apps/files_sharing/js/app.js
  apps/files_sharing/js/share.js
  apps/files_sharing/lib/Activity.php
  apps/files_sharing/lib/Panels/Personal/Section.php
  apps/files_sharing/tests/ActivityTest.php
  apps/files_sharing/tests/Panels/Personal/SectionTest.php
  apps/files_sharing/tests/js/shareSpec.js
  core/js/share.js
  core/js/sharedialoglinklistview.js
  lib/private/Settings/SettingsManager.php
  settings/css/settings.css
  tests/lib/Settings/ManagerTest.php
Labels: 3 - To Review, backport-request

#35199 [stable10] Rename share icon to be adblock friendly
  apps/files_sharing/js/app.js
  apps/files_sharing/js/share.js
  apps/files_sharing/lib/Activity.php
  apps/files_sharing/lib/Panels/Personal/Section.php
  apps/files_sharing/tests/ActivityTest.php
  apps/files_sharing/tests/Panels/Personal/SectionTest.php
  apps/files_sharing/tests/js/shareSpec.js
  core/js/share.js
  core/js/sharedialoglinklistview.js
  lib/private/Settings/SettingsManager.php
  settings/css/settings.css
  tests/lib/Settings/ManagerTest.php
Labels: 3 - To Review

#35197 [10.2.0] Backport of Fix permission and update behaviour for public link
  apps/files/js/file-upload.js
  apps/files_sharing/lib/Controller/Share20OcsController.php
  core/js/sharedialoglinkshareview.js
  tests/TestHelpers/SharingHelper.php
  tests/acceptance/features/apiShareManagement/createShare.feature
  tests/acceptance/features/apiShareOperations/uploadToShare.feature
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/webUISharingPublic/shareByPublicLink.feature
Labels: 4 - To release

#35194 Fix permission and update behaviour for public link
  apps/files/js/file-upload.js
  apps/files_sharing/lib/Controller/Share20OcsController.php
  core/js/sharedialoglinkshareview.js
  tests/TestHelpers/SharingHelper.php
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/apiShareOperations/uploadToShare.feature
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/webUISharingPublic/shareByPublicLink.feature
Labels: 3 - To Review

#35047 Center the logo and login fields for setup page
  core/css/styles.css
Labels: 4 - To release, backport-request

#35206 Add issue tag on scenario with invalid status code
  tests/acceptance/features/apiProvisioning-v2/getUser.feature
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#35216 [stable10] add issue tag
  tests/acceptance/features/apiProvisioning-v2/getUser.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#35217 [stable10] feature test for share autocomplete list in webUI
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/WebUIPersonalSharingSettingsContext.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/PersonalSharingSettingsPage.php
  tests/acceptance/features/webUISharingInternalUsers/shareAutocompletion.feature
Labels: 4 - To release, dev:acceptance-tests

#35201 tests demonstating issue #35200
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/webUIFiles/browseDirectlyToDetailsTab.feature
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#35153 feature test for share autocomplete list in webUI
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/WebUIPersonalSharingSettingsContext.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/PersonalSharingSettingsPage.php
  tests/acceptance/features/webUISharingInternalUsers/shareAutocompletion.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35219 [stable10] tests demonstrating issue #35200
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/webUIFiles/browseDirectlyToDetailsTab.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35224 encode jobs that have an array as job value
  core/Command/Background/Queue/Status.php
  tests/Core/Command/Background/Queue/StatusTest.php
Labels: 4 - To release

#35225 [stable10] encode jobs that have an array as job value
  core/Command/Background/Queue/Status.php
  tests/Core/Command/Background/Queue/StatusTest.php
Labels: 4 - To release

#35215 Add webUI tests for share mail notification
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialog.php
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroups.feature
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#35231 [Stable10]Acceptance test for renaming folders with different path in Shared by link
  tests/acceptance/features/lib/FilesPage.php
  tests/acceptance/features/lib/FilesPageCRUD.php
  tests/acceptance/features/webUISharingPublic/shareByPublicLink.feature
Labels: 4 - To release

#35228 [release-10.2.0] encode jobs that have an array as job value
  core/Command/Background/Queue/Status.php
  tests/Core/Command/Background/Queue/StatusTest.php
Labels: 3 - To Review

#35238 [10.2.0] Backport of The public link edit template was outside public upload check
  core/js/sharedialoglinkshareview.js
  core/js/tests/specs/sharedialoglinkshareviewSpec.js
Labels: 3 - To Review

#35226 The public link edit template was outside public upload check
  core/js/sharedialoglinkshareview.js
  core/js/tests/specs/sharedialoglinkshareviewSpec.js
Labels: 3 - To Review, backport-request

#35220 Treat send attempt as unsuccessful when there is a message.
  apps/files_sharing/lib/Controller/Share20OcsController.php
  core/js/sharedialogshareelistview.js
  core/js/tests/specs/sharedialogshareelistview.js
Labels: 3 - To Review, p2-high

#35221 [10.2.0] Treat send attempt as unsuccessful when there is a message.
  apps/files_sharing/lib/Controller/Share20OcsController.php
  core/js/sharedialogshareelistview.js
  core/js/tests/specs/sharedialogshareelistview.js
Labels: 3 - To Review, p2-high

#35242 Unskip behat step and remove issue tag
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroups.feature
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#35245 How to generate fresh ca-bundle.crt
  resources/config/readme.md
Labels: 3 - To Review

#35244 Update README.md file with 10.2 version
  README.md
Labels: 3 - To Review

#35240 [release-10.2.0] Add webUI tests for share mail notification
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialog.php
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroups.feature
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#35249 quote inline code when checking response
  tests/acceptance/features/bootstrap/WebDavPropertiesContext.php
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#35250 [stable10] quote inline code when checking response
  tests/acceptance/features/bootstrap/WebDavPropertiesContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#35233 Add api acceptance test for checking that the sensitive data are not exposed by ocs api on share
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#35252 [stable10] How to generate fresh ca-bundle.crt
  resources/config/readme.md
Labels: 3 - To Review

#35251 [Stable10] Add api acceptance test for checking that the sensitive data are not exposed by ocs api on share
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35204 API acceptance tests for public link share permissions
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/apiShareManagementBasic/updateShare.feature
  tests/acceptance/features/apiShareOperations/changingFilesShare.feature
  tests/acceptance/features/bootstrap/PublicWebDavContext.php
  tests/acceptance/features/bootstrap/Sharing.php
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#35166 Add acceptance test for checking changing sharing permissions
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/lib/FilesPageBasic.php
  tests/acceptance/features/lib/FilesPageCRUD.php
  tests/acceptance/features/lib/FilesPageElement/FileActionsMenu.php
  tests/acceptance/features/lib/FilesPageElement/FileRow.php
  tests/acceptance/features/webUISharingPublic/shareByPublicLink.feature
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#35260 Use html body for message sent via email for password change
  settings/Controller/UsersController.php
  tests/Settings/Controller/UsersControllerTest.php
Labels: 3 - To Review

#35258 restore acceptance tests to the correct server
  tests/acceptance/features/bootstrap/AppConfiguration.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35259 [stable10] restore acceptance tests to the correct server
  tests/acceptance/features/bootstrap/AppConfiguration.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#35257 Test repair step listing commands
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliMain/maintenance.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#35265 Add exception page page object and its related steps in acceptance test
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
  tests/acceptance/features/lib/GeneralExceptionPage.php
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#35254 Add cli tests for background queue status and delete
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliBackground/backgroundQueue.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#35284 Test if robots.txt is accessible or not
  tests/acceptance/features/apiMain/main.feature
  tests/acceptance/features/bootstrap/BasicStructure.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#35288 [stable10] do not disable encryption app after test run
  apps/encryption/tests/Command/FixEncryptedVersionTest.php
Labels: 3 - To Review, dev:phpunit-tests

#35247 Acceptance test for group names with emoji
  tests/acceptance/features/apiProvisioningGroups-v1/addGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v1/addToGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v1/deleteGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v1/getSubAdminGroups.feature
  tests/acceptance/features/apiProvisioningGroups-v1/getUserGroups.feature
  tests/acceptance/features/apiProvisioningGroups-v1/removeFromGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v2/addGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v2/addToGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v2/deleteGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v2/getSubAdminGroups.feature
  tests/acceptance/features/apiProvisioningGroups-v2/getUserGroups.feature
  tests/acceptance/features/apiProvisioningGroups-v2/removeFromGroup.feature
Labels: 3 - To Review, dev:acceptance-tests

#35281 [stable10] Add exception page page object and its related steps in acceptance test
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
  tests/acceptance/features/lib/GeneralExceptionPage.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#35262 [stable10] Release 10.2.0 rebased
  .drone.yml
  .htaccess
  CHANGELOG.md
  README.md
  apps/federatedfilesharing/lib/AppInfo/Application.php
  apps/federatedfilesharing/lib/Command/PollIncomingShares.php
  apps/federatedfilesharing/lib/FedShareManager.php
  apps/federatedfilesharing/lib/FederatedShareProvider.php
  apps/federatedfilesharing/tests/Command/PollIncomingSharesTest.php
  apps/federatedfilesharing/tests/FederatedShareProviderTest.php
  apps/files/js/file-upload.js
  apps/files/lib/Capabilities.php
  apps/files/tests/CapabilitiesTest.php
  apps/files/tests/js/fileUploadSpec.js
  apps/files_sharing/js/PublicUploadView.js
  apps/files_sharing/lib/Controller/Share20OcsController.php
  apps/files_sharing/lib/External/Manager.php
  apps/files_sharing/tests/Controller/Share20OcsControllerTest.php
  core/js/sharedialoglinkshareview.js
  core/js/sharedialogshareelistview.js
  core/js/shareitemmodel.js
  core/js/tests/specs/sharedialoglinkshareviewSpec.js
  core/js/tests/specs/sharedialogshareelistview.js
  core/js/tests/specs/shareitemmodelSpec.js
  lib/private/Installer.php
  lib/private/legacy/app.php
  tests/TestHelpers/SharingHelper.php
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/apiShareManagementBasic/updateShare.feature
  tests/acceptance/features/apiShareOperations/uploadToShare.feature
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialog.php
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroups.feature
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
  tests/acceptance/features/webUISharingPublic/shareByPublicLink.feature
  tests/lib/InstallerTest.php
  version.php
Labels: 3 - To Review

#35296 [Stable10]Add acceptance test for checking changing sharing permissions
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/lib/FilesPageBasic.php
  tests/acceptance/features/lib/FilesPageCRUD.php
  tests/acceptance/features/lib/FilesPageElement/FileActionsMenu.php
  tests/acceptance/features/lib/FilesPageElement/FileRow.php
  tests/acceptance/features/webUISharingPublic/shareByPublicLink.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#35297 [Stable10] API acceptance tests for public link share permissions
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/apiShareManagementBasic/updateShare.feature
  tests/acceptance/features/apiShareOperations/changingFilesShare.feature
  tests/acceptance/features/bootstrap/PublicWebDavContext.php
  tests/acceptance/features/bootstrap/Sharing.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#35295 get rid of "the share fields of the last share should include" step
  tests/acceptance/features/apiFederation/federated.feature
  tests/acceptance/features/apiMain/external-storage.feature
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/apiShareManagementBasic/updateShare.feature
  tests/acceptance/features/apiShareOperations/gettingShares.feature
  tests/acceptance/features/bootstrap/Sharing.php
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#35268 Fix openFile method to handle error in acceptance tests
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#35253 user creation with username containing capital letters
  tests/acceptance/features/apiProvisioning-v1/addUser.feature
  tests/acceptance/features/apiProvisioning-v2/addUser.feature
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#35280 [stable10] Test repair step listing commands
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliMain/maintenance.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35270 Acceptance test for giving controlled access to users to change their fullname
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/bootstrap/WebUIPersonalGeneralSettingsContext.php
  tests/acceptance/features/webUIPersonalSettings/accessToChangeFullNameThroughConfig.feature
Labels: 3 - To Review, backport-request, dev:acceptance-tests

#35285 [stable10] Test if robots.txt is accessible or not
  tests/acceptance/features/apiMain/main.feature
  tests/acceptance/features/bootstrap/BasicStructure.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35298 [stable10] get rid of "the share fields of the last share should include" step
  tests/acceptance/features/apiFederation/federated.feature
  tests/acceptance/features/apiMain/external-storage.feature
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/apiShareManagementBasic/updateShare.feature
  tests/acceptance/features/apiShareOperations/gettingShares.feature
  tests/acceptance/features/bootstrap/Sharing.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#35302 [stable10] skip tests that fail on encryption
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroups.feature
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#35299 [Stable10] Fix openFile method to handle error in acceptance tests
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35276 [stable10] user creation with username containing capital letters
  tests/acceptance/features/apiProvisioning-v1/addUser.feature
  tests/acceptance/features/apiProvisioning-v2/addUser.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35301 skip tests that fail on encryption
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroups.feature
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#35283 Accessing sharetab directly for a long list of files
  apps/files/js/filelist.js
  tests/acceptance/features/webUIFiles/browseDirectlyToDetailsTab.feature
Labels: 2 - Developing

#35306 [stable10] Backport of Accessing sharetab directly for a long list of files
  apps/files/js/filelist.js
  tests/acceptance/features/webUIFiles/browseDirectlyToDetailsTab.feature
Labels: 3 - To Review

#35291 [stable10] cli test background queue status
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliBackground/backgroundQueue.feature
Labels: 3 - To Review

#35269 Add cli tests for config file values
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliMain/configKey.feature
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#35178 Catch internal server error from remote on decline
  apps/federatedfilesharing/lib/AppInfo/Application.php
  apps/federatedfilesharing/tests/NotificationsTest.php
Labels: 3 - To Review, backport-request, p2-high

#35300 [stable10] Acceptance test for group names with emoji
  tests/acceptance/features/apiProvisioningGroups-v1/addGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v1/addToGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v1/deleteGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v1/getSubAdminGroups.feature
  tests/acceptance/features/apiProvisioningGroups-v1/getUserGroups.feature
  tests/acceptance/features/apiProvisioningGroups-v1/removeFromGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v2/addGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v2/addToGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v2/deleteGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v2/getSubAdminGroups.feature
  tests/acceptance/features/apiProvisioningGroups-v2/getUserGroups.feature
  tests/acceptance/features/apiProvisioningGroups-v2/removeFromGroup.feature
Labels: 4 - To release, dev:acceptance-tests

#35175 feature test for public link share expiration date deletion
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialogElement/EditPublicLinkPopup.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialogElement/PublicLinkTab.php
  tests/acceptance/features/webUISharingPublic/shareByPublicLink.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#35320 [stable10] cli test config key
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliMain/configKey.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#35321 [Stable10] Catch internal server error from remote on decline
  apps/federatedfilesharing/lib/AppInfo/Application.php
  apps/federatedfilesharing/tests/NotificationsTest.php
Labels: 4 - To release

#35273 [Stable10] allow html in claim and use htmlname in layout
  core/templates/layout.guest.php
  core/templates/layout.user.php
Labels: 3 - To Review

#35180 [master] User\\Session::loginUser(): password can be null
  lib/private/User/Session.php
Labels: 3 - To Review

#35329 Only test for particular known languages in testFindAvailableLanguagesWithThemes
  tests/lib/L10N/FactoryTest.php
Labels: 3 - To Review, backport-request, dev:phpunit-tests

#35183 Updating sabre/dav (4.0.0-alpha5 => 4.0.0-beta1)
  composer.lock
  tests/acceptance/features/apiWebdavLocks/publicLinkLockdiscovery.feature
  tests/acceptance/features/bootstrap/WebDavPropertiesContext.php
Labels: 3 - To Review, dependencies

#35332 [stable10] Only test for particular known languages in testFindAvailableLanguagesWithThemes
  tests/lib/L10N/FactoryTest.php
Labels: 4 - To release, dev:phpunit-tests

#35331 speed up CI by not running unneeded steps
  tests/acceptance/features/apiAuth/cors.feature
  tests/acceptance/features/apiAuthOcs/ocsDELETEAuth.feature
  tests/acceptance/features/apiAuthOcs/ocsGETAuth.feature
  tests/acceptance/features/apiAuthOcs/ocsPOSTAuth.feature
  tests/acceptance/features/apiAuthOcs/ocsPUTAuth.feature
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#35340 Updating egulias/email-validator (2.1.7 => 2.1.8)
  composer.lock
Labels: 3 - To Review, dependencies

#35341 [stable10] Updating egulias/email-validator (2.1.7 => 2.1.8)
  composer.lock
Labels: 3 - To Review, dependencies

#35333 [stable10] speed up CI by not running unneeded steps
  tests/acceptance/features/apiAuth/cors.feature
  tests/acceptance/features/apiAuthOcs/ocsDELETEAuth.feature
  tests/acceptance/features/apiAuthOcs/ocsGETAuth.feature
  tests/acceptance/features/apiAuthOcs/ocsPOSTAuth.feature
  tests/acceptance/features/apiAuthOcs/ocsPUTAuth.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35324 detect correct uid when even wrong casing in given uid for files:scan
  apps/files/lib/Command/Scan.php
Labels: 3 - To Review

#35344 [Stable10] detect correct uid when even wrong casing in given uid for files:scan
  apps/files/lib/Command/Scan.php
Labels: 4 - To release

#35314 cli test for polling incoming shares
  tests/acceptance/config/behat.yml
  tests/acceptance/features/cliMain/cliIncomingShares.feature
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#35346 [stable10] Add more space to the bottom
  apps/files_sharing/css/public.css
  core/css/styles.css
Labels: 3 - To Review

#35347 [stable10] Center the logo and login fields for setup page
  core/css/styles.css
Labels: 3 - To Review

#35349 Bump symfony v3.4.27 => v3.4.28
  composer.lock
Labels: 3 - To Review, dependencies

#35348 [stable10] Bump symfony v3.4.27 => v3.4.28
  composer.lock
Labels: 3 - To Review, dependencies

#35350 merge tests into Scenario Outline that were fixed by #35283
  tests/acceptance/features/webUIFiles/browseDirectlyToDetailsTab.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35351 [stable10] merge tests into Scenario Outline that were fixed by #35283
  tests/acceptance/features/webUIFiles/browseDirectlyToDetailsTab.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35352 [Stable10] cli test for polling incoming shares
  tests/acceptance/config/behat.yml
  tests/acceptance/features/cliMain/cliIncomingShares.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35342 Add remove user to groups not case sensitive
  tests/acceptance/features/apiProvisioning-v1/deleteUser.feature
  tests/acceptance/features/apiProvisioning-v2/deleteUser.feature
  tests/acceptance/features/apiProvisioningGroups-v1/addGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v1/addToGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v1/deleteGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v1/getGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v1/getGroups.feature
  tests/acceptance/features/apiProvisioningGroups-v1/removeFromGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v2/addGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v2/addToGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v2/deleteGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v2/getGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v2/getGroups.feature
  tests/acceptance/features/apiProvisioningGroups-v2/removeFromGroup.feature
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/cliProvisioning/addGroup.feature
  tests/acceptance/features/cliProvisioning/addToGroup.feature
  tests/acceptance/features/cliProvisioning/addUser.feature
  tests/acceptance/features/cliProvisioning/deleteGroup.feature
  tests/acceptance/features/cliProvisioning/deleteUser.feature
  tests/acceptance/features/cliProvisioning/getGroup.feature
  tests/acceptance/features/cliProvisioning/getGroups.feature
  tests/acceptance/features/cliProvisioning/removeFromGroup.feature
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#35343 [stable10] add remove user to groups not case sensitive
  tests/acceptance/features/apiProvisioning-v1/deleteUser.feature
  tests/acceptance/features/apiProvisioning-v2/deleteUser.feature
  tests/acceptance/features/apiProvisioningGroups-v1/addGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v1/addToGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v1/deleteGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v1/getGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v1/getGroups.feature
  tests/acceptance/features/apiProvisioningGroups-v1/removeFromGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v2/addGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v2/addToGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v2/deleteGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v2/getGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v2/getGroups.feature
  tests/acceptance/features/apiProvisioningGroups-v2/removeFromGroup.feature
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/cliProvisioning/addGroup.feature
  tests/acceptance/features/cliProvisioning/addToGroup.feature
  tests/acceptance/features/cliProvisioning/addUser.feature
  tests/acceptance/features/cliProvisioning/deleteGroup.feature
  tests/acceptance/features/cliProvisioning/deleteUser.feature
  tests/acceptance/features/cliProvisioning/getGroup.feature
  tests/acceptance/features/cliProvisioning/getGroups.feature
  tests/acceptance/features/cliProvisioning/removeFromGroup.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#35309 api test for sharing with user by entering username in capital letters
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
Labels: 3 - To Review, dev:acceptance-tests

#35317 Acceptance test for searching names of files and folders containing …
  tests/acceptance/features/apiWebdavOperations/search.feature
Labels: 3 - To Review, backport-request, dev:acceptance-tests

#35357 [Stable10] api test for sharing with user by entering username in capital letters
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35355 move user creation without skeleton from activity app
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#35356 Remove unnecessary create users from background in feature files for webUI tests
  tests/acceptance/features/webUICreateDelete/deleteFilesFolders.feature
  tests/acceptance/features/webUIFiles/fileDetails.feature
  tests/acceptance/features/webUIFiles/search.feature
  tests/acceptance/features/webUIFiles/versions.feature
  tests/acceptance/features/webUIRestrictSharing/restrictReSharing.feature
  tests/acceptance/features/webUISharingAcceptShares/acceptShares.feature
  tests/acceptance/features/webUITags/createTags.feature
  tests/acceptance/features/webUITags/deleteTags.feature
  tests/acceptance/features/webUITags/removeTags.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#35360 [stable10] move user creation without skeleton from activity app
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35361 [stable10] Remove unnecessary create users from background in feature files for webUI tests
  tests/acceptance/features/webUICreateDelete/deleteFilesFolders.feature
  tests/acceptance/features/webUIFiles/fileDetails.feature
  tests/acceptance/features/webUIFiles/search.feature
  tests/acceptance/features/webUIFiles/versions.feature
  tests/acceptance/features/webUIRestrictSharing/restrictReSharing.feature
  tests/acceptance/features/webUISharingAcceptShares/acceptShares.feature
  tests/acceptance/features/webUITags/createTags.feature
  tests/acceptance/features/webUITags/deleteTags.feature
  tests/acceptance/features/webUITags/removeTags.feature
Labels: 4 - To release, dev:acceptance-tests

#35353 Get enabled and disabled apps from same request in acceptance tests
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#35365 make search tests more flexible
  tests/acceptance/features/apiWebdavOperations/search.feature
Labels: QA-team, backport-request, dev:acceptance-tests

#35359 Add boolean return type in execute function docstring
  lib/private/legacy/db/statementwrapper.php
Labels: 4 - To release, QA-team, backport-request

#35366 Fix feature context undefined on provisioning.php
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35369 [Stable10] feature test for public link share expiration date deletion
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialogElement/EditPublicLinkPopup.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialogElement/PublicLinkTab.php
  tests/acceptance/features/webUISharingPublic/shareByPublicLink.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35372 [Stable10] Get enabled and disabled apps from same request in acceptance tests
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35370 [stable10] Fix test suites name to match encryption app.
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/webUIUserKeysType/userKeys.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35374 [stable10] fix feature context undefined
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35376 [stable10] Change 'in the webUI' to 'on the webUI'
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/bootstrap/WebUIHelpAndTipsContext.php
  tests/acceptance/features/bootstrap/WebUIPersonalGeneralSettingsContext.php
  tests/acceptance/features/bootstrap/WebUIPersonalSharingSettingsContext.php
  tests/acceptance/features/bootstrap/WebUITagsContext.php
  tests/acceptance/features/lib/FilesPageBasic.php
  tests/acceptance/features/lib/FilesPageElement/DetailsDialog.php
  tests/acceptance/features/lib/PersonalGeneralSettingsPage.php
  tests/acceptance/features/lib/PersonalSharingSettingsPage.php
  tests/acceptance/features/webUIAdminSettings/helpAndTips.feature
  tests/acceptance/features/webUIFiles/fileDetails.feature
  tests/acceptance/features/webUIFiles/versions.feature
  tests/acceptance/features/webUIPersonalSettings/personalGeneralSettings.feature
  tests/acceptance/features/webUISharingAcceptShares/acceptShares.feature
  tests/acceptance/features/webUISharingExternal/federationSharing.feature
  tests/acceptance/features/webUISharingPublic/shareByPublicLink.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35375 Change 'in the webUI' to 'on the webUI'
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/bootstrap/WebUIHelpAndTipsContext.php
  tests/acceptance/features/bootstrap/WebUIPersonalGeneralSettingsContext.php
  tests/acceptance/features/bootstrap/WebUIPersonalSharingSettingsContext.php
  tests/acceptance/features/bootstrap/WebUITagsContext.php
  tests/acceptance/features/lib/FilesPageBasic.php
  tests/acceptance/features/lib/FilesPageElement/DetailsDialog.php
  tests/acceptance/features/lib/PersonalGeneralSettingsPage.php
  tests/acceptance/features/lib/PersonalSharingSettingsPage.php
  tests/acceptance/features/webUIAdminSettings/helpAndTips.feature
  tests/acceptance/features/webUIFiles/fileDetails.feature
  tests/acceptance/features/webUIFiles/versions.feature
  tests/acceptance/features/webUIPersonalSettings/personalGeneralSettings.feature
  tests/acceptance/features/webUISharingAcceptShares/acceptShares.feature
  tests/acceptance/features/webUISharingExternal/federationSharing.feature
  tests/acceptance/features/webUISharingPublic/shareByPublicLink.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35377 [stable10] make search tests more flexible
  tests/acceptance/features/apiWebdavOperations/search.feature
Labels: 4 - To release, dev:acceptance-tests

#35378 [stable10] Add boolean return type in execute function docstring
  lib/private/legacy/db/statementwrapper.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35379 [stable10] Acceptance test for searching names of files and folders containing emoji
  tests/acceptance/features/apiWebdavOperations/search.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35271 Add acceptance test flags in makefile for autocompletion
  Makefile
Labels: 4 - To release, backport-request

#35381 [stable10] sharing autocomplete medial search tests for groups and accounts
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/webUISharingInternalUsers/shareAutocompletion.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35367 [Stable10] Add acceptance test for checking file access after recreating master key in encryption
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/webUIMasterKeyType/webUIMasterKeys.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35380 [stable10] Backport of Fix recreate masterkey for hsm
  apps/encryption/lib/Command/RecreateMasterKey.php
  apps/encryption/lib/Crypto/EncryptAll.php
  apps/encryption/lib/Factory/EncDecAllFactory.php
  apps/encryption/lib/Util.php
  apps/encryption/tests/Command/RecreateMasterKeyTest.php
  apps/encryption/tests/Crypto/EncryptAllTest.php
  apps/encryption/tests/Factory/EncDecAllFactoryTest.php
  apps/encryption/tests/UtilTest.php
Labels: 3 - To Review

#35313 Test medial search autocompletion for accounts and groups
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/webUISharingInternalUsers/shareAutocompletion.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#35383 [stable10] Add acceptance test flags in makefile for autocompletion
  Makefile
Labels: 4 - To release, QA-team

#35358 Web UI sharing internal users use no skeleton step
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/webUISharingInternalUsers/shareAutocompletion.feature
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#35144 Add new exceptions for objectstore
  lib/public/Files/ObjectStore/ObjectStoreException.php
  lib/public/Files/ObjectStore/ObjectStoreOperationException.php
  lib/public/Files/ObjectStore/ObjectStoreWriteException.php
Labels: 3 - To Review

#30643 Replay migrations on the created schema before copying data
  apps/files_external/appinfo/app.php
  apps/systemtags/appinfo/app.php
  core/Command/Db/ConvertType.php
  core/register_command.php
  tests/Core/Command/Db/ConvertTypeTest.php
Labels: 3 - To Review, bug

#35294 Remove the uploaded file if there is a checksum error
  apps/dav/lib/Connector/Sabre/File.php
  apps/dav/tests/unit/Connector/Sabre/FileTest.php
Labels: 3 - To Review, backport-request

#35384 skipOnEncryption annotation added on feature test
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#35389 [stable10] Backport of Add new exceptions for objectstore
  lib/public/Files/ObjectStore/ObjectStoreException.php
  lib/public/Files/ObjectStore/ObjectStoreOperationException.php
  lib/public/Files/ObjectStore/ObjectStoreWriteException.php
Labels: 3 - To Review

#35312 received shares must go into share_folder when configured
  apps/files_sharing/lib/External/Manager.php
  apps/files_sharing/tests/External/ManagerTest.php
Labels: 3 - To Review, backport-request

#35396 [Stable10] received shares must go into share_folder when configured
  apps/files_sharing/lib/External/Manager.php
  apps/files_sharing/tests/External/ManagerTest.php
Labels: 3 - To Review
