Repository owncloud/core, pull requests merged in 2019-12, with the labels that each got.

#36497 #36490 changelog extend
  changelog/unreleased/36490
Labels: 4 - To release

#36503 PHP symfony 3.4.36 and doctrine/cache 1.10.0
  changelog/unreleased/36503-1
  changelog/unreleased/36503-2
  composer.lock
Labels: 3 - To Review, dependencies, php

#36504 Allow extra ampersands on BEHAT_FILTER_TAGS in acceptance tests
  tests/acceptance/run.sh
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36508 Updating punic/punic (3.4.0 => 3.5.0)
  changelog/unreleased/36508
  composer.lock
Labels: 3 - To Review, dependencies, php

#36489 [For 10.4] Support Oracle connect string
  changelog/unreleased/36489
  core/Command/Maintenance/Install.php
  lib/private/DB/ConnectionFactory.php
  lib/private/DB/MDB2SchemaReader.php
  lib/private/Setup/AbstractDatabase.php
  lib/private/Setup/OCI.php
  tests/drone/install-server.sh
Labels: 3 - To Review

#36511 Behat bootstrap.php does not need core lib/composer/autoload.php
  tests/acceptance/features/bootstrap/bootstrap.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36315 [For 10.4] Fix doc links in the admin settings
  changelog/unreleased/36315
  core/js/setupchecks.js
  core/js/tests/specs/setupchecksSpec.js
Labels: 3 - To Review

#36494 Do not count shared files on trashbin free space calculation
  apps/files_trashbin/lib/Quota.php
  changelog/unreleased/36494
Labels: 3 - To Review

#36517 Fix capabilities test scenarios so they can fail
  tests/acceptance/features/apiCapabilities/capabilities.feature
  tests/acceptance/features/bootstrap/CapabilitiesContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36413 [For 10.4] Set 599 HTTP code on error
  changelog/unreleased/36413
  config/config.sample.php
  console.php
  index.php
  lib/base.php
  lib/private/Log/ErrorHandler.php
  lib/private/Setup.php
  public.php
  remote.php
  status.php
Labels: 3 - To Review

#36505 [For 10.4] Add validation for sender email address
  changelog/unreleased/36505
  lib/private/Share/MailNotifications.php
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
  tests/acceptance/features/webUISharingPublic/shareByPublicLink.feature
Labels: 4 - To release, QA-p2, QA-team, dev:acceptance-tests

#36483 Change the Changelog Template
  CHANGELOG.md
  changelog/10.3.2_2019-12-04/36222
  changelog/10.3.2_2019-12-04/36225
  changelog/10.3.2_2019-12-04/36242
  changelog/10.3.2_2019-12-04/36244
  changelog/10.3.2_2019-12-04/36253
  changelog/10.3.2_2019-12-04/36274
  changelog/10.3.2_2019-12-04/36281
  changelog/10.3.2_2019-12-04/36285
  changelog/10.3.2_2019-12-04/36288
  changelog/10.3.2_2019-12-04/36299
  changelog/10.3.2_2019-12-04/36310
  changelog/10.3.2_2019-12-04/36319
  changelog/10.3.2_2019-12-04/36320
  changelog/10.3.2_2019-12-04/36329
  changelog/10.3.2_2019-12-04/36337
  changelog/10.3.2_2019-12-04/36343
  changelog/10.3.2_2019-12-04/36344
  changelog/10.3.2_2019-12-04/36345
  changelog/10.3.2_2019-12-04/36348
  changelog/10.3.2_2019-12-04/36358
  changelog/10.3.2_2019-12-04/36359
  changelog/10.3.2_2019-12-04/36365
  changelog/10.3.2_2019-12-04/36384
  changelog/10.3.2_2019-12-04/36393
  changelog/10.3.2_2019-12-04/36401
  changelog/10.3.2_2019-12-04/36405
  changelog/10.3.2_2019-12-04/36410
  changelog/10.3.2_2019-12-04/36417
  changelog/10.3.2_2019-12-04/36420
  changelog/10.3.2_2019-12-04/36420-1
  changelog/10.3.2_2019-12-04/36426
  changelog/10.3.2_2019-12-04/36431
  changelog/10.3.2_2019-12-04/36448
  changelog/10.3.2_2019-12-04/36454
  changelog/10.3.2_2019-12-04/36465
  changelog/10.3.2_2019-12-04/36466
  changelog/10.3.2_2019-12-04/36487
  changelog/10.3.2_2019-12-04/issue-36298
  changelog/CHANGELOG.tmpl
Labels: 3 - To Review

#36464 [For 10.4] Fix "files:transfer-ownership" in S3 multibucket setups
  apps/files/tests/Command/TransferOwnershipTest.php
  changelog/unreleased/36464
  lib/private/Files/ObjectStore/ObjectStoreStorage.php
Labels: 4 - To release

#36527 Update capabilities tests
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiCapabilities/capabilities.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36488 [For 10.4] user is only allowed to see their own home trashbin
  apps/dav/lib/RootCollection.php
  apps/dav/lib/TrashBin/RootCollection.php
  apps/dav/lib/TrashBin/TrashBinHome.php
  apps/dav/tests/unit/TrashBin/RootCollectionTest.php
  apps/dav/tests/unit/TrashBin/TrashBinHomeTest.php
  apps/dav/tests/unit/TrashBin/TrashBinPluginTest.php
  changelog/unreleased/36488
  tests/acceptance/features/apiTrashbin/trashbinDelete.feature
  tests/acceptance/features/apiTrashbin/trashbinFilesFolders.feature
  tests/acceptance/features/apiTrashbin/trashbinRestore.feature
Labels: 3 - To Review

#36402 public.php and public-files endpoints won't report locking support
  apps/dav/lib/Connector/Sabre/PublicDavLocksPlugin.php
  apps/dav/lib/Connector/Sabre/ServerFactory.php
  apps/dav/lib/Server.php
  apps/dav/tests/unit/Connector/Sabre/PublicDavLocksPluginTest.php
  tests/acceptance/features/apiWebdavLocks/publicLink.feature
  tests/acceptance/features/apiWebdavLocks2/unlock.feature
Labels: 3 - To Review

#36492 Bump core version to 10.4.0
  README.md
  version.php
Labels: 2 - Developing

#36537 Updating phpunit/phpunit (7.5.17 => 7.5.18)
  composer.lock
Labels: 3 - To Review, dependencies, dev:phpunit-tests

#36538 skip scenarios for 10.4 features/fixes when running on 10.3
  tests/acceptance/features/apiTrashbin/trashbinDelete.feature
  tests/acceptance/features/apiTrashbin/trashbinRestore.feature
  tests/acceptance/features/apiWebdavLocks/publicLink.feature
  tests/acceptance/features/apiWebdavLocks2/unlock.feature
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
  tests/acceptance/features/webUISharingPublic/shareByPublicLink.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36541 webUI tests for user-group share expiration
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiCapabilities/capabilities.feature
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialog.php
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroupUsingExpirationDate.feature
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroups.feature
  tests/acceptance/features/webUISharingInternalUsers/shareWithUserUsingExpirationDate.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36540 update app no signature text in config.sample.php
  config/config.sample.php
Labels: 3 - To Review

#36543 skipOnOcV10.3 the trashbin scenarios fixed in 10.4
  tests/acceptance/features/apiTrashbin/trashbinFilesFolders.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36544 Fixup changelogs
  changelog/unreleased/36489
  changelog/unreleased/36494
Labels: 3 - To Review

#36549 Feature/path share info fix group reshare
  apps/files/js/filelist.js
  apps/files_sharing/css/sharetabview.css
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialog.php
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroups.feature
Labels: 3 - To Review

#36555 Changelogs for dependabot PRs 2019-12-10
  changelog/unreleased/36552
  changelog/unreleased/36553
  changelog/unreleased/36554
Labels: 3 - To Review, dependencies, php

#36513 Remove dependency of acceptance tests on core lib/composer/autoload.php
  tests/TestHelpers/SharingHelper.php
  tests/acceptance/features/bootstrap/AppConfiguration.php
  tests/acceptance/features/bootstrap/AppManagementContext.php
  tests/acceptance/features/bootstrap/Auth.php
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/CalDavContext.php
  tests/acceptance/features/bootstrap/CardDavContext.php
  tests/acceptance/features/bootstrap/CommandLine.php
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/bootstrap/WebDav.php
  vendor-bin/behat/composer.json
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36547 Add api test for setting expiration date for resharing to user and groups
  tests/acceptance/features/apiShareReshare/reShare.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36548 Add api tests for sharing with expiration date
  tests/TestHelpers/SharingHelper.php
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/apiShareUpdate/updateShare.feature
  tests/acceptance/features/bootstrap/Sharing.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36567 Add more tests for checking expiry date enforcement while resharing
  tests/acceptance/features/apiShareReshare/reShare.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36559 Show link token if name is empty
  apps/files/js/filelist.js
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/webUISharingPublic/shareByPublicLink.feature
Labels: 3 - To Review

#36566 Remove '1 link share per file/folder' old test
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/bootstrap/Sharing.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36579 Increase wait-for-db timeout from 120 to 600 seconds
  .drone.starlark
  .drone.yml
  tests/drone/install-server.sh
  tests/drone/test-phpunit.sh
Labels: 4 - To release, Drone, QA-team

#36581 Fix PHP Syntax error in config.sample.php
  config/config.sample.php
Labels: 4 - To release

#36580 Implement coding-standard 2.0.0
  apps/dav/tests/unit/Connector/Sabre/PublicDavLocksPluginTest.php
  apps/dav/tests/unit/TrashBin/RootCollectionTest.php
  vendor-bin/owncloud-codestyle/composer.json
Labels: 3 - To Review, QA-team, dev:phpunit-tests

#36577 check for isset before accessing in toXML()
  lib/private/legacy/api.php
Labels: 3 - To Review

#36582 Lint config sample php
  .php_cs.dist
  config/config.apps.sample.php
  config/config.sample.php
  tests/phpunit-autotest.xml
Labels: 3 - To Review, QA-team

#36585 Add changelog item for locking support in public endpoints
  changelog/unreleased/36402
Labels: 3 - To Review

#36571 [For 10.4] On the public preview route the share password needs to be verified a…
  apps/files_sharing/ajax/publicpreview.php
  changelog/unreleased/36571
  tests/acceptance/features/apiShareOperations/accessToShare.feature
  tests/acceptance/features/bootstrap/Sharing.php
Labels: 3 - To Review, QA-p1, QA-team, dev:acceptance-tests

#36590 skip new public link tests on 10.3
  tests/acceptance/features/apiShareOperations/accessToShare.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36592 Fix @skipOnOcV10.3 tag
  tests/acceptance/features/apiShareOperations/accessToShare.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36520 [For 10.4] Filter app:list for just enabled or disabled apps
  changelog/unreleased/36520
  core/Command/App/ListApps.php
  tests/acceptance/features/bootstrap/AppManagementContext.php
  tests/acceptance/features/cliAppManagement/listApps.feature
Labels: 4 - To release

#36594 Api webdav authAdd API acceptance tests for checking webdav operations with invalid auth
  .drone.starlark
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiAuthWebDav/webDavDELETEAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavMOVEAuth.feature
  tests/acceptance/features/bootstrap/Auth.php
  tests/acceptance/features/bootstrap/OCSContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36599 Dependency bumps 20191217
  changelog/unreleased/36599-1
  changelog/unreleased/36599-2
  composer.lock
Labels: 3 - To Review, dependencies, php

#36576 [for 10.4] Receive multiple users from backend for user sync
  changelog/unreleased/36576
  core/Command/User/SyncBackend.php
  tests/lib/Command/User/SyncBackendTest.php
Labels: 3 - To Review

#36583 integrate download in sharing tests
  tests/acceptance/features/apiShareManagement/acceptShares.feature
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/apiShareOperations/downloadFromShare.feature
  tests/acceptance/features/apiWebdavOperations/downloadFile.feature
Labels: 4 - To release, QA-team

#36600 Eliminate un-needed variable in TestHelpers\WebDavHelper::makeDavReq…
  tests/TestHelpers/DeleteHelper.php
  tests/TestHelpers/DownloadHelper.php
  tests/TestHelpers/MoveCopyHelper.php
  tests/TestHelpers/TagsHelper.php
  tests/TestHelpers/Unit/WebDavHelperTest.php
  tests/TestHelpers/UploadHelper.php
  tests/TestHelpers/WebDavHelper.php
  tests/acceptance/features/bootstrap/CommentsContext.php
  tests/acceptance/features/bootstrap/FavoritesContext.php
  tests/acceptance/features/bootstrap/SearchContext.php
  tests/acceptance/features/bootstrap/TagsContext.php
  tests/acceptance/features/bootstrap/TrashbinContext.php
  tests/acceptance/features/bootstrap/WebDav.php
  tests/acceptance/features/bootstrap/WebDavLockingContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36601 Tests for accessing webDav endpoints with invalid authentication
  tests/TestHelpers/WebDavHelper.php
  tests/acceptance/features/apiAuthWebDav/webDavMKCOLAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavPOSTAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavPROPFINDAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavPUTAuth.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36603 Updating phpspec/prophecy (1.9.0 => 1.10.0)
  changelog/unreleased/36603
  composer.lock
Labels: 4 - To release, dependencies, php

#36605 Add webDav auth tests for sending password on different user and no password
  tests/acceptance/features/apiAuthWebDav/webDavDELETEAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavMKCOLAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavMOVEAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavPOSTAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavPROPFINDAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavPUTAuth.feature
  tests/acceptance/features/bootstrap/Auth.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36265 Validate reshare permissions and attributes based on supershare
  changelog/unreleased/36265
  lib/private/Share20/Manager.php
  tests/lib/Share20/ManagerTest.php
Labels: 4 - To release, enhancement

#36614 Updating sabre/vobject (4.2.0 => 4.2.1)
  apps/dav/tests/unit/CalDAV/CalDavBackendTest.php
  apps/dav/tests/unit/CardDAV/BirthdayServiceTest.php
  apps/dav/tests/unit/CardDAV/ConverterTest.php
  apps/dav/tests/unit/CardDAV/ImageExportPluginTest.php
  changelog/unreleased/36614
  composer.lock
Labels: 4 - To release, dependencies, php

#36611 Adjusted Given-When steps in AppManagementContext
  tests/acceptance/features/bootstrap/AppManagementContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36615 Adjust Given-When steps in BasicStructure context
  tests/acceptance/features/bootstrap/BasicStructure.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36610 Cast path to string
  changelog/unreleased/36610
  lib/private/Files/Config/UserMountCache.php
  tests/lib/Files/Config/UserMountCacheTest.php
Labels: 3 - To Review, db:oracle

#36572 [For 10.4] Add share indicator in webUI
  apps/files/css/files.css
  apps/files/js/filelist.js
  apps/files/tests/js/filelistSpec.js
  apps/files_sharing/css/sharetabview.css
  apps/files_sharing/js/share.js
  changelog/unreleased/36572
  core/js/apps.js
  core/js/share.js
  core/js/sharedialogview.js
  core/js/tests/specs/sharedialogviewSpec.js
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/FilesPage.php
  tests/acceptance/features/lib/FilesPageBasic.php
  tests/acceptance/features/lib/FilesPageElement/FileRow.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialog.php
  tests/acceptance/features/lib/SharedWithYouPage.php
  tests/acceptance/features/webUISharingExternal/federationSharing.feature
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroups.feature
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
  tests/acceptance/features/webUISharingPublic/shareByPublicLink.feature
Labels: 4 - To release, app:files, feature:sharing, minor-release

#36482 Add Changelog Build Step
  .drone.starlark
  .drone.yml
  CHANGELOG.md
  changelog/CHANGELOG.tmpl
  changelog/README.md
  changelog/TEMPLATE
  changelog/unreleased/36488
Labels: enhancement

#36399 Fix for app:enable in case of not valid/not existing enterprise key
  changelog/unreleased/36399
  core/Command/App/Enable.php
  core/register_command.php
  phpstan.neon
  tests/Core/Command/Apps/AppsEnableTest.php
Labels: 3 - To Review

#36573 [For 10.4] Include expiration option for user and group shares
  apps/federatedfilesharing/lib/FederatedShareProvider.php
  apps/files_sharing/css/sharetabview.css
  apps/files_sharing/lib/Capabilities.php
  apps/files_sharing/lib/Controller/Share20OcsController.php
  apps/files_sharing/tests/CapabilitiesTest.php
  apps/files_sharing/tests/Controller/Share20OcsControllerTest.php
  changelog/unreleased/36573
  core/css/icons.css
  core/css/share.css
  core/img/actions/time.svg
  core/js/config.php
  core/js/shareconfigmodel.js
  core/js/sharedialogshareelistview.js
  core/js/shareitemmodel.js
  core/js/tests/specs/sharedialogviewSpec.js
  core/js/tests/specs/shareitemmodelSpec.js
  lib/private/Share/Constants.php
  lib/private/Share20/DefaultShareProvider.php
  lib/private/Share20/Manager.php
  lib/private/Share20/ProviderFactory.php
  lib/public/Share/IManager.php
  lib/public/Share/IProviderFactory.php
  lib/public/Share/IShareProvider.php
  settings/Panels/Admin/FileSharing.php
  settings/js/admin.js
  settings/templates/panels/admin/filesharing.php
  tests/TestHelpers/SharingHelper.php
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiCapabilities/capabilities.feature
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/apiShareReshare/reShare.feature
  tests/acceptance/features/apiShareUpdate/updateShare.feature
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/bootstrap/WebUIAdminSharingSettingsContext.php
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/AdminSharingSettingsPage.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialog.php
  tests/acceptance/features/webUIAdminSettings/adminSharingSettings.feature
  tests/acceptance/features/webUIRestrictSharing/restrictReSharing.feature
  tests/acceptance/features/webUISharingExternal/federationSharing.feature
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroupUsingExpirationDate.feature
  tests/acceptance/features/webUISharingInternalUsers/shareWithUserUsingExpirationDate.feature
  tests/lib/Share20/ManagerTest.php
Labels: 4 - To release, feature:sharing, minor-release

#36616 Add Tests for checking auth through app passwords and token
  tests/acceptance/features/apiAuth/tokenAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavDELETEAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavLOCKAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavMKCOLAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavMOVEAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavPOSTAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavPROPFINDAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavPROPPATCHAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavPUTAuth.feature
  tests/acceptance/features/bootstrap/Auth.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36613 Allow "+" character in usernames
  changelog/unreleased/36613
  core/Command/User/Add.php
  lib/private/User/Manager.php
  tests/acceptance/features/apiProvisioning-v1/addUser.feature
  tests/acceptance/features/apiProvisioning-v1/deleteUser.feature
  tests/acceptance/features/apiProvisioning-v1/disableUser.feature
  tests/acceptance/features/apiProvisioning-v1/editUser.feature
  tests/acceptance/features/apiProvisioning-v1/enableUser.feature
  tests/acceptance/features/apiProvisioning-v1/getUser.feature
  tests/acceptance/features/apiProvisioning-v2/addUser.feature
  tests/acceptance/features/apiProvisioning-v2/deleteUser.feature
  tests/acceptance/features/apiProvisioning-v2/disableUser.feature
  tests/acceptance/features/apiProvisioning-v2/editUser.feature
  tests/acceptance/features/apiProvisioning-v2/enableUser.feature
  tests/acceptance/features/apiProvisioning-v2/getUser.feature
  tests/acceptance/features/cliProvisioning/addUser.feature
  tests/acceptance/features/webUIAddUsers/addUsers.feature
  tests/lib/User/ManagerTest.php
Labels: 3 - To Review

#36523 Fix warning when resetting user's password with masterkey encryption
  changelog/unreleased/36523
  settings/Controller/UsersController.php
  tests/Settings/Controller/UsersControllerTest.php
Labels: 3 - To Review

#36428 [For 10.4][API] user-sync OCS API
  core/Application.php
  core/Command/User/SyncBackend.php
  core/Controller/UserSyncController.php
  core/routes.php
  lib/private/AppFramework/Middleware/Security/SecurityMiddleware.php
  lib/private/User/SyncService.php
  tests/Core/Controller/UserSyncControllerTest.php
  tests/acceptance/features/apiMain/userSync.feature
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/lib/AppFramework/Middleware/Security/SecurityMiddlewareTest.php
  tests/lib/User/SyncServiceTest.php
Labels: 2 - Developing, QA-team, dev:acceptance-tests, documentation, minor-release

#36624 skipOnOcV10.3 the tests scenarios added or adjusted for 10.4
  tests/acceptance/features/apiMain/userSync.feature
  tests/acceptance/features/apiProvisioning-v1/addUser.feature
  tests/acceptance/features/apiProvisioning-v1/deleteUser.feature
  tests/acceptance/features/apiProvisioning-v1/disableUser.feature
  tests/acceptance/features/apiProvisioning-v1/editUser.feature
  tests/acceptance/features/apiProvisioning-v1/enableUser.feature
  tests/acceptance/features/apiProvisioning-v1/getUser.feature
  tests/acceptance/features/apiProvisioning-v2/addUser.feature
  tests/acceptance/features/apiProvisioning-v2/deleteUser.feature
  tests/acceptance/features/apiProvisioning-v2/disableUser.feature
  tests/acceptance/features/apiProvisioning-v2/editUser.feature
  tests/acceptance/features/apiProvisioning-v2/enableUser.feature
  tests/acceptance/features/apiProvisioning-v2/getUser.feature
  tests/acceptance/features/webUIAddUsers/addUsers.feature
  tests/acceptance/features/webUIRestrictSharing/restrictReSharing.feature
  tests/acceptance/features/webUIRestrictSharing/restrictSharing.feature
  tests/acceptance/features/webUISharingExternal/federationSharing.feature
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
Labels: 4 - To release, QA-p1, QA-team, dev:acceptance-tests

#36628 fix xpath of 'show crud operations button' of secure view sharing
  tests/acceptance/features/lib/FilesPageElement/SharingDialog.php
Labels: 3 - To Review, QA-team

#36627 Acceptance test: Override method Page->open() to handle query param in url
  tests/acceptance/features/lib/OwncloudPage.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36631 Skip on oc v10.3 20191223 for 10.4
  tests/acceptance/features/apiMain/userSync.feature
  tests/acceptance/features/apiProvisioning-v1/addUser.feature
  tests/acceptance/features/apiProvisioning-v1/deleteUser.feature
  tests/acceptance/features/apiProvisioning-v1/disableUser.feature
  tests/acceptance/features/apiProvisioning-v1/editUser.feature
  tests/acceptance/features/apiProvisioning-v1/enableUser.feature
  tests/acceptance/features/apiProvisioning-v1/getUser.feature
  tests/acceptance/features/apiProvisioning-v2/addUser.feature
  tests/acceptance/features/apiProvisioning-v2/deleteUser.feature
  tests/acceptance/features/apiProvisioning-v2/disableUser.feature
  tests/acceptance/features/apiProvisioning-v2/editUser.feature
  tests/acceptance/features/apiProvisioning-v2/enableUser.feature
  tests/acceptance/features/apiProvisioning-v2/getUser.feature
  tests/acceptance/features/webUIAddUsers/addUsers.feature
  tests/acceptance/features/webUIRestrictSharing/restrictReSharing.feature
  tests/acceptance/features/webUIRestrictSharing/restrictSharing.feature
  tests/acceptance/features/webUISharingExternal/federationSharing.feature
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36630 fix xpath of 'show crud operations button' of secure view sharing
  tests/acceptance/features/lib/FilesPageElement/SharingDialog.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36629 Reduce API acceptance test run time
  .drone.starlark
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiShareCreateSpecial/createShareDefaultExpirationDate.feature
  tests/acceptance/features/apiShareCreateSpecial/createShareDefaultFolderForReceivedShares.feature
  tests/acceptance/features/apiShareCreateSpecial/createShareGroupAndUserWithSameName.feature
  tests/acceptance/features/apiShareCreateSpecial/createShareGroupCaseSensitive.feature
  tests/acceptance/features/apiShareCreateSpecial/createShareReceivedInMultipleWays.feature
  tests/acceptance/features/apiShareCreateSpecial/createShareUniqueReceivedNames.feature
  tests/acceptance/features/apiShareCreateSpecial/createShareWhenExcludedFromSharing.feature
  tests/acceptance/features/apiShareCreateSpecial/createShareWhenShareWithOnlyMembershipGroups.feature
  tests/acceptance/features/apiShareCreateSpecial/createShareWithDisabledUser.feature
  tests/acceptance/features/apiShareCreateSpecial/createShareWithInvalidPermissions.feature
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/apiShareOperations/accessToShare.feature
  tests/acceptance/features/apiShareOperations/changingFilesShare.feature
  tests/acceptance/features/apiShareOperations/uploadToShare.feature
  tests/acceptance/features/apiSharePublicLink1/accessToPublicLinkShare.feature
  tests/acceptance/features/apiSharePublicLink1/changingPublicLinkShare.feature
  tests/acceptance/features/apiSharePublicLink1/createPublicLinkShare.feature
  tests/acceptance/features/apiSharePublicLink2/multilinkSharing.feature
  tests/acceptance/features/apiSharePublicLink2/reShareAsPublicLink.feature
  tests/acceptance/features/apiSharePublicLink2/updatePublicLinkShare.feature
  tests/acceptance/features/apiSharePublicLink2/uploadToPublicLinkShare.feature
  tests/acceptance/features/apiShareReshare/reShare.feature
  tests/acceptance/features/apiShareReshare1/reShare.feature
  tests/acceptance/features/apiShareReshare2/reShareChain.feature
  tests/acceptance/features/apiShareReshare2/reShareDisabled.feature
  tests/acceptance/features/apiShareReshare2/reShareSubfolder.feature
  tests/acceptance/features/apiShareReshare2/reShareWhenShareWithOnlyMembershipGroups.feature
  tests/acceptance/features/apiShareReshare2/reShareWithExpiryDate.feature
  tests/acceptance/features/apiShareUpdate/updateShare.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36638 Reduce elapsed time for ci for 10.4
  .drone.starlark
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiShareCreateSpecial/createShareDefaultExpirationDate.feature
  tests/acceptance/features/apiShareCreateSpecial/createShareDefaultFolderForReceivedShares.feature
  tests/acceptance/features/apiShareCreateSpecial/createShareGroupAndUserWithSameName.feature
  tests/acceptance/features/apiShareCreateSpecial/createShareGroupCaseSensitive.feature
  tests/acceptance/features/apiShareCreateSpecial/createShareReceivedInMultipleWays.feature
  tests/acceptance/features/apiShareCreateSpecial/createShareUniqueReceivedNames.feature
  tests/acceptance/features/apiShareCreateSpecial/createShareWhenExcludedFromSharing.feature
  tests/acceptance/features/apiShareCreateSpecial/createShareWhenShareWithOnlyMembershipGroups.feature
  tests/acceptance/features/apiShareCreateSpecial/createShareWithDisabledUser.feature
  tests/acceptance/features/apiShareCreateSpecial/createShareWithInvalidPermissions.feature
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/apiShareOperations/accessToShare.feature
  tests/acceptance/features/apiShareOperations/changingFilesShare.feature
  tests/acceptance/features/apiShareOperations/uploadToShare.feature
  tests/acceptance/features/apiSharePublicLink1/accessToPublicLinkShare.feature
  tests/acceptance/features/apiSharePublicLink1/changingPublicLinkShare.feature
  tests/acceptance/features/apiSharePublicLink1/createPublicLinkShare.feature
  tests/acceptance/features/apiSharePublicLink2/multilinkSharing.feature
  tests/acceptance/features/apiSharePublicLink2/reShareAsPublicLink.feature
  tests/acceptance/features/apiSharePublicLink2/updatePublicLinkShare.feature
  tests/acceptance/features/apiSharePublicLink2/uploadToPublicLinkShare.feature
  tests/acceptance/features/apiShareReshare/reShare.feature
  tests/acceptance/features/apiShareReshare1/reShare.feature
  tests/acceptance/features/apiShareReshare2/reShareChain.feature
  tests/acceptance/features/apiShareReshare2/reShareDisabled.feature
  tests/acceptance/features/apiShareReshare2/reShareSubfolder.feature
  tests/acceptance/features/apiShareReshare2/reShareWhenShareWithOnlyMembershipGroups.feature
  tests/acceptance/features/apiShareReshare2/reShareWithExpiryDate.feature
  tests/acceptance/features/apiShareUpdate/updateShare.feature
Labels: 4 - To release, Drone, QA-team

#36639 Acceptance Tests: Add method to check that tablenodes contain required rows
  tests/acceptance/features/apiAuth/cors.feature
  tests/acceptance/features/apiMain/checksums.feature
  tests/acceptance/features/apiWebdavMove/moveFileAsync.feature
  tests/acceptance/features/apiWebdavOperations/downloadFile.feature
  tests/acceptance/features/apiWebdavOperations/refuseAccess.feature
  tests/acceptance/features/apiWebdavUpload/uploadFileAsyncUsingNewChunking.feature
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/OCSContext.php
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36641 Tests for blacklisted_files and excluded_directories config options
  config/config.sample.php
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiCapabilities/capabilities.feature
  tests/acceptance/features/apiWebdavMove/moveFile.feature
  tests/acceptance/features/apiWebdavMove/moveFileAsync.feature
  tests/acceptance/features/apiWebdavMove/moveFolder.feature
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/webUIRenameFiles/renameFiles.feature
  tests/acceptance/features/webUIRenameFolders/renameFolders.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36626 Adjusted Given-When steps in Encryption context
  tests/acceptance/features/bootstrap/EncryptionContext.php
Labels: 4 - To release, QA-team

#36643 Add tests for upload to a blacklisted or excluded name
  tests/acceptance/features/apiWebdavUpload/uploadFile.feature
  tests/acceptance/features/apiWebdavUpload/uploadFileAsyncUsingNewChunking.feature
  tests/acceptance/features/apiWebdavUpload/uploadFileUsingNewChunking.feature
  tests/acceptance/features/apiWebdavUpload/uploadFileUsingOldChunking.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36648 Update ca bundle
  resources/config/ca-bundle.crt
Labels: 3 - To Review

#36647 Add extra error checks to OwncloudPage open
  tests/acceptance/features/lib/OwncloudPage.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36646 refactor thenTheHTTPStatusCodeShouldBe
  tests/acceptance/features/bootstrap/BasicStructure.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36642 Acceptance tests: Add check for table rows and columns
  tests/acceptance/features/apiAuthWebDav/webDavDELETEAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavLOCKAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavMKCOLAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavMOVEAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavPOSTAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavPROPFINDAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavPROPPATCHAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavPUTAuth.feature
  tests/acceptance/features/apiComments/comments.feature
  tests/acceptance/features/apiComments/createComments.feature
  tests/acceptance/features/apiComments/deleteComments.feature
  tests/acceptance/features/apiComments/editComments.feature
  tests/acceptance/features/bootstrap/Auth.php
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/CapabilitiesContext.php
  tests/acceptance/features/bootstrap/CommentsContext.php
  tests/acceptance/features/bootstrap/OCSContext.php
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/bootstrap/WebDav.php
  tests/acceptance/features/bootstrap/WebDavPropertiesContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36649 Test code for 10.4 20191228
  config/config.sample.php
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiAuth/cors.feature
  tests/acceptance/features/apiAuthWebDav/webDavDELETEAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavLOCKAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavMKCOLAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavMOVEAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavPOSTAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavPROPFINDAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavPROPPATCHAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavPUTAuth.feature
  tests/acceptance/features/apiCapabilities/capabilities.feature
  tests/acceptance/features/apiComments/comments.feature
  tests/acceptance/features/apiComments/createComments.feature
  tests/acceptance/features/apiComments/deleteComments.feature
  tests/acceptance/features/apiComments/editComments.feature
  tests/acceptance/features/apiMain/checksums.feature
  tests/acceptance/features/apiWebdavMove/moveFile.feature
  tests/acceptance/features/apiWebdavMove/moveFileAsync.feature
  tests/acceptance/features/apiWebdavMove/moveFolder.feature
  tests/acceptance/features/apiWebdavOperations/downloadFile.feature
  tests/acceptance/features/apiWebdavOperations/refuseAccess.feature
  tests/acceptance/features/apiWebdavUpload/uploadFile.feature
  tests/acceptance/features/apiWebdavUpload/uploadFileAsyncUsingNewChunking.feature
  tests/acceptance/features/apiWebdavUpload/uploadFileUsingNewChunking.feature
  tests/acceptance/features/apiWebdavUpload/uploadFileUsingOldChunking.feature
  tests/acceptance/features/bootstrap/Auth.php
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/CapabilitiesContext.php
  tests/acceptance/features/bootstrap/CommentsContext.php
  tests/acceptance/features/bootstrap/EncryptionContext.php
  tests/acceptance/features/bootstrap/OCSContext.php
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/bootstrap/WebDav.php
  tests/acceptance/features/bootstrap/WebDavPropertiesContext.php
  tests/acceptance/features/lib/OwncloudPage.php
  tests/acceptance/features/webUIRenameFiles/renameFiles.feature
  tests/acceptance/features/webUIRenameFolders/renameFolders.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36650 Adjusted combined given-when steps in OccUsersGroup context
  tests/acceptance/features/bootstrap/OccUsersGroupsContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36636 Adjusted combined given-when steps in FavoritesContext
  tests/acceptance/features/bootstrap/FavoritesContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36651 Acceptance Test: Add checks for TableNode rows, columns and row counts #2
  tests/acceptance/features/apiFederation/federated.feature
  tests/acceptance/features/apiShareOperations/uploadToShare.feature
  tests/acceptance/features/apiTrashbin/trashbinRestore.feature
  tests/acceptance/features/apiWebdavUpload/uploadFileAsyncUsingNewChunking.feature
  tests/acceptance/features/apiWebdavUpload/uploadFileUsingNewChunking.feature
  tests/acceptance/features/apiWebdavUpload/uploadFileUsingOldChunking.feature
  tests/acceptance/features/bootstrap/AppManagementContext.php
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/bootstrap/ShareesContext.php
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/bootstrap/WebDav.php
  tests/acceptance/features/cliMain/transfer-ownership.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36640 Adjusted combined given-when steps in Logging context
  tests/TestHelpers/LoggingHelper.php
  tests/acceptance/features/bootstrap/Logging.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36625 Adjusted Given-When steps in ChecksumContext
  tests/acceptance/features/bootstrap/ChecksumContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36661 Dependency bumps 20191231
  changelog/unreleased/36659
  changelog/unreleased/36660
  changelog/unreleased/36661-1
  changelog/unreleased/36661-2
  changelog/unreleased/36661-3
  composer.lock
Labels: 3 - To Review, dependencies, php

#36663 Adjusted occ command in OCC context
  tests/acceptance/features/bootstrap/OccContext.php
Labels: 4 - To release, QA-team

#36653 Acceptance Tests: Add check for TableNode rows, columns and columns count #3
  tests/TestHelpers/Asserts/WebDav.php
  tests/acceptance/features/apiSharePublicLink2/multilinkSharing.feature
  tests/acceptance/features/apiSharingNotifications/sharingNotifications.feature
  tests/acceptance/features/apiTags/assignTags.feature
  tests/acceptance/features/apiTags/createTags.feature
  tests/acceptance/features/apiTags/deleteTags.feature
  tests/acceptance/features/apiTags/editTags.feature
  tests/acceptance/features/apiTags/retreiveTags.feature
  tests/acceptance/features/apiTags/unassignTags.feature
  tests/acceptance/features/bootstrap/NotificationsCoreContext.php
  tests/acceptance/features/bootstrap/SearchContext.php
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/bootstrap/TagsContext.php
  tests/acceptance/features/bootstrap/TrashbinContext.php
  tests/acceptance/features/bootstrap/WebDav.php
  tests/acceptance/features/bootstrap/WebDavLockingContext.php
  tests/acceptance/features/bootstrap/WebDavPropertiesContext.php
  tests/acceptance/features/webUITags/createTags.feature
  tests/acceptance/features/webUITags/deleteTags.feature
  tests/acceptance/features/webUITags/editTags.feature
  tests/acceptance/features/webUITags/removeTags.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36662 Acceptance Tests: Add check for TableNode rows, columns and columns count #4
  tests/acceptance/features/bootstrap/OccAppManagementContext.php
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/bootstrap/OccUsersGroupsContext.php
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
  tests/acceptance/features/bootstrap/WebUINotificationsContext.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/bootstrap/WebUIUsersContext.php
Labels: QA-team, dev:acceptance-tests

#36652 Adjusted combined given-when steps in OCS Context
  tests/acceptance/features/bootstrap/OCSContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36667 Adjusted combined given-when steps in TransferOwnership context
  tests/acceptance/features/bootstrap/TransferOwnershipContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36668 Acceptance tests: Fix step for uploadingfile with old chunking
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests
