Repository owncloud/core, pull requests merged in 2020-09, with the labels that each got.

#37865 [Tests-Only] Improve error reporting for various tests
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/bootstrap/WebDav.php
Labels: QA-team

#37866 [Tests-Only] Enable Provisioning Api Tests for OCIS
  tests/acceptance/features/apiProvisioning-v1/addUser.feature
  tests/acceptance/features/apiProvisioning-v1/apiProvisioningUsingAppPassword.feature
  tests/acceptance/features/apiProvisioning-v1/createSubAdmin.feature
  tests/acceptance/features/apiProvisioning-v1/deleteUser.feature
  tests/acceptance/features/apiProvisioning-v1/disableApp.feature
  tests/acceptance/features/apiProvisioning-v1/disableUser.feature
  tests/acceptance/features/apiProvisioning-v1/editUser.feature
  tests/acceptance/features/apiProvisioning-v1/enableApp.feature
  tests/acceptance/features/apiProvisioning-v1/enableUser.feature
  tests/acceptance/features/apiProvisioning-v1/getAppInfo.feature
  tests/acceptance/features/apiProvisioning-v1/getApps.feature
  tests/acceptance/features/apiProvisioning-v1/getSubAdmins.feature
  tests/acceptance/features/apiProvisioning-v1/getUser.feature
  tests/acceptance/features/apiProvisioning-v1/getUsers.feature
  tests/acceptance/features/apiProvisioning-v1/resetUserPassword.feature
  tests/acceptance/features/apiProvisioning-v2/addUser.feature
  tests/acceptance/features/apiProvisioning-v2/apiProvisioningUsingAppPassword.feature
  tests/acceptance/features/apiProvisioning-v2/createSubAdmin.feature
  tests/acceptance/features/apiProvisioning-v2/deleteUser.feature
  tests/acceptance/features/apiProvisioning-v2/disableApp.feature
  tests/acceptance/features/apiProvisioning-v2/disableUser.feature
  tests/acceptance/features/apiProvisioning-v2/editUser.feature
  tests/acceptance/features/apiProvisioning-v2/enableApp.feature
  tests/acceptance/features/apiProvisioning-v2/enableUser.feature
  tests/acceptance/features/apiProvisioning-v2/getAppInfo.feature
  tests/acceptance/features/apiProvisioning-v2/getApps.feature
  tests/acceptance/features/apiProvisioning-v2/getSubAdmins.feature
  tests/acceptance/features/apiProvisioning-v2/getUser.feature
  tests/acceptance/features/apiProvisioning-v2/getUsers.feature
  tests/acceptance/features/apiProvisioning-v2/resetUserPassword.feature
Labels: QA-team

#37863 [Tests-Only] Run multiple tests for trashbinFilesFolders
  tests/acceptance/features/apiTrashbin/trashbinFilesFolders.feature
Labels: 3 - To Review, QA-team

#37868 [Tests-Only] Improve acceptance test error handling
  tests/TestHelpers/AppConfigHelper.php
  tests/TestHelpers/Asserts/WebDav.php
  tests/TestHelpers/HttpRequestHelper.php
  tests/TestHelpers/LoggingHelper.php
  tests/TestHelpers/SetupHelper.php
  tests/TestHelpers/TagsHelper.php
  tests/TestHelpers/UserHelper.php
  tests/TestHelpers/WebDavHelper.php
  tests/acceptance/features/bootstrap/AppConfigurationContext.php
  tests/acceptance/features/bootstrap/CalDavContext.php
  tests/acceptance/features/bootstrap/CapabilitiesContext.php
  tests/acceptance/features/bootstrap/CommentsContext.php
  tests/acceptance/features/bootstrap/CorsContext.php
  tests/acceptance/features/bootstrap/EncryptionContext.php
  tests/acceptance/features/bootstrap/FeatureContext.php
  tests/acceptance/features/bootstrap/FederationContext.php
  tests/acceptance/features/bootstrap/FilesVersionsContext.php
  tests/acceptance/features/bootstrap/OCSContext.php
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/bootstrap/ShareesContext.php
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/bootstrap/TagsContext.php
  tests/acceptance/features/bootstrap/TrashbinContext.php
  tests/acceptance/features/bootstrap/WebDav.php
  tests/acceptance/features/bootstrap/WebDavLockingContext.php
  tests/acceptance/features/bootstrap/WebDavPropertiesContext.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37870 Update doctrine/dbal (2.10.2 => 2.10.3)
  changelog/unreleased/37870
  composer.lock
Labels: 4 - To release, dependencies, php

#37871 [Tests-Only] Fix case of tag notToImplementOnOCIS
  tests/acceptance/features/apiTrashbin/trashbinFilesFolders.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37873 [Tests-Only] subadmin and app-enable-disable-list are notToImplementOnOCIS
  tests/acceptance/features/apiProvisioning-v1/disableApp.feature
  tests/acceptance/features/apiProvisioning-v1/enableApp.feature
  tests/acceptance/features/apiProvisioning-v1/getAppInfo.feature
  tests/acceptance/features/apiProvisioning-v1/getApps.feature
  tests/acceptance/features/apiProvisioning-v1/getSubAdmins.feature
  tests/acceptance/features/apiProvisioning-v2/disableApp.feature
  tests/acceptance/features/apiProvisioning-v2/enableApp.feature
  tests/acceptance/features/apiProvisioning-v2/getAppInfo.feature
  tests/acceptance/features/apiProvisioning-v2/getApps.feature
  tests/acceptance/features/apiProvisioning-v2/getSubAdmins.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37874 [Tests-Only] Fix add users in provisioning api when testing on ocis
  tests/acceptance/features/apiProvisioning-v1/createSubAdmin.feature
  tests/acceptance/features/apiProvisioning-v2/createSubAdmin.feature
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: QA-team

#37876 Update Symfony components to 4.4.13
  changelog/unreleased/37876
  composer.lock
Labels: 3 - To Review, dependencies, php

#37879 [Tests-Only] Remove some toImplementOnOCIS tags
  tests/acceptance/features/apiComments/comments.feature
  tests/acceptance/features/apiComments/createComments.feature
  tests/acceptance/features/apiComments/deleteComments.feature
  tests/acceptance/features/apiComments/editComments.feature
  tests/acceptance/features/apiSharingNotifications/sharingNotifications.feature
  tests/acceptance/features/apiTags/assignTags.feature
  tests/acceptance/features/apiTags/assignTagsGroup.feature
  tests/acceptance/features/apiTags/createTags.feature
  tests/acceptance/features/apiTags/deleteTags.feature
  tests/acceptance/features/apiTags/editTags.feature
  tests/acceptance/features/apiTags/retreiveTags.feature
  tests/acceptance/features/apiTags/unassignTags.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37861 [Tests-Only] Split UpdaterLegacyTest overwrite and write-new-file unit tests
  tests/lib/Files/Cache/UpdaterLegacyTest.php
Labels: 3 - To Review, QA-team, dev:phpunit-tests

#37880 [Tests-Only] Make scenario outline for creating a share with no permissions
  tests/acceptance/features/apiShareCreateSpecial1/createShareExpirationDate.feature
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37885 [Tests-Only] Add test scenarios for get all and disabled apps with API
  tests/acceptance/features/apiProvisioning-v1/getApps.feature
  tests/acceptance/features/apiProvisioning-v2/getApps.feature
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37889 [Tests-Only] Acceptance tests for issue 37883
  tests/acceptance/features/apiShareManagement/acceptSharesToSharesFolder.feature
  tests/acceptance/features/apiShareManagement/acceptSharesToSharesFolderOc10Issue37883.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37893 Update phpseclib/phpseclib (2.0.28 => 2.0.29)
  apps/files_external/3rdparty/composer.lock
  apps/files_external/3rdparty/composer/installed.json
  apps/files_external/3rdparty/phpseclib/phpseclib/README.md
  apps/files_external/3rdparty/phpseclib/phpseclib/composer.json
  apps/files_external/3rdparty/phpseclib/phpseclib/phpseclib/Crypt/RSA.php
  apps/files_external/3rdparty/phpseclib/phpseclib/phpseclib/File/X509.php
  apps/files_external/3rdparty/phpseclib/phpseclib/phpseclib/Net/SFTP.php
  apps/files_external/3rdparty/phpseclib/phpseclib/phpseclib/Net/SSH2.php
  changelog/unreleased/37893
  composer.lock
Labels: 3 - To Review, dependencies, php

#37897 [Tests-Only] Add ability to dump request and response data during tests
  tests/TestHelpers/HttpRequestHelper.php
Labels: 3 - To Review

#37881 [Tests-Only] Refactor createShareToShareFolder.feature to use Shares folder
  .drone.star
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiShareManagement/acceptShares.feature
  tests/acceptance/features/apiShareManagement/acceptSharesToSharesFolder.feature
  tests/acceptance/features/apiShareManagement/acceptSharesToSharesFolderOc10Issue37883.feature
  tests/acceptance/features/apiShareOperations/accessToShare.feature
  tests/acceptance/features/apiShareOperations/gettingShares.feature
  tests/acceptance/features/apiShareToRootManagementBasic/createShareToRootFolder.feature
  tests/acceptance/features/apiShareToRootManagementBasic/deleteShareFromRoot.feature
  tests/acceptance/features/apiShareToRootManagementBasic/excludeGroupFromReceivingShares.feature
  tests/acceptance/features/apiShareToSharesManagementBasic/createShareToSharesFolder.feature
  tests/acceptance/features/apiShareToSharesManagementBasic/deleteShareFromShares.feature
  tests/acceptance/features/apiShareToSharesManagementBasic/excludeGroupFromReceivingSharesToSharesFolder.feature
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/bootstrap/WebDav.php
  tests/acceptance/features/webUISharingAcceptShares/acceptShares.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#37902 [Tests-Only] Make PROPFIND response href test checks more flexible
  tests/acceptance/features/apiWebdavProperties2/getFileProperties.feature
  tests/acceptance/features/bootstrap/WebDavPropertiesContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37904 PHP Dependency Bumps
  changelog/unreleased/37904
  changelog/unreleased/37904-1
  composer.lock
Labels: 3 - To Review, dependencies, php

#37905 Fix doc in Share\IManager
  lib/public/Share/IManager.php
Labels: 3 - To Review, changelog-ignored, technical debt

#37813 Include new options for the license manager
  lib/private/License/LicenseManager.php
  lib/public/License/ILicenseManager.php
  tests/lib/License/LicenseManagerTest.php
Labels: 3 - To Review

#37906 Bump core ownCloud version to 10.6.0alpha1
  version.php
Labels: 4 - To release

#37908 [Tests-Only] Fix case in function name
  tests/acceptance/features/bootstrap/PublicWebDavContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37896 Very minimal empty ODF files
  changelog/unreleased/37896
  core/templates/filetemplates/template.odp
  core/templates/filetemplates/template.ods
  core/templates/filetemplates/template.odt
Labels: 3 - To Review

#37909 [Tests-Only] wait until delete-confirm dialog is visible for user and group UI tests
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/lib/FilesPage.php
  tests/acceptance/features/lib/FilesPageCRUD.php
  tests/acceptance/features/lib/FilesPageElement/LockDialog.php
  tests/acceptance/features/lib/FilesPageElement/LockDialogElement/LockEntry.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialog.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialogElement/PublicLinkTab.php
  tests/acceptance/features/lib/PublicLinkFilesPage.php
  tests/acceptance/features/lib/SharedByLinkPage.php
  tests/acceptance/features/lib/SharedWithYouPage.php
  tests/acceptance/features/lib/UserPageElement/GroupList.php
  tests/acceptance/features/lib/UsersPage.php
Labels: QA-team, dev:acceptance-tests

#37888 [Tests-Only] Fix timing problem in testScanShareInvalidLastScan
  apps/files_sharing/tests/External/ScanExternalSharesJobTest.php
Labels: 3 - To Review, dev:phpunit-tests

#37867 Add ability to explicitly set an license implementation via system co…
  changelog/unreleased/37827
  lib/base.php
  lib/private/License/ILicense.php
  lib/private/License/LicenseFetcher.php
  lib/private/License/LicenseManager.php
  lib/public/License/ILicenseManager.php
  tests/lib/License/LicenseFetcherTest.php
Labels: 3 - To Review

#37913 [Tests-Only] Report HTTP status when file content is wrong
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#37322 this->l holds wrong app and translations cannot be found
  changelog/unreleased/37321
  lib/private/Share/MailNotifications.php
Labels: 3 - To Review

#37915 [Tests-Only] Add behat-stepthroughextension to acceptance test runner
  tests/acceptance/config/behat.yml
  tests/acceptance/run.sh
  vendor-bin/behat/composer.json
Labels: 4 - To release, QA-team, dev:acceptance-tests

#37901 List all apps with cloud/apps API endpoint
  apps/provisioning_api/lib/Apps.php
  apps/provisioning_api/tests/AppsTest.php
  changelog/unreleased/37884
  lib/private/legacy/app.php
  tests/acceptance/features/apiProvisioning-v1/getApps.feature
  tests/acceptance/features/apiProvisioning-v2/getApps.feature
Labels: 3 - To Review

#37875 redesign ugly, yellow notification center
  changelog/unreleased/37875
  core/css/styles.css
  core/img/actions/close-red.svg
  core/img/actions/exclamation-triangle-solid.svg
  core/js/integritycheck-failed-notification.js
  core/js/js.js
  core/js/license-state-notification.js
  core/js/tests/specs/coreSpec.js
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
  tests/acceptance/features/lib/OwncloudPage.php
  tests/acceptance/features/webUIAddUsers/addUsers.feature
  tests/acceptance/features/webUIWebdavLocks/unlock.feature
Labels: 3 - To Review, enhancement

#37917 [Tests-Only] Do not overwrite user information when testing duplicate user creation
  tests/acceptance/features/bootstrap/FeatureContext.php
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/bootstrap/OccUsersGroupsContext.php
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37916 [Tests-Only] Refactor apiShareReshare1 to use Shares folder
  .drone.star
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiShareReshareToRoot1/reShare.feature
  tests/acceptance/features/apiShareReshareToShares1/reShare.feature
Labels: 3 - To Review, QA-team

#37918 [Tests-Only] Refactor apiShareReshare3 to use Shares folder
  .drone.star
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiShareReshareToRoot3/reShareUpdate.feature
  tests/acceptance/features/apiShareReshareToRoot3/reShareWithExpiryDate.feature
  tests/acceptance/features/apiShareReshareToShares3/reShareUpdate.feature
  tests/acceptance/features/apiShareReshareToShares3/reShareWithExpiryDate.feature
Labels: 3 - To Review, QA-team

#37919 [Tests-Only] Refactor reshare2 test suite to use root and share folder
  .drone.star
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiShareReshareToRoot2/reShareChain.feature
  tests/acceptance/features/apiShareReshareToRoot2/reShareDisabled.feature
  tests/acceptance/features/apiShareReshareToRoot2/reShareSubfolder.feature
  tests/acceptance/features/apiShareReshareToRoot2/reShareWhenShareWithOnlyMembershipGroups.feature
  tests/acceptance/features/apiShareReshareToShares2/reShareChain.feature
  tests/acceptance/features/apiShareReshareToShares2/reShareDisabled.feature
  tests/acceptance/features/apiShareReshareToShares2/reShareSubfolder.feature
  tests/acceptance/features/apiShareReshareToShares2/reShareWhenShareWithOnlyMembershipGroups.feature
Labels: QA-team, dev:acceptance-tests

#37920 [Tests-Only] Enable apiShareReshareToShares3 tests on OCIS
  tests/acceptance/features/apiShareReshareToShares3/reShareUpdate.feature
  tests/acceptance/features/apiShareReshareToShares3/reShareWithExpiryDate.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37921 Update PHP dependencies
  changelog/unreleased/37921
  changelog/unreleased/37921-2
  composer.lock
Labels: 3 - To Review, dependencies, php

#37922 [Tests-Only] Skip new and changed tests on old ownCloud10
  tests/acceptance/features/apiProvisioning-v1/getApps.feature
  tests/acceptance/features/apiProvisioning-v2/getApps.feature
  tests/acceptance/features/webUIWebdavLocks/unlock.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#37923 Add new defaults for the icon and label of the phoenix menu item
  changelog/unreleased/37923
  core/img/apps/phoenix.svg
  lib/private/NavigationManager.php
Labels: 3 - To Review

#37937 [Tests-Only] Skip troubleshoot-transfer-ownership tests on old oC10
  tests/acceptance/features/cliMain/transfer-ownership.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37928 [Tests-Only] Refactor apiShareNotifications to use Shares folder
  .drone.star
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiSharingNotificationsRoot/sharingNotifications.feature
  tests/acceptance/features/apiSharingNotificationsShares/sharingNotifications.feature
Labels: 3 - To Review, QA-team

#37930 [Tests-Only] refactor shareOperations test suite for Shares subfolder and root
  .drone.star
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiShareOperationsToRoot/accessToShare.feature
  tests/acceptance/features/apiShareOperationsToRoot/changingFilesShare.feature
  tests/acceptance/features/apiShareOperationsToRoot/getWebDAVSharePermissions.feature
  tests/acceptance/features/apiShareOperationsToRoot/gettingShares.feature
  tests/acceptance/features/apiShareOperationsToRoot/uploadToShare.feature
  tests/acceptance/features/apiShareOperationsToShares/accessToShare.feature
  tests/acceptance/features/apiShareOperationsToShares/changingFilesShare.feature
  tests/acceptance/features/apiShareOperationsToShares/getWebDAVSharePermissions.feature
  tests/acceptance/features/apiShareOperationsToShares/gettingShares.feature
  tests/acceptance/features/apiShareOperationsToShares/uploadToShare.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37929 [Tests-Only] Refactor apiShareCreateSpecial2 to use Shares folder
  .drone.star
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiShareCreateSpecialRoot2/createShareDefaultFolderForReceivedShares.feature
  tests/acceptance/features/apiShareCreateSpecialRoot2/createShareGroupAndUserWithSameName.feature
  tests/acceptance/features/apiShareCreateSpecialRoot2/createShareGroupCaseSensitive.feature
  tests/acceptance/features/apiShareCreateSpecialRoot2/createShareWhenShareWithOnlyMembershipGroups.feature
  tests/acceptance/features/apiShareCreateSpecialRoot2/createShareWithDisabledUser.feature
  tests/acceptance/features/apiShareCreateSpecialRoot2/createShareWithInvalidPermissions.feature
  tests/acceptance/features/apiShareCreateSpecialShares2/createShareDefaultFolderForReceivedShares.feature
  tests/acceptance/features/apiShareCreateSpecialShares2/createShareGroupAndUserWithSameName.feature
  tests/acceptance/features/apiShareCreateSpecialShares2/createShareGroupCaseSensitive.feature
  tests/acceptance/features/apiShareCreateSpecialShares2/createShareWhenShareWithOnlyMembershipGroups.feature
  tests/acceptance/features/apiShareCreateSpecialShares2/createShareWithDisabledUser.feature
  tests/acceptance/features/apiShareCreateSpecialShares2/createShareWithInvalidPermissions.feature
Labels: 4 - To release, QA-team

#37927 [Tests-Only] refactor updateShare suite for Shares subfolder and root
  .drone.star
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiShareUpdateToRoot/updateShare.feature
  tests/acceptance/features/apiShareUpdateToRoot/updateShareGroupAndUserWithSameName.feature
  tests/acceptance/features/apiShareUpdateToShares/updateShare.feature
  tests/acceptance/features/apiShareUpdateToShares/updateShareGroupAndUserWithSameName.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37936 [Tests-Only] refactor shareManagement test suite for Shares subfolder and root
  .drone.star
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiShareManagementToRoot/acceptShares.feature
  tests/acceptance/features/apiShareManagementToRoot/acceptSharesToSharesFolderOc10Issue37883.feature
  tests/acceptance/features/apiShareManagementToRoot/disableSharing.feature
  tests/acceptance/features/apiShareManagementToRoot/mergeShare.feature
  tests/acceptance/features/apiShareManagementToRoot/moveReceivedShare.feature
  tests/acceptance/features/apiShareManagementToShares/acceptShares.feature
  tests/acceptance/features/apiShareManagementToShares/acceptSharesToSharesFolder.feature
  tests/acceptance/features/apiShareManagementToShares/mergeShare.feature
  tests/acceptance/features/apiShareManagementToShares/moveReceivedShare.feature
  tests/acceptance/features/bootstrap/OccContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37943 [Tests-Only] Have separate scenarios for public link share of root folder on oC10 and OCIS
  tests/acceptance/features/apiSharePublicLink1/createPublicLinkShare.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37945 Fix display of public link shares in case avatars are disabled
  apps/files/js/filelist.js
  changelog/unreleased/37945
Labels: 3 - To Review

#37949 PHP dependencies 20200927
  changelog/unreleased/37949-1
  changelog/unreleased/37949-2
  composer.lock
Labels: 3 - To Review

#37938 [Tests-Only] Refactor apiShareCreateSpecial1 to use Shares folder
  .drone.star
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiShareCreateSpecialRoot1/createShareExpirationDate.feature
  tests/acceptance/features/apiShareCreateSpecialRoot1/createShareReceivedInMultipleWays.feature
  tests/acceptance/features/apiShareCreateSpecialRoot1/createShareUniqueReceivedNames.feature
  tests/acceptance/features/apiShareCreateSpecialRoot1/createShareWhenExcludedFromSharing.feature
  tests/acceptance/features/apiShareCreateSpecialShares1/createShareExpirationDate.feature
  tests/acceptance/features/apiShareCreateSpecialShares1/createShareReceivedInMultipleWays.feature
  tests/acceptance/features/apiShareCreateSpecialShares1/createShareUniqueReceivedNames.feature
  tests/acceptance/features/apiShareCreateSpecialShares1/createShareWhenExcludedFromSharing.feature
Labels: 4 - To release, QA-team

#37955 [Tests-Only] Fixup API sharing test suite names
  .drone.star
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiShareCreateSpecialToRoot1/createShareExpirationDate.feature
  tests/acceptance/features/apiShareCreateSpecialToRoot1/createShareReceivedInMultipleWays.feature
  tests/acceptance/features/apiShareCreateSpecialToRoot1/createShareUniqueReceivedNames.feature
  tests/acceptance/features/apiShareCreateSpecialToRoot1/createShareWhenExcludedFromSharing.feature
  tests/acceptance/features/apiShareCreateSpecialToRoot2/createShareDefaultFolderForReceivedShares.feature
  tests/acceptance/features/apiShareCreateSpecialToRoot2/createShareGroupAndUserWithSameName.feature
  tests/acceptance/features/apiShareCreateSpecialToRoot2/createShareGroupCaseSensitive.feature
  tests/acceptance/features/apiShareCreateSpecialToRoot2/createShareWhenShareWithOnlyMembershipGroups.feature
  tests/acceptance/features/apiShareCreateSpecialToRoot2/createShareWithDisabledUser.feature
  tests/acceptance/features/apiShareCreateSpecialToRoot2/createShareWithInvalidPermissions.feature
  tests/acceptance/features/apiShareCreateSpecialToShares1/createShareExpirationDate.feature
  tests/acceptance/features/apiShareCreateSpecialToShares1/createShareReceivedInMultipleWays.feature
  tests/acceptance/features/apiShareCreateSpecialToShares1/createShareUniqueReceivedNames.feature
  tests/acceptance/features/apiShareCreateSpecialToShares1/createShareWhenExcludedFromSharing.feature
  tests/acceptance/features/apiShareCreateSpecialToShares2/createShareDefaultFolderForReceivedShares.feature
  tests/acceptance/features/apiShareCreateSpecialToShares2/createShareGroupAndUserWithSameName.feature
  tests/acceptance/features/apiShareCreateSpecialToShares2/createShareGroupCaseSensitive.feature
  tests/acceptance/features/apiShareCreateSpecialToShares2/createShareWhenShareWithOnlyMembershipGroups.feature
  tests/acceptance/features/apiShareCreateSpecialToShares2/createShareWithDisabledUser.feature
  tests/acceptance/features/apiShareCreateSpecialToShares2/createShareWithInvalidPermissions.feature
  tests/acceptance/features/apiShareManagementBasicToRoot/createShareToRootFolder.feature
  tests/acceptance/features/apiShareManagementBasicToRoot/deleteShareFromRoot.feature
  tests/acceptance/features/apiShareManagementBasicToRoot/excludeGroupFromReceivingShares.feature
  tests/acceptance/features/apiShareManagementBasicToShares/createShareToSharesFolder.feature
  tests/acceptance/features/apiShareManagementBasicToShares/deleteShareFromShares.feature
  tests/acceptance/features/apiShareManagementBasicToShares/excludeGroupFromReceivingSharesToSharesFolder.feature
  tests/acceptance/features/apiSharingNotificationsToRoot/sharingNotifications.feature
  tests/acceptance/features/apiSharingNotificationsToShares/sharingNotifications.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37947 Clean preferences only if they exist
  changelog/unreleased/37947
  lib/private/User/SyncService.php
Labels: 3 - To Review

#37907 Reduce the log level for locked exceptions
  apps/dav/lib/Connector/Sabre/ExceptionLoggerPlugin.php
  apps/dav/tests/unit/Connector/Sabre/RequestTest/ExceptionPlugin.php
  changelog/unreleased/37907
  lib/private/Log.php
Labels: 4 - To release

#37958 [Tests-Only] Do not run long tests after PR merge
  .drone.star
Labels: 3 - To Review

#35980 Properly clean up `configkey` values from oc_appconfig table when disabling encryption
  changelog/unreleased/35980
  core/Command/Encryption/Disable.php
  core/register_command.php
  tests/Core/Command/Encryption/DisableTest.php
Labels: 4 - To release
