Repository owncloud/core, pull requests merged in 2020-03, with the labels that each got.

#36978 Better handling of DB timeouts on long downloads
  changelog/unreleased/36978
  lib/private/Files/Storage/Wrapper/Checksum.php
  lib/private/Files/View.php
Labels: 3 - To Review

#37057 Add changelog for 37020 'dot in database name'
  changelog/unreleased/37020
Labels: 4 - To release

#37058 Fixes #36920 - custom properties are now properly set on REPORT with …
  apps/dav/lib/DAV/FileCustomPropertiesBackend.php
  changelog/unreleased/37058
  tests/acceptance/features/apiWebdavProperties/getFileProperties.feature
Labels: 3 - To Review

#37061 [Tests-Only] skipOnOcV10.3 test scenario for issue 36920
  tests/acceptance/features/apiWebdavProperties/getFileProperties.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#37064 [Tests-Only] Add shareapi_allow_mail_notification to default sharing settings for tests
  tests/acceptance/features/bootstrap/Sharing.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#37066 [Tests-Only] Test privateLinks and privateLinksDetailsParam capabilities
  tests/acceptance/features/apiCapabilities/capabilities.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#37063 Bump core version to 10.4.1
  version.php
Labels: 4 - To release

#36865 show reshare public links to the original share owner
  changelog/unreleased/36865
  core/js/shareitemmodel.js
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialogElement/PublicLinkTab.php
  tests/acceptance/features/webUISharingInternalUsers1/createShareWithUsers.feature
Labels: 4 - To release, QA-p2, QA-team

#37068 [Tests-Only] move cliIncomingShares.feature to cliExternalStorage test suite
  tests/acceptance/config/behat.yml
  tests/acceptance/features/cliExternalStorage/cliIncomingShares.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#37060 empty extension of Google drive file should not cause dot to be appended to file name
  apps/files_external/lib/Lib/Storage/Google.php
  changelog/unreleased/37044
Labels: 4 - To release

#37038 Initialize the user before transfer-ownership
  apps/files/lib/Command/TransferOwnership.php
  apps/files/tests/Command/TransferOwnershipTest.php
  changelog/unreleased/37038
Labels: 3 - To Review

#37073 [Tests-Only] skipOnOcV10.4.0 things fixed for 10.4.1
  tests/acceptance/features/apiWebdavProperties/getFileProperties.feature
  tests/acceptance/features/webUISharingInternalUsers1/createShareWithUsers.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#37075 [Tests-only] Add dav path for custom groups
  tests/TestHelpers/WebDavHelper.php
Labels: 4 - To release, QA-team

#37055 [Tests-Only] Added test scenario to retrieve comments details
  tests/TestHelpers/WebDavHelper.php
  tests/acceptance/features/apiComments/comments.feature
  tests/acceptance/features/apiShareOperations/getWebDAVSharePermissions.feature
  tests/acceptance/features/apiWebdavLocks/folder.feature
  tests/acceptance/features/apiWebdavLocks/publicLinkLockdiscovery.feature
  tests/acceptance/features/apiWebdavLocks2/setTimeout.feature
  tests/acceptance/features/apiWebdavProperties/createFolder.feature
  tests/acceptance/features/apiWebdavProperties/getFileProperties.feature
  tests/acceptance/features/apiWebdavProperties/getQuota.feature
  tests/acceptance/features/bootstrap/CommentsContext.php
  tests/acceptance/features/bootstrap/WebDavPropertiesContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#37074 [Tests-Only] Separate blacklisted files test scenarios
  tests/acceptance/features/apiWebdavMove1/moveFileAsync.feature
  tests/acceptance/features/apiWebdavMove1/moveFileToBlacklistedNameAsync.feature
  tests/acceptance/features/apiWebdavMove1/moveFileToExcludedDirectoryAsync.feature
  tests/acceptance/features/apiWebdavMove1/moveFolder.feature
  tests/acceptance/features/apiWebdavMove1/moveFolderToBlacklistedName.feature
  tests/acceptance/features/apiWebdavMove1/moveFolderToExcludedDirectory.feature
  tests/acceptance/features/apiWebdavMove2/moveFile.feature
  tests/acceptance/features/apiWebdavMove2/moveFileToBlacklistedName.feature
  tests/acceptance/features/apiWebdavMove2/moveFileToExcludedDirectory.feature
  tests/acceptance/features/apiWebdavUpload1/uploadFile.feature
  tests/acceptance/features/apiWebdavUpload1/uploadFileAsyncUsingNewChunking.feature
  tests/acceptance/features/apiWebdavUpload1/uploadFileToBlacklistedName.feature
  tests/acceptance/features/apiWebdavUpload1/uploadFileToBlacklistedNameAsyncUsingNewChunking.feature
  tests/acceptance/features/apiWebdavUpload1/uploadFileToExcludedDirectory.feature
  tests/acceptance/features/apiWebdavUpload1/uploadFileToExcludedDirectoryAsyncUsingNewChunking.feature
  tests/acceptance/features/apiWebdavUpload2/uploadFileToBlacklistedNameUsingNewChunking.feature
  tests/acceptance/features/apiWebdavUpload2/uploadFileToBlacklistedNameUsingOldChunking.feature
  tests/acceptance/features/apiWebdavUpload2/uploadFileToExcludedDirectoryUsingNewChunking.feature
  tests/acceptance/features/apiWebdavUpload2/uploadFileToExcludedDirectoryUsingOldChunking.feature
  tests/acceptance/features/apiWebdavUpload2/uploadFileUsingNewChunking.feature
  tests/acceptance/features/apiWebdavUpload2/uploadFileUsingOldChunking.feature
  tests/acceptance/features/webUIRenameFiles/renameFile.feature
  tests/acceptance/features/webUIRenameFiles/renameFileToBlacklistedName.feature
  tests/acceptance/features/webUIRenameFiles/renameFileToExcludedDirectory.feature
  tests/acceptance/features/webUIRenameFolders/renameFolders.feature
  tests/acceptance/features/webUIRenameFolders/renameFoldersToBlacklistedName.feature
  tests/acceptance/features/webUIRenameFolders/renameFoldersToExcludedDirectory.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37070 [Tests-Only] Enable correct testing of ocis-reva#22
  tests/acceptance/features/apiVersions/fileVersions.feature
Labels: Acceptance tests

#37069 [Tests-Only] Add acceptance test for translated response messages
  .drone.star
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiTranslation/translation.feature
  tests/acceptance/features/bootstrap/OCSContext.php
  tests/acceptance/features/bootstrap/Sharing.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#37053 fix remaining time estimation for public link uploads
  apps/files/js/file-upload.js
  changelog/unreleased/37053
Labels: 3 - To Review

#37077 [Tests-Only] Add acceptance test to assert that original content can all be seen by federated share receiver
  tests/acceptance/features/apiFederation/federated.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37091 [Tests-only] Skip Test failing on ldap
  tests/acceptance/features/cliLocalStorage/scanLocalStorage.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#37078 [Tests-Only] Enable testRecursive in Archive/TARTest.php
  tests/data/archive/data.tar.gz
  tests/data/archive/data.zip
  tests/data/archive/lorem.txt
  tests/lib/Archive/TARTest.php
  tests/lib/Archive/TestBase.php
  tests/lib/Archive/ZIPTest.php
Labels: 3 - To Review, QA-team, dev:phpunit-tests

#37081 [Tests-Only] Acceptance test to assert sharer can change files or folders in the federated share
  tests/acceptance/features/apiFederation/federated.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36749 Fix ini_set error spamming the log
  changelog/unreleased/36749
  lib/base.php
  lib/private/Session/Internal.php
Labels: 3 - To Review

#37090 [Tests-Only] Acceptance test to assert the sharer can unshare and the receiver no longer sees the federated share
  tests/acceptance/features/apiFederation/federated.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#37086 [Tests-Only] Acceptance test to assert federated share receiver can change files or folders in the federated share
  tests/acceptance/features/apiFederation/federated.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#37087 [Tests-Only] Scenario for renaming file with dots in the path
  tests/acceptance/features/apiWebdavMove2/moveFile.feature
Labels: 2 - Developing, QA-team, dev:acceptance-tests

#37099 [Tests-Only] Add scenario outline for scenario in which sharer unshares the federated share and receiver no longer sees the share
  tests/acceptance/features/apiFederation/federated.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#37088 fix OCS Share API response for requests contain "include_tags" parameter
  apps/files/lib/Helper.php
  apps/files_sharing/lib/Controller/Share20OcsController.php
  apps/files_sharing/tests/ApiTest.php
  changelog/unreleased/37088
Labels: 3 - To Review

#37089 [Tests-Only] Scenario for renaming folder with dots in the path
  tests/acceptance/features/apiWebdavMove1/moveFolder.feature
Labels: 2 - Developing, QA-team, dev:acceptance-tests

#37102 [Tests-Only] Test that changes are correctly seen at both ends when federated sharer/receiver moves the location of share
  tests/acceptance/features/apiFederation/federated.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37108 [Tests-only] Add logic to set expiration date for public share using webUI
  tests/acceptance/features/bootstrap/WebUISharingContext.php
Labels: 4 - To release, QA-team

#37105 Fixes #36570 - write crash log in case of config.php parse error
  changelog/unreleased/36570
  lib/base.php
Labels: 3 - To Review

#37112 [Tests-Only] Pin behat/mink to version 1.7.1
  vendor-bin/behat/composer.json
Labels: 3 - To Review, QA-p1, QA-team, dev:acceptance-tests

#37116 Bugfix/dropzone in drop folder
  apps/files/js/file-upload.js
  apps/files/js/filelist.js
  apps/files/templates/list.php
  changelog/unreleased/37116
  core/js/js.js
Labels: 3 - To Review

#37117 Fixing some more translations
  lib/private/Repair.php
  lib/private/Server.php
  lib/private/Share/Helper.php
  lib/private/Tags.php
  lib/private/legacy/app.php
  lib/private/legacy/files.php
  lib/public/Files/LockNotAcquiredException.php
  lib/public/Files/ObjectStore/ObjectStoreException.php
  lib/public/Files/ObjectStore/ObjectStoreOperationException.php
  lib/public/Files/ObjectStore/ObjectStoreWriteException.php
  lib/public/Files/StorageAuthException.php
  lib/public/Files/StorageBadConfigException.php
  lib/public/Files/StorageConnectionException.php
  lib/public/Files/StorageNotAvailableException.php
  lib/public/Files/StorageTimeoutException.php
  lib/public/Lock/LockedException.php
Labels: 3 - To Review

#37106 [Tests-Only] Acceptance tests when incoming and outgoing federated share settings are enabled or disabled
  tests/acceptance/features/apiFederation/federated.feature
  tests/acceptance/features/bootstrap/FederationContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37120 [Tests-Only] Do not leave behind empty ZipArchive in unit tests
  tests/lib/Archive/TestBase.php
Labels: 3 - To Review, dev:phpunit-tests

#37115 [Tests-Only] Add acceptance tests to review basic features using user with unusual usernames
  tests/acceptance/features/apiProvisioning-v1/addUser.feature
  tests/acceptance/features/apiTrashbin/trashbinFilesFolders.feature
  tests/acceptance/features/webUIAddUsers/addUsers.feature
  tests/acceptance/features/webUIRenameFiles/renameFile.feature
  tests/acceptance/features/webUISharingInternalUsers1/createShareWithUsers.feature
  tests/acceptance/features/webUISharingPublic1/createPublicLinkShares.feature
  tests/acceptance/features/webUIUpload/upload.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37107 Include reshares in the webdav response when asking for share types
  apps/dav/lib/Connector/Sabre/SharesPlugin.php
  changelog/unreleased/37107
Labels: 3 - To Review

#37133 Update minimist to 1.2.2
  build/package.json
  build/yarn.lock
Labels: 3 - To Review

#37134 [10.3.x] [Tests-Only] Pin behat/mink to version 1.7.1
  .drone.star
  .drone.yml
  tests/acceptance/features/webUISharingExternal/federationSharing.feature
  vendor-bin/behat/composer.json
Labels: 4 - To release, QA-team, dev:acceptance-tests

#37126 [Tests-Only] add functions for the acceptance tests added for password policy expiration date
  tests/acceptance/features/bootstrap/WebUISharingContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37123 [Tests-Only] Acceptance tests to export the local storages mounts to a file
  tests/acceptance/features/bootstrap/FeatureContext.php
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/cliLocalStorage/exportLocalStorage.feature
  tests/acceptance/features/cliLocalStorage/importLocalStorage.feature
Labels: 2 - Developing, QA-team, dev:acceptance-tests

#37136 Updating league/flysystem (1.0.65 => 1.0.66)
  changelog/unreleased/37136
  composer.lock
Labels: 4 - To release, dependencies, php

#37132 [Tests-Only] Add acceptance tests to rename the received share which is shared without change permission
  tests/acceptance/features/apiShareManagement/moveReceivedShare.feature
  tests/acceptance/features/webUIRenameFolders/renameFolders.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37135 Add share type to the verifyExpirationDate hook
  changelog/unreleased/37135
  lib/private/Share20/Manager.php
Labels: 3 - To Review

#37022 Show pending remote shares at the 'Shared with you' tab
  apps/files_sharing/appinfo/routes.php
  apps/files_sharing/js/app.js
  apps/files_sharing/js/sharedfilelist.js
  apps/files_sharing/lib/API/Remote.php
  apps/files_sharing/lib/AppInfo/Application.php
  apps/files_sharing/lib/Controller/RemoteOcsController.php
  apps/files_sharing/tests/Controller/RemoteOcsControllerTest.php
  apps/files_sharing/tests/Controller/Share20OcsControllerTest.php
  apps/files_sharing/tests/js/sharedfilelistSpec.js
  changelog/unreleased/37022
Labels: 3 - To Review

#37141 [Tests-Only] Specify guzzle 5.3 for testing
  vendor-bin/behat/composer.json
Labels: 4 - To release, QA-team, dev:acceptance-tests

#37065 [Tests-Only] API tests for restoring hidden file from trashbin
  tests/acceptance/features/apiTrashbin/trashbinRestore.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37142 [Tests-only] Acceptance tests to check sharing back to original sharer and resharer
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
Labels: 4 - To release, QA-team

#37143 [Tests-only] Wait for ajax call to finish when restoring files from trashbin
  tests/acceptance/features/lib/FilesPageElement/FileRow.php
  tests/acceptance/features/lib/TrashbinPage.php
Labels: 3 - To Review, QA-team

#37122 Handle case of ZIP Archive with no files
  lib/private/Archive/ZIP.php
  tests/lib/Archive/TestBase.php
Labels: 3 - To Review

#37149 [Test-only] reva now returns 404 when trying to delete a nonexisting file
  tests/acceptance/features/apiShareCreateSpecial2/createShareWithInvalidPermissions.feature
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/bootstrap/WebDav.php
Labels: Acceptance tests, enhancement

#37148 Add non-zero exit code for non-writable config dir and missing app-di…
  changelog/unreleased/37148
  lib/base.php
Labels: 3 - To Review

#37151 Update sabre/dav (4.0.3 => 4.1.0)
  changelog/unreleased/37151
  composer.lock
Labels: 3 - To Review, dependencies, php

#37154 [Snyk] Security upgrade minimist from 1.2.2 to 1.2.3
  build/package.json
  changelog/unreleased/37138
Labels: 3 - To Review

#37155 Update phpseclib/phpseclib (2.0.25 => 2.0.26)
  changelog/unreleased/37155
  composer.lock
Labels: 3 - To Review, dependencies, php

#37153 Respect sharing.federation.allowHttpFallback config option
  apps/federatedfilesharing/lib/Notifications.php
  apps/federatedfilesharing/tests/NotificationsTest.php
  changelog/unreleased/37153
Labels: 3 - To Review, enhancement, feature:federated-cloud-sharing

#37161 Update psr/log (1.1.2 => 1.1.3)
  changelog/unreleased/37161
  composer.lock
Labels: 4 - To release, dependencies, php

#37147 [Tests-Only] Added test scenario for searching file/folders by tags
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiWebdavOperations/search.feature
  tests/acceptance/features/bootstrap/SearchContext.php
  tests/acceptance/features/bootstrap/TagsContext.php
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37146 [Tests-Only] Web UI accept pending federated
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/FilesPage.php
  tests/acceptance/features/lib/SharedWithYouPage.php
  tests/acceptance/features/webUISharingExternal2/acceptDeclineFederatedShares.feature
Labels: 3 - To Review, Acceptance tests, QA-team

#37158 [Tests-only] Add acceptance test to share subfolder to invisible user in share chain
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
Labels: 3 - To Review, QA-team

#37160 [Tests-Only] Added acceptance test to search for shared and tagged resources using REPORT
  tests/acceptance/features/apiTags/assignTags.feature
  tests/acceptance/features/apiWebdavOperations/search.feature
  tests/acceptance/features/bootstrap/TagsContext.php
Labels: 1 - To develop, QA-team, dev:acceptance-tests

#37163 [Tests-Only] Added method listTrashbinFileInServerRoot
  tests/acceptance/features/bootstrap/FeatureContext.php
Labels: 4 - To release, QA-team

#37167 [Tests-Only] skip acceptDeclineFederatedShares new scenario on old core versions
  tests/acceptance/features/webUISharingExternal2/acceptDeclineFederatedShares.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37083 In case phoenix.baseUrl is configured a menu entry will appear
  changelog/unreleased/37083
  lib/private/NavigationManager.php
  lib/private/Server.php
  tests/lib/NavigationManagerTest.php
Labels: 3 - To Review

#37067 Check the file in the primary storage and allow remove it from the
  apps/files/appinfo/info.xml
  apps/files/lib/Command/CheckCache.php
  apps/files/tests/Command/CheckCacheTest.php
  changelog/unreleased/37067
Labels: 3 - To Review

#37174 Update symfony polyfill 1.15.0 and laminas-zendframework-bridge 1.0.2
  changelog/unreleased/37174-1
  changelog/unreleased/37174-2
  composer.lock
Labels: 4 - To release, dependencies, php

#37173 Apply proper error handling for unsupported file types and errors dur…
  apps/dav/lib/Files/PreviewPlugin.php
  apps/dav/tests/unit/Files/PreviewPluginTest.php
  changelog/unreleased/37173
Labels: 3 - To Review

#37176 Update Symfony components to 4.4.6
  changelog/unreleased/37176
  composer.lock
Labels: 4 - To release, dependencies, php

#37172 Perform chunked requests in any case on any sql platoform + php 7.1 s…
  apps/dav/lib/DAV/FileCustomPropertiesBackend.php
  apps/dav/tests/unit/DAV/FileCustomPropertiesBackendTest.php
  changelog/unreleased/37172
Labels: 3 - To Review

#37152 Add index on addressbookid
  apps/dav/appinfo/Migrations/Version20200114181454.php
  apps/dav/tests/unit/CardDAV/CardDavBackendTest.php
  changelog/unreleased/37152
Labels: 3 - To Review, app:dav, feature:federated-cloud-sharing, performance

#37179 [10.4.1RC1] Version bump and changelog update
  changelog/10.4.1_2020-03-30/36570
  changelog/10.4.1_2020-03-30/36749
  changelog/10.4.1_2020-03-30/36865
  changelog/10.4.1_2020-03-30/36921
  changelog/10.4.1_2020-03-30/36925
  changelog/10.4.1_2020-03-30/36955-1
  changelog/10.4.1_2020-03-30/36955-2
  changelog/10.4.1_2020-03-30/36955-3
  changelog/10.4.1_2020-03-30/36961
  changelog/10.4.1_2020-03-30/36976
  changelog/10.4.1_2020-03-30/36978
  changelog/10.4.1_2020-03-30/36984
  changelog/10.4.1_2020-03-30/37010
  changelog/10.4.1_2020-03-30/37014
  changelog/10.4.1_2020-03-30/37020
  changelog/10.4.1_2020-03-30/37022
  changelog/10.4.1_2020-03-30/37038
  changelog/10.4.1_2020-03-30/37039
  changelog/10.4.1_2020-03-30/37040
  changelog/10.4.1_2020-03-30/37044
  changelog/10.4.1_2020-03-30/37052
  changelog/10.4.1_2020-03-30/37053
  changelog/10.4.1_2020-03-30/37058
  changelog/10.4.1_2020-03-30/37067
  changelog/10.4.1_2020-03-30/37082
  changelog/10.4.1_2020-03-30/37083
  changelog/10.4.1_2020-03-30/37088
  changelog/10.4.1_2020-03-30/37096
  changelog/10.4.1_2020-03-30/37107
  changelog/10.4.1_2020-03-30/37116
  changelog/10.4.1_2020-03-30/37131
  changelog/10.4.1_2020-03-30/37135
  changelog/10.4.1_2020-03-30/37136
  changelog/10.4.1_2020-03-30/37138
  changelog/10.4.1_2020-03-30/37148
  changelog/10.4.1_2020-03-30/37151
  changelog/10.4.1_2020-03-30/37153
  changelog/10.4.1_2020-03-30/37155
  changelog/10.4.1_2020-03-30/37161
  changelog/10.4.1_2020-03-30/37172
  changelog/10.4.1_2020-03-30/37173
  changelog/10.4.1_2020-03-30/37174-1
  changelog/10.4.1_2020-03-30/37174-2
  changelog/10.4.1_2020-03-30/37176
  version.php
Labels: 3 - To Review

#37182 [Tests-Only] Fix webUI acceptance test page title checks
  tests/acceptance/features/bootstrap/WebUILoginContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37183 [Tests-Only] [10.4.1] Fix webUI acceptance test page title checks
  tests/acceptance/features/bootstrap/WebUILoginContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#37193 Update Symfony components to 4.4.7
  changelog/unreleased/37193
  composer.lock
Labels: 4 - To release, dependencies, php

#37194 [Tests-only] Corrected data type for varible 'type'
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests
