Repository owncloud/core, pull requests merged in 2020-02, with the labels that each got.

#36864 [Tests-only] skipOnOcV10.3 'notify by email' tests that will not work on 10.3
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroups.feature
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
Labels: QA-team, dev:acceptance-tests

#36866 Bump sabre dependencies 2020-02-02
  apps/dav/tests/unit/CalDAV/CalDavBackendTest.php
  apps/dav/tests/unit/CardDAV/BirthdayServiceTest.php
  apps/dav/tests/unit/CardDAV/ConverterTest.php
  apps/dav/tests/unit/CardDAV/ImageExportPluginTest.php
  changelog/unreleased/36866
  composer.lock
Labels: 3 - To Review, dependencies, php

#36875 Fix translation for the personal sharing text
  apps/files_sharing/lib/Panels/Personal/PersonalPanel.php
  apps/files_sharing/tests/Panels/Personal/PersonalPanelTest.php
  changelog/unreleased/36875
Labels: 4 - To release

#36526 Add sample OIDC configuration to the sample app config file
  config/config.apps.sample.php
Labels: 4 - To release, documentation

#36796 Improve wording of minimum supported comment
  config/config.sample.php
Labels: enhancement

#36876 [Tests-only] Add tests to demonstrate issue 36822
  tests/acceptance/features/apiProvisioning-v1/getUser.feature
  tests/acceptance/features/apiProvisioning-v2/getUser.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36868 Add example config options for the Admin Audit app
  config/config.apps.sample.php
Labels: 3 - To Review

#36880 Adjust changelogs
  changelog/unreleased/36290-2
  changelog/unreleased/36402
  changelog/unreleased/36565
  changelog/unreleased/36787
  changelog/unreleased/36800
Labels: 4 - To release

#36882 [Tests-Only] Fixup Symfony\Component\Console\Application constructors in tests
  tests/Core/Command/Maintenance/RepairTest.php
  tests/Core/Command/User/AddTest.php
  tests/Core/Command/User/DeleteTest.php
Labels: 3 - To Review, dev:phpunit-tests

#36884 [Tests-only] Fix ocis acceptance tests for new webdav api
  tests/TestHelpers/WebDavHelper.php
  tests/acceptance/features/apiAuth/webDavAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavMKCOLAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavPROPFINDAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavPROPPATCHAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavPUTAuth.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36886 [Test-Only] Splitted acceptance-test-suite apiWebdavUpload
  .drone.starlark
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiWebdavUpload1/uploadFile.feature
  tests/acceptance/features/apiWebdavUpload1/uploadFileAsyncUsingNewChunking.feature
  tests/acceptance/features/apiWebdavUpload2/uploadFileUsingNewChunking.feature
  tests/acceptance/features/apiWebdavUpload2/uploadFileUsingOldChunking.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36887 [Test-Only] Splitted acceptance-test-suite webUISharingInternalGroups
  .drone.starlark
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/webUISharingInternalGroups1/shareWithGroups.feature
  tests/acceptance/features/webUISharingInternalGroups2/shareWithGroupUsingExpirationDate.feature
  tests/acceptance/features/webUISharingInternalGroups2/shareWithGroupsEdgeCases.feature
Labels: 4 - To release, QA-team

#36883 changelog edits 20200205
  changelog/unreleased/36402
  changelog/unreleased/36523
  changelog/unreleased/36565
  changelog/unreleased/36576
  changelog/unreleased/36677
  changelog/unreleased/36761
  changelog/unreleased/36787
  changelog/unreleased/36796
  changelog/unreleased/36832
  changelog/unreleased/36875
Labels: 3 - To Review

#36879 Revert ocs api request header change
  .drone.starlark
  .drone.yml
  apps/federation/lib/BackgroundJob/GetSharedSecret.php
  apps/federation/lib/BackgroundJob/RequestSharedSecret.php
  apps/federation/tests/BackgroundJob/GetSharedSecretTest.php
  apps/federation/tests/BackgroundJob/RequestSharedSecretTest.php
  changelog/unreleased/36762
  changelog/unreleased/36856
  lib/private/AppFramework/Middleware/Security/SecurityMiddleware.php
  tests/lib/AppFramework/Middleware/Security/SecurityMiddlewareTest.php
Labels: 3 - To Review

#36881 Upgrade to symfony 4.4
  changelog/unreleased/36881
  composer.json
  composer.lock
  tests/Core/Command/System/CronTest.php
Labels: 3 - To Review

#36878 Allow users to lookup themselves with mixed-case in the Provisioning API
  apps/provisioning_api/lib/Users.php
  changelog/unreleased/36822
  tests/acceptance/features/apiProvisioning-v1/getUser.feature
  tests/acceptance/features/apiProvisioning-v2/getUser.feature
Labels: 3 - To Review

#36885 [Tests-Only] Splitted acceptance-test-suite apiShareCreateSpecial
  .drone.starlark
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiShareCreateSpecial1/createShareExpirationDate.feature
  tests/acceptance/features/apiShareCreateSpecial1/createShareReceivedInMultipleWays.feature
  tests/acceptance/features/apiShareCreateSpecial1/createShareUniqueReceivedNames.feature
  tests/acceptance/features/apiShareCreateSpecial1/createShareWhenExcludedFromSharing.feature
  tests/acceptance/features/apiShareCreateSpecial2/createShareDefaultFolderForReceivedShares.feature
  tests/acceptance/features/apiShareCreateSpecial2/createShareGroupAndUserWithSameName.feature
  tests/acceptance/features/apiShareCreateSpecial2/createShareGroupCaseSensitive.feature
  tests/acceptance/features/apiShareCreateSpecial2/createShareWhenShareWithOnlyMembershipGroups.feature
  tests/acceptance/features/apiShareCreateSpecial2/createShareWithDisabledUser.feature
  tests/acceptance/features/apiShareCreateSpecial2/createShareWithInvalidPermissions.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36888 [Tests-Only] Splitted acceptance-test-suite webUISharingInternalUsers
  .drone.starlark
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/webUISharingInternalUsers1/shareWithUsers1.feature
  tests/acceptance/features/webUISharingInternalUsers2/shareWithUserUsingExpirationDate.feature
  tests/acceptance/features/webUISharingInternalUsers2/shareWithUsers2.feature
Labels: 4 - To release, QA-team

#36892 Fix the padding of some confirmation buttons
  changelog/unreleased/36807
  core/css/styles.css
Labels: 4 - To release

#36893 [Tests-Only] Splitted acceptance-test-suite webUISharingExternal
  .drone.starlark
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/webUISharingExternal1/adminSharingSettings.feature
  tests/acceptance/features/webUISharingExternal1/federationSharing.feature
  tests/acceptance/features/webUISharingExternal2/acceptDeclineFederatedShares.feature
  tests/acceptance/features/webUISharingExternal2/createFederationSharing.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36894 [Tests-Only] Splitted acceptance-tests-suite webUIShareAutocompletion
  .drone.starlark
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/webUISharingAutocompletion1/shareAutocompletion.feature
  tests/acceptance/features/webUISharingAutocompletion2/shareAutocompletionWithDifferentPatterns.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36889 [Tests-Only] Splitted acceptance-test-suite webUISharingPublic
  .drone.starlark
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/webUISharingPublic/shareByPublicLink.feature
  tests/acceptance/features/webUISharingPublic1/createPublicLinkShares.feature
  tests/acceptance/features/webUISharingPublic1/permissionsShareByPublicLink.feature
  tests/acceptance/features/webUISharingPublic2/reShareByPublicLink.feature
  tests/acceptance/features/webUISharingPublic2/shareByPublicLink.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36895 Updating league/flysystem (1.0.63 => 1.0.64)
  changelog/unreleased/36895
  composer.lock
Labels: 3 - To Review, dependencies, php

#36897 Adjust Symfony eventDispatcher->dispatch calls
  changelog/unreleased/36881
  lib/private/AllConfig.php
  lib/private/App/AppManager.php
  lib/private/Comments/Manager.php
  lib/private/Console/Application.php
  lib/private/DB/Migrator.php
  lib/private/Files/View.php
  lib/private/Group/Group.php
  lib/private/Group/Manager.php
  lib/private/Log.php
  lib/private/Notification/Manager.php
  lib/private/Repair.php
  lib/private/Repair/Apps.php
  lib/private/Server.php
  lib/private/Share/MailNotifications.php
  lib/private/Share/Share.php
  lib/private/Share20/Manager.php
  lib/private/SystemTag/SystemTagManager.php
  lib/private/SystemTag/SystemTagObjectMapper.php
  lib/private/User/Manager.php
  lib/private/User/Session.php
  lib/private/User/User.php
  lib/private/legacy/files.php
  lib/public/Events/EventEmitterTrait.php
  settings/Controller/UsersController.php
  tests/lib/AllConfigTest.php
  tests/lib/Group/GroupTest.php
  tests/lib/Group/ManagerTest.php
  tests/lib/Migration/BackgroundRepairTest.php
  tests/lib/Notification/ManagerTest.php
  tests/lib/Repair/AppsTest.php
  tests/lib/User/SessionTest.php
  tests/lib/User/UserTest.php
Labels: 3 - To Review

#36896 [Tests-Only] bump test tool dependencies
  vendor-bin/behat/composer.json
  vendor-bin/php_codesniffer/composer.json
Labels: 4 - To release, QA-team

#36901 [Tests-only] Remove .drone.yml and use .drone.star directly for CI
  .drone.star
  .drone.yml
Labels: 3 - To Review, Drone, QA-team

#36899 [Tests-Only] Separated similar scenarios webUISharingInternalUsers1/2
  tests/acceptance/features/webUISharingInternalUsers1/createShareWithUsers.feature
  tests/acceptance/features/webUISharingInternalUsers1/miscShareWithUsers.feature
  tests/acceptance/features/webUISharingInternalUsers2/adminDisablesSharePermissions.feature
  tests/acceptance/features/webUISharingInternalUsers2/shareWithUsers2.feature
  tests/acceptance/features/webUISharingInternalUsers2/webUIShareDetails.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36904 [Tests-Only] Skip mixed-case username tests on oCV10.3
  tests/acceptance/features/apiProvisioning-v1/getUser.feature
  tests/acceptance/features/apiProvisioning-v2/getUser.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36909 [Tests-Only] Use new owncloudci/oracle-xe docker image in CI
  .drone.star
Labels: 3 - To Review, Drone, QA-team

#36913 [Tests-Only] Change deprecated assertInternalType to assertIsInt
  tests/lib/DB/ConnectionTest.php
Labels: 3 - To Review, QA-team, dev:phpunit-tests

#36914 [Tests-Only] Adjust CapabilitiesContext asserts and exceptions for then and given steps
  tests/acceptance/features/bootstrap/CapabilitiesContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36918 [Tests-Only] Adjust CommentsContext asserts and exceptions for then and given steps
  tests/acceptance/features/bootstrap/CommentsContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36916 [Tests-Only] Adjust CardDavContext asserts and exceptions for then and given steps
  tests/acceptance/features/bootstrap/CardDavContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36923 [Tests-Only] Adjust EmailContext asserts and exceptions for then and given steps
  tests/acceptance/features/bootstrap/EmailContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36917 [Tests-Only] Adjust ChecksumContext asserts and exceptions for then and given steps
  tests/acceptance/features/bootstrap/ChecksumContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36924 [Tests-Only] Adjust EncryptionContext asserts and exceptions for then and given steps
  tests/acceptance/features/bootstrap/EncryptionContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36931 [Tests-Only] Adjust FeatureContext asserts and exceptions for then and given steps
  tests/acceptance/features/bootstrap/FeatureContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36932 [Tests-Only] Adjust OCSContext asserts and exceptions for then and given steps
  tests/acceptance/features/bootstrap/OCSContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36936 [Tests-only] unskip passing tests on ocis
  tests/acceptance/features/apiAuthWebDav/webDavMKCOLAuth.feature
Labels: QA-team, dev:acceptance-tests

#36933 [Tests-Only] Adjust FileVersionsContext asserts and exceptions for then and given steps
  tests/acceptance/features/bootstrap/FilesVersionsContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36934 [Tests-Only] Adjust LoggingContext asserts and exceptions for then and given steps
  tests/acceptance/features/bootstrap/LoggingContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36938 [Tests-Only] Put the expected value first in Assert::assertEquals
  tests/acceptance/features/bootstrap/LoggingContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36943 [Tests-only] make tests pass on ocis-reva
  tests/TestHelpers/SharingHelper.php
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
Labels: QA-p1, QA-team, dev:acceptance-tests

#36945 [Tests-only] don't check LDAP SSL cert
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: QA-team, dev:acceptance-tests

#36921 Consider file to be encrypted only if it has encrypted property set
  changelog/unreleased/36921
  lib/private/Files/Storage/Wrapper/Encryption.php
  tests/lib/Files/Storage/Wrapper/EncryptionTest.php
Labels: 3 - To Review

#36950 [Tests-only] run file versions tests on ocis
  tests/acceptance/features/apiVersions/fileVersions.feature
Labels: QA-team, dev:acceptance-tests

#36937 [Tests-Only] Adjust OccAppManagementContext asserts and exceptions for then and given steps
  tests/acceptance/features/bootstrap/OccAppManagementContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36939 [Tests-Only] Adjust OccContext asserts and exceptions for then and given steps
  tests/acceptance/features/bootstrap/OccContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36952 [Tests-Only] Adjust OccUsersGroupsContext asserts and exceptions for then and given steps
  tests/acceptance/features/bootstrap/OccUsersGroupsContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36953 [Tests-Only] Adjust Provisioning asserts and exceptions for then and given steps
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36941 [Tests-Only] Bug reproduce 36920
  tests/TestHelpers/WebDavHelper.php
  tests/acceptance/features/apiWebdavProperties/getFileProperties.feature
  tests/acceptance/features/bootstrap/WebDavPropertiesContext.php
Labels: 4 - To release, QA-team, bug-analysis, dev:acceptance-tests

#36954 [Tests-Only] Add space after __METHOD__ in acceptance test messages
  tests/acceptance/features/bootstrap/AppConfigurationContext.php
  tests/acceptance/features/bootstrap/AppManagementContext.php
  tests/acceptance/features/bootstrap/FeatureContext.php
  tests/acceptance/features/bootstrap/OccAppManagementContext.php
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/bootstrap/OccUsersGroupsContext.php
  tests/acceptance/features/lib/AdminSharingSettingsPage.php
  tests/acceptance/features/lib/FilesPageBasic.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36955 PHP dependencies 20200216
  changelog/unreleased/36955-1
  changelog/unreleased/36955-2
  changelog/unreleased/36955-3
  composer.lock
Labels: 3 - To Review, dependencies, php

#36935 [Tests-Only] Adjust NotificationsCoreContext asserts and exceptions for then and given steps
  tests/acceptance/features/bootstrap/NotificationsCoreContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36957 [Tests-Only] Adjust ShareesContext asserts and exceptions for then and given steps
  tests/acceptance/features/bootstrap/ShareesContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36956 [Tests-Only] Adjust PublicWebDavContext asserts and exceptions for then and given steps
  tests/acceptance/features/bootstrap/PublicWebDavContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36959 [Tests-Only] Set shareapi_exclude_groups_list to the empty string at the start of acceptance tests
  tests/acceptance/features/bootstrap/Sharing.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36926 Fix issue 36925
  changelog/unreleased/36925
  core/Command/User/ResetPassword.php
  tests/Core/Command/User/ResetPasswordTest.php
  tests/acceptance/features/cliProvisioning/resetUserPassword.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36963 [Tests-Only] Adjust WebDavContext asserts and exceptions for then and given steps
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36958 [Tests-Only] Adjust Sharing asserts and exceptions for then and given steps
  tests/acceptance/features/bootstrap/Sharing.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36962 [Tests-Only] Adjust TrashbinContext asserts and exceptions for then and given steps
  tests/acceptance/features/bootstrap/TrashbinContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36915 [Tests-only] acceptance tests for sharing with multiple users and groups
  tests/acceptance/features/bootstrap/FeatureContext.php
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/FilesPage.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialog.php
  tests/acceptance/features/webUISharingInternalGroups1/shareWithGroups.feature
  tests/acceptance/features/webUISharingInternalGroups2/shareWithGroupsEdgeCases.feature
  tests/acceptance/features/webUISharingInternalUsers1/miscShareWithUsers.feature
Labels: 4 - To release, QA-team

#36960 [Tests-Only] Adjust Tags asserts and exceptions for then and given steps
  tests/acceptance/features/bootstrap/TagsContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36857 [Tests-Only] Add acceptance test for files_external using storage webdav_owncloud
  .drone.star
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/FeatureContext.php
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliExternalStorage/filesExternalWebdavOwncloud.feature
Labels: 3 - To Review, QA-team, app:files_external, dev:acceptance-tests

#36967 [Tests-only] Skip test failing in firewall app
  tests/acceptance/features/apiWebdavMove1/moveFileAsync.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36968 [Tests-Only] Adjust WebUIAdminGeneralSettingsContext asserts and exceptions for then and given steps
  tests/acceptance/features/bootstrap/WebUIAdminGeneralSettingsContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36970 [Tests-Only] Adjust WebUIAdminSharingSettingsContext asserts and exceptions for then and given steps
  tests/acceptance/features/bootstrap/WebUIAdminSharingSettingsContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36966 [Tests-Only] Run federated acceptance tests against multiple older core releases
  .drone.star
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36965 [Tests-Only] Adjust WebDavPropertiesContext asserts and exceptions for then and given steps
  tests/acceptance/features/bootstrap/WebDavPropertiesContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36969 [Tests-Only] Adjust words for cliExternalStorage scenarios
  tests/acceptance/features/bootstrap/FeatureContext.php
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliExternalStorage/filesExternalWebdavOwncloud.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36975 [Tests-Only] skipOnOcV10.3 new webUI sharing tests from PR 36915
  tests/acceptance/features/webUISharingInternalGroups2/shareWithGroupsEdgeCases.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36979 [Tests-only] skip failing tests on files classifier app
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/apiShareUpdate/updateShare.feature
  tests/acceptance/features/apiTrashbin/trashbinRestore.feature
  tests/acceptance/features/cliMain/transfer-ownership.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36982 Bump Graffino/Browser-Update v2.0.2 to v2.0.5
  build/package.json
  build/yarn.lock
  changelog/unreleased/36976
Labels: 3 - To Review, dependencies

#36981 Bump Graffino/Browser-Update v2.0.2 to v2.0.5
  build/package.json
  build/yarn.lock
  changelog/unreleased/36976
Labels: 3 - To Review, dependencies

#36983 Validate the expiration date only if it has changed
  lib/private/Share20/Manager.php
Labels: 3 - To Review

#36986 [Tests-Only] skipOnEncryption password reset test due to issue-36985
  tests/acceptance/features/cliProvisioning/resetUserPassword.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36987 [Tests-Only] Adjust WebUIFilesContext asserts and exceptions for then and given steps
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36984 Remove full-stop from reset password success message
  changelog/unreleased/36984
  core/Command/User/ResetPassword.php
  tests/Core/Command/User/ResetPasswordTest.php
Labels: 3 - To Review

#36988 [Tests-Only] Skip on encryption more test scenarios
  tests/acceptance/features/cliLocalStorage/createLocalStorageForUsers.feature
  tests/acceptance/features/cliMain/filesChecksum.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36989 [Tests-Only] Adjust WebUIGeneralContext asserts and exceptions for then and given steps
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36991 [Tests-Only] Adjust WebUIHelpAndTipsContext asserts and exceptions for then and given steps
  tests/acceptance/features/bootstrap/WebUIHelpAndTipsContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36993 [Tests-Only] skipOnEncryption filesExternalWebdavOwncloud issue-encryption-181
  tests/acceptance/features/cliExternalStorage/filesExternalWebdavOwncloud.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36990 [Tests-only] add smokeTest tag in trashbin and public-link webdav api tests
  tests/acceptance/features/apiSharePublicLink1/createPublicLinkShare.feature
  tests/acceptance/features/apiTrashbin/trashbinDelete.feature
  tests/acceptance/features/apiTrashbin/trashbinFilesFolders.feature
  tests/acceptance/features/apiWebdavLocks/folder.feature
  tests/acceptance/features/apiWebdavLocks/publicLink.feature
  tests/acceptance/features/apiWebdavLocks/requestsWithToken.feature
  tests/acceptance/features/apiWebdavOperations/deleteFolder.feature
Labels: 4 - To release, QA-team

#36992 [Tests-Only] Adjust WebUILoginContext asserts and exceptions for then and given steps
  tests/acceptance/features/bootstrap/WebUILoginContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36994 [Tests-Only] Adjust WebUIPersonalGeneralSettingsContext asserts and exceptions in then and given steps
  tests/acceptance/features/bootstrap/WebUIPersonalGeneralSettingsContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36995 [Tests-Only] Adjust WebUIPersonalSecuritySettingsContext asserts and exceptions for then and given steps
  tests/acceptance/features/bootstrap/WebUIPersonalSecuritySettingsContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36997 [Tests-Only] skipOnEncryptionType:user-keys password change test
  tests/acceptance/features/cliProvisioning/resetUserPassword.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36998 [Tests-Only] Adjust WebUIPersonalSharingSettingsContext asserts and exceptions for then and given steps
  tests/acceptance/features/bootstrap/WebUIPersonalSharingSettingsContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#37001 [Tests-Only] Remove unused imports from test code
  tests/TestHelpers/Asserts/WebDav.php
  tests/acceptance/features/bootstrap/CorsContext.php
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
  tests/acceptance/features/lib/AdminSharingSettingsPage.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#37002 [Tests-Only] Adjust WebUITagsContext asserts and exceptions for then and given steps
  tests/acceptance/features/bootstrap/WebUITagsContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#37003 [Tests-Only] Adjust WebUIUsersContext asserts and exceptions for then and given steps
  tests/acceptance/features/bootstrap/WebUIUsersContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#37000 [Tests-Only] Adjust WebUISharingContext asserts and exceptions for then and given steps.
  tests/acceptance/features/bootstrap/WebUISharingContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36999 [Tests-Only] Implement guzzle6 in acceptance tests
  tests/TestHelpers/AppConfigHelper.php
  tests/TestHelpers/DeleteHelper.php
  tests/TestHelpers/DownloadHelper.php
  tests/TestHelpers/EmailHelper.php
  tests/TestHelpers/HttpRequestHelper.php
  tests/TestHelpers/MoveCopyHelper.php
  tests/TestHelpers/OcsApiHelper.php
  tests/TestHelpers/SetupHelper.php
  tests/TestHelpers/SharingHelper.php
  tests/TestHelpers/TagsHelper.php
  tests/TestHelpers/Unit/DeleteHelperTest.php
  tests/TestHelpers/Unit/WebDavHelperTest.php
  tests/TestHelpers/UploadHelper.php
  tests/TestHelpers/UserHelper.php
  tests/TestHelpers/WebDavHelper.php
  tests/acceptance/features/apiWebdavOperations/search.feature
  tests/acceptance/features/bootstrap/CalDavContext.php
  tests/acceptance/features/bootstrap/CardDavContext.php
  tests/acceptance/features/bootstrap/ChecksumContext.php
  tests/acceptance/features/bootstrap/FavoritesContext.php
  tests/acceptance/features/bootstrap/FeatureContext.php
  tests/acceptance/features/bootstrap/NotificationsCoreContext.php
  tests/acceptance/features/bootstrap/OCSContext.php
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/bootstrap/SearchContext.php
  tests/acceptance/features/bootstrap/ShareesContext.php
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/bootstrap/TagsContext.php
  tests/acceptance/features/bootstrap/TransferOwnershipContext.php
  tests/acceptance/features/bootstrap/TrashbinContext.php
  tests/acceptance/features/bootstrap/WebDav.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/cliLocalStorage/scanLocalStorage.feature
  tests/phpunit-autotest.xml
  vendor-bin/behat/composer.json
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37007 [Tests-only] remove deprecated guzzle method
  tests/acceptance/features/bootstrap/PublicWebDavContext.php
Labels: 3 - To Review, QA-team

#37006 [Tests-only] run more API tests with external user backends
  tests/acceptance/features/apiAuth/tokenAuth.feature
  tests/acceptance/features/apiMain/checksums.feature
  tests/acceptance/features/apiMain/external-storage.feature
  tests/acceptance/features/apiMain/main.feature
  tests/acceptance/features/apiMain/quota.feature
  tests/acceptance/features/apiMain/status.feature
  tests/acceptance/features/apiWebdavLocks/exclusiveLocks.feature
  tests/acceptance/features/apiWebdavLocks/folder.feature
  tests/acceptance/features/apiWebdavLocks/requestsWithToken.feature
  tests/acceptance/features/apiWebdavLocks2/resharedShares.feature
  tests/acceptance/features/apiWebdavLocks2/unlock.feature
  tests/acceptance/features/apiWebdavOperations/refuseAccess.feature
  tests/acceptance/features/apiWebdavProperties/getFileProperties.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37012 [Tests-Only] Add acceptance test to remove all for local storage mount
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliLocalStorage/createLocalStorageForGroups.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37014 Update phpseclib/phpseclib (2.0.24 => 2.0.25)
  changelog/unreleased/37014
  composer.lock
Labels: 4 - To release, dependencies

#37016 [Tests-Only] Add test scenarios for issue 37013 extending expiry date on reshare
  tests/acceptance/features/apiShareReshare2/reShareWithExpiryDate.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#37017 [Tests-only] run webUI smoketests also on external user backends
  tests/acceptance/features/webUIAdminSettings/adminAppsSettings.feature
  tests/acceptance/features/webUIAdminSettings/adminGeneralSettings.feature
  tests/acceptance/features/webUIAdminSettings/adminSharingSettings.feature
  tests/acceptance/features/webUIFiles/browseDirectlyToDetailsTab.feature
  tests/acceptance/features/webUIFiles/hiddenFile.feature
  tests/acceptance/features/webUIFiles/search.feature
  tests/acceptance/features/webUILogin/login.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#37030 [Tests-Only] Combine test scenario for issue 29599 into examples table
  tests/acceptance/features/apiWebdavUpload2/uploadFileUsingNewChunking.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37031 [Tests-Only] Pass DB username, password and name from drone to install-server.sh
  .drone.star
Labels: 3 - To Review, Drone, QA-team

#37033 [Tests-only] skip tests that are sknown to fail on scality
  tests/acceptance/features/apiMain/checksums.feature
  tests/acceptance/features/apiVersions/fileVersions.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#37034 [Tests-Only] Run 5 apiProxy pipelines instead of 3 to reduce the elapsed run time
  .drone.star
Labels: 4 - To release, Drone, QA-team

#37037 [Tests-Only] Add .drone.yml to .gitignore so people do not accidentally commit it
  .gitignore
Labels: 3 - To Review, QA-team

#37015 [Tests-Only] Add acceptance test to manage backend config for local storage mount
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliLocalStorage/manageBackendConfig.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37041 [Tests-Only] Unset skeletondirectory after UtilTest exception
  tests/lib/UtilTest.php
Labels: 3 - To Review, dev:phpunit-tests

#37019 [Tests-only] Add acceptance tests for multiple user and group share
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialog.php
  tests/acceptance/features/webUISharingInternalGroups2/shareWithGroupsEdgeCases.feature
  tests/acceptance/features/webUISharingInternalUsers1/miscShareWithUsers.feature
  tests/acceptance/features/webUISharingInternalUsers2/shareWithUserUsingExpirationDate.feature
Labels: 3 - To Review, QA-team

#37046 [Tests-only] Add smokeTest tags for api tests
  tests/acceptance/features/apiAuth/webDavAuth.feature
  tests/acceptance/features/apiAuthOcs/ocsDELETEAuth.feature
  tests/acceptance/features/apiAuthOcs/ocsGETAuth.feature
  tests/acceptance/features/apiAuthOcs/ocsPOSTAuth.feature
  tests/acceptance/features/apiAuthOcs/ocsPUTAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavDELETEAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavLOCKAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavMKCOLAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavMOVEAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavPOSTAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavPROPFINDAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavPROPPATCHAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavPUTAuth.feature
  tests/acceptance/features/apiFederation/federated.feature
  tests/acceptance/features/apiMain/userSync.feature
  tests/acceptance/features/apiSharePublicLink2/updatePublicLinkShare.feature
  tests/acceptance/features/apiShareReshare1/reShare.feature
  tests/acceptance/features/apiShareReshare2/reShareDisabled.feature
  tests/acceptance/features/apiShareReshare2/reShareSubfolder.feature
  tests/acceptance/features/apiWebdavLocks2/unlock.feature
Labels: 4 - To release, QA-team

#37047 [Tests-Only] Change acceptance test steps to consistently say 'in the trashbin'
  tests/acceptance/features/apiShareManagementBasic/deleteShare.feature
  tests/acceptance/features/apiShareOperations/changingFilesShare.feature
  tests/acceptance/features/apiTrashbin/trashbinDelete.feature
  tests/acceptance/features/apiTrashbin/trashbinFilesFolders.feature
  tests/acceptance/features/apiTrashbin/trashbinRestore.feature
  tests/acceptance/features/bootstrap/TrashbinContext.php
  tests/acceptance/features/cliTrashbin/trashbin.feature
  tests/acceptance/features/webUITrashbin/trashbinFilesFolders.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37018 [Tests-Only] Add acceptance test to manage options for local storage mount
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliLocalStorage/manageOptionsForLocalStorage.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#37035 [Tests-Only] Add acceptance test to show available backends using the occ command
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliLocalStorage/showBackendsForMount.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#37049 [Tests-Only] Adjust tests of files_external:list
  tests/acceptance/features/bootstrap/OccContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#37048 [Tests-Only] Removed redundant getter function for PROPFIND requests
  tests/TestHelpers/WebDavHelper.php
  tests/acceptance/features/apiWebdavProperties/getFileProperties.feature
  tests/acceptance/features/bootstrap/WebDavPropertiesContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#37051 [Tests-Only] skipOnOcV10.3 new test scenarios from PR 37019
  tests/acceptance/features/webUISharingInternalGroups2/shareWithGroupsEdgeCases.feature
  tests/acceptance/features/webUISharingInternalUsers1/miscShareWithUsers.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#37052 Bump symfony 4.4.5
  changelog/unreleased/37052
  composer.lock
Labels: 3 - To Review, dependencies, php
