Repository owncloud/core, pull requests merged in 2020-07, with the labels that each got.

#37568 Handle exceptions for deleted share nodes while transfering ownership
  apps/files/lib/Command/TransferOwnership.php
  apps/files/tests/Command/TransferOwnershipTest.php
  changelog/unreleased/37568
Labels: 3 - To Review, app:federation, app:files, bug

#37619 [Tests-only] Sharing tests use string as ids
  tests/acceptance/features/apiFederation1/federated.feature
  tests/acceptance/features/apiShareManagement/acceptShares.feature
  tests/acceptance/features/apiShareOperations/gettingShares.feature
  tests/acceptance/features/apiSharePublicLink1/createPublicLinkShare.feature
  tests/acceptance/features/apiSharePublicLink2/updatePublicLinkShare.feature
  tests/acceptance/features/apiShareUpdate/updateShare.feature
  tests/acceptance/features/bootstrap/Sharing.php
Labels: 4 - To release, dev:acceptance-tests

#37617 [10.5.0] Add tooltip to unlock, change icon to closed lock
  apps/files/js/filelockplugin.js
  apps/files/js/locktabview.js
  tests/acceptance/features/lib/FilesPageElement/LockDialogElement/LockEntry.php
Labels: 3 - To Review

#37622 Add tooltip to unlock, change icon to closed lock
  apps/files/js/filelockplugin.js
  apps/files/js/locktabview.js
  tests/acceptance/features/lib/FilesPageElement/LockDialogElement/LockEntry.php
Labels: 3 - To Review

#37624 [Tests-Only] Adjust updateShare.feature:179 for reva changes
  tests/acceptance/features/apiShareUpdate/updateShare.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#37589 [Tests-Only] Added API test for public link Mtime
  tests/TestHelpers/WebDavHelper.php
  tests/acceptance/features/apiSharePublicLink1/createPublicLinkShare.feature
  tests/acceptance/features/bootstrap/PublicWebDavContext.php
  tests/acceptance/features/bootstrap/WebDav.php
Labels: QA-team

#37626 [Tests-Only] skip unlock.feature on old core versions
  tests/acceptance/features/webUIWebdavLocks/unlock.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37625 return HTTP 404 for upload attempt to non-existing public folders
  apps/dav/lib/Files/PublicFiles/PublicFilesPlugin.php
  apps/dav/tests/unit/Files/PublicFiles/PublicFilesPluginTest.php
  changelog/unreleased/37625
  tests/acceptance/features/apiSharePublicLink2/uploadToPublicLinkShare.feature
Labels: 3 - To Review

#37629 [Tests-Only] Remove file_parent share response attribute from accceptance tests
  tests/acceptance/features/apiFederation1/federated.feature
  tests/acceptance/features/apiShareManagement/acceptShares.feature
  tests/acceptance/features/apiShareOperations/gettingShares.feature
  tests/acceptance/features/apiSharePublicLink2/updatePublicLinkShare.feature
  tests/acceptance/features/apiShareUpdate/updateShare.feature
  tests/acceptance/features/bootstrap/Sharing.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#37632 [10.5.0] throw sabre/dav not found exception for upload attempt to non-existing public folders
  apps/dav/lib/Files/PublicFiles/PublicFilesPlugin.php
  apps/dav/tests/unit/Files/PublicFiles/PublicFilesPluginTest.php
  changelog/unreleased/37625
  tests/acceptance/features/apiSharePublicLink2/uploadToPublicLinkShare.feature
Labels: 4 - To release

#37638 [Tests-Only] Disable grace_period popup by default in acceptance testing
  tests/acceptance/run.sh
Labels: 4 - To release, QA-team, dev:acceptance-tests

#37639 [Tests-Only] [10.5.0] Disable grace_period popup by default in acceptance testing
  tests/acceptance/run.sh
Labels: 4 - To release, QA-team, dev:acceptance-tests

#37642 [tests-only] test successfully move folder
  tests/acceptance/features/apiWebdavMove1/moveFolder.feature
Labels: QA-team, dev:acceptance-tests

#37640 [Tests-Only] skip on old oC10 test fixed in PR 37625
  tests/acceptance/features/apiSharePublicLink2/uploadToPublicLinkShare.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37641 [Tests-Only] [10.5.0] skip on old oC10 test fixed in PR 37625
  tests/acceptance/features/apiSharePublicLink2/uploadToPublicLinkShare.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37618 [10.5.0] Handle exceptions for deleted share nodes while transfering ownership
  apps/files/lib/Command/TransferOwnership.php
  apps/files/tests/Command/TransferOwnershipTest.php
  changelog/unreleased/37568
Labels: 3 - To Review

#37630 [Tests-Only] Skip failing tests in user ldap
  tests/acceptance/features/cliMain/securityCertificates.feature
  tests/acceptance/features/webUIManageUsersGroups/addGroup.feature
  tests/acceptance/features/webUIManageUsersGroups/deleteUsers.feature
  tests/acceptance/features/webUIManageUsersGroups/editUsers.feature
  tests/acceptance/features/webUIManageUsersGroups/manageGroups.feature
  tests/acceptance/features/webUISharingInternalGroups1/shareWithGroups.feature
  tests/acceptance/features/webUIWebdavLocks/unlock.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#37627 [Tests-Only] Api test for copying file within a public link folder
  tests/acceptance/features/apiSharePublicLink2/copyFromPublicLink.feature
  tests/acceptance/features/bootstrap/PublicWebDavContext.php
Labels: 3 - To Review, QA-team

#37647 The response of LOCK shall hold the updated owner set by the LockManager
  apps/dav/lib/Files/FileLocksBackend.php
  changelog/unreleased/37460
  tests/lib/Lock/Persistent/LockManagerTest.php
Labels: 4 - To release

#37650 New CI color and background image
  apps/dav/lib/HookManager.php
  apps/dav/tests/unit/DAV/HookManagerTest.php
  apps/federatedfilesharing/templates/settings-personal-general.php
  changelog/unreleased/37650
  core/css/header.css
  core/css/inputs.css
  core/css/jquery-ui-fixes.css
  core/img/background.jpg
  core/img/favicon-touch.svg
  core/img/favicon.svg
  core/templates/layout.base.php
  core/templates/layout.guest.php
  core/templates/layout.user.php
  lib/private/legacy/defaults.php
Labels: 3 - To Review

#37651 Update nikic/php-parser (4.5.0 => 4.6.0)
  changelog/unreleased/37651
  composer.lock
Labels: 4 - To release, dependencies, php

#37575 [Tests-Only] Make API tests pass on EOS
  tests/acceptance/features/apiAuthWebDav/webDavPROPFINDAuth.feature
  tests/acceptance/features/apiShareCreateSpecial2/createShareWithInvalidPermissions.feature
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/apiShareOperations/getWebDAVSharePermissions.feature
  tests/acceptance/features/apiShareOperations/uploadToShare.feature
  tests/acceptance/features/apiSharePublicLink1/changingPublicLinkShare.feature
  tests/acceptance/features/apiSharePublicLink1/createPublicLinkShare.feature
  tests/acceptance/features/apiSharePublicLink2/uploadToPublicLinkShare.feature
  tests/acceptance/features/apiShareUpdate/updateShare.feature
  tests/acceptance/features/apiTrashbin/trashbinRestore.feature
  tests/acceptance/features/apiVersions/fileVersions.feature
  tests/acceptance/features/apiWebdavMove2/moveFile.feature
  tests/acceptance/features/apiWebdavOperations/search.feature
  tests/acceptance/features/apiWebdavPreviews/previews.feature
  tests/acceptance/features/apiWebdavProperties1/createFolder.feature
  tests/acceptance/features/apiWebdavProperties2/getFileProperties.feature
  tests/acceptance/features/apiWebdavUpload1/uploadFile.feature
  tests/acceptance/features/apiWebdavUpload2/uploadFileUsingNewChunking.feature
  tests/acceptance/features/apiWebdavUpload2/uploadFileUsingOldChunking.feature
  tests/acceptance/features/bootstrap/OCSContext.php
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 3 - To Review, QA-team

#37646 [Tests-Only] Added tests for public upload a file with mtime
  tests/TestHelpers/WebDavHelper.php
  tests/acceptance/features/apiSharePublicLink1/createPublicLinkShare.feature
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team

#37652 [Tests-only] skip rename folder test only on OC storage, as it works on EOS
  tests/acceptance/features/apiSharePublicLink2/multilinkSharing.feature
Labels: QA-team, dev:acceptance-tests

#37607 [Tests-Only] Added API test scenario for overwriting a file with Mtime
  tests/acceptance/features/apiWebdavUpload1/uploadFile.feature
  tests/acceptance/features/bootstrap/WebDav.php
Labels: QA-team

#37654 Adjust edition string
  lib/private/legacy/util.php
  lib/public/License/ILicenseManager.php
  tests/lib/UtilTest.php
Labels: 3 - To Review

#37658 Update Symfony contracts components to 1.1.9
  changelog/unreleased/37658
  composer.lock
Labels: 3 - To Review, dependencies, php

#37663 [Tests-Only] add step definition for checking file in public link
  tests/acceptance/features/bootstrap/PublicWebDavContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#37665 Update doctrine/cache (1.10.1 => 1.10.2)
  changelog/unreleased/37665
  composer.lock
Labels: 4 - To release, dependencies, php

#37670 Update phpseclib/phpseclib (2.0.27 => 2.0.28)
  changelog/unreleased/37670
  composer.lock
Labels: 4 - To release, dependencies, php

#37656 [tests-only] test the API response of a share-update response
  tests/acceptance/features/apiSharePublicLink2/updatePublicLinkShare.feature
  tests/acceptance/features/apiShareUpdate/updateShare.feature
  tests/acceptance/features/bootstrap/Sharing.php
Labels: QA-team, dev:acceptance-tests

#37672 [tests-only] retag reva issue 249 with the correct issue tags
  tests/acceptance/features/apiShareCreateSpecial1/createShareExpirationDate.feature
  tests/acceptance/features/apiShareManagementBasic/deleteShare.feature
  tests/acceptance/features/apiShareOperations/gettingShares.feature
  tests/acceptance/features/apiShareReshare3/reShareWithExpiryDate.feature
  tests/acceptance/features/apiShareUpdate/updateShare.feature
Labels: QA-team, dev:acceptance-tests

#37674 [Tests-Only] Remove admin auth error in log when running API acceptance tests
  tests/acceptance/features/bootstrap/FeatureContext.php
  tests/acceptance/run.sh
Labels: 4 - To release

#37675 [Tests-Only] Add env var TEST_REVA
  tests/TestHelpers/OcisHelper.php
  tests/acceptance/features/apiShareUpdate/updateShare.feature
  tests/acceptance/features/bootstrap/FeatureContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37679 [Tests-Only] Run unit tests with mariadb 10.5
  .drone.star
Labels: 3 - To Review

#37667 [Tests-Only]Add acceptance tests for operations on files with commas in the filename
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/apiTrashbin/trashbinDelete.feature
  tests/acceptance/features/apiTrashbin/trashbinFilesFolders.feature
  tests/acceptance/features/apiTrashbin/trashbinRestore.feature
  tests/acceptance/features/apiWebdavMove1/moveFileAsync.feature
  tests/acceptance/features/apiWebdavOperations/deleteFile.feature
  tests/acceptance/features/apiWebdavOperations/downloadFile.feature
  tests/acceptance/features/apiWebdavOperations/search.feature
  tests/acceptance/features/apiWebdavProperties2/getFileProperties.feature
  tests/acceptance/features/apiWebdavUpload1/uploadFile.feature
  tests/acceptance/features/webUICreateDelete/createFolders.feature
  tests/acceptance/features/webUICreateDelete/createFoldersEdgeCases.feature
  tests/acceptance/features/webUICreateDelete/deleteFilesFolders.feature
  tests/acceptance/features/webUIFavorites/favoritesFile.feature
  tests/acceptance/features/webUIRenameFiles/renameFile.feature
Labels: 4 - To release, QA-team

#37681 [Tests-Only] Skip new share response test on old oC10
  tests/acceptance/features/apiShareUpdate/updateShare.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37682 [Tests-Only] Do not be so specific about storage_id
  tests/acceptance/features/apiShareUpdate/updateShare.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37676 [Tests-Only] Refactor 'the public should be able to download' line in feature file
  tests/acceptance/features/apiSharePublicLink1/createPublicLinkShare.feature
  tests/acceptance/features/apiSharePublicLink2/reShareAsPublicLink.feature
  tests/acceptance/features/bootstrap/PublicWebDavContext.php
Labels: 3 - To Review, QA-team

#37684 Update sabre dependencies
  apps/dav/tests/unit/CalDAV/CalDavBackendTest.php
  apps/dav/tests/unit/CardDAV/BirthdayServiceTest.php
  apps/dav/tests/unit/CardDAV/ConverterTest.php
  apps/dav/tests/unit/CardDAV/ImageExportPluginTest.php
  changelog/unreleased/37684
  composer.lock
Labels: 3 - To Review, dependencies, php

#37689 [Tests-Only]issue-49 tag removed for public link tests
  tests/acceptance/features/apiSharePublicLink1/accessToPublicLinkShare.feature
  tests/acceptance/features/apiSharePublicLink1/changingPublicLinkShare.feature
  tests/acceptance/features/apiSharePublicLink1/createPublicLinkShare.feature
  tests/acceptance/features/apiSharePublicLink2/multilinkSharing.feature
  tests/acceptance/features/apiSharePublicLink2/reShareAsPublicLink.feature
  tests/acceptance/features/apiSharePublicLink2/uploadToPublicLinkShare.feature
Labels: QA-team

#37660 [Tests-Only] Api test for copying file within a public link folder
  tests/acceptance/features/apiSharePublicLink2/copyFromPublicLink.feature
  tests/acceptance/features/bootstrap/PublicWebDavContext.php
Labels: QA-team

#37693 [10.5.0] Fix for centering the credential fields on IE11
  changelog/unreleased/37693
  core/css/styles.css
Labels: 3 - To Review

#37694 Update symfony/polyfill (1.17.0 => 1.18.0)
  changelog/unreleased/37694
  composer.lock
Labels: 3 - To Review, dependencies, php

#37691 [Tests-Only] Refactor webdav auth
  tests/acceptance/features/apiAuthOcs/ocsDELETEAuth.feature
  tests/acceptance/features/apiAuthOcs/ocsGETAuth.feature
  tests/acceptance/features/apiAuthOcs/ocsPOSTAuth.feature
  tests/acceptance/features/apiAuthOcs/ocsPUTAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavDELETEAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavLOCKAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavMKCOLAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavMOVEAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavPOSTAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavPROPFINDAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavPROPPATCHAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavPUTAuth.feature
  tests/acceptance/features/bootstrap/AuthContext.php
  tests/acceptance/features/bootstrap/FeatureContext.php
  tests/acceptance/features/bootstrap/OCSContext.php
  tests/acceptance/features/bootstrap/WebDav.php
Labels: QA-team, dev:acceptance-tests

#37701 [Tests-Only]Add acceptance tests to copy files over folder and vice versa
  tests/acceptance/features/apiWebdavProperties1/copyFile.feature
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team

#37698 [Tests-Only] Correct the label reported in FileActionsMenu openDetails
  tests/acceptance/features/lib/FilesPageElement/FileActionsMenu.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37706 [Tests-Only] Fix replacement usernames
  tests/acceptance/features/apiFederation1/federated.feature
  tests/acceptance/features/apiShareCreateSpecial1/createShareExpirationDate.feature
  tests/acceptance/features/apiShareCreateSpecial1/createShareReceivedInMultipleWays.feature
  tests/acceptance/features/apiShareCreateSpecial2/createShareGroupCaseSensitive.feature
  tests/acceptance/features/apiSharePublicLink1/createPublicLinkShare.feature
  tests/acceptance/features/apiSharePublicLink2/updatePublicLinkShare.feature
  tests/acceptance/features/apiWebdavProperties2/getFileProperties.feature
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/bootstrap/WebDavPropertiesContext.php
  tests/acceptance/features/webUISharingInternalGroups2/shareWithGroupUsingExpirationDate.feature
  tests/acceptance/features/webUISharingInternalUsers2/shareWithUserUsingExpirationDate.feature
  tests/acceptance/run.sh
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37709 [Tests-Only] Fix phpstan.neon after phpstan 0.12.33 release
  phpstan.neon
Labels: 3 - To Review, QA-team

#37708 [10.5.0] [tx] updated from transifex
  core/l10n/gl.js
  core/l10n/gl.json
  lib/l10n/gl.js
  lib/l10n/gl.json
  phpstan.neon
  settings/l10n/gl.js
  settings/l10n/gl.json
Labels: 3 - To Review

#37700 [10.5.0] Adjust enable lock file action
  apps/files/lib/App.php
  changelog/10.5.0_2020-07-09/37460
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/lib/FilesPageElement/FileActionsMenu.php
  tests/acceptance/features/webUIFiles/lockFile.feature
Labels: 3 - To Review

#37668 [Tests-Only] Reviewed scenarios with tag @issue-ocis-reva-21
  tests/acceptance/features/apiFavorites/favorites.feature
  tests/acceptance/features/apiMain/checksums.feature
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/apiShareOperations/accessToShare.feature
  tests/acceptance/features/apiShareOperations/gettingShares.feature
  tests/acceptance/features/apiVersions/fileVersions.feature
Labels: QA-team

#37714 [Tests-Only] Allow up to 9 seconds delay in setTimeout API tests
  tests/acceptance/features/apiWebdavLocks2/setTimeout.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#37713 [Tests-Only] Api tests fix
  tests/acceptance/features/apiAuthOcs/ocsDELETEAuth.feature
  tests/acceptance/features/apiAuthOcs/ocsGETAuth.feature
  tests/acceptance/features/apiAuthOcs/ocsPOSTAuth.feature
  tests/acceptance/features/apiAuthOcs/ocsPUTAuth.feature
  tests/acceptance/features/apiWebdavProperties1/copyFile.feature
  tests/acceptance/features/bootstrap/AuthContext.php
  tests/acceptance/features/bootstrap/OCSContext.php
Labels: 3 - To Review, QA-team

#37718 Zipstreamer 2.0.0
  changelog/unreleased/37159
  composer.json
  composer.lock
Labels: 3 - To Review, dependencies, php

#37707 [Tests-Only] Add acceptance tests to copy files/folders in received shares
  tests/acceptance/features/apiWebdavProperties1/copyFile.feature
Labels: QA-team

#37722 [Tests-Only] Adjust test scenarios for ocis and reva so that they pass
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/apiShareOperations/gettingShares.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#37711 [10.5.0] Ignore enterprise_key app when checking for apps to default_enable
  changelog/10.5.0_2020-07-09/36814
  lib/private/Installer.php
  lib/private/legacy/app.php
Labels: 3 - To Review

#37727 Update Symfony components to 4.4.11
  changelog/unreleased/37727
  composer.lock
Labels: 3 - To Review, dependencies, php

#37730 Update league/flysystem (1.0.69 => 1.0.70)
  changelog/unreleased/37730
  composer.lock
Labels: 4 - To release, dependencies, php

#37717 [Tests-Only] Add EXPECTED_FAILURES_FILE capability to acceptance tests run.sh
  tests/acceptance/run.sh
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37733 Bump readme version to 10.5
  README.md
Labels: 4 - To release

#37731 [10.5.0] add DI registration for licence manager
  changelog/10.5.0_2020-07-09/36814
  lib/private/AppFramework/DependencyInjection/DIContainer.php
  lib/public/License/ILicenseManager.php
Labels: 3 - To Review

#37735 make some files inaccessible
  .htaccess
  changelog/unreleased/37734
Labels: 3 - To Review

#37721 [Tests-Only]Modify functions to check the presence of files and folders
  tests/TestHelpers/WebDavHelper.php
  tests/acceptance/features/apiMain/external-storage.feature
  tests/acceptance/features/apiShareManagement/moveReceivedShare.feature
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/apiShareOperations/changingFilesShare.feature
  tests/acceptance/features/apiSharePublicLink2/copyFromPublicLink.feature
  tests/acceptance/features/apiShareReshare2/reShareSubfolder.feature
  tests/acceptance/features/apiWebdavLocks/folder.feature
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/bootstrap/TransferOwnershipContext.php
  tests/acceptance/features/bootstrap/WebDav.php
Labels: QA-team

#37740 [Tests-Only] Remove skipOnOcis tag for scenarios not to be skipped on ocis
  tests/acceptance/features/apiAuthOcs/ocsDELETEAuth.feature
  tests/acceptance/features/apiAuthOcs/ocsPUTAuth.feature
  tests/acceptance/features/bootstrap/AuthContext.php
Labels: QA-team

#37742 [tests-only] Fix tests for ocis with proxy
  tests/acceptance/features/apiMain/main.feature
  tests/acceptance/features/apiWebdavPreviews/previews.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#37745 [Tests-Only] Include trailing slash when matching a suite name
  tests/acceptance/run.sh
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37746 [Tests-Only] Refactor listFolder acceptance tests
  tests/TestHelpers/HttpRequestHelper.php
  tests/TestHelpers/WebDavHelper.php
  tests/acceptance/features/bootstrap/FeatureContext.php
  tests/acceptance/features/bootstrap/TrashbinContext.php
  tests/acceptance/features/bootstrap/WebDav.php
  tests/acceptance/features/bootstrap/WebDavPropertiesContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37699 Adjust enable lock file action
  apps/files/lib/App.php
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/lib/FilesPageElement/FileActionsMenu.php
  tests/acceptance/features/webUIFiles/lockFile.feature
Labels: 3 - To Review

#37749 [tests-only] use usersHaveBeenCreated & delete UserHelper::createUser
  tests/TestHelpers/UserHelper.php
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: QA-team, dev:acceptance-tests

#37720 Add enable lock file action checkbox
  changelog/unreleased/37720
  settings/Panels/Admin/PersistentLocking.php
  settings/js/panels/persistentlocking.js
  settings/templates/panels/admin/persistentlocking.php
Labels: 3 - To Review

#37751 [Tests-Only] Add tests for new capabilities
  tests/acceptance/features/apiCapabilities/capabilities.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37752 [Tests-Only] Skip new lock tests on old ownCloud
  tests/acceptance/features/webUIFiles/lockFile.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37729 Delete the correct expired share and handle user/group shares on ExpiredSharesJob
  apps/federatedfilesharing/lib/FederatedShareProvider.php
  apps/files_sharing/lib/ExpireSharesJob.php
  apps/files_sharing/tests/ExpireSharesJobTest.php
  changelog/unreleased/37729
  lib/private/Share20/DefaultShareProvider.php
  lib/private/Share20/Manager.php
  lib/public/Share/IShareProvider.php
Labels: 3 - To Review

#37753 [tests-only] only send userid and password on user creation
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: QA-team, dev:acceptance-tests

#37756 [tests-only] Delete users after test ocis ocs
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37757 [tests-only] delete reva data folder after tests
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: QA-team, dev:acceptance-tests

#37759 [Tests-Only] Respect the user creation method in usersHaveBeenCreated
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#37760 Adjustment of the maximum width of the appmenu
  core/css/header.css
Labels: 3 - To Review, design, enhancement

#37755 allow storages to explicitly opt-out of uploading .part files
  apps/dav/lib/Connector/Sabre/File.php
  apps/files_external/lib/Lib/Storage/Google.php
  apps/files_external/lib/Lib/Storage/OwnCloud.php
  apps/files_external/tests/OwnCloudFunctionsTest.php
  apps/files_sharing/lib/External/Storage.php
  apps/files_sharing/tests/ExternalStorageTest.php
  changelog/unreleased/25826
  lib/private/Files/ObjectStore/ObjectStoreStorage.php
  lib/private/Files/Storage/Common.php
  lib/private/Files/Storage/Wrapper/Wrapper.php
  lib/public/Files/Storage/IStorage.php
  tests/lib/Files/Storage/Storage.php
  tests/lib/Files/Storage/Wrapper/WrapperTest.php
Labels: 3 - To Review
