Repository owncloud/core, pull requests merged in 2020-10, with the labels that each got.

#37954 [tests-only] API tests for etag propagation
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiWebdavEtagPropagation/createFolder.feature
  tests/acceptance/features/apiWebdavEtagPropagation/deleteFileFolder.feature
  tests/acceptance/features/apiWebdavEtagPropagation/moveFileFolder.feature
  tests/acceptance/features/apiWebdavEtagPropagation/restoreFromTrash.feature
  tests/acceptance/features/apiWebdavEtagPropagation/restoreVersion.feature
  tests/acceptance/features/apiWebdavEtagPropagation/upload.feature
  tests/acceptance/features/apiWebdavUpload1/uploadFile.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37968 [tests-only] run etag tests in CI
  .drone.star
Labels: QA-team, dev:acceptance-tests

#37969 [Tests-Only] Skip tests that fail due to issue-files_primary_s3-387
  tests/acceptance/features/apiWebdavEtagPropagation/restoreVersion.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37971 [Tests-Only] Fix federated tests when PR is from a fork
  .drone.star
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37975 Update sabre and symfony dependencies
  apps/dav/tests/unit/CalDAV/CalDavBackendTest.php
  apps/dav/tests/unit/CardDAV/BirthdayServiceTest.php
  apps/dav/tests/unit/CardDAV/ConverterTest.php
  apps/dav/tests/unit/CardDAV/ImageExportPluginTest.php
  changelog/unreleased/37975
  changelog/unreleased/37975-2
  composer.lock
Labels: 3 - To Review, dependencies, php

#37967 [Tests-Only] Refactor federation sharing tests for shares folder
  .drone.star
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiFederationToRoot1/etagPropagation.feature
  tests/acceptance/features/apiFederationToRoot1/federated.feature
  tests/acceptance/features/apiFederationToRoot2/federated.feature
  tests/acceptance/features/apiFederationToShares1/etagPropagation.feature
  tests/acceptance/features/apiFederationToShares1/federated.feature
  tests/acceptance/features/apiFederationToShares2/federated.feature
  tests/acceptance/features/bootstrap/FeatureContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37953 Remove progress bar from the DropOldTables repair job
  changelog/unreleased/37953
  lib/private/Repair/DropOldTables.php
  tests/Core/Command/Maintenance/RepairTest.php
Labels: 3 - To Review

#37973 Don't change the directory of the share target while deduplicating
  apps/files_sharing/lib/Controller/Share20OcsController.php
  changelog/unreleased/37973
  tests/acceptance/features/apiShareCreateSpecialToShares1/createShareExpirationDate.feature
  tests/acceptance/features/apiShareCreateSpecialToShares2/createShareGroupCaseSensitive.feature
  tests/acceptance/features/apiShareManagementToRoot/acceptSharesToSharesFolderOc10Issue37883.feature
  tests/acceptance/features/apiShareManagementToShares/acceptSharesToSharesFolder.feature
  tests/acceptance/features/apiShareReshareToShares1/reShare.feature
Labels: 3 - To Review

#37972 [tests-only] sharing related etag tests
  .drone.star
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiWebdavEtagPropagation/createFolder.feature
  tests/acceptance/features/apiWebdavEtagPropagation/deleteFileFolder.feature
  tests/acceptance/features/apiWebdavEtagPropagation/moveFileFolder.feature
  tests/acceptance/features/apiWebdavEtagPropagation/upload.feature
  tests/acceptance/features/apiWebdavEtagPropagation1/deleteFileFolder.feature
  tests/acceptance/features/apiWebdavEtagPropagation1/moveFileFolder.feature
  tests/acceptance/features/apiWebdavEtagPropagation2/createFolder.feature
  tests/acceptance/features/apiWebdavEtagPropagation2/restoreFromTrash.feature
  tests/acceptance/features/apiWebdavEtagPropagation2/restoreVersion.feature
  tests/acceptance/features/apiWebdavEtagPropagation2/upload.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#37980 [Tests-Only] Refactor etag tests
  tests/acceptance/features/apiWebdavEtagPropagation1/deleteFileFolder.feature
  tests/acceptance/features/apiWebdavEtagPropagation1/moveFileFolder.feature
  tests/acceptance/features/apiWebdavEtagPropagation2/createFolder.feature
  tests/acceptance/features/apiWebdavEtagPropagation2/restoreFromTrash.feature
  tests/acceptance/features/apiWebdavEtagPropagation2/restoreVersion.feature
  tests/acceptance/features/apiWebdavEtagPropagation2/upload.feature
  tests/acceptance/features/bootstrap/WebDavPropertiesContext.php
Labels: QA-team, dev:acceptance-tests

#37981 [Tests-Only] skip scenarios on old oC10 that were fixed in PR 37973
  tests/acceptance/features/apiShareCreateSpecialToShares1/createShareExpirationDate.feature
  tests/acceptance/features/apiShareCreateSpecialToShares2/createShareGroupCaseSensitive.feature
  tests/acceptance/features/apiShareManagementToShares/acceptSharesToSharesFolder.feature
  tests/acceptance/features/apiShareReshareToShares1/reShare.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37715 Change cache prefix only with server upgrades but not installing apps
  changelog/unreleased/37715
  core/Command/Upgrade.php
  core/ajax/update.php
  core/register_command.php
  lib/private/Server.php
Labels: 3 - To Review

#37983 [tests-only] test etag propagation when changes happen on public links
  tests/acceptance/features/apiWebdavEtagPropagation1/deleteFileFolder.feature
  tests/acceptance/features/apiWebdavEtagPropagation1/moveFileFolder.feature
  tests/acceptance/features/apiWebdavEtagPropagation2/createFolder.feature
  tests/acceptance/features/apiWebdavEtagPropagation2/upload.feature
  tests/acceptance/features/bootstrap/PublicWebDavContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37985 [Tests-Only] List UNEXPECTED_PASSED_SCENARIOS on separate lines
  tests/acceptance/run.sh
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37986 [Tests-Only] Add notToImplementOnOCIS to ShareToRoot features
  tests/acceptance/features/apiShareCreateSpecialToRoot2/createShareWithDisabledUser.feature
  tests/acceptance/features/apiShareManagementToRoot/moveReceivedShare.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#37989 [Tests-Only] fix scenarios to use status check for accepting shares
  tests/acceptance/features/apiShareCreateSpecialToShares1/createShareExpirationDate.feature
  tests/acceptance/features/apiShareCreateSpecialToShares1/createShareReceivedInMultipleWays.feature
  tests/acceptance/features/apiShareCreateSpecialToShares2/createShareGroupAndUserWithSameName.feature
  tests/acceptance/features/apiShareCreateSpecialToShares2/createShareGroupCaseSensitive.feature
  tests/acceptance/features/apiShareCreateSpecialToShares2/createShareWhenShareWithOnlyMembershipGroups.feature
  tests/acceptance/features/apiShareManagementBasicToShares/createShareToSharesFolder.feature
  tests/acceptance/features/apiShareManagementToShares/acceptShares.feature
  tests/acceptance/features/apiShareReshareToShares1/reShare.feature
  tests/acceptance/features/apiShareReshareToShares2/reShareDisabled.feature
  tests/acceptance/features/apiShareReshareToShares2/reShareSubfolder.feature
  tests/acceptance/features/apiShareReshareToShares3/reShareWithExpiryDate.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#37984 [Tests-Only] Make the excludes longer in sonar-project
  .drone.star
  .gitignore
  sonar-project.properties
  tests/karma.config.js
Labels: 3 - To Review

#37982 [Tests-Only] Send coverage to SonarCloud
  .drone.star
  .gitignore
  sonar-project.properties
  tests/karma.config.js
Labels: 3 - To Review, QA-team

#37990 [Tests-Only] Do not run sonar codecov analysis for merge CI
  .drone.star
Labels: 3 - To Review, QA-team

#37991 [Tests-Only] Run JS and PHP unit tests on merge
  .drone.star
Labels: 4 - To release

#37934 Checksum won't be reset if there is a new checksum to be set
  apps/files_versions/lib/Storage.php
  changelog/unreleased/37934
  lib/private/Files/Cache/Cache.php
  lib/private/Files/Cache/Scanner.php
  lib/private/Files/Stream/Checksum.php
Labels: 3 - To Review

#37834 setupFS for share user before accepting a federated share
  apps/files_sharing/lib/External/Manager.php
  changelog/unreleased/37834
Labels: 3 - To Review

#37786 Ignore exceptions while getting the extended share info
  apps/files_sharing/lib/Controller/RemoteOcsController.php
  changelog/unreleased/37786
Labels: 4 - To release

#37856 If the client disconnects while downloading, use debug level instead
  changelog/unreleased/37856
  lib/private/legacy/files.php
Labels: 3 - To Review

#37999 [tests-only] use new default OCIS data root
  tests/TestHelpers/OcisHelper.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#38002 [Tests-Only] Increase the number of parts for apiProxySmoke tests to reduce elapsed time
  .drone.star
Labels: 3 - To Review, QA-team

#37960 Adjust scanner flags
  lib/private/Files/Cache/Scanner.php
  lib/private/Files/Cache/Watcher.php
  lib/public/Files/Cache/IScanner.php
Labels: 3 - To Review

#37964 Fix problem with the share icons when the avatars are disabled
  apps/files_sharing/css/sharetabview.css
  changelog/unreleased/37964
  core/js/sharedialogshareelistview.js
  core/js/tests/specs/sharedialogviewSpec.js
Labels: 3 - To Review

#38005 [tests-only] new env. variable to set how files/folders are provisioned for tests
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: QA-team, dev:acceptance-tests

#37995 [Tests-Only] update test tags for provisioning tests for ocis
  tests/acceptance/features/apiProvisioning-v1/enableUser.feature
  tests/acceptance/features/apiProvisioning-v1/resetUserPassword.feature
  tests/acceptance/features/apiProvisioning-v2/enableUser.feature
  tests/acceptance/features/apiProvisioning-v2/resetUserPassword.feature
  tests/acceptance/features/apiTrashbin/trashbinFilesFolders.feature
  tests/acceptance/features/apiWebdavProperties2/getFileProperties.feature
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#38009 [tests-only] Remove unused use statements in test code
  tests/TestHelpers/OcisHelper.php
  tests/TestHelpers/WebDavHelper.php
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#38011 [tests-only] Improve the test messages emitted by HTTP status code checks
  tests/acceptance/features/bootstrap/FeatureContext.php
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#38012 [tests-only] Update composer/semver (3.2.1 => 3.2.2)
  composer.lock
Labels: 4 - To release, dependencies, php

#38013 [tests-only] test trashbin related scenarios when shares are recieved in subfolder
  tests/acceptance/features/apiTrashbin/trashbinFilesFolders.feature
  tests/acceptance/features/apiTrashbin/trashbinRestore.feature
  tests/acceptance/features/apiTrashbin/trashbinSharingToRoot.feature
  tests/acceptance/features/apiTrashbin/trashbinSharingToShares.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#37796 [Tests-only] adjust tests for EOS storage
  tests/TestHelpers/OcisHelper.php
  tests/acceptance/features/apiFavorites/favorites.feature
  tests/acceptance/features/apiMain/checksums.feature
  tests/acceptance/features/apiShareManagementBasicToShares/createShareToSharesFolder.feature
  tests/acceptance/features/apiSharePublicLink1/changingPublicLinkShare.feature
  tests/acceptance/features/apiSharePublicLink1/createPublicLinkShare.feature
  tests/acceptance/features/apiSharePublicLink2/uploadToPublicLinkShare.feature
  tests/acceptance/features/apiVersions/fileVersions.feature
  tests/acceptance/features/apiVersions/fileVersionsOc10Issue37026.feature
  tests/acceptance/features/apiWebdavMove2/moveFile.feature
  tests/acceptance/features/apiWebdavOperations/deleteFolder.feature
  tests/acceptance/features/apiWebdavOperations/downloadFile.feature
  tests/acceptance/features/apiWebdavProperties1/createFolder.feature
  tests/acceptance/features/apiWebdavProperties1/setFileProperties.feature
  tests/acceptance/features/apiWebdavProperties2/getFileProperties.feature
  tests/acceptance/features/apiWebdavUpload1/uploadFile.feature
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/bootstrap/Sharing.php
Labels: QA-team, dev:acceptance-tests

#38016 check public link already authenticated before checking password of link
  apps/dav/lib/Connector/PublicAuth.php
  changelog/unreleased/38016
Labels: 3 - To Review

#37996 Adjust some sonarcloud items
  apps/comments/lib/Dav/CommentNode.php
  apps/dav/lib/Connector/Sabre/FilesPlugin.php
  apps/federatedfilesharing/lib/Controller/OcmController.php
  apps/files_external/lib/Lib/Backend/SMB.php
  apps/files_sharing/lib/Controllers/ShareController.php
  core/Command/Log/Manage.php
  lib/private/AppFramework/Http/Output.php
  lib/private/Comments/Comment.php
  lib/private/Comments/Manager.php
  lib/private/DateTimeFormatter.php
  lib/private/Files/Cache/Wrapper/CacheJail.php
Labels: 3 - To Review

#38020 [Tests-Only] Fix mixed-case and uppercase username in API test
  tests/acceptance/features/apiProvisioning-v1/getUser.feature
  tests/acceptance/features/apiProvisioning-v2/getUser.feature
  tests/acceptance/features/apiProvisioningGroups-v1/addToGroup.feature
Labels: 4 - To release, QA-team

#37948 OCS and Public WebDAV Apis should handle LoginException
  apps/dav/lib/Files/PublicFiles/PublicSharingAuth.php
  changelog/unreleased/37948
  lib/private/AppFramework/Middleware/Security/SecurityMiddleware.php
  ocs/v1.php
Labels: 3 - To Review

#38022 [tests-only] remove unused folder parameter from Favorites test-functions
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiFavorites/favorites.feature
  tests/acceptance/features/apiFavorites/favoritesOc10Issue33840.feature
  tests/acceptance/features/bootstrap/FavoritesContext.php
Labels: QA-team, dev:acceptance-tests

#38024 [Tests-Only]Refactored some more bug demonstration scenarios for webUI test
  tests/acceptance/features/webUISharingPublic2/shareByPublicLink.feature
  tests/acceptance/features/webUISharingPublic2/shareByPublicLinkOc10Issue35174.feature
  tests/acceptance/features/webUISharingPublic2/shareByPublickLinkOc10Issue35177.feature
  tests/acceptance/features/webUIWebdavLocks/locks.feature
  tests/acceptance/features/webUIWebdavLocks/locksOc10Issue33867.feature
  tests/acceptance/features/webUIWebdavLocks/locksOc10Issue34315.feature
Labels: 3 - To Review, QA-team

#38026 [tests-only] Remove misleading error output from run.sh
  tests/acceptance/run.sh
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#38028 [tests-only] add tests to demonstrate issue #38027
  tests/acceptance/features/apiFavorites/favoritesOc10Issue38027.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#38031 [tests-only] test favorites related scenarios when shares are recieved in subfolder
  tests/acceptance/features/apiFavorites/favorites.feature
  tests/acceptance/features/apiFavorites/favoritesSharingToShares.feature
Labels: QA-team, dev:acceptance-tests

#38030 [Tests-Only]Bug demonstration scenarios added separately for cli tests
  tests/acceptance/features/cliLocalStorage/createLocalStorage.feature
  tests/acceptance/features/cliLocalStorage/createLocalStorageOc10Issue36713.feature
  tests/acceptance/features/cliLocalStorage/createLocalStorageOc10Issue36719.feature
  tests/acceptance/features/cliLocalStorage/scanLocalStorage.feature
  tests/acceptance/features/cliLocalStorage/scanLocalStorageOc10Issue33670.feature
  tests/acceptance/features/cliProvisioning/editUser.feature
  tests/acceptance/features/cliProvisioning/editUserOc10Issue23603.feature
  tests/acceptance/features/cliProvisioning/getGroup.feature
  tests/acceptance/features/cliProvisioning/getUserGroups.feature
  tests/acceptance/features/cliProvisioning/resetUserPassword.feature
  tests/acceptance/features/cliProvisioning/resetUserPasswordOc10Issue36985.feature
Labels: QA-team

#38032 Update symfony/polyfill (1.18.1 => 1.19.0)
  changelog/unreleased/38032
  composer.lock
  lib/private/Config.php
Labels: 3 - To Review, dependencies, php

#38033 Update symfony/polyfill (1.19.0 => 1.20.0)
  changelog/unreleased/38033
  composer.lock
Labels: 3 - To Review, dependencies, php

#38034 [tests-only] regression tests for ocis/issues/720
  tests/acceptance/features/apiShareManagementBasicToShares/deleteShareFromShares.feature
Labels: QA-team, dev:acceptance-tests

#38035 [tests-only] regression tests for ocis/issues/751
  tests/acceptance/features/apiWebdavOperations/propfind.feature
Labels: QA-team, dev:acceptance-tests

#38036 [tests-only] test publiclink reshare scenarios when shares are recieved in subfolder
  tests/acceptance/features/apiSharePublicLink2/reShareAsPublicLinkToRoot.feature
  tests/acceptance/features/apiSharePublicLink2/reShareAsPublicLinkToShares.feature
Labels: QA-team, dev:acceptance-tests

#38038 Change the position of the background image for the login page
  core/css/styles.css
Labels: 4 - To release

#38044 Update dg/composer-cleaner (v2.1 => v2.2)
  changelog/unreleased/38044
  composer.lock
Labels: 3 - To Review, dependencies, php

#38042 Properly handle StorageNotAvailableException in share external
  apps/files/js/files.js
  apps/files_sharing/lib/External/Watcher.php
  changelog/unreleased/38042
Labels: 4 - To release

#38045 [tests-only] let more sharing tests run on ocis
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiShareOperationsToRoot/uploadToShare.feature
  tests/acceptance/features/apiShareOperationsToShares/changingFilesShare.feature
  tests/acceptance/features/apiShareOperationsToShares/uploadToShare.feature
Labels: QA-team, dev:acceptance-tests

#38046 Update Symfony components to 4.4.16
  changelog/unreleased/38046
  composer.lock
Labels: 4 - To release, dependencies, php

#38000 Allow getting the share list filtered by share type via API
  apps/files_sharing/js/sharedfilelist.js
  apps/files_sharing/lib/Controller/Share20OcsController.php
  apps/files_sharing/tests/Controller/Share20OcsControllerTest.php
  apps/files_sharing/tests/js/sharedfilelistSpec.js
  changelog/unreleased/38000
  tests/acceptance/features/apiShareOperationsToRoot/gettingSharesReceivedFiltered.feature
  tests/acceptance/features/apiShareOperationsToRoot/gettingSharesReceivedFilteredEmpty.feature
  tests/acceptance/features/apiShareOperationsToRoot/gettingSharesSharedFiltered.feature
  tests/acceptance/features/apiShareOperationsToRoot/gettingSharesSharedFilteredEmpty.feature
  tests/acceptance/features/apiShareOperationsToShares/gettingSharesPendingFiltered.feature
  tests/acceptance/features/apiShareOperationsToShares/gettingSharesReceivedFiltered.feature
  tests/acceptance/features/apiShareOperationsToShares/gettingSharesReceivedFilteredEmpty.feature
  tests/acceptance/features/apiShareOperationsToShares/gettingSharesSharedFiltered.feature
  tests/acceptance/features/apiShareOperationsToShares/gettingSharesSharedFilteredEmpty.feature
  tests/acceptance/features/bootstrap/Sharing.php
Labels: 4 - To release

#38048 [tests-only] Skip new share filter API tests on old oC10
  tests/acceptance/features/apiShareOperationsToRoot/gettingSharesReceivedFiltered.feature
  tests/acceptance/features/apiShareOperationsToRoot/gettingSharesReceivedFilteredEmpty.feature
  tests/acceptance/features/apiShareOperationsToRoot/gettingSharesSharedFiltered.feature
  tests/acceptance/features/apiShareOperationsToRoot/gettingSharesSharedFilteredEmpty.feature
  tests/acceptance/features/apiShareOperationsToShares/gettingSharesPendingFiltered.feature
  tests/acceptance/features/apiShareOperationsToShares/gettingSharesReceivedFiltered.feature
  tests/acceptance/features/apiShareOperationsToShares/gettingSharesReceivedFilteredEmpty.feature
  tests/acceptance/features/apiShareOperationsToShares/gettingSharesSharedFiltered.feature
  tests/acceptance/features/apiShareOperationsToShares/gettingSharesSharedFilteredEmpty.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#38049 [tests-only] correctly report unexpected passes when running a single feature
  tests/acceptance/run.sh
Labels: 4 - To release, QA-team, dev:acceptance-tests

#38050 [tests-only] correct reshare test to use the correct path
  tests/acceptance/features/apiShareReshareToShares1/reShare.feature
Labels: QA-team, dev:acceptance-tests

#38051 [tests-only] Improve skeleton upload error message
  tests/TestHelpers/OcisHelper.php
  tests/acceptance/features/bootstrap/Sharing.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#38052 [tests-only] test webdav locks when shares are received in a sub-folder
  tests/acceptance/features/apiWebdavLocks2/resharedSharesToRoot.feature
  tests/acceptance/features/apiWebdavLocks2/resharedSharesToShares.feature
  tests/acceptance/features/apiWebdavLocks2/setTimeout.feature
  tests/acceptance/features/apiWebdavLocks2/setTimeoutSharesToRoot.feature
  tests/acceptance/features/apiWebdavLocks2/setTimeoutSharesToShares.feature
  tests/acceptance/features/apiWebdavLocks2/unlock.feature
  tests/acceptance/features/apiWebdavLocks2/unlockSharingToRoot.feature
  tests/acceptance/features/apiWebdavLocks2/unlockSharingToShares.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#38056 [tests-only] split public link tests into separate files for new/old dav
  tests/acceptance/features/apiSharePublicLink2/reShareAsPublicLinkToSharesNewDav.feature
  tests/acceptance/features/apiSharePublicLink2/reShareAsPublicLinkToSharesOldDav.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#38058 [tests-only] Adjust tests to better run on PGSQL
  .drone.star
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiAuthOcs/ocsGETAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavLOCKAuth.feature
  tests/acceptance/features/apiAuthWebDav/webDavMKCOLAuth.feature
  tests/acceptance/features/apiCapabilities/capabilities.feature
  tests/acceptance/features/apiFederationToShares1/federated.feature
  tests/acceptance/features/apiProvisioningGroups-v1/getSubAdminGroups.feature
  tests/acceptance/features/apiProvisioningGroups-v1/getUserGroups.feature
  tests/acceptance/features/apiProvisioningGroups-v1/getUserGroupsOc10Issue31015.feature
  tests/acceptance/features/apiProvisioningGroups-v2/getSubAdminGroups.feature
  tests/acceptance/features/apiProvisioningGroups-v2/getUserGroups.feature
  tests/acceptance/features/apiProvisioningGroups-v2/getUserGroupsOc10Issue31015.feature
  tests/acceptance/features/apiShareManagementToShares/acceptShares.feature
  tests/acceptance/features/apiShareOperationsToShares/gettingShares.feature
  tests/acceptance/features/apiShareUpdateToShares/updateShare.feature
  tests/acceptance/features/apiSharingNotificationsToRoot/sharingNotifications.feature
  tests/acceptance/features/apiSharingNotificationsToShares/sharingNotifications.feature
  tests/acceptance/features/apiTags/retreiveTags.feature
  tests/acceptance/features/apiTrashbin/trashbinFilesFolders.feature
  tests/acceptance/features/apiTrashbin/trashbinRestore.feature
  tests/acceptance/features/apiWebdavLocksUnlock/unlock.feature
  tests/acceptance/features/apiWebdavLocksUnlock/unlockOc10Issue34302.feature
  tests/acceptance/features/apiWebdavLocksUnlock/unlockSharingToRoot.feature
  tests/acceptance/features/apiWebdavLocksUnlock/unlockSharingToShares.feature
  tests/acceptance/features/apiWebdavOperations/deleteFolderContents.feature
  tests/acceptance/features/apiWebdavOperations/downloadFile.feature
  tests/acceptance/features/apiWebdavPreviews/previews.feature
  tests/acceptance/features/apiWebdavProperties1/copyFile.feature
  tests/acceptance/features/apiWebdavProperties2/getFileProperties.feature
  tests/acceptance/features/apiWebdavUpload1/uploadFile.feature
  tests/acceptance/features/bootstrap/TagsContext.php
  tests/acceptance/features/cliExternalStorage/filesExternalWebdavOwncloud.feature
  tests/acceptance/features/cliLocalStorage/importLocalStorage.feature
  tests/acceptance/features/cliLocalStorage/manageBackendConfig.feature
  tests/acceptance/features/cliLocalStorage/manageOptionsForLocalStorage.feature
  tests/acceptance/features/cliLocalStorage/verifyMountConfiguration.feature
  tests/acceptance/features/cliProvisioning/editUser.feature
  tests/acceptance/features/webUIAddUsers/addUsers.feature
  tests/acceptance/features/webUICreateDelete/createFoldersEdgeCases.feature
  tests/acceptance/features/webUIRenameFolders/renameFoldersToExcludedDirectory.feature
  tests/acceptance/features/webUISharingExternal2/createFederationSharing.feature
  tests/acceptance/features/webUISharingInternalGroups2/shareWithGroupUsingExpirationDate.feature
  tests/acceptance/features/webUISharingInternalGroups2/shareWithGroupsEdgeCases.feature
  tests/acceptance/features/webUISharingInternalUsers1/createShareWithUsers.feature
  tests/acceptance/features/webUISharingInternalUsers1/miscShareWithUsers.feature
  tests/acceptance/features/webUISharingInternalUsers2/shareWithUserUsingExpirationDate.feature
  tests/acceptance/features/webUISharingPublic2/shareByPublicLink.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests
