Repository owncloud/core, pull requests merged in 2020-01, with the labels that each got.

#36669 Adjusted combined given-when steps in Trashbin context
  tests/acceptance/features/bootstrap/TrashbinContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36672 Acceptance tests: Avoid using contexts functions from the traits
  tests/acceptance/features/bootstrap/Logging.php
Labels: 3 - To Review, Acceptance tests, QA-team, dev:acceptance-tests

#36664 Adjusted combined given-when steps in PublicWebDav context
  tests/acceptance/features/bootstrap/PublicWebDavContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36665 Adjusted combined given-when steps in Sharing context
  tests/acceptance/features/bootstrap/Sharing.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36397 New mount setting: read only mount
  apps/files_external/js/settings.js
  apps/files_external/lib/Command/ListCommand.php
  apps/files_external/templates/settings.php
  apps/files_external/tests/js/settingsSpec.js
  changelog/unreleased/36397
  lib/private/legacy/util.php
  tests/acceptance/features/bootstrap/WebDav.php
  tests/acceptance/features/bootstrap/WebUIAdminStorageSettingsContext.php
  tests/acceptance/features/lib/AdminStorageSettingsPage.php
  tests/acceptance/features/webUIAdminSettings/adminStorageSettings.feature
  tests/lib/Files/External/StorageConfigTest.php
Labels: 3 - To Review

#36679 Adjusted combined given-when in WebUIAdminStorageSettings context
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/bootstrap/WebUIAdminStorageSettingsContext.php
  tests/acceptance/features/webUIAdminSettings/adminStorageSettings.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36644 Adjusted combined given/when steps in OccContext
  tests/acceptance/features/bootstrap/OccContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36681 Test changes 20200102 for 10.4.0
  tests/TestHelpers/Asserts/WebDav.php
  tests/TestHelpers/LoggingHelper.php
  tests/acceptance/features/apiFederation/federated.feature
  tests/acceptance/features/apiShareOperations/uploadToShare.feature
  tests/acceptance/features/apiSharePublicLink2/multilinkSharing.feature
  tests/acceptance/features/apiSharingNotifications/sharingNotifications.feature
  tests/acceptance/features/apiTags/assignTags.feature
  tests/acceptance/features/apiTags/createTags.feature
  tests/acceptance/features/apiTags/deleteTags.feature
  tests/acceptance/features/apiTags/editTags.feature
  tests/acceptance/features/apiTags/retreiveTags.feature
  tests/acceptance/features/apiTags/unassignTags.feature
  tests/acceptance/features/apiTrashbin/trashbinRestore.feature
  tests/acceptance/features/apiWebdavUpload/uploadFileAsyncUsingNewChunking.feature
  tests/acceptance/features/apiWebdavUpload/uploadFileUsingNewChunking.feature
  tests/acceptance/features/apiWebdavUpload/uploadFileUsingOldChunking.feature
  tests/acceptance/features/bootstrap/AppManagementContext.php
  tests/acceptance/features/bootstrap/ChecksumContext.php
  tests/acceptance/features/bootstrap/FavoritesContext.php
  tests/acceptance/features/bootstrap/Logging.php
  tests/acceptance/features/bootstrap/NotificationsCoreContext.php
  tests/acceptance/features/bootstrap/OCSContext.php
  tests/acceptance/features/bootstrap/OccAppManagementContext.php
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/bootstrap/OccUsersGroupsContext.php
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/bootstrap/PublicWebDavContext.php
  tests/acceptance/features/bootstrap/SearchContext.php
  tests/acceptance/features/bootstrap/ShareesContext.php
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/bootstrap/TagsContext.php
  tests/acceptance/features/bootstrap/TransferOwnershipContext.php
  tests/acceptance/features/bootstrap/TrashbinContext.php
  tests/acceptance/features/bootstrap/WebDav.php
  tests/acceptance/features/bootstrap/WebDavLockingContext.php
  tests/acceptance/features/bootstrap/WebDavPropertiesContext.php
  tests/acceptance/features/bootstrap/WebUIAdminStorageSettingsContext.php
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
  tests/acceptance/features/bootstrap/WebUINotificationsContext.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/bootstrap/WebUIUsersContext.php
  tests/acceptance/features/cliMain/transfer-ownership.feature
  tests/acceptance/features/webUIAdminSettings/adminStorageSettings.feature
  tests/acceptance/features/webUITags/createTags.feature
  tests/acceptance/features/webUITags/deleteTags.feature
  tests/acceptance/features/webUITags/editTags.feature
  tests/acceptance/features/webUITags/removeTags.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36682 Use consistent function names in OccContext
  tests/acceptance/features/bootstrap/OccContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36683 OccContext changes for 10.4
  tests/acceptance/features/bootstrap/OccContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36673 Acceptance tests: Add more fields in verify table calls used in other apps
  tests/acceptance/features/bootstrap/WebUINotificationsContext.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36677 switch dependency from zendframework to laminas
  changelog/unreleased/36677
  composer.json
  composer.lock
  core/Command/User/ResetPassword.php
  lib/private/Share/Filters/MailNotificationFilter.php
Labels: 3 - To Review, dependencies, php

#36687 Fix template for new changed function for changelog
  changelog/CHANGELOG.tmpl
Labels: 4 - To release, Drone, QA-p1, QA-team

#36688 [release-10.4.0] Fix changelog tmpl release
  changelog/CHANGELOG.tmpl
Labels: 4 - To release, Drone, QA-p1, QA-team

#36685 Skip new read-only storage test on 10.3
  tests/acceptance/features/webUIAdminSettings/adminStorageSettings.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36666 Adjusted combined given-when steps in Tags context
  tests/acceptance/features/bootstrap/TagsContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36689 Add cliLocalStorage test suite with first createLocalStorage.feature
  .drone.starlark
  .drone.yml
  tests/TestHelpers/SetupHelper.php
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/CommandLine.php
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliLocalStorage/createLocalStorage.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36360 Add new regex config parameter version to blacklisted files and excluded directories
  changelog/unreleased/36360
  config/config.sample.php
  lib/private/Files/Filesystem.php
  tests/acceptance/features/apiWebdavMove/moveFile.feature
  tests/acceptance/features/apiWebdavMove/moveFileAsync.feature
  tests/acceptance/features/apiWebdavMove/moveFolder.feature
  tests/acceptance/features/apiWebdavUpload/uploadFile.feature
  tests/acceptance/features/apiWebdavUpload/uploadFileAsyncUsingNewChunking.feature
  tests/acceptance/features/apiWebdavUpload/uploadFileUsingNewChunking.feature
  tests/acceptance/features/apiWebdavUpload/uploadFileUsingOldChunking.feature
  tests/acceptance/features/bootstrap/WebDav.php
  tests/acceptance/features/webUIRenameFiles/renameFiles.feature
  tests/acceptance/features/webUIRenameFolders/renameFolders.feature
  tests/lib/Files/FilesystemTest.php
Labels: 3 - To Review, app:files, enhancement

#36674 Adjusted combined given-when steps in WebDavProperties context
  tests/acceptance/features/bootstrap/WebDavPropertiesContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36655 [10.4] Add new regex config parameter version to blacklisted files and excluded directories
  changelog/unreleased/36360
  config/config.sample.php
  lib/private/Files/Filesystem.php
  tests/acceptance/features/apiWebdavMove/moveFile.feature
  tests/acceptance/features/apiWebdavMove/moveFileAsync.feature
  tests/acceptance/features/apiWebdavMove/moveFolder.feature
  tests/acceptance/features/apiWebdavUpload/uploadFile.feature
  tests/acceptance/features/apiWebdavUpload/uploadFileAsyncUsingNewChunking.feature
  tests/acceptance/features/apiWebdavUpload/uploadFileUsingNewChunking.feature
  tests/acceptance/features/apiWebdavUpload/uploadFileUsingOldChunking.feature
  tests/acceptance/features/bootstrap/WebDav.php
  tests/acceptance/features/webUIRenameFiles/renameFiles.feature
  tests/acceptance/features/webUIRenameFolders/renameFolders.feature
  tests/lib/Files/FilesystemTest.php
Labels: 3 - To Review, app:files, enhancement

#36691 Refactor runOcc calls to save occ command results
  tests/acceptance/features/apiMain/appmanagement.feature
  tests/acceptance/features/bootstrap/AppManagementContext.php
  tests/acceptance/features/bootstrap/Sharing.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36692 Delete unused Given steps in TagsContext
  tests/acceptance/features/bootstrap/TagsContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36680 [10.4] Read only mount
  apps/files_external/js/settings.js
  apps/files_external/lib/Command/ListCommand.php
  apps/files_external/templates/settings.php
  apps/files_external/tests/js/settingsSpec.js
  changelog/unreleased/36397
  lib/private/legacy/util.php
  tests/acceptance/features/bootstrap/WebDav.php
  tests/acceptance/features/bootstrap/WebUIAdminStorageSettingsContext.php
  tests/acceptance/features/lib/AdminStorageSettingsPage.php
  tests/acceptance/features/webUIAdminSettings/adminStorageSettings.feature
  tests/lib/Files/External/StorageConfigTest.php
Labels: 3 - To Review

#36694 Review of 36360
  lib/private/Files/Filesystem.php
Labels: 4 - To release

#36698 Adjust read-only local storage mount scenario
  tests/acceptance/features/webUIAdminSettings/adminStorageSettings.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36706 Acceptance Test: remove unused header 'content' from verification step in notifications context
  tests/acceptance/features/bootstrap/WebUINotificationsContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36705 Split the given and when steps for tags context and users context in acceptance tests
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/bootstrap/TagsContext.php
  tests/acceptance/features/bootstrap/WebUITagsContext.php
  tests/acceptance/features/bootstrap/WebUIUsersContext.php
  tests/acceptance/features/webUIManageQuota/manageUserQuota.feature
  tests/acceptance/features/webUITags/createTags.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36707 Move scenarios from cliMain/files.feature to cliLocalStorage and refactor
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/bootstrap/WebDav.php
  tests/acceptance/features/cliLocalStorage/createLocalStorageForGroups.feature
  tests/acceptance/features/cliLocalStorage/createLocalStorageForGroupsAndUsers.feature
  tests/acceptance/features/cliLocalStorage/createLocalStorageForUsers.feature
  tests/acceptance/features/cliLocalStorage/scanLocalStorage.feature
  tests/acceptance/features/cliMain/filesChecksum.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36678 Adjusted combined given-when steps in WebUIAdminSharingSettings context
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/bootstrap/WebUIAdminSharingSettingsContext.php
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36690 Adjusted combined given-when steps in WebUIFiles context
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
  tests/acceptance/features/webUITrashbin/trashbinRestore.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36702 Harmonisation of headlines in config.sample
  config/config.apps.sample.php
  config/config.sample.php
Labels: enhancement

#36716 Add local storage scenario for issue 36713
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/bootstrap/WebUIAdminStorageSettingsContext.php
  tests/acceptance/features/cliLocalStorage/createLocalStorage.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36718 switch from lucasreschke/id3parser to christophwurst/id3parser
  changelog/unreleased/36717
  composer.json
  composer.lock
Labels: 4 - To release, dependencies, php

#36720 [10.4] [PR 36702] Harmonisation of headlines in config.sample
  config/config.apps.sample.php
  config/config.sample.php
Labels: 4 - To release

#36715 Added scenario for folder creation with stranges names using webUI
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/lib/OwncloudPage.php
  tests/acceptance/features/webUICreateDelete/createFolders.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36727 Dependency bumps 20200109
  changelog/unreleased/36709
  changelog/unreleased/36722
  changelog/unreleased/36726
  changelog/unreleased/36727
  composer.lock
Labels: 4 - To release, dependencies, php

#36714 Test to assert guest user has permission denied to create or upload files
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/bootstrap/WebUIUsersContext.php
  tests/acceptance/features/lib/FilesPage.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36693 Adjusted combined given-when steps in WebUILoginContext
  tests/acceptance/features/bootstrap/WebUILoginContext.php
  tests/acceptance/features/bootstrap/WebUIPersonalSecuritySettingsContext.php
  tests/acceptance/features/webUILogin/resetPassword.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36725 Drone: Run federated server on database other than sqlite
  .drone.starlark
  .drone.yml
  tests/acceptance/features/webUISharingExternal/federationSharing.feature
Labels: 4 - To release, Drone, QA-team

#36728 Dependency bumps for 10.4 20200109
  changelog/unreleased/36709
  changelog/unreleased/36717
  changelog/unreleased/36722
  changelog/unreleased/36726
  changelog/unreleased/36727
  composer.json
  composer.lock
Labels: 3 - To Review, dependencies, php

#36733 Happy new Year 2020
  status.php
Labels: 3 - To Review

#36738 [Tests-only] Add local storage acceptance tests to demonstrate issue 36719
  tests/acceptance/features/cliLocalStorage/createLocalStorage.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36744 Update Updating sabre/dav (4.0.2 => 4.0.3)
  changelog/unreleased/36742
  composer.lock
Labels: 3 - To Review, dependencies, php

#36746 [Tests-only] Adjust smoke tests that set log level
  tests/acceptance/features/apiWebdavUpload/uploadFileUsingNewChunking.feature
  tests/acceptance/features/apiWebdavUpload/uploadFileUsingOldChunking.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36747 [10.4] [Tests-only] Adjust smoke tests that set log level
  tests/acceptance/features/apiWebdavUpload/uploadFileUsingNewChunking.feature
  tests/acceptance/features/apiWebdavUpload/uploadFileUsingOldChunking.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36739 Click checkbox to show email address for the acceptance tests
  tests/acceptance/features/lib/UsersPage.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36731 Acceptance tests: Run fed tests without logging in to webUI on Remote server
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/webUISharingExternal/federationSharing.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36748 [Tests-only]: Remove all steps with relogs in to server
  tests/acceptance/features/bootstrap/WebUILoginContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36740 [Tests-only] Expand create local storage test scenarios
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliLocalStorage/createLocalStorage.feature
  tests/acceptance/features/cliLocalStorage/createLocalStorageForGroups.feature
  tests/acceptance/features/cliLocalStorage/createLocalStorageForUsers.feature
  tests/acceptance/features/cliLocalStorage/createLocalStorageReadOnly.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36758 [10.4.0] Update sabre/vobject (4.2.1 => 4.2.2)
  apps/dav/tests/unit/CalDAV/CalDavBackendTest.php
  apps/dav/tests/unit/CardDAV/BirthdayServiceTest.php
  apps/dav/tests/unit/CardDAV/ConverterTest.php
  apps/dav/tests/unit/CardDAV/ImageExportPluginTest.php
  changelog/unreleased/36742
  changelog/unreleased/36753
  changelog/unreleased/36757
  composer.lock
Labels: 3 - To Review, dependencies, php

#36711 Adjusted given steps in WebUISharing context
  tests/acceptance/features/bootstrap/Sharing.php
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
  tests/acceptance/features/lib/PublicLinkFilesPage.php
  tests/acceptance/features/webUICreateDelete/createFolders.feature
  tests/acceptance/features/webUICreateDelete/deleteFilesFolders.feature
  tests/acceptance/features/webUIFiles/fileDetails.feature
  tests/acceptance/features/webUIMoveFilesFolders/moveFiles.feature
  tests/acceptance/features/webUISharingAutocompletion/shareAutocompletion.feature
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
  tests/acceptance/features/webUISharingPublic/shareByPublicLink.feature
  tests/acceptance/features/webUIUpload/upload.feature
  tests/acceptance/features/webUIWebdavLockProtection/delete.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36752 Update showdown to fix mem vulnerability
  build/package.json
  build/yarn.lock
  changelog/unreleased/36752
Labels: 4 - To release, dependencies

#36768 [Tests-only] move and adjust code from webUI to API test contexts
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/WebUIFilesContext.php
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
  tests/acceptance/features/lib/FilesPageCRUD.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36772 [Tests-only] refactor calling files_sharing shares endpoint in acceptance tests
  .drone.starlark
  .drone.yml
  tests/acceptance/features/bootstrap/Sharing.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36773 [Tests-only] Move function "set last login date" from "testingAppContext" to "FeatureContext"
  tests/acceptance/features/bootstrap/FeatureContext.php
Labels: 4 - To release, QA-team

#36754 [Tests-only] Add acceptance test to list all created local storage using occ command
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliLocalStorage/listLocalStorage.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36761 Remove part files when upload is cancelled for all public links
  changelog/unreleased/36761
  lib/private/Files/Storage/Wrapper/PermissionsMask.php
  tests/lib/Files/Storage/Wrapper/PermissionsMaskTest.php
Labels: 3 - To Review

#36777 [Tests-only] cli test to get the list of inactive users
  tests/acceptance/features/bootstrap/OccUsersGroupsContext.php
  tests/acceptance/features/cliProvisioning/getUsers.feature
Labels: 3 - To Review, QA-team

#36756 [Tests-only] Add acceptance test to delete local storage using occ command
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliLocalStorage/deleteLocalStorage.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36780 Dependency bumps
  changelog/unreleased/36780-1
  changelog/unreleased/36780-2
  composer.lock
Labels: 4 - To release, dependencies, php

#36771 [Tests-only] Refactor Traits and context files in acceptance tests
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/AppConfigurationContext.php
  tests/acceptance/features/bootstrap/AuthContext.php
  tests/acceptance/features/bootstrap/BasicStructure.php
  tests/acceptance/features/bootstrap/CapabilitiesContext.php
  tests/acceptance/features/bootstrap/FeatureContext.php
  tests/acceptance/features/bootstrap/IpContext.php
  tests/acceptance/features/bootstrap/Logging.php
  tests/acceptance/features/bootstrap/LoggingContext.php
  tests/acceptance/features/bootstrap/OCSContext.php
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/bootstrap/TagsContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36783 [Tests-only] Adjust IpContext to know about FeatureContext
  tests/acceptance/features/bootstrap/IpContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36784 [Tests-only] Refactor functions from CommandLine trait to contexts and helpers
  tests/TestHelpers/SetupHelper.php
  tests/acceptance/features/bootstrap/AppConfigurationContext.php
  tests/acceptance/features/bootstrap/AppManagementContext.php
  tests/acceptance/features/bootstrap/AuthContext.php
  tests/acceptance/features/bootstrap/CommandLine.php
  tests/acceptance/features/bootstrap/FeatureContext.php
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/bootstrap/OccUsersGroupsContext.php
  tests/acceptance/features/bootstrap/WebUIAdminGeneralSettingsContext.php
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
  tests/acceptance/features/bootstrap/WebUIHelpAndTipsContext.php
  tests/acceptance/features/bootstrap/WebUISharingContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36786 [Tests-only] expose getSourceIpAddress so we can read it from other acceptance test code
  tests/acceptance/features/bootstrap/IpContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36776 Change Error to Other on settingsPage
  changelog/unreleased/36776
  settings/templates/settingsPage.php
Labels: 3 - To Review

#36789 Dependencies 20200121
  changelog/unreleased/36789-1
  changelog/unreleased/36789-2
  composer.lock
Labels: 4 - To release, dependencies, php

#36792 [Tests-only] delete second function to calc dav-path
  tests/acceptance/features/bootstrap/ChecksumContext.php
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36793 [Tests-only] Add test scenarios for updating a share when a user and group have the same name
  tests/acceptance/features/apiShareUpdate/updateShareGroupAndUserWithSameName.feature
  tests/acceptance/features/bootstrap/Sharing.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36795 [Tests-only] Remove unneeded 'given using old/new dav path'
  tests/acceptance/features/apiShareCreateSpecial/createShareDefaultExpirationDate.feature
  tests/acceptance/features/apiShareCreateSpecial/createShareDefaultFolderForReceivedShares.feature
  tests/acceptance/features/apiShareCreateSpecial/createShareGroupAndUserWithSameName.feature
  tests/acceptance/features/apiShareCreateSpecial/createShareGroupCaseSensitive.feature
  tests/acceptance/features/apiShareCreateSpecial/createShareReceivedInMultipleWays.feature
  tests/acceptance/features/apiShareCreateSpecial/createShareUniqueReceivedNames.feature
  tests/acceptance/features/apiShareCreateSpecial/createShareWhenExcludedFromSharing.feature
  tests/acceptance/features/apiShareCreateSpecial/createShareWhenShareWithOnlyMembershipGroups.feature
  tests/acceptance/features/apiShareCreateSpecial/createShareWithDisabledUser.feature
  tests/acceptance/features/apiShareCreateSpecial/createShareWithInvalidPermissions.feature
  tests/acceptance/features/apiShareManagement/disableSharing.feature
  tests/acceptance/features/apiShareManagement/mergeShare.feature
  tests/acceptance/features/apiShareManagement/moveReceivedShare.feature
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/apiShareManagementBasic/deleteShare.feature
  tests/acceptance/features/apiShareOperations/accessToShare.feature
  tests/acceptance/features/apiShareOperations/gettingShares.feature
  tests/acceptance/features/apiSharePublicLink1/accessToPublicLinkShare.feature
  tests/acceptance/features/apiSharePublicLink1/createPublicLinkShare.feature
  tests/acceptance/features/apiSharePublicLink2/multilinkSharing.feature
  tests/acceptance/features/apiSharePublicLink2/reShareAsPublicLink.feature
  tests/acceptance/features/apiSharePublicLink2/updatePublicLinkShare.feature
  tests/acceptance/features/apiShareReshare1/reShare.feature
  tests/acceptance/features/apiShareReshare2/reShareChain.feature
  tests/acceptance/features/apiShareReshare2/reShareDisabled.feature
  tests/acceptance/features/apiShareReshare2/reShareSubfolder.feature
  tests/acceptance/features/apiShareReshare2/reShareWhenShareWithOnlyMembershipGroups.feature
  tests/acceptance/features/apiShareReshare2/reShareWithExpiryDate.feature
  tests/acceptance/features/apiShareUpdate/updateShare.feature
  tests/acceptance/features/apiShareUpdate/updateShareGroupAndUserWithSameName.feature
  tests/acceptance/features/cliLocalStorage/scanLocalStorage.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36797 Update symfony 3.4.36 => 3.4.37
  changelog/unreleased/36796
  composer.lock
Labels: 3 - To Review, dependencies, php

#36790 [Tests-only] check output of occ command
  tests/acceptance/features/bootstrap/OccContext.php
Labels: 3 - To Review, QA-team

#36759 Do not dispatch event for non existing shares
  apps/federatedfilesharing/tests/External/ManagerTest.php
  apps/files_sharing/lib/External/Manager.php
  changelog/unreleased/36759
  tests/lib/Traits/UserTrait.php
Labels: 3 - To Review

#36804 [Tests-only] add skip tags to skip on ransomware protection
  tests/acceptance/features/apiSharePublicLink1/changingPublicLinkShare.feature
Labels: 3 - To Review, QA-team

#36805 [Tests-only] simplify feature files
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/apiVersions/fileVersions.feature
  tests/acceptance/features/apiWebdavProperties/copyFile.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36808 [Tests-only] simplify delete folder tests by not using the skeleton folder
  tests/acceptance/features/apiWebdavOperations/deleteFolder.feature
  tests/acceptance/features/apiWebdavOperations/deleteFolderContents.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36809 [Tests-only] replace welcome.txt with files that exist
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/apiWebdavProperties/copyFile.feature
Labels: 4 - To release, QA-team

#36781 [Tests-only] Add acceptance test to test all columns of listed local storage
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliLocalStorage/listLocalStorage.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36811 [Tests-only] Adjust AppConfigurationContext assert
  tests/acceptance/features/bootstrap/AppConfigurationContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36812 [Tests-only] simplify deleteFile and downloadFile feature descriptions
  tests/acceptance/features/apiWebdavOperations/deleteFile.feature
  tests/acceptance/features/apiWebdavOperations/downloadFile.feature
Labels: QA-team, dev:acceptance-tests

#36794 [Tests only] Add acceptance test to export created mounts using occ command
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliLocalStorage/exportLocalStorage.feature
Labels: 2 - Developing, 3 - To Review, QA-team, dev:acceptance-tests

#36750 [Tests-only] Add functions to create/delete/manage ldap users and groups
  tests/acceptance/config/behat.yml
  tests/acceptance/config/ldap-users.ldif
  tests/acceptance/features/apiProvisioningGroups-v1/getGroups.feature
  tests/acceptance/features/apiProvisioningGroups-v2/getGroups.feature
  tests/acceptance/features/apiSharingNotifications/sharingNotifications.feature
  tests/acceptance/features/bootstrap/FeatureContext.php
  tests/acceptance/features/bootstrap/OccUsersGroupsContext.php
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/bootstrap/WebUIGeneralContext.php
  tests/acceptance/features/cliProvisioning/getGroup.feature
  tests/acceptance/features/cliProvisioning/getGroups.feature
  tests/acceptance/features/cliProvisioning/getUserGroups.feature
  tests/acceptance/features/webUISharingAutocompletion/shareAutocompletion.feature
  vendor-bin/behat/composer.json
Labels: 3 - To Review

#36817 [Tests-only] added getter/setter for user_ldap old config
  tests/acceptance/features/bootstrap/FeatureContext.php
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36766 Adjust expiration logic for shares to account for share attributes registered with apps
  apps/files_sharing/css/sharetabview.css
  apps/files_sharing/lib/Controller/Share20OcsController.php
  changelog/unreleased/36573
  changelog/unreleased/36813
  core/css/share.css
  core/js/core.json
  core/js/shareconfigmodel.js
  core/js/sharedialoglinkexpirationview.js
  core/js/sharedialoglinkshareview.js
  core/js/sharedialogshareelistview.js
  core/js/shareitemmodel.js
  core/js/tests/specs/sharedialogexpirationviewSpec.js
  core/js/tests/specs/sharedialogshareelistview.js
  core/js/tests/specs/shareitemmodelSpec.js
  lib/private/Share/Share.php
  lib/private/Share20/Manager.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialog.php
  tests/acceptance/features/lib/FilesPageElement/SharingDialogElement/EditPublicLinkPopup.php
  tests/lib/Share20/ManagerTest.php
Labels: Acceptance tests, p2-high

#36815 Remove dav.enable.tech_preview
  .drone.starlark
  .drone.yml
  apps/dav/lib/Capabilities.php
  apps/dav/lib/RootCollection.php
  apps/dav/lib/Server.php
  changelog/unreleased/36815
  config/config.sample.php
  tests/acceptance/features/apiTrashbin/trashbinAPIDisabled.feature
  tests/acceptance/features/apiWebdavOperations/publicWebDAVAPIDisabled.feature
  tests/acceptance/features/bootstrap/OccContext.php
Labels: 3 - To Review

#36819 don't try to set displayname when test on LDAP
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: QA-team, dev:acceptance-tests

#36820 [Tests-only] Added getter function for ldap configs
  tests/acceptance/features/bootstrap/FeatureContext.php
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: QA-team, dev:acceptance-tests

#36806 [Tests-Only] Add acceptance tests to verify mount configurations using the occ command
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliLocalStorage/verifyMountConfiguration.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36778 fix: implement missing getSize method in SharedFile.php
  apps/dav/lib/Files/PublicFiles/SharedFile.php
  apps/dav/tests/unit/Files/PublicFiles/PublicFileTest.php
  changelog/unreleased/36778
  tests/acceptance/features/apiSharePublicLink1/createPublicLinkShare.feature
  tests/acceptance/features/apiWebdavOperations/downloadFile.feature
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36807 Fix the width of some confirmation buttons
  changelog/unreleased/36807
  core/css/styles.css
Labels: 4 - To release

#36825 [Tests-only] SkipOnOcV10.3 20200125
  tests/acceptance/features/apiSharePublicLink1/createPublicLinkShare.feature
  tests/acceptance/features/webUISharingPublic/shareByPublicLink.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36826 Updating punic/punic (3.5.0 => 3.5.1)
  changelog/unreleased/36826
  composer.lock
Labels: 4 - To release, dependencies, php

#36827 [Tests-only] only generate token for tests where its needed
  tests/acceptance/features/apiAuth/filesAppAuth.feature
  tests/acceptance/features/apiAuth/webDavAuth.feature
Labels: QA-team, dev:acceptance-tests

#36828 [Tests-only] don't force to check the ocs-status
  tests/acceptance/features/bootstrap/AuthContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36830 [Tests-only] call restore ldap configs from feature context
  tests/acceptance/features/bootstrap/FeatureContext.php
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36831 [Tests-only] Sync ldap group after creating
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36800 Run tests to support MariaDB:10.4
  .drone.starlark
  .drone.yml
  changelog/unreleased/36800
Labels: 3 - To Review, db:mariadb

#36829 Allow expiration date to be today
  core/js/sharedialoglinkexpirationview.js
  core/js/sharedialogshareelistview.js
  core/js/tests/specs/sharedialogexpirationviewSpec.js
  lib/private/Share20/Manager.php
  tests/acceptance/features/apiShareCreateSpecial/createShareExpirationDate.feature
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroupUsingExpirationDate.feature
  tests/acceptance/features/webUISharingInternalUsers/shareWithUserUsingExpirationDate.feature
  tests/lib/Share20/ManagerTest.php
Labels: 3 - To Review

#36840 [Tests-only] have a single after scenario to clean users and groups
  tests/acceptance/features/bootstrap/FeatureContext.php
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36837 [Tests-only] for files_external:list with applicable users and groups and --short
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliLocalStorage/listLocalStorage.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36841 Fix files_external:list --mount-options output
  apps/files_external/lib/Command/ListCommand.php
  apps/files_external/tests/Command/ListCommandTest.php
  changelog/unreleased/36839
  tests/acceptance/features/bootstrap/OccContext.php
  tests/acceptance/features/cliLocalStorage/exportLocalStorage.feature
  tests/acceptance/features/cliLocalStorage/listLocalStorage.feature
Labels: 3 - To Review

#36842 [Tests-only] Fix tests to be compatible with new user_ldap changes
  tests/acceptance/features/apiShareCreateSpecial/createShareReceivedInMultipleWays.feature
  tests/acceptance/features/apiShareManagementBasic/createShare.feature
  tests/acceptance/features/apiSharingNotifications/sharingNotifications.feature
  tests/acceptance/features/bootstrap/FeatureContext.php
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36843 [Tests-only] simplify trashbin tests by not using skeleton folder
  tests/acceptance/features/apiTrashbin/trashbinDelete.feature
  tests/acceptance/features/apiTrashbin/trashbinFilesFolders.feature
  tests/acceptance/features/apiTrashbin/trashbinRestore.feature
Labels: QA-team, dev:acceptance-tests

#36849 [Tests-only] use PROPFIND helper method to get file-size
  tests/acceptance/features/bootstrap/WebDav.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36848 [Tests-only] Delete database users even while running on ext user backend
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: QA-team, dev:acceptance-tests

#36832 Add debug output in very verbose mode for polling
  apps/federatedfilesharing/lib/Command/PollIncomingShares.php
  apps/federatedfilesharing/tests/Command/PollIncomingSharesTest.php
  changelog/unreleased/36832
Labels: 3 - To Review

#36851 [Tests-only] Skip tests failing on LDAP
  tests/acceptance/features/apiProvisioningGroups-v1/addToGroup.feature
  tests/acceptance/features/apiProvisioningGroups-v2/addToGroup.feature
  tests/acceptance/features/apiSharingNotifications/sharingNotifications.feature
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroups.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36853 Fix some typos in unreleased changelogs
  changelog/unreleased/36402
  changelog/unreleased/36464
  changelog/unreleased/36576
  changelog/unreleased/36602
Labels: 3 - To Review

#36854 [Tests-only] Fix running fed tests with ldap backend
  tests/acceptance/features/bootstrap/Provisioning.php
  tests/acceptance/features/webUISharingAutocompletion/shareAutocompletion.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#36836 [Tests-only] adjusted combined given-when steps inside Provisioning
  tests/acceptance/features/bootstrap/FeatureContext.php
  tests/acceptance/features/bootstrap/Provisioning.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#36546 Update Encryption.php to fix issue #34599 "encrypted remote storage"
  changelog/unreleased/36546
  lib/private/Files/Stream/Encryption.php
Labels: 3 - To Review, QA-team

#36856 Fix federated addressbooks sync after OCS improvement
  apps/federation/lib/BackgroundJob/GetSharedSecret.php
  apps/federation/lib/BackgroundJob/RequestSharedSecret.php
  apps/federation/tests/BackgroundJob/GetSharedSecretTest.php
  apps/federation/tests/BackgroundJob/RequestSharedSecretTest.php
  changelog/unreleased/36856
Labels: 3 - To Review

#36862 [Tests-Only] Add verifyTableNodeColumns check to acceptance test step checkingAttributesInLastShareResponse
  tests/acceptance/features/bootstrap/Sharing.php
Labels: 4 - To release, QA-team, dev:acceptance-tests
